

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-cad-apoio").addClass("menu-open");
        $("#seta-cad-apoio").removeClass("fa-caret-left");
        $("#seta-cad-apoio").addClass("fa-caret-down");
        $("#menu-local").addClass("page-arrow");


    });


</script>


<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="<%=locais_path%>">Locais</a></li>
            <li class="active">Editar local</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Local</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->

      <%= form_for(@local) do |f| %>

      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="<%= locais_path %>" class="btn" id="modal-update-trigger">
              <i class="fa fa-arrow-circle-o-left"></i>&nbsp;  Voltar
            </a>
            <button type="submit" class="btn">
              <i class="fa fa-check-circle"></i>&nbsp;  Salvar
            </button>

          </div>



        </div>

        <div class="inner-padding">
            <%= f.label "Local:" %>
            <%= f.text_field :descricao %>
            <%= f.label "Disponivel:" %>
            <%= f.check_box :disponivel %>
        </div>

      </div>

        <% end %>

      <footer id="footer-main" class="footer-sticky">
        <div class="footer-main-inner">
          <div class="pull-left">
            <p>Desenvolvido pelo dpto de T.I da AMCEL</p>
          </div>
          <div class="pull-right">

            <div class="dropup" id="ext-dropdown-chat">


            </div><!-- End .dropup -->

          </div>
        </div><!-- End .footer-main-inner -->
      </footer><!-- End #footer-main -->
    </div><!-- End #content -->
  </div><!-- End #main -->
</div><!-- End #container -->



<!-- Lockscreen -->
<div class="lockscreen" id="lockscreen-slider">
  <div class="lockscreen-overlay"></div>
  <div class="lockscreen-modal">
    <img src="<%=current_user.photo%>" alt="" class="lockscreen-avatar"/>
    <div class="lockscreen-placeholder"></div>
  </div>
