<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @local.descricao %>
</p>

<p>
  <strong>Disponivel:</strong>
  <%= @local.disponivel %>
</p>

<p>
  <strong>Motivo indisp:</strong>
  <%= @local.motivo_indisp %>
</p>

<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locais_path %>
