

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-notificacao").addClass("page-arrow");
    });


</script>

<form action="/notificacoes/pesquisar" method="get">
<!--Modal -->
<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><center>Pesquisar</center></h4>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-bottom:-20px">
          <div class="col-xs-12">


              <div class="row">
                <div class="col-sm-4">
                  <label>Dados da busca:</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" required class="form-control" name="p" placeholder="Digite aqui a informação que você deseja busca..." />
                </div>
              </div>

            <br><br>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa  fa-times"></i> Cancelar</button>
        <button class="btn btn-primary pull-right"><i class="fa fa-search fa-inverse"></i> Pesquisar</button>
      </div>
    </div>
  </div>
</div>

</form>


<div id="container" class="clearfix">


<%=render 'shared/lateral'%>


<div id="main" class="clearfix">

<header id="header-main">
  <div class="header-main-top">
    <div class="pull-left">
      <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
    </div>
    <div class="pull-right">

      <a href="#" id="responsive-menu-trigger">
        <i class="fa fa-bars"></i>
      </a>


    </div>
  </div><!-- End #header-main-top -->
  <div class="header-main-bottom">
    <div class="pull-left">
      <ul class="breadcrumb">
        <li><a href="<%=root_path%>">Início</a></li>
        <li class="active">Notificações</li>
      </ul><!-- End .breadcrumb -->
    </div>
    <%=render 'shared/versao'%>
  </div><!-- End #header-main-bottom -->
</header><!-- End #header-main -->

<div id="content" class="clearfix">


<header id="header-sec">
  <div class="inner-padding">
    <div class="pull-left">
      <h2>Notificações</h2>
    </div>
    <div class="pull-right">



    </div>
  </div><!-- End .inner-padding -->
</header><!-- End #header-sec -->



<div class="window">
<div class="actionbar">
  <div class="pull-left">
    <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
    <a href="#" class="btn" onclick="window.history.go(-1); return false;">
      <i class="fa fa-arrow-left "></i>&nbsp;Voltar
    </a>
  </div>


  <div class="pull-right">
    <a href="#" class="btn" id="modal-update-trigger">
      <i class="fa fa-search"></i>
    </a>
  </div>

</div>

<div class="inner-padding">

<% if @notificacoes.present? %>
      <table class="table" id="tb2" data-rt-breakpoint="600">

                                    <thead>
                                        <tr>
                                          <th scope="col" class="">
                                            Notificação
                                          </th>



                                          <th scope="col">

                                          </th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% @notificacoes.each do |n| %>
                                    	<tr>
                                            <td><%= formata_dt_hr n.created_at %> - <a href="<%=n.url%>"><%= n.descricao %></a></td>

                                            <td><center><%= n.user.name %></center></td>
                                        </tr>
                                    <% end %>

                                    </tbody>
                                </table>

<% else %>
	<div class="alert alert-block alert-inline-top alert-dismissable">
                        <h4>Nenhuma notificação encontrada</h4>

                    </div>
<% end %>


                                <div class="spacer-10"></div>
                                <div class="pull-right">
                                    <%= will_paginate @notificacoes %>
                                </div>


</div>
</div>



  <%= render 'shared/rodape'%>
</div><!-- End #content -->
</div><!-- End #main -->
</div><!-- End #container -->



<!-- Lockscreen -->
<div class="lockscreen" id="lockscreen-slider">
  <div class="lockscreen-overlay"></div>
  <div class="lockscreen-modal">
    <img src="<%=current_user.photo%>" alt="" class="lockscreen-avatar"/>
    <div class="lockscreen-placeholder"></div>
  </div>
</div>
