<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-notificacao").addClass("page-arrow");
    });


</script>

<!--Modal -->
<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><center>Pesquisar</center></h4>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-bottom:-20px">
          <div class="col-xs-12">

            <form action="/notificacoes/pesquisar" method="get">
              <div class="row">
                <div class="col-sm-4">
                  <label>Dados da busca:</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" required class="form-control" name="p" placeholder="Digite aqui a informação que você deseja busca..." />
                </div>
              </div>

              <br><br>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa  fa-times"></i> Cancelar</button>
        <button class="btn btn-primary pull-right"><i class="fa fa-search fa-inverse"></i> Pesquisar</button></form>
      </div>
    </div>
  </div>
</div>


<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div><!-- End #header-main-top -->
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li class="active">Notificações</li>
          </ul><!-- End .breadcrumb -->
        </div>
        <%=render 'shared/versao'%>
      </div><!-- End #header-main-bottom -->
    </header><!-- End #header-main -->

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Notificações</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>

          </div>

          <div class="pull-right">
            <a href="#" class="btn" id="modal-update-trigger">
              <i class="fa fa-search"></i>
            </a>
          </div>

        </div>



        <div class="inner-padding">

          <% if @notificacoes.present? %>
              <table class="table table-bordered table-striped">
                <thead>
                <tr>

                  <th scope="col" class="col-md-8">
                    Notificação
                  </th>

                  <th scope="col">
                    <center>Data</center>
                  </th>
                  <th scope="col" class="th-4-action-btn">
                    <center>Ação</center>
                  </th>
                </tr>
                </thead>
                <tbody>
                <% @notificacoes.each do |n| %>
                    <tr>

                      <td><%= n.descricao %></td>
                      <td><center><%= formata_dt n.created_at %></center></td>
                      <td>
                        <center>
                          <a href="#" class="btn-less"><i class="fa fa-eye"></i></a>
                        </center>
                      </td>
                    </tr>
                <% end %>

                </tbody>
              </table>
              <%= will_paginate @notificacoes %>
              <% else %>
                  <div class="alert alert-block alert-inline-top alert-dismissable">
                    <h4>Desculpe...</h4>
                    A busca não por <b><%= @busca %></b> não retornou resultados
                  </div>
              <% end %>
        </div>
      </div>




    </div><!-- End #content -->
  </div><!-- End #main -->
</div><!-- End #container -->



<!-- Lockscreen -->
<div class="lockscreen" id="lockscreen-slider">
  <div class="lockscreen-overlay"></div>
  <div class="lockscreen-modal">
    <img src="<%=current_user.photo%>" alt="" class="lockscreen-avatar"/>
    <div class="lockscreen-placeholder"></div>
  </div>
</div>
