<html>

<body>

<p>
	O consensador <b><%= @usuario %> </b> não consensou o documento.
</p>

<p>
	<b>Motivo:</b> <%=@motivo%>
</p>

<p>
	<a target="_blank"href="<%=@link%>">Editar o documento</a>
</p>
</body>

</html>