<html>
    <head>
      
    </head>
    <body>
        <h2>FollowUP</h2>
        
        <table>
            <tr>
                <td>Número da auditoria:</td>
                <td><%=@dados[:numero]%></td>
            </tr>
            <tr>
                <td>Área auditada:</td>
                <td><%=@dados[:area]%></td>
            </tr>
            <tr>
                <td>Auditor líder:</td>
                <td><%=@dados[:auditor]%></td>
            </tr>
            <tr>
                <td>Status:</td>
                <td><%=@dados[:status]%></td>
            </tr>
            <tr>
                <td>Duração:</td>
                <td><%=@dados[:duracao]%></td>
            </tr>
            <tr>
                <td>Data prevista:</td>
                <td><%=@dados[:data_prevista]%></td>
            </tr>
            <tr>
                <td>Hora prevista:</td>
                <td><%=@dados[:hora_prevista]%></td>
            </tr>
        </table>
      
    </body>
</html>