<html>

<body>

<p>
	O homologador(a) <b><%= @usuario %> </b> não homologou o documento.
</p>

<p>
	<b>Motivo:</b> <%=@motivo%>
</p>

<p>
	<a target="_blank"href="<%=@link%>">Editar o documento</a>
</p>
</body>

</html>