<div class="attention-box attention-success">
    <div class="spacer-20"></div>
      <% @auditoria.auditoria_atividades.each do |a| %>
        <li>
          <ol><%=a.atividade.descricao%> - <a href="/del-atv-<%=a.id%>"><i class="fa fa-fw">&#xf014</i></a></ol>
        </li>
      <% end %>
</div>
