<table class="table col-md-12" id="tablesorting-1">
  <thead class="">
  <tr>
    <th class="col-md-1">Aud</th>
    <th class="filter-select filter-exact col-md-4" data-placeholder="Todos">Área auditada</th>
    <th class="filter-select filter-exact col-md-2" data-placeholder="Todos">Data</th>
    <th class="filter-select filter-exact col-md-2" data-placeholder="Todos">Status</th>
    <th class="col-md-2">Opções</th>
  </tr>
  </thead>
  <tbody>
  <% @planoauditoria.auditorias.order(:created_at).each do |a| %>
      <tr id="linha-<%=a.id%>">
        <td>
         <%= a.numero %>
        </td>

        <td>
            <%= a.area.descricao %>
        </td>


        <td>
          <div style="text-align: center;">
            <%= formata_dt a.data_prevista %>
          </div>
        </td>


        <td>

            <%
              if a.status == 'Em andamento'
                style = 'success'
              elsif a.status == 'Agendada'
                style = 'warning'
              else
                style = 'primary'
              end
            %>

            <center><%= a.status %></>
        </td>








        <td>
            

    
        

          </div>
        <center>


        <%= link_to "/visualizar-auditoria-#{a.id}", class: "btn-less tooltip-top", id: "deletar", title: "Informações" do %>
              <i class="fa fa-info-circle"></i>
          <% end %>




          <% if session[:grupo] == 'Administradores' %>
          <!--
              <%= link_to imprimir_auditoria_path(a), class: "btn-less tooltip-top", id: "deletar", title: "Imprimir" do %>
                  <i class="fa fa-print"></i>
              <% end %>
-->
        <%= link_to atualizar_auditoria_path(a), class: "btn-less tooltip-top", id: "deletar", title: "Atualizar" do %>
              <i class="fa fa-pencil"></i>
          <% end %>


          <%= link_to a, method: :delete, data: { confirm: 'Tem Certeza?' }, class: "btn-less tooltip-top", id: "remove-#{a.id}", title: "Apagar" do %>
              <i class="fa fa-trash-o"></i>
          <% end %>
</center>
              <%end%>





        </td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="5" class="pager form-horizontal">
      <button class="btn first"><i class="fa fa-step-backward"></i></button>
      <button class="btn prev"><i class="fa fa-arrow-left"></i></button>
      <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
      <button class="btn next"><i class="fa fa-arrow-right"></i></button>
      <button class="btn last"><i class="fa fa-step-forward"></i></button>
      <select class="pagesize input-xs" title="Select page size">
        <option selected="selected" value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
      </select>
      <select class="pagenum input-xs" title="Select page number"></select>
    </td>
  </tr>
  </tfoot>
</table>
