

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-plano-aud").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>

        var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substrRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        // the typeahead jQuery plugin expects suggestions to a
        // JavaScript object, refer to typeahead docs for more info
        matches.push({ value: str });
      }
    });

    cb(matches);
  };
};

<%
  docs = Documento.where(status: "Documento oficial")
  dados = []
  docs.each do |d|
    dados << d.sigla
  end
%>

var states = [
  <% dados.each do |d| %>
    '<%=d%>',
  <% end %>
];

$('#the-basics .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  displayKey: 'value',
  source: substringMatcher(states)
});


    });


</script>




<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="#">Auditorias</a></li>
            <li class="active">Atividade p/ auditoria</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Incluir atividade para auditoria</h2>
          </div>
          <div class="pull-right">
          </div>
        </div>
      </header>

      <form method="post" action="salva-atividade">

          <div class="window">
            <div class="actionbar">
              <div class="pull-left">
                <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
                <a href="/visualizar-auditoria-<%=@auditoria.id%>" class="btn" >
                  <i class="fa fa-arrow-left "></i>&nbsp;Voltar
                </a>
                <button type="submit" class="btn">
                  <i class="fa fa-check"></i>&nbsp;  Salvar
                </button>
              </div>
            </div>
            <div class="inner-padding">
              <fieldset>
                <legend>Atividade p/ Auditoria</legend>
                <div class="row">
                  <div class="col-sm-3">
                    <label>Atividade: <span class="asterisk">*</span></label>
                  </div>
                  <div class="col-sm-9">
                    <div id="the-basics">
                      <select class="select2" name="descricao">
                        <%Atividade.all.each do |a|%>
                            <option value="<%=a.id%>"><%=a.descricao%></option>
                        <% end %>
                      </select>
                      <div class="spacer-10"></div>
                      <button class="btn"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></button>
                    </div>
                  </div>
                </div>

                <div class="spacer-20"></div>

                


                <input type="hidden" name="auditoria_id" value="<%=@auditoria.id%>">

              </fieldset>

              <div class="spacer-20"></div>


              <% if @auditoria.auditoria_atividades %>
                  <table class="table table-bordered">

                    <tbody>
                        <% @auditoria.auditoria_atividades.each do |a| %>
                            <tr>
                              <td>
                                <a href="/del-atv-<%=a.id%>"><i class="fa fa-fw">&#xf014</i></a>
                                <%= a.atividade.descricao %>
                              </td>

                            </tr>
                        <% end %>

                    </tbody>
                  </table>
              <% else %>
                    <div class="alert alert-info">
                        Nenhuma atividade para essa auditoria. Clique no botão acima para incluir uma atividade
                    </div>
              <% end %>
          </div>
      </form>
      <%= render 'shared/rodape'%>
    </div>
  </div>
</div>
