
<style type="text/css">
    #ddata_prevista {
        z-index: 100000;
    }
</style>


<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-auditoria2").addClass("page-arrow");

<% if notice.present? %>
          $.e_notify.growl({
              title: 'Sucesso!',
              text: '<%=notice%>',
              position: 'right-bottom',
              delay: 0,
              time: 5000,
              speed: 500,
              effect: 'slidein',
              sticky: false,
              closable: false,
              maxOpen:3,
              className:'',
              onShow: function(){},
              onHide: function(){}
          });
          e.preventDefault();
<% end %>

        $('#ddata_prevista').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "mm/dd/yy",
            yearRange:  "1900:+0",
            altField:   "#cust_dobalt",
            altFormat:  "yy-mm-dd",
            duration:   "slow"
        });

    });


</script>


<%= form_for @auditoria do |f| %>






  <div id="container" class="clearfix">


      <%=render 'shared/lateral'%>


      <div id="main" class="clearfix">

          <header id="header-main">
              <div class="header-main-top">
                  <div class="pull-left">
                      <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
                  </div>
                  <div class="pull-right">

                      <a href="#" id="responsive-menu-trigger">
                          <i class="fa fa-bars"></i>
                      </a>
                  </div>
              </div>
              <div class="header-main-bottom">
                  <div class="pull-left">
                      <ul class="breadcrumb">
                          <li><a href="<%=root_path%>">Início</a></li>
                          <li><a href="<%=planos_de_auditorias_path%>">Planos de auditorias</a></li>
                          <li class=""><a href="/auditorias,plano,<%=@auditoria.planoauditoria.id%>"> Auditorias </a></li>
                          <li class="active">Visualizar auditoria</li>
                      </ul>
                  </div>
                  <%=render 'shared/versao'%>
              </div>
          </header>

          <div id="content" class="clearfix">


              <header id="header-sec">
                  <div class="inner-padding">
                      <div class="pull-left">
                          <h2>Atualizar auditoria <b></b></h2>
                      </div>
                      <div class="pull-right">



                      </div>
                  </div><!-- End .inner-padding -->
              </header><!-- End #header-sec -->


              <div class="window">
                  <div class="actionbar">
                      <div class="pull-left">
                          <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
                          <a href="#" class="btn" onclick="window.history.go(-1);
                  return false;">
                              <i class="fa fa-arrow-left "></i>&nbsp;Voltar
                          </a>
                          <button type="submit" class="btn"><i class="fa fa-pencil"></i>&nbsp;  Salvar Alterações</button>

                      </div>

                  </div>


</div>

                  <div class="inner-padding">


                      <div class="row">
                          <div class="col-sm-12">
                              <div class=" ext-tabs-boxed ext-tabs-highlighted">

                                  <div class="tab-content">
                                      <div id="content-tab-16-a" class="tab-pane active">
                                          <div class="inner-padding">
                                              <!-- * data-asf-time = seconds, data-asf-expireafter = minutes * -->
                                              <Div>
                                                  <div class="row">
                                                      <div class="col-sm-3">
                                                          <label>Plano de auditoria:</label>
                                                      </div>
                                                      <div class="col-sm-9">
                                                          <a href="#plano">

                                                              <article class="faq-group">
                                                                  <header>
                                                                      <i class="fa fa-plus"></i>
                                                                      <%= @auditoria.planoauditoria.nome %>
                                                                  </header>
                                                                  <div class="faq-content clearfix">
                                                                      <table class="table">
                                                                          <thead>
                                                                              <tr>
                                                                                  <th scope="col" class="col-md-3"></th>
                                                                                  <th scope="col"></th>
                                                                              </tr>
                                                                          </thead>
                                                                          <tbody>
                                                                              <tr>
                                                                                  <td><b>Plano auditoria:</b></td>
                                                                                  <td><%= @auditoria.planoauditoria.nome %></td>


                                                                              </tr>
                                                                              <tr>
                                                                                  <td><b>Prazo:</b></td>
                                                                                  <td><%= @auditoria.planoauditoria.prazo %></td>

                                                                              </tr>

                                                                              <tr>
                                                                                  <td><b>Status:</b></td>
                                                                                  <td><%= @auditoria.planoauditoria.encerrado %></td>
                                                                              </tr>

                                                                              <tr>
                                                                                  <td><b>Ano:</b></td>
                                                                                  <td><%= @auditoria.planoauditoria.ano %></td>

                                                                              </tr>

                                                                              <tr>
                                                                                  <td><b>Participantes:</b></td>
                                                                                  <td>
                                                                                      <% @auditoria.planoauditoria.funcionarios.each do |u|   %>

                                                                                        <%= u.nome %>

                                                                                      <% end %>
                                                                                  </td>

                                                                              </tr>

                                                                          </tbody>
                                                                      </table>

                                                                  </div>
                                                              </article><!-- End .faq-group -->

                                                          </a>
                                                      </div>
                                                  </div>
                                                  <div class="spacer-10"></div>
                                                  <div class="row">
                                                      <div class="col-sm-3">
                                                          <label>Número da auditoria </label>
                                                      </div>
                                                      <div class="col-sm-9">

                                                          <%= f.text_field :numero, class: "form-control", required: true %>

                                                        </div>
                                                    </div>
                                                    <div class="spacer-20"></div>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <label>Área auditada:</label>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <%= f.select(:area_id, @areas.collect {|area| [area.descricao, area.id]}, {}, {class: "select2"}) %>
                                                          </div>
                                                      </div>
                                                      <div class="spacer-20"></div>
                                                      <div class="row">
                                                          <div class="col-sm-3">
                                                              <label>Auditor líder:</label>
                                                          </div>
                                                          <div class="col-sm-9">
                                                              <%= f.select(:auditor_lider_id, Funcionario.all.collect {|usuario| [usuario.nome, usuario.id]}, {}, {class: "select2"}) %>
                                                            </div>
                                                        </div>

                                                        <div class="spacer-20"></div>
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label>Auditores acompanhantes:</label>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <select required="" class="select2" multiple name="auditoria[participante_ids][]"  id="auditoria[participante_ids][]" placeholder="Destinatários..">

                                                                    <% Funcionario.all.each do |f| %>
                                                                      <% pertence = false %>
                                                                      <%@auditoria.participantes.all.each do |funcionario| %>
                                                                        <% pertence = true if funcionario.id == f.id %>
                                                                      <% end %>
                                                                      <% if pertence %>
                                                                        <option selected value="<%=f.id%>"><%=f.nome%></option>
                                                                      <% else %>
                                                                        <option value="<%=f.id%>"><%=f.nome%></option>
                                                                      <% end %>
                                                                    <% end %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="spacer-40"></div>
                                                        <hr/>
                                                        <div class="spacer-30"></div>
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label>Status:</label>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <%= f.select :status, [['Em andamento', 'Em andamento'], ['Finalizada', 'Finalizada'], ['Agendada', 'Agendada']], {}, { :class => "select2" } %>
                                                            </div>
                                                        </div>
                                                        <div class="spacer-10"></div>
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label>Duração:</label>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <%=f.text_field :duracao_prevista, class: "form-control", required: true, placeholder: "Em horas..." %>                    </div>
                                                          </div>
                                                          <div class="spacer-10"></div>
                                                          <div class="row">
                                                              <div class="col-sm-3">
                                                                  <label>Data prevista:</label>
                                                              </div>
                                                              <div class="col-sm-2">

                                                                <input placeholder="Data prevista" required id="auditoria_data_prevista" value="<%=formata_dt @auditoria.data_prevista if @auditoria.data_prevista.present?%>" name="auditoria[data_prevista]" type="text" data-mask="99/99/9999" class="form-control" />
                                                                </div>
                                                            </div>

                                                            <div class="spacer-10"></div>
                                                            <div class="row">
                                                                <div class="col-sm-3">
                                                                    <label>Hora prevista:</label>
                                                                </div>
                                                                <div class="col-sm-2">

                                                                  <input id="timepicker1" type="text" name="auditoria[hora_prevista]" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="spacer-40"></div>
                                                            <hr/>
                                                            <div class="spacer-40"></div>

                                                                  <div class="inner-padding">
                                                                    <a href="/add-atv-auditoria-<%=@auditoria.id%>" class="btn btn-primary">Adicionar atividade</a>
                                                                    <div class="spacer-30"></div>
                                                                    <% if @auditoria.auditoria_atividades.present?%>
                                                                        <%= render "atividades" %>
                                                                    <% else %>
                                                                        <div class="inner-padding">
                                                                          <div class="alert alert-info">
                                                                            Nenhuma atividade para essa auditoria.
                                                                          </div>
                                                                        </div>
                                                                    <% end %>
                                                                  </div>
                                                            <div class="spacer-40"></div>
                                                            <hr/>
                                                            <div class="spacer-40"></div>

                                                            <div class="row">
                                                                <div class="col-sm-3">
                                                                    <label>Legislação:</label>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <%= f.text_area :legislacao, class:"form-control", rows: 4 %>
                                                                  </div>
                                                              </div>
                                                              <div class="spacer-10"></div>
                                                              <div class="row">
                                                                  <div class="col-sm-3"></div>
                                                                  <div class="col-sm-9">

                                                                  </div>
                                                              </div>

                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div id="content-tab-16-b" class="tab-pane">


                                                      <!-- Modal -->



                                                      <div class="inner-padding">
                                                          <div class="inner-padding ">

                                                              <a class="btn btn-default" href="/add-atv-auditoria-<%=@auditoria.id%>">
                                                                  Adicionar atividade
                                                              </a>
                                                              <div class="space-40"></div>
                                                          </div>
                                                          <%if @auditoria.auditoria_atividades.present?%>
                                                            <%=render "atividades"%>
                                                          <%else%>
                                                            <div class="inner-padding">
                                                                <div class="alert alert-info">
                                                                    Nenhuma atividade informada.
                                                                </div>
                                                            </div>

                                                          <%end%>
                                                      </div>
                                                  </div>


                                              </div><!-- End .tab-content -->
                                          </div><!-- End .ext-tabs-vertical-wrapper -->



                                      </div>
                                  </div>






                              </div>
                          </div>


                          <%= render 'shared/rodape'%>
                      </div><!-- End #content -->
                  </div><!-- End #main -->
              </div><!-- End #container -->


            <% end %>



            </div>
