
<style type="text/css">
    #relatorio {
        padding-top: 25px;
        padding-right: 50px;
        padding-bottom: 25px;
        padding-left: 50px;
    }
</style>

<div id="relatorio" style="text-align: center;">

  <div class="well">
    <div class="row">
        <div class="col-sm-1 pull-left">
          <img src="/assets/images/logo.png" style="width: 70px; height: 70px;" />
        </div>
        <div class="col-sm-8 pull-right">
          <h4>AMCEL - AMAPÁ FLORESTAL E CELULOSE S.A</h4>
        </div>
    </div>
  </div>


</div>