
<style type="text/css">
    #ddata_prevista {
        z-index: 100000;
    }
</style>


<script type="application/javascript">

    $(document).ready(function(){



        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-auditoria2").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>

        $('#ddata_prevista').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "mm/dd/yy",
            yearRange:  "1900:+0",
            altField:   "#cust_dobalt",
            altFormat:  "yy-mm-dd",
            duration:   "slow"
        });





    });




</script>

<!--Modal -->
<div class="modal" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title"><div style="text-align: center;">AUDITORIA</div></h4>
</div>
<div class="modal-body">
<div class="row" style="margin-bottom:-20px">
<div class="col-xs-12">
<center><img id="loader" src="Content/images/loaders/loader.gif" style="text-align: center;"/></center>
<center><div id="aviso" style="display: none;" class="alert alert-success" role="alert">Auditoria cadastrada com sucesso!</div></center>

<%= form_for @auditoria do |f| %>







    <!--

    <div class="alert alert-block alert-success alert-inline-bottom">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Aviso...</h4>
      Nessa nova versão, a inclusão de atividades para a auditoria só será feita após a inclusão da auditoria.
    </div>
-->
    <div class="spacer-20"></div>

    <div class="row">
      <div class="col-md-12">

      </div>
      <div class="col-md-12">
        <ul class="ext-tabs">
          <li class="active">
            <a href="#content-tab-7-a">Informações principais</a>
          </li>
          <li>
            <a href="#content-tab-7-b">Agendamento</a>
          </li>
          <li>
            <a href="#content-tab-7-d">Atividades</a>
          </li>

          <li>
            <a href="#content-tab-7-c">Legislação</a>
          </li>



        </ul><!-- End .ext-tabs -->
        <div class="tab-content ext-tabs-boxed">
          <div id="content-tab-7-a" class="tab-pane active">
            <div class="inner-padding">
              <div class="row">
                <div class="col-sm-2">
                  <label>Plano</label>
                </div>
                <div class="col-sm-4">
                  <input type="text" disabled="true" value="<%=@planoauditoria.nome%>" class="form-control"/>
                </div>

                <div class="col-sm-2">
                  <label>Número:</label>
                </div>
                <div class="col-sm-4">
                  <input required type="text" maxlength="20" class="form-control" name="auditoria[numero]" placeholder="Número da auditoria..." />
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <label>Área auditada</label>
                </div>
                <div class="col-sm-12">
                  <%= f.select(:area_id, @areas.collect {|area| [area.descricao, area.id]}, {}, {class: "form-control"}) %>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <label>Auditor lider</label>
                </div>
                <div class="col-sm-12">
                  <%= f.select(:auditor_lider_id, Funcionario.ativos.collect {|usuario| [usuario.nome, usuario.id]}, {}, {class: "form-control"}) %>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <label>Auditores acompanhantes </label>
                </div>
                <div class="col-sm-12">
                  <select class="select2" multiple name="auditoria[participante_ids][]"  id="auditoria[participante_ids][]" placeholder="Participantes...">
                    <% Funcionario.ativos.each do |f| %>
                        <% pertence = false %>
                        <% @planoauditoria.funcionarios.each do |funcionario| %>
                            <% pertence = true if funcionario.id == f.id %>
                        <% end %>
                        <% if pertence %>
                            <option selected value="<%=f.id%>"><%=f.nome%></option>
                        <% else %>
                            <option value="<%=f.id%>"><%=f.nome%></option>
                        <% end %>
                    <% end %>
                  </select>
                </div>
              </div>

            </div>
          </div>
          <div id="content-tab-7-b" class="tab-pane">
            <div class="inner-padding">


              <div class="row">
                <div class="col-sm-2">
                  <label>Status.:</label>
                </div>
                <div class="col-sm-4">
                  <%= f.select :status, [['Agendada', 'Agendada'], ['Finalizada', 'Finalizada'],['Em andamento', 'Em andamento'] ], {}, { :class => "form-control" } %>
                </div>

                <div class="col-sm-2">
                  <label>Duração.:</label>
                </div>
                <div class="col-sm-4">
                  <%=f.text_field :duracao_prevista, class: "form-control", required: true, placeholder: "Em horas..." %>
                </div>
              </div>
              <div class="spacer-20"></div>

              <div class="row">

                <div class="col-sm-2">
                  <label>Data.:</label>
                </div>
                <div class="col-sm-4">


                      <input required placeholder="Data prevista" id="auditoria_data_prevista" name="auditoria[data_prevista]" type="text" data-mask="99/99/9999" class="form-control" />

                      </div>

                <div class="col-sm-2">
                  <label>Hora.:</label>
                </div>

                <div class="col-sm-4 bootstrap-timepicker">
                      <input id="timepicker1" type="text" name="auditoria[hora_prevista]" class="form-control">

                </div>



              </div>
            </div>
          </div>



          <div id="content-tab-7-c" class="tab-pane">
            <div class="inner-padding">
              <div class="row">
                <div class="col-sm-12">
                  <textarea id="auditoria[legislacao]" class="form-control" name="auditoria[legislacao]" rows="4" /></textarea>
                </div>
              </div>
            </div>
          </div>

          <div id="content-tab-7-d" class="tab-pane">
            <div class="inner-padding">
              <div class="row">
                <div class="col-sm-12">
                  <select class="select2" multiple name="auditoria[atividade_ids][]"  id="auditoria[atividade_ids][]" placeholder="Atividades...">
                    <% Atividade.all.each do |a| %>
                        <option value="<%=a.id%>"><%=a.descricao%></option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>
          </div>


        </div><!-- End .tab-content -->
      </div>
    </div>














    <input type="hidden" name="planoauditoria_id" id="planoauditoria_id" value="<%=@planoauditoria.id%>" />






    <br><br>
    </div>
    </div>
    </div>
    <div class="modal-footer">
      <div class="pull-right">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
        <button class="btn btn-primary" type="submit"><i class="fa fa-inverse fa-check"></i> Salvar</button>
      </div>
<% end %>
</div>
</div>
</div>
</div>



<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="<%=planos_de_auditorias_path%>">Planos de auditorias</a></li>
            <li class="active">Auditorias</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <%
               if @planoauditoria.encerrado == 1
                 status = "encerrado"
               else
                 status = "Em andamento"
               end
            %>
            <h2><b><%=@planoauditoria.nome%> - <%= status %></b></h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="#" class="btn" onclick="window.history.go(-1); return false;">
              <i class="fa fa-arrow-left "></i>&nbsp;Voltar
            </a>
            <% if session[:grupo] == 'Administradores' %>
              <a href="#" class="btn" id="modal-update-trigger">
                <i class="fa fa-plus-circle"></i>&nbsp;  Nova auditoria
              </a>
            <%end%>
          </div>



        </div>

        <div class="inner-padding">


          <% if @planoauditoria.auditorias.present? %>
              <div id="lista">
                <%= render 'lista' %>
              </div>
          <% else %>
              <div class="alert alert-block alert-inline-top alert-dismissable">
                <h4>Nenhuma auditoria cadastrada para esse plano, <a href="#modal-update" data-toggle="modal" >clique aqui</a> para cadastrar uma nova auditoria</h4>
              </div>
          <% end %>


        </div>
      </div>

      <br><br><br><br><br><br><br><br><br><br><br><br>


      <%= render 'shared/rodape'%>

      <br><br><br><br><br><br><br><br><br><br><br><br>
    </div><!-- End #content -->

  </div><!-- End #main -->
</div><!-- End #container -->
