<table class="table col-md-12" id="tablesorting-1">
  <thead class="">
  <tr>
    <th class="col-md-9">Informações</th>
    <th class="filter-select filter-exact col-md-2" data-placeholder="Todos">Cadastro</th>
    <th class="filter-select filter-exact col-md-2" data-placeholder="Todos">Data</th>
    <th class="filter-select filter-exact col-md-2" data-placeholder="Todos">Status</th>
    <th class="col-md-3">Opções</th>
  </tr>
  </thead>
  <tbody>
  <% @planoauditoria.auditorias.order(:created_at).each do |p| %>
      <tr id="linha-<%=p.id%>">
        <td>
          <b>Número:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><%= p.numero %> <br>
          <b>Área:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><%= p.area.descricao %> <br>
          <b>Audior Lider:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><%= p.auditor.nome %> <br>
          <b class="pull-left">Data Prevista:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= formata_dt p.data_prevista%> <br>
          <b>Duração prevista:</b>&nbsp;&nbsp;&nbsp;<%=p.duracao_prevista%>
        </td>

        <td>
          <div style="text-align: center;">
            <%= formata_dt p.created_at %>
          </div>
        </td>

        <td>
          <div style="text-align: center;">
            <%= formata_dt p.data_prevista %>
          </div>
        </td>


        <td>
          <div style="text-align: center;">
            <span class="label label-<%= p.status == 'Em andamento' ? 'success' : 'danger'%>"><%= p.status %></span>
          </div>
        </td>








        <td>

          <div class="dropdown">
            <a title="Destinatários" class=" btn-less dropdown-toggle cal-app tooltip-top" data-toggle="dropdown" href="#">
              <id class="fa  fa-user"></id>
            </a>
            <div role="menu" class="dropdown-menu ext-dropdown-box pull-right">
              <div class="inner-padding">
                <ul class="mini-list">
                  <% p.participantes.each do |u| %>
                      <li>
                        <img src="<%=u.photo%>" alt="" class="avatar"/>
                        <ul>
                          <li><a href="#"><b><%= u.name %></b></a></li>
                          <li><a href="#"><%= u.email %></a></li>
                        </ul>
                      </li>

                      <li>
                        <img src="<%=u.photo%>" alt="" class="avatar"/>
                        <ul>
                          <li><a href="#"><b><%= u.name %></b></a></li>
                          <li><a href="#"><%= u.email %></a></li>
                        </ul>
                      </li>
                  <% end %>
                </ul><!-- End .mini-list -->
              </div><!-- End .inner-padding -->
            </div>
          </div>



          </div>

          <%= link_to "/visualizar-auditoria-#{r.id}", class: "btn-less tooltip-top", id: "deletar", title: "Informações" do %>
              <i class="fa fa-info-circle"></i>
          <% end %>



          
          
          <%if session[:grupo] == 'Administradores'%>
            <%= link_to atualizar_auditoria_path(p), class: "btn-less tooltip-top", id: "deletar", title: "Atualizar" do %>
                <i class="fa fa-pencil"></i>
            <% end %>

            <%= link_to p, method: :delete, data: { confirm: 'Tem Certeza?' }, class: "btn-less tooltip-top", id: "remove-#{p.id}", title: "Apagar", remote: true do %>
                <i class="fa fa-trash-o"></i>
            <% end %>
          <% end %>

          <script type="text/javascript">
              $('#remove-<%= p.id %>').bind('ajax:success', function(){
                  $('#linha-<%= p.id %>').remove();
                  $.e_notify.growl({
                      title: 'Sucesso!',
                      text: 'Auditoria apagada com sucesso.',
                      position: 'right-bottom',
                      delay: 0,
                      time: 5000,
                      speed: 500,
                      effect: 'slidein',
                      sticky: false,
                      closable: false,
                      maxOpen:3,
                      className:'',
                      onShow: function(){},
                      onHide: function(){}
                  });
                  e.preventDefault();


              });
          </script>





        </td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="5" class="pager form-horizontal">
      <button class="btn first"><i class="fa fa-step-backward"></i></button>
      <button class="btn prev"><i class="fa fa-arrow-left"></i></button>
      <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
      <button class="btn next"><i class="fa fa-arrow-right"></i></button>
      <button class="btn last"><i class="fa fa-step-forward"></i></button>
      <select class="pagesize input-xs" title="Select page size">
        <option selected="selected" value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
      </select>
      <select class="pagenum input-xs" title="Select page number"></select>
    </td>
  </tr>
  </tfoot>
</table>
