
<style type="text/css">
    #ddata_prevista {
        z-index: 100000;
    }
</style>


<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-auditoria2").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>

        $('#ddata_prevista').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "mm/dd/yy",
            yearRange:  "1900:+0",
            altField:   "#cust_dobalt",
            altFormat:  "yy-mm-dd",
            duration:   "slow"
        });

    });


</script>





<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="<%=planos_de_auditorias_path%>">Planos de auditorias</a></li>
            <li class=""><a href="/auditorias,plano,<%=@auditoria.planoauditoria.id%>"> Auditorias </a></li>
            <li class="active">Visualizar auditoria</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Visualizar auditoria</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
             <%= link_to :back, class: "btn btn-default" do %>
                <i class="fa fa-arrow-left "></i>&nbsp;Voltar
              <% end %>
          </div>



        </div>

        <div class="inner-padding">


          <div class="row">
            <div class="col-sm-3">
              <label>Plano de auditoria.:</label>
            </div>
            <div class="col-sm-9">
              <%=@auditoria.planoauditoria.nome%>
            </div>
          </div>

          <hr>

          <div class="spacer-20"></div>

          <div class="row">
            <div class="col-sm-3">
              <label>Auditoria.: </label>
            </div>
            <div class="col-sm-9">
              <%=@auditoria.numero %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label>Status.:</label>
            </div>
            <div class="col-sm-9">
              <%=@auditoria.status%>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label>Área auditada.: </label>
            </div>
            <div class="col-sm-9">
              <%=@auditoria.area.descricao%>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label>Data prevista: </label>
            </div>
            <div class="col-sm-9">
              <%=formata_dt @auditoria.data_prevista%>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label>Hora prevista.:</label>
            </div>
            <div class="col-sm-9">
              <%=@auditoria.hora_prevista%>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label>Área auditada.: </label>
            </div>
            <div class="col-sm-9">
              <%=@auditoria.area.descricao%>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label>Auditor lider.:</label>
            </div>
            <div class="col-sm-9">
              <%=@auditoria.auditor.nome%>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label>Auditores acompanhantes.:</label>
            </div>
            <div class="col-sm-9">
              <% @auditoria.participantes.each do |a| %>
                  <%= a.nome %>;
              <% end %>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-3">
              <label>Duração prevista.:</label>
            </div>
            <div class="col-sm-9">
              <%=@auditoria.duracao_prevista%>
            </div>
          </div>

           <div class="row">
            <div class="col-sm-3">
              <label>Legislação.:</label>
            </div>
            <div class="col-sm-9">
              <%=@auditoria.legislacao%>
            </div>
          </div>








          <div class="spacer-20"></div>
          <hr>
          <div class="spacer-20"></div>


          <div class="inner-padding">

            <%if @auditoria.auditoria_atividades.present?%>
                <%=render "atividades"%>
            <%else%>
                <div class="inner-padding">
                  <div class="alert alert-info">
                    Nenhuma atividade informada.
                  </div>
                </div>
            <%end%>

            <div class="spacer-20"></div>
            <div class="inner-padding">
            <a href="/add-atv-auditoria-<%=@auditoria.id%>" class="btn btn-primary">Atividades</a>
              </div>
          </div>



          <div class="spacer-40"></div>





        </div>
      </div>


      <%= render 'shared/rodape'%>
    </div><!-- End #content -->
  </div><!-- End #main -->
</div><!-- End #container -->


