<%= simple_form_for(@filial) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :codigo %>
    <%= f.input :nome %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
