<h1>Listing filiais</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filiais.each do |filial| %>
      <tr>
        <td><%= filial.codigo %></td>
        <td><%= filial.nome %></td>
        <td><%= link_to 'Show', filial %></td>
        <td><%= link_to 'Edit', edit_filial_path(filial) %></td>
        <td><%= link_to 'Destroy', filial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filial', new_filial_path %>
