<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @filial.codigo %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @filial.nome %>
</p>

<%= link_to 'Edit', edit_filial_path(@filial) %> |
<%= link_to 'Back', filiais_path %>
