<%= ajax_links :section_id => "page" do %>
    <%= will_paginate @racs_abertos %>
<% end %>
<%= ajax_loadzone do %>
    <% @racs_abertos.each do |object| %>
        ...
    <% end %>
<% end %>


