<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-demais-racs").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>





<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="/demais-racs">Demais Racs</a></li>
            <li class="active">Atualizar</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Demais RACS</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->
      <%= form_for @rac do | f | %>


                          <div class="window">
                            <div class="actionbar">
                              <div class="pull-left">
                                <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
                                <a href="/demais-racs" class="btn">
                                  <i class="fa fa-arrow-left "></i>&nbsp;Voltar

                                </a>

                                    <button type="submit" class="btn"><i class="fa fa-check"></i>&nbsp; Salvar</button>




                              </div>



                            </div>

                            <div class="inner-padding">
                              <div class="row">
                                <div class="col-sm-3">
                                  <label>Rac.:</label>
                                </div>
                                <div class="col-sm-9">
                                  <%=zero @rac.sequencia%>-<%=@rac.ano%>
                                </div>
                              </div>



                              <div class="row">
                                <div class="col-sm-3">
                                  <label>Status.: </label>
                                </div>
                                <div class="col-sm-9">
                                  <%= f.select(:status, [], {}, {class: "select2"}) do %>
                                      <% [['Em elaboração', 'Em elaboração'], ['Finalizada', 'Finalizada'], ['Aguardando retorno', 'Aguardando retorno']].each do |c| -%>
                                          <%= content_tag(:option, c.first, value: c.last) %>
                                      <% end %>
                                  <% end %>
                                </div>
                              </div>
                              <div class="spacer-10"></div>
                              <div class="row">
                                <div class="col-sm-3">
                                  <label>Dt. criação.: </label>
                                </div>
                                <div class="col-sm-9">
                                  <input name="rac[created_at]" type="text" required data-mask="99/99/9999" class="form-control" placeholder="Informe a data da criação" value="<%= formata_dt @rac.created_at %>" />
                                </div>
                              </div>
                              <div class="spacer-10"></div>
                              <div class="row">
                                <div class="col-sm-3">
                                  <label>Tipo de reclamação.: </label>
                                </div>
                                <div class="col-sm-9">
                                  <%= f.select(:tipo_reclamacao_id, TipoReclamacao.all.collect {|t| [t.descricao, t.id]}, {}, {class: "select2"}) %>

                                </div>
                              </div>
                              <div class="spacer-20"></div>
                              <hr>
                              <div class="spacer-20"></div>
                              <div class="row">
                                <div class="col-sm-3">
                                  <label>Área/Dpeto solicitante do RAC.: </label>
                                </div>
                                <div class="col-sm-9">
                                  <%= f.select(:area_solicitante_id, Area.all.collect {|a| [a.descricao, a.id]}, {}, {class: "select2"}) %>

                                </div>
                              </div>
                              <div class="spacer-10"></div>
                              <div class="row">
                                <div class="col-sm-3">
                                  <label>Área/Dpeto responsável pelo RAC.: </label>
                                </div>
                                <div class="col-sm-9">
                                  <%= f.select(:area_responsavel_id, Area.all.collect {|a| [a.descricao, a.id]}, {}, {class: "select2"}) %>
                                </div>
                              </div>
                              <div class="spacer-10"></div>
                              <div class="row">
                                <div class="col-sm-3">
                                  <label>Solicitante.:</label>
                                </div>
                                <div class="col-sm-9">
                                  <%=f.text_field :solicitante, class: "form-control"%>
                                </div>
                              </div>
                              <div class="spacer-20"></div>
                              <hr>
                              <div class="spacer-20"></div>
                              <div class="row">
                                <div class="col-sm-3">
                                  <label>Tipo de não conformidade.:</label>
                                </div>
                                <div class="col-sm-9">
                                  <%= f.select(:tipo_nc_id, TipoNc.all.collect {|a| [a.descricao, a.id]}, {}, {class: "select2"}) %>
                                </div>
                              </div>
                                      <div class="spacer-10"></div>
                              <div class="row">
                                <div class="col-sm-3">
                                  <label>Descrição da não conformidade.:</label>
                                </div>
                                <div class="col-sm-9">
                                  <%=f.text_area :desc_nc, class: "form-control"%>
                                </div>
                              </div>
                              <div class="spacer-20"></div>

                              <hr>
                              <div class="spacer-20"></div>



                                  <div class="row">
                                    <div class="col-sm-3">
                                      <label>Análise da causa raiz.:</label>
                                    </div>
                                    <div class="col-sm-9">

                                          <%= f.text_area :causa_raiz, class: "form-control", placeholder: "Análise da causa raiz..."%>

                                          </div>
                                          </div>

                                          <div class="spacer-10"></div>

                                          <div class="row">
                                            <div class="col-sm-3">
                                              <label>Status correção.:</label>
                                            </div>
                                            <div class="col-sm-9">

                                                  <%= f.select(:status_correcao, [], {}, {class: "select2"}) do %>
                                                      <% [['Em elaboração', 'Em elaboração'], ['Finalizada', 'Finalizada'], ['Aguardando retorno', 'Aguardando retorno']].each do |c| -%>
                                                          <%= content_tag(:option, c.first, value: c.last) %>
                                                      <% end %>
                                                  <% end %>

                                            </div>
                                          </div>

                                          <div class="spacer-10"></div>

                                          <div class="row">
                                            <div class="col-sm-3">
                                              <label>Descrição ação corretiva.:</label>
                                            </div>
                                            <div class="col-sm-9">

                                                  <%= f.text_area :desc_acao_corretiva, class: "form-control", placeholder: "Descrição da ação corretiva..."%>

                                                  </div>
                                                  </div>

                                                  <div class="spacer-10"></div>

                                                  <div class="row">
                                                    <div class="col-sm-3">
                                                      <label>Data ação corretiva.:</label>
                                                    </div>
                                                    <div class="col-sm-9">

                                                      <input name="rac[dt_acao_corretiva]" type="text" required data-mask="99/99/9999" class="form-control" placeholder="Informe a data da criação" value="<%= formata_dt @rac.dt_acao_corretiva if @rac.dt_acao_corretiva.present? %>" />

                                                    </div>
                                                  </div>

                                                  <div class="spacer-10"></div>

                                                  <div class="row">
                                                    <div class="col-sm-3">
                                                      <label>Responsável ação corretiva</label>
                                                    </div>
                                                    <div class="col-sm-9">

                                                          <%= f.text_field :responsavel_acao_corretiva, class: "form-control", placeholder: "Nome do responsável pela ação corretiva..."%>

                                                          </div>
                                                          </div>
                                                          <div class="spacer-20"></div>





                                                          <div class="spacer-20"></div>
                                                          <hr>
                                                          <div class="spacer-20"></div>

                                                              <div class="row">
                                                                <div class="col-sm-3">
                                                                  <label>Análise crítica de eficácia das ações corretivas.:</label>
                                                                </div>
                                                                <div class="col-sm-9">

                                                                      <%=f.text_area :anal_critica, class:"form-control"%>

                                                                      </div>
                                                                      </div>
                                                                      <div class="spacer-10"></div>

                                                                      <div class="row">
                                                                        <div class="col-sm-3">
                                                                          <label>Data do encerramento.:</label>
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                              <input name="demais_rac[dt_real_encerramento]" type="text"  data-mask="99/99/9999" class="form-control" value="<%=formata_dt @rac.dt_real_encerramento if @rac.dt_real_encerramento.present?%>"/>
                                                                        </div>
                                                                      </div>
                                                                      <div class="spacer-20"></div>





                                                          <div class="spacer-20"></div>
                                                          <hr>
                                                          <div class="spacer-40"></div>







                                                          </div>
                                                          </div>


                                                          <div class="spacer-30"></div>


                                                          <%= render 'shared/rodape'%>
                                                          </div><!-- End #content -->
                                                          </div><!-- End #main -->
                                                          </div><!-- End #container -->

<% end %>


