
<div id="container" class="clearfix">
  <div id="" class="clearfix">
    <div id="content" class="clearfix">
      <div class="window">
        <div class="inner-padding">
          <table class="table table-bordered table-condensed">
            <thead>
            <tr>
              <th colspan="5">
                <center><label style="color: green">AMCEL - AMAPÁ FLORESTAL E CELULOSE S.A</label></center>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td align="center" vAlign="middle" rowspan="2" colspan="">
                <img src="<%=@URL%>/Content/images/logo.png" alt="logo-amcel" width="60%" />
              </td>
              <td colspan="4" vAlign="base" height="10%">
                <div class="spacer-10"></div>
                <center><h4><b>RAC - Relatório de Ação Corretiva</b></h4></center>
              </td>
            </tr>
            <tr>
              <td colspan="1" height="70%">
                <b>Número:</b> <br>
                <%= zero(@rac.sequencia) %> - <%= @rac.ano %>
                <div class="spacer-10"></div>
              </td>
              <td>
                <b>Dt. criação:</b> <br>
                <%= formata_dt @rac.dt_criacao %>
                <div class="spacer-10"></div>
              </td>
              <td>
                <b>Status:</b> <br>
                <%= @rac.status %>
                <div class="spacer-10"></div>
              </td>
              <td>
                <b>Status correção:</b> <br>
                <%= @rac.status_correcao %>
                <div class="spacer-10"></div>
              </td>
            </tr>
            <tr>
              <td colspan="5" height="70%">
                <b>Tipo de não conformidade:</b> <br>
                <%=@rac.tipo_nc.descricao%>
                <div class="spacer-10"></div>
              </td>
            </tr>
            <tr>
              <td colspan="5" height="70%">
                <b>Não conformidade detectada:</b> <br>
                <%= @rac.desc_nc %>
                <div class="spacer-10"></div>
              </td>
            </tr>
            <tr>
              <td colspan="5">
                <b>Análise da causa raiz:</b><br>
                <%=@rac.causa_raiz%>
                <div class="spacer-10"></div>
              </td>
            </tr>
            <tr>
              <td colspan="5">
                <b>Ação corretiva:</b><br>
                <%=@rac.desc_acao_corretiva%>
                <div class="spacer-10"></div>
              </td>
            </tr>
            <tr>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>Data da ação corretiva:</b> <br>
                <%= formata_dt @rac.dt_acao_corretiva if @rac.dt_acao_corretiva.present? %>
                <div class="spacer-10"></div>
              </td>
              <td colspan="3">
                <b>Responsável pela correção:</b> <br />
                <%= @rac.responsavel_acao_corretiva %>
                <div  class="spacer-10"></div>
              </td>
            </tr>

            <tr>
              <td colspan="5">
                <b>Análise de eficácia:</b> <br />
                <%=@rac.anal_critica%>
              </td>
            </tr>

            <tr>
              <td  colspan="5">
                <b>Dt. real encerramento:</b> <br />
                <%=formata_dt(@rac.dt_real_encerramento) if @rac.dt_real_encerramento.present? %>
              </td>
            </tr>

              </td>
              <% if @rac.demais_rac_historicos.present? %>

                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">Justificativa</th>
                      <th scope="col">Data anterior</th>
                      <th scope="col">Nova Data</th>
                      <th scope="col">Responsável anterior</th>
                      <th scope="col">Novo responsável</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%@rac.demais_rac_historicos.each do |r|%>
                        <tr>
                          <td><%=r.justificativa%></td>
                          <td><%=formata_dt r.DtAnterior%></td>
                          <td><%=formata_dt r.NovaDt%></td>
                          <td><%=r.AntigoResponsavel%></td>
                          <td><%=r.NovoResponsavel%></td>
                        </tr>
                    <%end%>
                    </tbody>
                  </table>
              <% end %>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>












