<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-demais-racs").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>





<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="/demais-racs">Demais Racs</a></li>
            <li class="active">Detalhes</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Demais RACS</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <%= form_for @rac do | f | %>

                                          <!--Modal -->
                                          <div class="modal" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                  <h4 class="modal-title"><div style="text-align: center;">Adiar ação corretiva</div></h4>
                                                </div>
                                                <div class="modal-body">


                                                  <div class="spacer-10"></div>



                                                  <div class="row" style="margin-bottom:-20px">
                                                    <div class="col-xs-12">
                                                      <div class="row">
                                                        <div class="col-sm-12 ">

                                                          <label>Novo responsável pela ação corretiva:</label>
                                                          <%= f.select(:NovoResponsavel, [], {}, {class: "select2"}) do %>
                                                              <% Funcionario.all.each do |f| -%>
                                                                  <%= content_tag(:option, f.nome, value: f.nome) %>
                                                              <% end %>
                                                          <% end %>


                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>

                                                  <div class="spacer-10"></div>

                                                  <div class="row" style="margin-bottom:-20px">
                                                    <div class="col-xs-12">
                                                      <div class="row">
                                                        <div class="col-sm-12 ">

                                                          <label>Nova data:</label>
                                                          <input name="demais_rac[nova_dt_prevista]" type="text"  data-mask="99/99/9999" class="form-control" placeholder="Informe a data prevosta para correção"/>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>

                                                  <div class="spacer-10"></div>

                                                  <div class="row" style="margin-bottom:-20px">
                                                    <div class="col-xs-12">
                                                      <div class="row">
                                                        <div class="col-sm-12 ">

                                                          <label>Justificativa :</label>
                                                          <%= f.text_area :just_nova_dt, class: "form-control", placeholder: "Informe o motivo do adiamento" %>

                                                              </div>
                                                              </div>
                                                              </div>
                                                              </div>

                                                              <div class="spacer-30"></div>
                                                              </div>
                                                              <div class="modal-footer">
                                                                <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                                                                <button type="submit" class="btn btn-primary pull-right"> Salvar </button>
                                                              </div>
                                                              </div>
                                                              </div>
                                                              </div>
<% end %>
      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="/demais-racs" class="btn">
              <i class="fa fa-arrow-circle-left"></i>&nbsp;  Voltar
            </a>
            <a onclick="window.open('/imprimir-demais-rac-<%=@rac.id%>', 'Página', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=520');" href="#" class="btn" title="Imprimir">
              <i class="fa fa-print"></i> Imprimir
            </a>
            <%if @rac.status_correcao == "Em elaboração" || @rac.status_correcao == "Aguardando retorno" && @rac.status_correcao.present?%>
            <button type="button" data-toggle="modal" data-target="#modal" class="btn">Adiar ação corretiva</button>
            <%end%>



          </div>



        </div>

        <div class="inner-padding">
          <div class="row">
            <div class="col-sm-3">
              <label>Rac.:</label>
            </div>
            <div class="col-sm-9">
              <%=zero @rac.sequencia%>-<%=@rac.ano%>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label>Status.: </label>
            </div>
            <div class="col-sm-9">
              <%=@rac.status %>
            </div>
          </div>

           <div class="row">
            <div class="col-sm-3">
              <label>Dt. criação.: </label>
            </div>
            <div class="col-sm-9">
              <%=formata_dt @rac.created_at %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label>Tipo de reclamação.: </label>
            </div>
            <div class="col-sm-9">
              <%=@rac.tipo_reclamacao.descricao%>
            </div>
          </div>
         <div class="spacer-20"></div>
          <hr>
          <div class="spacer-20"></div>
          <div class="row">
            <div class="col-sm-3">
              <label>Área/Dpeto solicitante do RAC.: </label>
            </div>
            <div class="col-sm-9">
              <%=@rac.area_solicitante.descricao%>
            </div>
          </div>

           <div class="row">
            <div class="col-sm-3">
              <label>Área/Dpeto responsável pelo RAC.: </label>
            </div>
            <div class="col-sm-9">
              <%=@rac.area_responsavel.descricao%>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <label>Solicitante.:</label>
            </div>
            <div class="col-sm-9">
              <%=@rac.solicitante%>
            </div>
          </div>
          <div class="spacer-20"></div>
          <hr>
          <div class="spacer-20"></div>
          <div class="row">
            <div class="col-sm-3">
              <label>Tipo de não conformidade.:</label>
            </div>
            <div class="col-sm-9">
              <%=@rac.tipo_nc.descricao%>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label>Descrição da não conformidade.:</label>
            </div>
            <div class="col-sm-9">
              <%=@rac.desc_nc%>
            </div>
          </div>
          <div class="spacer-20"></div>

              <hr>
              <div class="spacer-20"></div>
          <%= form_for @rac do | f | %>

              <%if @rac.status != "Finalizado"%>
          <div class="alert alert-block alert-info alert-inline-mid">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Ações corretivas...</h4>
            Após preencher o formulário apenas os administradores poderam editá-lo, caso deseje adiar a correção favor usar a opção de adiamento
          </div>
                  <% end %>

              <div class="row">
                <div class="col-sm-3">
                  <label>Análise da causa raiz.:</label>
                </div>
                <div class="col-sm-9">
                  <%if @rac.status != "Finalizado"%>
                  <%= f.text_area :causa_raiz, class: "form-control", placeholder: "Análise da causa raiz..."%>
                      <% else %>
                        <%=@rac.causa_raiz%>
                      <% end %>
                </div>
              </div>

              <div class="spacer-10"></div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label>Status correção.:</label>
                        </div>
                        <div class="col-sm-9">
                          <%if @rac.status != "Finalizado"%>
                          <%= f.select(:status_correcao, [], {}, {class: "select2"}) do %>
                              <% [['Em elaboração', 'Em elaboração'], ['Finalizada', 'Finalizada'], ['Aguardando retorno', 'Aguardando retorno']].each do |c| -%>
                                  <%= content_tag(:option, c.first, value: c.last) %>
                              <% end %>
                          <% end %>

                              <% else %>
                              <%=@rac.status_correcao%>
                          <% end %>
                              </div>
                              </div>

                              <div class="spacer-10"></div>

              <div class="row">
                <div class="col-sm-3">
                  <label>Descrição ação corretiva.:</label>
                </div>
                <div class="col-sm-9">
                  <%if @rac.status != "Finalizado"%>
                  <%= f.text_area :desc_acao_corretiva, class: "form-control", placeholder: "Descrição da ação corretiva..."%>
                  <%else%>
                          <%=@rac.desc_acao_corretiva%>
                  <%end%>
                </div>
              </div>

                      <div class="spacer-10"></div>

              <div class="row">
                <div class="col-sm-3">
                  <label>Data ação corretiva.:</label>
                </div>
                <div class="col-sm-9">
                  <% if @rac.dt_acao_corretiva.present?%>
                  <%= formata_dt @rac.dt_acao_corretiva %>
                      <% else %>
                      <input name="demais_rac[dt_acao_corretiva]" type="text" data-mask="99/99/9999" class="form-control" placeholder="Informe a data prevista para correção" />
                      <% end %>

                </div>
              </div>

                      <div class="spacer-10"></div>

              <div class="row">
                <div class="col-sm-3">
                  <label>Responsável ação corretiva</label>
                </div>
                <div class="col-sm-9">
                  <% if @rac.status != "Finalizado"%>
                  <%= f.text_field :responsavel_acao_corretiva, class: "form-control", placeholder: "Nome do responsável pela ação corretiva..."%>
                  <% else %>
                      <%= @rac.responsavel_acao_corretiva %>
                  <% end %>
                </div>
              </div>
               <div class="spacer-20"></div>
                      <% if @rac.status != "Finalizado"%>
               <button type="submit" class="btn btn-primary pull-left"> Salvar </button>
                      <% end %>

        <% end %>
          

         
            <%if @rac.user == current_user && @rac.status_correcao == "Finalizada"%>
                      <div class="spacer-20"></div>
                      <hr>
                      <div class="spacer-20"></div>
                      <%= form_for @rac do | f | %>

                      <div class="row">
                        <div class="col-sm-3">
                          <label>Análise crítica de eficácia das ações corretivas.:</label>
                        </div>
                        <div class="col-sm-9">
                          <%if @rac.anal_critica.present?%>
                            <%=@rac.anal_critica%>
                          <% else %>
                              <%=f.text_area :anal_critica, class:"form-control"%>
                          <% end %>
                              </div>
                              </div>
                              <div class="spacer-10"></div>

                              <div class="row">
                                <div class="col-sm-3">
                                  <label>Data do encerramento.:</label>
                                </div>
                                <div class="col-sm-9">
                                  <% if @rac.dt_real_encerramento.present? %>
                                      <%=formata_dt @rac.dt_real_encerramento%>
                                  <% else %>
                                      <input name="demais_rac[dt_real_encerramento]" type="text"  data-mask="99/99/9999" class="form-control" />
                                  <% end %>

                                </div>
                              </div>
                                <div class="spacer-20"></div>
                              <% unless @rac.dt_real_encerramento.present?%>
                              <button type="submit" class="btn btn-primary pull-left"> Salvar </button>
                                  <% end %>
                              <% end %>
            <%end%>
           





          <div class="spacer-20"></div>
          <hr>
          <div class="spacer-40"></div>





          <%if@rac.demais_rac_historicos.present?%>
              <legend>Adiamentos</legend>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Justificativa</th>
                  <th scope="col">Data anterior</th>
                  <th scope="col">Nova Data</th>
                  <th scope="col">Responsável anterior</th>
                  <th scope="col">Novo responsável</th>
                  <th scope="col">Funcionário</th>
                </tr>
                </thead>
                <tbody>
                <%@rac.demais_rac_historicos.each do |r|%>
                    <tr>
                      <td><%=r.justificativa%></td>
                      <td><%=formata_dt r.DtAnterior%></td>
                      <td><%=formata_dt r.NovaDt%></td>
                      <td><%=r.AntigoResponsavel%></td>
                      <td><%=r.NovoResponsavel%></td>
                      <td><%= r.user.name%></td>
                    </tr>
                <% end %>

                </tbody>
              </table>
          <% end %>

        </div>
      </div>


        <div class="spacer-30"></div>


      <%= render 'shared/rodape'%>
    </div><!-- End #content -->
  </div><!-- End #main -->
</div><!-- End #container -->




