<%= form_for(@tipo_nc) do |f| %>
  <% if @tipo_nc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_nc.errors.count, "error") %> prohibited this tipo_nc from being saved:</h2>

      <ul>
      <% @tipo_nc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sigla %><br>
    <%= f.text_field :sigla %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
