<p id="notice"><%= notice %></p>

<p>
  <strong>Sigla:</strong>
  <%= @tipo_nc.sigla %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @tipo_nc.descricao %>
</p>

<%= link_to 'Edit', edit_tipo_nc_path(@tipo_nc) %> |
<%= link_to 'Back', tipo_ncs_path %>
