<%= form_for(@planoauditoria) do |f| %>
  <% if @planoauditoria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planoauditoria.errors.count, "error") %> prohibited this planoauditoria from being saved:</h2>

      <ul>
      <% @planoauditoria.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :encerrado %><br>
    <%= f.check_box :encerrado %>
  </div>
  <div class="field">
    <%= f.label :prazo %><br>
    <%= f.number_field :prazo %>
  </div>
  <div class="field">
    <%= f.label :ano %><br>
    <%= f.text_field :ano %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
