   <%
           if @planos.present?
        %>


            <select name="plano_select" id="plano_select" class="form-control simpleselect">
              <% @planos.each do |p| %>
                  <option value="<%= p.id %>"><%= p.nome %></option>
              <% end %>
            </select>



        <%else%>
            Nenhum plano de auditoria cadastrado
        <% end %>