

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-plano-aud").addClass("page-arrow");

        <% if notice.present? %>
            $.e_notify.growl({
                title: 'Sucesso!',
                text: '<%=notice%>',
                position: 'right-bottom',
                delay: 0,
                time: 5000,
                speed: 500,
                effect: 'slidein',
                sticky: false,
                closable: false,
                maxOpen:3,
                className:'',
                onShow: function(){},
                onHide: function(){}
            });
            e.preventDefault();
        <% end %>
    });


</script>





<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="<%=areas_de_atuacao_path%>">Planos de auditorias</a></li>
            <li class="active">Atualização</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Atualização</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->

      <%= form_for @planoauditoria do |f| %>

          <div class="window">
            <div class="actionbar">
              <div class="pull-left">
                <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
                <a href="#" class="btn" onclick="window.history.go(-1); return false;">
                  <i class="fa fa-arrow-left "></i>&nbsp;Voltar
                </a>

                <button class="btn" type="submit"> <i class="fa fa-check"></i>&nbsp;  Salvar</button>
              </div>



            </div>

            <div class="inner-padding">


              <div class="row">
                <div class="col-sm-12">

                  <fieldset>
                    <legend>Plano de auditoria</legend>
                    <div class="row">
                      <div class="col-sm-2">
                        <label>Nome do plano <span class="asterisk">*</span></label>
                      </div>
                      <div class="col-sm-6">
                        <%= f.text_field :nome, required: true, class: "form-control" %>
                      </div>
                      <div class="col-sm-1 ">
                        <label>Prazo <span class="asterisk">*</span></label>
                      </div>
                      <div class="col-sm-1 col-md-2">
                        <%= f.text_field :prazo, required: true, class: "form-control" %>
                      </div>


                    </div>
                    <div class="spacer-20"></div>
                    <div class="row">
                      <div class="col-sm-2">
                        <label>Destinatários <span class="asterisk">*</span></label>
                      </div>
                      <div class="col-sm-9">
                        <select class="select2" multiple name="planoauditoria[funcionario_ids][]"  id="planoauditoria[funcionario_ids][]" placeholder="Destinatários..">
                          <% @funcionarios.all.each do |f| %>
                            <% pertence = false %>
                            <% @planoauditoria.funcionarios.each do |funcionario| %>
                              <% pertence = true if funcionario.id == f.id %>
                            <% end %>
                            <% if pertence %>
                              <option selected value="<%=f.id%>"><%=f.nome%></option>
                            <% else %>
                              <option value="<%=f.id%>"><%=f.nome%></option>
                            <% end %>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="spacer-20"></div>
                    <div class="row">
                      <div class="col-sm-2">
                        <label>Status <span class="asterisk">*</span></label>
                      </div>
                      <div class="col-sm-9">

                          <%= f.select :encerrado, [['Em andamento', false], ['Finalizado', true]], {}, { :class => "select2" } %>

                      </div>
                    </div>
                    <div class="spacer-20"></div>
                    <div class="row">
                      <div class="col-sm-2">
                        <label>Ano do plano <span class="asterisk">*</span></label>
                      </div>
                      <div class="col-sm-9">

                        <%= f.text_field :ano, required: true, class: 'form-control', placeholder: 'Digite o ano do plano...', maxlength: '4'  %>

                      </div>
                    </div>

                  </fieldset>

                </div>
              </div>




            </div>
          </div>

      <% end %>

      <%= render 'shared/rodape'%>
    </div><!-- End #content -->
  </div><!-- End #main -->
</div><!-- End #container -->
