

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-plano-aud").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>
    });


</script>


<!--Modal -->
<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><center>DMAST - AUD</center></h4>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-bottom:-20px">
          <div class="col-xs-12">
            <%= form_for @auditoria do |f| %>



                <div class="row">

                  <div class="col-sm-12">
                    <select class="select2" multiple name="planoauditoria[usuario_ids][]"  id="planoauditoria[usuario_ids][]" placeholder="Destinatários..">
                      <%@usuarios.each do |u| %>
                          <option value="<%=u.id%>"><%=u.nome%></option>
                      <%end%>
                    </select>



                  </div>
                </div>







                <br><br>
                </div>

                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                  <%= f.submit "Cadastrar", class: "btn btn-success pull-right" do %>
                      <i class="fa fa-search fa-inverse">Salvar</i>
                  <% end %>
            <% end %>
            </div>
            </div>
  </div>
</div></div>




<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li class=""><a href="<%=planos_de_auditorias_path%>">Planos de Auditorias</a></li>
            <li class="active">Destinatários</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2><b>Destinatários do plano</b> - <%=@auditoria.nome%></h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>

            <a href="<%=planos_de_auditorias_path%>" class="btn" id="" onclick="history.go(-1);">
              <i class="fa fa-arrow-circle-o-left"></i>&nbsp;  Voltar
            </a>
            <a href="#" class="btn" id="modal-update-trigger">
              <i class="fa fa-plus-circle"></i>&nbsp;  Incluir
            </a>

          </div>

          <div class="pull-right">

          </div>



        </div>

        <div class="inner-padding">


          <% if @auditoria.usuarios.present? %>
              <table class="table col-md-12" id="tablesorting-1">
                <thead class="">
                <tr>
                  <th class="col-md-10">Usuário</th>

                  <th class="col-md-2">Opções</th>
                </tr>
                </thead>
                <tbody>
                <% @auditoria.usuarios.each do |p| %>
                    <tr>
                      <td><%= p.nome %></td>



                      <td>
                        <center>
                          <%= link_to p, method: :delete, data: { confirm: 'Tem Certeza?' }, class: "btn-less tooltip-top", id: "deletar", title: "Remover" do %>
                              <i class="fa fa-trash-o"></i>
                          <% end %>
                        </center>
                      </td>
                    </tr>
                <% end %>
                </tbody>
                <tfoot>
                <tr>
                  <td colspan="2" class="pager form-horizontal">
                    <button class="btn first"><i class="fa fa-step-backward"></i></button>
                    <button class="btn prev"><i class="fa fa-arrow-left"></i></button>
                    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                    <button class="btn next"><i class="fa fa-arrow-right"></i></button>
                    <button class="btn last"><i class="fa fa-step-forward"></i></button>
                    <select class="pagesize input-xs" title="Select page size">
                      <option selected="selected" value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                    </select>
                    <select class="pagenum input-xs" title="Select page number"></select>
                  </td>
                </tr>
                </tfoot>
              </table>

          <% else %>
              <div class="alert alert-block alert-inline-top alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>nenhum usuário nesse plano</h4>

              </div>
          <% end %>






        </div>
      </div>


      <%= render 'shared/rodape'%>
    </div><!-- End #content -->
  </div><!-- End #main -->
</div><!-- End #container -->


