

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-plano-aud").addClass("page-arrow");

        <% if notice.present? %>
            $.e_notify.growl({
                title: 'Sucesso!',
                text: '<%=notice%>',
                position: 'right-bottom',
                delay: 0,
                time: 5000,
                speed: 500,
                effect: 'slidein',
                sticky: false,
                closable: false,
                maxOpen:3,
                className:'',
                onShow: function(){},
                onHide: function(){}
            });
            e.preventDefault();
        <% end %>

        
    });


</script>

<!--Modal -->
<div class="modal" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><center>Novo plano de auditoria</center></h4>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-bottom:-20px">
          <div class="col-xs-12">
            <%= form_for @plano do |f| %>
                <div class="row">


                    <div class="col-sm-10">
                      <%= f.text_field :nome, required: true, class: "form-control", placeholder: "Nome do plano...", autofocus: true %>
                    </div>

                    <div class="col-sm-2">
                      <%= f.text_field :prazo, required: true, class: "form-control", placeholder: "Prazo...", autofocus: true %>
                    </div>


                </div>

                <div class="spacer-20"></div>

                <div class="row">

                  <div class="col-sm-12">
                    <%= f.select :encerrado, [['Em andamento', false], ['Finalizado', true]], {}, { :class => "select2" } %>
                  </div>
                </div>

                <div class="spacer-20"></div>

                 <div class="row">

                  <div class="col-sm-12">
                  <select class="select2" multiple name="planoauditoria[funcionario_ids][]"  id="planoauditoria[funcionario_ids][]" placeholder="Destinatários..">
                    <%@funcionarios.each do |u| %>
                          <option value="<%=u.id%>"><%=u.nome%></option>
                    <%end%>
                  </select>



                  </div>
                </div>

                
                <div class="spacer-20"></div>

                 <div class="row">
                  
                  <div class="col-sm-12">
                     <%= f.text_field :ano, required: true, class: 'form-control', placeholder: 'Digite o ano do plano...', maxlength: '4'  %>
                    
                  </div>
                </div>




            <br><br>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
            <button class="btn btn-primary" type="submit"><i class="fa fa-inverse fa-check"></i> Salvar</button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div id="container" class="clearfix">


<%=render 'shared/lateral'%>


<div id="main" class="clearfix">

<header id="header-main">
  <div class="header-main-top">
    <div class="pull-left">
      <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
    </div>
    <div class="pull-right">

      <a href="#" id="responsive-menu-trigger">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <div class="header-main-bottom">
    <div class="pull-left">
      <ul class="breadcrumb">
        <li><a href="<%=root_path%>">Início</a></li>
        <li class="active">Planos de Auditorias</li>
      </ul>
    </div>
    <%=render 'shared/versao'%>
  </div>
</header>

<div id="content" class="clearfix">


<header id="header-sec">
  <div class="inner-padding">
    <div class="pull-left">
      <h2>Planos de auditorias</h2>
    </div>
    <div class="pull-right">
    </div>
  </div>
</header>



<div class="window">
<div class="actionbar">
  <div class="pull-left">
    <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
     <%= link_to :back, class: "btn btn-default" do %>
        <i class="fa fa-arrow-left "></i>&nbsp;Voltar
      <% end %>

    <%
       if session[:grupo] == 'Administradores'
    %>
    <a href="#" class="btn" id="modal-update-trigger">
      <i class="fa fa-plus-circle"></i>&nbsp;  Incluir
    </a>
    <%end%>
  </div>



</div>

<div class="inner-padding">


<% if @planosauditorias.present? %>
      <table class="table col-md-12" id="tablesorting-1">
        <thead class="">
        <tr>
          <th class="col-md-4">Plano</th>
          <th class="filter-select filter-exact col-md-2" data-placeholder="Todos">Status</th>
          <th class="col-md-2">Ano do plano</th>
          <th class="col-md-2">Opções</th>
        </tr>
        </thead>
        <tbody>
        <% @planosauditorias.each do |p| %>
            <tr>
              <td><%= p.nome %></td>
              <td>  <center>
                     <% if p.encerrado %>
                        Finalizado
                     <%else%>
                        Em andamento
                     <%end%>
                    </center>
              </td>
              <td><center><%= p.ano%></center></td>
              

              <td>
                <center>


                  <a href="auditorias,plano,<%=p.id%>" class="btn-less tooltip-top" id="deletar" title="auditorias"> <i class="fa fa-calendar"></i> </a>

                  <%if session[:grupo] == 'Administradores'%>


                  <%= link_to atualizar_planoauditoria_path(p), class: "btn-less tooltip-top", id: "deletar", title: "Atualizar" do %>
                      <i class="fa fa-pencil"></i>
                  <% end %>

                      <%= link_to p, method: :delete, data: { confirm: 'Tem Certeza?' }, class: "btn-less tooltip-top", id: "deletar", title: "Apagar" do %>
                          <i class="fa fa-trash-o"></i>
                      <% end %>

                      <%end%>






                </center>
              </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4" class="pager form-horizontal">
            <button class="btn first"><i class="fa fa-step-backward"></i></button>
            <button class="btn prev"><i class="fa fa-arrow-left"></i></button>
            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
            <button class="btn next"><i class="fa fa-arrow-right"></i></button>
            <button class="btn last"><i class="fa fa-step-forward"></i></button>
            <select class="pagesize input-xs" title="Select page size">
              <option selected="selected" value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
            </select>
            <select class="pagenum input-xs" title="Select page number"></select>
          </td>
        </tr>
        </tfoot>
      </table>

<% else %>
  <div class="alert alert-block alert-inline-top alert-dismissable">
                        <h4>Nenhum plano de auditoria disponível, <a href="#modal-update" data-toggle="modal">clique aqui</a> para cadastrar um novo.</h4>
                        
                    </div> 
<% end %>

  




</div>
</div>


  <%= render 'shared/rodape'%>
</div><!-- End #content -->
</div><!-- End #main -->
</div><!-- End #container -->


