<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @planoauditoria.nome %>
</p>

<p>
  <strong>Encerrado:</strong>
  <%= @planoauditoria.encerrado %>
</p>

<p>
  <strong>Prazo:</strong>
  <%= @planoauditoria.prazo %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @planoauditoria.ano %>
</p>

<%= link_to 'Edit', edit_planoauditoria_path(@planoauditoria) %> |
<%= link_to 'Back', planosauditorias_path %>
