<%
   hoje = Time.now

   limite_linha = 7

   case hoje.strftime("%B")
        when "January"
            mes = "Janeiro"
        when "February"
            mes = "Fevereiro"
        when "March"
            mes = "Março"
        when "April"
            mes = "Abril"
        when "May"
            mes = "Maio"
        when "June"
            mes = "Junho"
        when "July"
            mes = "Julho"
        when "August"
            mes = "Agosto"
        when "September"
            mes = "Setembro"
        when "October"
            mes = "Outubro"
        when "November"
            mes = "Novembro"
        when "December"
            mes = "Dezembro"
        else
            mes = nil
   end


   calendario = []

   6.times do
        calendario << []
   end

   mes_anterior                      = hoje.last_month
   mes_anterior                      = mes_anterior.beginning_of_month
   ultimo_dia_mes_anterior           = mes_anterior.end_of_month.strftime("%d")
   ultima_dia_da_semana_mes_anterior = mes_anterior.end_of_month.strftime("%a")





%>




<div class="sidebar-module">
                <div class="csscalendar-mini">	
                    <table>
                        <caption><%=mes%> <%=hoje.strftime("%G")%></caption>
                        <thead>
                            <tr>
                                <th>Seg</th>
                                <th>Ter</th>
                                <th>Qua</th>
                                <th>Qui</th>
                                <th>Sex</th>
                                <th>Sáb</th>
                                <th>Dom</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td class="off"><a href="#">23</a></td>
                                <td class="off"><a href="#">24</a></td>
                                <td class="off"><a href="#">25</a></td>
                                <td class="off"><a href="#">26</a></td>
                                <td class="off"><a href="#">27</a></td>
                                <td class="off"><a href="#">28</a></td>
                                <td><a href="#">1</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">2</a></td>
                                <td><a href="#">3</a></td>
                                <td class="cal-app"><a href="#" class="tooltip-top" title="12:05 - Auditoria">4</a></td>
                                <td><a href="#">5</a></td>
                                <td><a href="#">6</a></td>
                                <td><a href="#">7</a></td>
                                <td><a href="#">8</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">9</a></td>
                                <td  class="active"><a href="#">10</a></td>
                                <td><a href="#">11</a></td>
                                <td><a href="#">12</a></td>
                                <td><a href="#">13</a></td>
                                <td><a href="#">14</a></td>
                                <td><a href="#">15</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">16</a></td>
                                <td><a href="#">17</a></td>
                                <td><a href="#">18</a></td>
                                <td><a href="#">19</a></td>
                                <td class="cal-app"><a href="#" class="tooltip-top" title="16:15 - Auditoria">20</a></td>
                                <td><a href="#">21</a></td>
                                <td><a href="#">22</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">23</a></td>
                                <td><a href="#">24</a></td>
                                <td><a href="#">25</a></td>
                                <td><a href="#">26</a></td>
                                <td><a href="#">27</a></td>
                                <td><a href="#">28</a></td>
                                <td><a href="#">29</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">30</a></td>
                                <td><a href="#">31</a></td>
                                <td class="off"><a href="#">1</a></td>
                                <td class="off"><a href="#">2</a></td>
                                <td class="off"><a href="#">3</a></td>
                                <td class="off"><a href="#">4</a></td>
                                <td class="off"><a href="#">5</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- End .csscalendar-mini -->  
            	<div class="spacer-40"></div> 
            	
               
            </div><!-- End .sidebar-module --> 