<aside id="sidebar-main" class="sidebar">

        	<div class="sidebar-logo">
            	<a href="#" id="logo-big"><h1>AMCEL - DMAST</h1><h2></h2></a>
            </div>

            <div class="sidebar-module">
                <div class="sidebar-profile">
                    <img src="<%=current_user.photo%>" alt="" class="avatar"/>
                    <ul class="sidebar-profile-list">
                        <li><h3><%=current_user.name %></h3></li>
                        <li><a href="http://webmail.amcel.com.br" target="_blank">E-Mail</a> | <a href="/sair">Sair</a></li>
                    </ul>
                </div>
            </div>

            <div class="sidebar-line"></div>

            <ul class="ext-tabs-sidebar">
                <li class="active">
                    <a href="#sidebar-tab-1"><i class="fa fa-bars"></i> Menu</a>
                </li>
                <li>
                    <a href="#sidebar-tab-2" id="tab_ajuda"><i class="fa fa-question-circle"></i> Ajuda</a>
                </li>
            </ul><!-- End .ext-tabs-sidebar -->
            <div class="tab-content">
                <%= render 'shared/sidebar'%>
            </div><!-- End .tab-content -->

            <div class="sidebar-line"></div>



            <div class="sidebar-line"></div>



        </aside><!-- End aside -->
