<div class="spacer-30"></div>
<footer id="footer-main" class="footer-sticky">
  <div class="footer-main-inner">
    <div class="pull-left">
        <p>
          <img src="/Content/images/db.png"> (<%= @db_driver %>) <b> <%=@db_name%></b> |
          <img src="/Content/images/user.png"> Logado como: <b><%= current_user.email %></b>
        </p>
    </div>
    <div class="pull-right">
      <div class="dropup" id="ext-dropdown-chat">
      </div>
    </div>
  </div>
</footer>