<div id="sidebar-tab-1" class="tab-pane active clearfix">


  <div class="sidebar-module">
    <nav class="sidebar-nav-v2">
      <ul class="menu">


        <li class="page-arrow" id="menu-principal">
          <a href="/"><i class="fa fa-home"></i> Início </a>
        </li>

        <li id="menu-notificacao">
          <%if @qtd_notificacoes_pendentes > 0%>
              <a href="/notificacoes/listar/"><i class="fa fa-bell"></i> Notificações<span class="indicator-dot"><%= @qtd_notificacoes_pendentes <= 20 ? @qtd_notificacoes_pendentes : "+20" %></span></a>
          <%else%>
              <a href="/notificacoes/listar/"><i class="fa fa-bell"></i> Notificações</a>
          <%end%>
        </li>

        <li class="menu-documentos">
          <a href="#"><i class="fa fa-columns"></i> Normas e Procedimentos <i id="seta-documentos" class="fa fa-caret-left pull-right"></i></a>

          <!-- * sub menu * -->
          <ul>

            <li id="menu-doc-elaboracao">
              <a id="loader1" href="/visualizar-documentos-elaboracao/">Elaboração de documentos</a>
            </li>

            <li id="menu-doc-consenso">
              <a id="loader1" href="/visualizar-documentos-consenso/">Em consenso</a>
            </li>

            <li id="menu-doc-homologacao">
              <a id="loader1" href="/visualizar-documentos-homologacao/">Em homologação</a>
            </li>

            <li id="menu-doc-oficial">
              <a id="loader1" href="/visualizar-documentos-oficial/">Oficiais</a>
            </li>

            <li id="menu-doc-excluido">
              <a id="loader1" href="/documentos-excluidos/">Documentos excluídos</a>
            </li>
          </ul>
        </li>

        <li id="menu-auditoria">
          <a href="#"><i class="fa fa-calendar"></i> Auditorias <i id="seta-auditoria" class="fa fa-caret-left pull-right"></i></a>

          <!-- * sub menu * -->
          <ul>

            <li id="menu-plano-aud">
              <a href="<%=planos_de_auditorias_path%>">Plano de auditoria</a>
            </li>

            <li id="menu-auditoria2" class="" >
              <a href="#" id="menu_aud">Auditorias</a>
            </li>

            <li id="menu-rai">
              <a href="/rais/">RAI</a>
            </li>

            <li id="menu-rac" class="" >
              <a href="/racs/">RAC</a>
            </li>

            <li id="menu-rap" class="" >
              <a href="/raps/">RAP</a>
            </li>

            <li id="menu-demais-racs" class="" >
              <a href="/demais-racs/">Demais RAC's</a>
            </li>
          </ul>
        </li>


        <li id="menu-bibliotecas">
          <a href="#"><i class="fa fa-list-alt"></i> Bibliotecas<i id="seta-bibliotecas"  class="fa fa-caret-left pull-right"></i></a>

          <!-- * sub menu * -->
          <ul>
            <li id="menu-rqa">
              <a href="/rqa/">Incluir RQA</a>
            </li>
            <li id="menu-reunioes">
              <a href="<%= reunioes_path %>/">Ata de Reunião</a>
            </li>

          </ul>
        </li>

        <%if session[:grupo] == 'Administradores' %>

        <li class="seperator"><!-- * seperator line * --></li>

        <li class="menu-label">

          Administração
          <div class="spacer-10"></div>
        </li>

        <li id="menu-cad-apoio" class="">
          <a href="#"><i class="fa fa-folder"></i> Cadastro de apoio<i id="seta-cad-apoio" class="fa fa-caret-left pull-right"></i></a>

          <!-- * sub menu * -->
          <ul>
            <li id="menu-areas" class="">
              <a href="<%= areas_de_atuacao_path%>/">Áreas</a>
            </li>

            <li id="menu-pastas" class="">
              <a href="<%= pastas_path%>/">Pastas</a>
            </li>

            <li id="menu-numeros" class="">
              <a href="<%= numeros_path%>/">Números</a>
            </li>

            <li id="menu-localizacoes" class="">
              <a href="<%= localizacoes_path%>/">Localizações</a>
            </li>
            <li class="seperator"><!-- * seperator line * --></li>
            <li id="menu-tipo-ata" class="">
              <a href="<%= tipos_de_atas_path %>/">Tipos de ata de reunião</a>
            </li>

            <li id="menu-tipo-n-conform" class="">
              <a href="<%= tipos_de_ncs_path %>/">Tipos de não Conformidade</a>
            </li>

            <li id="menu-tipo-doc" class="">
              <a href="<%= tipos_de_docs_path%>/">Tipos de Documento</a>
            </li>
            <li class="seperator"><!-- * seperator line * --></li>

            <li id="menu-consensadores" class="">
              <a href="/grupo-consensadores/">Consensadores</a>
            </li>

            <li id="menu-homologadores" class="">
              <a href="/grupo-homologadores/">Homologadores</a>
            </li>

          </ul>
        </li>
            <li id="dmenu-rqa-admin">
              <a href="/rqas/"><i class="fa  fa-clipboard"></i> RQA </a>
            </li>

            <li id="menu-ajuda">
              <a href="/gerenciar-ajuda/"><i class="fa fa-book"></i> Ajuda </a>
            </li>

            <li id="menu-ajuda">
              <a href="/backup/" id="open-loader-1"><i class="fa fa-cloud-download "></i> Backup </a>
            </li>

        <li id="menu-funcionarios">
          <a href="<%= lista_de_funcionarios_path%>/"><i class="fa fa-user"></i> Funcionários</a>
        </li>
        <li id="menu-grupos">
          <a href="<%= grupos_de_usuarios_path%>/"><i class="fa fa-group "></i> Grupos de acesso</a>
        </li>

            <%end%>
      </ul>
    </nav>
  </div>
</div>

<div id="sidebar-tab-2" class="tab-pane clearfix">
  <div class="sidebar-module">
    <nav class="sidebar-nav-v2">
      <ul class="menu">
        <div class="inner-padding">
            <input type="text" id="id_search" class="form-control" placeholder="O que você procura?"/>
            <div class="spacer-10"></div>
            <div id="content_helper"></div>
        </div>
      </ul>
    </nav>
  </div>
</div>
