 <div class="pull-right">
  <p><a data-toggle="modal" data-target="#myModal" href="#">Versão 2015.02.3223</a></p>
 </div>

 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel"><center>AMCEL - DMAST</center></h4>
       </div>
       <div class="modal-body">
          <b>BUILD:</b> 2015.02.3223 <br>
          Desenvolvido por T.I AMCEL
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-fw">&#xf00d</i>
                       
 Fechar</button>
       </div>
     </div>
   </div>
 </div>