

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-grupos").addClass("page-arrow");
    });


</script>




<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li class="active">Grupos</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Grupos de usuários</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>

          </div>



        </div>

        <div class="inner-padding">


          <% if @grupos.present? %>
              <table class="table col-md-12" id="tablesorting-1">
                <thead class="">
                <tr>
                  <th class="col-md-1">ID</th>
                  <th class="col-md-6">Grupo</th>
                  <th class="col-md-2">Dt. Cadastro</th>
                  <th class="col-md-2">Dt. Alteração</th>

                </tr>
                </thead>
                <tbody>
                <% @grupos.each do |g| %>
                    <tr>
                      <td><%= g.id %></td>
                      <td><%= g.descricao %></td>
                      <td><center><%= formata_dt g.created_at %></center></td>
                      <td><center><%= formata_dt g.updated_at %></center></td>


                    </tr>
                <% end %>
                </tbody>
                <tfoot>
                <tr>
                  <td colspan="4" class="pager form-horizontal">
                    <button class="btn first"><i class="fa fa-step-backward"></i></button>
                    <button class="btn prev"><i class="fa fa-arrow-left"></i></button>
                    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                    <button class="btn next"><i class="fa fa-arrow-right"></i></button>
                    <button class="btn last"><i class="fa fa-step-forward"></i></button>
                    <select class="pagesize input-xs" title="Select page size">
                      <option selected="selected" value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                    </select>
                    <select class="pagenum input-xs" title="Select page number"></select>
                  </td>
                </tr>
                </tfoot>
              </table>

          <% else %>
              <div class="alert alert-block alert-inline-top alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Nenhuma área encontrada</h4>

              </div>
          <% end %>






        </div>
      </div>


      <%= render 'shared/rodape'%>
    </div><!-- End #content -->
  </div><!-- End #main -->
</div><!-- End #container -->


