<script type="application/javascript">

    $(document).ready(function () {
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-principal").addClass("page-arrow");

        $("#btn-nots").click(function () {
            $.get("/notificacoes/visto", null);
        });
    });

    <% if notice.present? %>
    $.e_notify.growl({
        title: 'Sucesso!',
        text: '<%=notice%>',
        position: 'right-bottom',
        delay: 0,
        time: 5000,
        speed: 500,
        effect: 'slidein',
        sticky: false,
        closable: false,
        maxOpen: 3,
        className: '',
        onShow: function () {
        },
        onHide: function () {
        }
    });
    e.preventDefault();
    <% end %>


</script>


<div id="container" class="clearfix">


  <%= render 'shared/lateral' %>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <!-- End #header-main-top -->
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li class="active">Início</li>
          </ul>
          <!-- End .breadcrumb -->
        </div>
        <%= render 'shared/versao' %>
      </div>
      <!-- End #header-main-bottom -->
    </header>
    <!-- End #header-main -->

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
                  <h3><b>Página inicial</b></h3>
          </div>
          <div class="pull-right">
            <div class="dropdown">
              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell"></i>
                <%if @qtd_notificacoes_pendentes > 0%>
                    <span class="indicator-dot"><%=@qtd_notificacoes_pendentes <= 20 ? @qtd_notificacoes_pendentes : "+20"%></span>
                <%end%>
              </a>
              <div role="menu" class="dropdown-menu pull-right ext-dropdown-inbox">
                <div class="ext-dropdown-header">
                  <i class="fa fa-bell"></i>
                  <h5>Notificações</h5>
                  <span class="indicator-dot"><%= @qtd_notificacoes_pendentes <= 20 ? @qtd_notificacoes_pendentes : "+20" %></span>
                </div>
                <div class="ext-dropdown-comments-content">

                  <% if @ultimas_tres_notificacoes.present? %>
                      <% @ultimas_tres_notificacoes.each do |n| %>
                          <div>
                            <img src="<%=n.user.photo%>" alt="" class="avatar"/>
                            <a href="/visualizar-notificacao-<%=n.id%>"><h6><%=n.descricao%></h6></a>
                            <ul>
                              <li><span>Usuário:</span> <a href="#"><%=n.user.name%></a></li>
                              <li><span>Data:</span> <%=formata_dt n.created_at%></li>
                            </ul>
                          </div>
                      <% end %>
                <% else %>
                      <center>
                  Nenhum aviso pendente
                      </center>
                <% end %>


                  <span>Nenhuma aviso pendente</span>
                </div>
                <div class="ext-dropdown-footer">
                  <p>Notificações</p>
                  <a href="/notificacoes/listar" class="btn btn-default btn-sm"><i class="fa fa-caret-right"></i></a>
                </div>
              </div>
            </div><!-- End .dropdown -->

          </div>
        </div>
      </header>

      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
          </div>

        </div>
 <!-- bolas -->


        <div class="inner-padding">



          <div class="row">
            <div class="col-sm-12">

              <% @auditorias.each do |a| %>
                  <div class="project-block">
                    <header>
                      <h3><a href="/visualizar-auditoria-<%=a.id%>"><%= a.numero %></a></h3>
                      <p class="text-muted"><small><%= a.planoauditoria.nome %></small></p>
                    </header>
                    <ul>
                      <li>
                        <div class="pull-left">
                          Dt prevista:
                        </div>
                        <div class="pull-right">
                          <%= formata_dt a.data_prevista %>
                        </div>
                      </li>
                      <li>
                        <div class="pull-left">
                          Horário:
                        </div>
                        <div class="pull-right">
                          <%= a.hora_prevista %>
                        </div>
                      </li>
                      <li>
                        <div class="pull-left">
                          Duração:
                        </div>
                        <div class="pull-right">
                          <%= a.duracao_prevista %>
                        </div>
                      </li>
                      <li>
                        <div class="pull-left">
                          Plano de auditoria:
                        </div>
                        <div class="pull-right">
                          <a href="#"><%= a.planoauditoria.id %></a>
                        </div>
                      </li>
                    </ul>
                    <footer>
                      <div class="pull-left">
                        Status:
                      </div>
                      <div class="pull-right">
                        <%
                           case a.status
                             when "Em andamento"
                               label = "success"
                             when "Agendada"
                               label = "warning"
                             else
                               label = "primary"
                           end
                        %>
                        <span class="label label-<%= label %>"><%= a.status %></span>
                      </div>
                    </footer>
                  </div>
                  <!-- End .project-block -->

              <% end %>
            </div>

            <!-- Start grid -->


          </div>
        </div>


      </div>
      <!-- End .window -->


      <%= render 'shared/rodape' %>
    </div>
    <!-- End #content -->
  </div>
  <!-- End #main -->
</div><!-- End #container -->
