

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-bibliotecas").addClass("menu-open");
        $("#seta-rqa").removeClass("fa-caret-left");
        $("#seta-rqa").addClass("fa-caret-down");
        $("#menu-rqa").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>

        var substringMatcher = function(strs) {
            return function findMatches(q, cb) {
                var matches, substrRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {
                        // the typeahead jQuery plugin expects suggestions to a
                        // JavaScript object, refer to typeahead docs for more info
                        matches.push({ value: str });
                    }
                });

                cb(matches);
            };
        };








    });


</script>




<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li class="active">Relato de quase acidente</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Relato de quase acidente</h2>
          </div>
          <div class="pull-right">
          </div>
        </div>
      </header>

      <form method="post" action="/salva-rqa">

        <div class="window">
          <div class="actionbar">
            <div class="pull-left">
              <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
              <a href="#" class="btn" onclick="window.history.go(-1); return false;">
                <i class="fa fa-arrow-left "></i>&nbsp;Voltar
              </a>
              <button type="submit" class="btn">
                <i class="fa fa-check"></i>&nbsp;  Salvar
              </button>
            </div>
          </div>
          <div class="inner-padding">
            <fieldset>
              <legend>Informações do quase acidente</legend>

              <div class="row">
                <div class="col-sm-12">
                  <input type="checkbox" name="ai"> Ato inseguro
                  <input type="checkbox" name="ci"> Condição insegura
                </div>
              </div>

              <div class="spacer-10"></div>
              <hr>
              <div class="spacer-10"></div>

              <div class="row">
                <div class="col-sm-3">
                  <label>Filial: <span class="asterisk">*</span></label>
                </div>
                <div class="col-sm-9">
                  <select name="filial" class="select2">

                   <option value="Santana"> Santana</option>
                    <option value="Porto Grande"> Porto Grande`</option>
                    <option value="Tartarugualzinho"> Tartarugualzinho</option>

                  </select>
                 </div>
              </div>

              <div class="spacer-10"></div>

              <div class="row">
                <div class="col-sm-3">
                  <label>Área observada: <span class="asterisk">*</span></label>
                </div>
                <div class="col-sm-9">
                  <select required name="area_id" class="select2">
                    <% @areas.each do |a| %>
                        <option value="<%= a.id %>"> <%=a.descricao%></option>
                    <% end %>
                  </select>
                  
                </div>
              </div>


              <div class="spacer-10"></div>
              <div class="row">
                <div class="col-sm-3">
                  <label>Data: <span class="asterisk">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input required placeholder="Data do ocorrido" class="form-control" id="auditoria_data_prevista" name="data" type="date" data-mask="99/99/9999" />

                </div>
              </div>


              <div class="spacer-10"></div>

              <div class="row">
                <div class="col-sm-3">
                  <label>Descrição: <span class="asterisk">*</span></label>
                </div>
                <div class="col-sm-9">
                  <textarea name="descricao" placeholder="Descrição" required="true" class="form-control" ></textarea>
                </div>
              </div>

              <div class="spacer-10"></div>

              <div class="row">
                <div class="col-sm-3">
                  <label>Ação de bloqueio (proposta/sugestão): <span class="asterisk">*</span></label>
                </div>
                <div class="col-sm-9">
                  <textarea name="proposta" placeholder="Sugestão" required="true" class="form-control" ></textarea>
                </div>
              </div>

              <div class="spacer-10"></div>

              <div class="row">
                <div class="col-sm-3">
                  <label>Responsável: <span class="asterisk">*</span></label></label>
                </div>
                <div class="col-sm-9">
                  <input type="text" required placeholder="Responsável" name="responsavel" class="form-control" />
                </div>
              </div>

              <div class="spacer-10"></div>



            </fieldset>
          </div>
        </div>
      </form>
      <%= render 'shared/rodape'%>
    </div>
  </div>
</div>


