<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-rqa-admin").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>


<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li> <a href="<%=root_path%>">Início</a> </li>
            <li class="active">Relatório de quase acidente </li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Relatório de quase acidente</h2>
          </div>
          <div class="pull-right">
          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="#" class="btn" onclick="window.history.go(-1); return false;">
              <i class="fa fa-arrow-left "></i>&nbsp;Voltar
            </a>
          </div>
        </div>

        <div class="inner-padding">
          <% if @rqas.present? %>
              <table class="table col-md-12" id="tablesorting-1">
                <thead class="">
                <tr>
                  <th class="filter-select filter-exact  col-md-5">Filial</th>
                  <th class="filter-select filter-exact  col-md-5">Área</th>
                  <th class="col-md-2 filter-select filter-exact">Data</th>
                  <th class="col-md-3">Relato</th>
                  <th class="col-md-3">Proposta</th>
                  <th class="col-md-3">Responsável</th>
                  <th class="col-md-2">Data registro</th>
                </tr>
                </thead>
                <tbody>



                <% @rqas.each do |r| %>
                    <tr>
                      <td>
                        <center>
                          <%= r.filial %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= r.area.descricao %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= formata_dt(r.dt) %>
                        </center>
                      </td>

                      <td style="text-align: center;"><%=r.descricao%></td>
                      <td style="text-align: center;"><%=r.proposta%></td>
                      <td style="text-align: center;"><%=r.responsavel%></td>
                      <td style="text-align: center;"><%=formata_dt r.created_at%></td>

                    </tr>
                <% end %>

                </tbody>
                <tfoot>
                <tr>
                  <td colspan="7" class="pager form-horizontal">
                    <button class="btn first"><i class="fa fa-step-backward"></i></button>
                    <button class="btn prev"><i class="fa fa-arrow-left"></i></button>
                    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                    <button class="btn next"><i class="fa fa-arrow-right"></i></button>
                    <button class="btn last"><i class="fa fa-step-forward"></i></button>
                    <select class="pagesize input-xs" title="Select page size">
                      <option selected="selected" value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                    </select>
                    <select class="pagenum input-xs" title="Select page number"></select>
                  </td>
                </tr>
                </tfoot>
              </table>
          <% else %>
              <div class="alert alert-block alert-inline-top alert-dismissable">
                <h4>Nenhum RQA encontrado</h4>
              </div>
          <% end %>
        </div>



      </div>
    </div>


    <%= render 'shared/rodape'%>
  </div><!-- End #content -->
</div><!-- End #main -->
</div><!-- End #container -->
