


<div class="col-sm-12">
  <h4> <span class="text-muted"></span></h4>
  <div class="spacer-20"></div>


  <table class="table table-responsive table-condensed">

    <% @reuniao.anexo_reuniaos.each do |anexo| %>
        <tr>
          <td class="col-sm-10">
            <h3>
              <i class="fa fa-file-text"></i>
              <a href="#"><%=anexo.descricao%></a>
            </h3>
            <div class="article-meta">
              <div class="article-date">
                <%= formata_dt anexo.created_at%>
              </div>
              <span>-</span>
              <div class="article-category">
                <a href="#"><%=anexo.user.name%></a>
              </div>
              <span>-</span>
              <div class="article-comments">
                <a href="#"><%= anexo.downloads %> download(s)</a>
              </div>
            </div>
          </td>
          <td class="col-sm-2">
            <div class="spacer-10"></div>
            <a href="/download-anexo-<%= anexo.id %>" class="btn btn-default">Download</a>
          </td>
        </tr>
    <% end %>

  </table>

</div>
