

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-bibliotecas").addClass("menu-open");
        $("#seta-bibliotecas").removeClass("fa-caret-left");
        $("#seta-bibliotecas").addClass("fa-caret-down");
        $("#menu-reunioes").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>




<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="<%=reunioes_path%>">Ata Reunião</a></li>
            <li class="active">Nova ata</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Ata de reunião</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->

    <%= form_for(@reuniao) do |f| %>

      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="#" class="btn" onclick="window.history.go(-1); return false;">
              <i class="fa fa-arrow-left "></i>&nbsp;Voltar
            </a>
            <button type="submit" class="btn">
              <i class="fa fa-check"></i>&nbsp;  Salvar
            </button>

          </div>



        </div>

        <div class="inner-padding">





            <!-- * data-asf-time = seconds, data-asf-expireafter = minutes * -->
            <fieldset>
              <legend>Ata de reunião</legend>
              <div class="row">
                <div class="col-sm-3">
                  <label>Local: <span class="asterisk">*</span></label>
                </div>
                <div class="col-sm-9">
                  <%= f.text_field :local_reuniao, required: true, "aria-required" => true, class: "form-control", placeholder: "Local..." %>
                </div>
              </div>
              <div class="spacer-10"></div>
              <div class="row">
                <div class="col-sm-3">
                  <label>Assunto: <span class="asterisk">*</span></label>
                </div>
                <div class="col-sm-9">
                  <%= f.text_field :assunto, required: true, "aria-required" => true, class: "form-control", placeholder: "Assunto da ata..." %>
                </div>
              </div>

              <div class="spacer-10"></div>
              <div class="row">
                <div class="col-sm-3">
                  <label>Tipo de ata: <span class="asterisk">*</span></label>
                </div>
                <div class="col-sm-9">
                  <%= f.select(:TipoAta_id, @tipo.collect {|t| [t.descricao, t.id]}, {}, {class: "select2"}) %>
                </div>
              </div>
              <div class="spacer-10"></div>
              <div class="row">
                <div class="col-sm-3">
                  <label>Data:</label>
                </div>
                <div class="col-sm-9">

                      <input required placeholder="Data da reunião" id="reuniao_data_reuniao" name="reuniao[data_reuniao]" type="text" data-mask="99/99/9999" class="form-control" />
                </div>


              </div>

              <div class="spacer-10"></div>
              <div class="row">
                <div class="col-sm-3">
                  <label>Área de atuação: <span class="asterisk">*</span></label>
                </div>
                <div class="col-sm-9">
                  <%= f.select(:area_id, @areas.collect {|area| [area.descricao, area.id]}, {}, {class: "select2"}) %>
                </div>




              </div>

              <div class="spacer-10"></div>

              <div class="row">

                <div class="col-sm-3">
                  <label>Participantes: <span class="asterisk">*</span></label>
                </div>

                <div class="col-sm-9">
                  <select class="select2" multiple name="reuniao[funcionario_ids][]"  id="reuniao[funcionario_ids][]" placeholder="Participantes.." required>
                    <%Funcionario.where(ativo: true).each do |u| %>
                        <option value="<%=u.id%>"><%=u.nome%></option>
                    <%end%>
                  </select>



                </div>
              </div>

              <div class="spacer-10"></div>

              <div class="row">
                <div class="col-sm-3">
                  <label>Descrição: <span class="asteriks">*</span> </label>
                </div>
                <div class="col-sm-9">
                  <%= f.text_area :descricao, class: "form-control", rows: 200, placeholder: "Informações adicionais...", required: true, :class => "tinymce" %>

                  <%= tinymce %>
                </div>
              </div>
            </fieldset>



          <%= f.hidden_field :status, value: "Agendada" %>



        </div>
      </div>
        <% end %>

      <%= render 'shared/rodape'%>
    </div><!-- End #content -->
  </div><!-- End #main -->
</div><!-- End #container -->
