

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-bibliotecas").addClass("menu-open");
        $("#seta-bibliotecas").removeClass("fa-caret-left");
        $("#seta-bibliotecas").addClass("fa-caret-down");
        $("#menu-reunioes").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>




<div id="container" class="clearfix">


<%=render 'shared/lateral'%>


<div id="main" class="clearfix">

<header id="header-main">
  <div class="header-main-top">
    <div class="pull-left">
      <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
    </div>
    <div class="pull-right">

      <a href="#" id="responsive-menu-trigger">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <div class="header-main-bottom">
    <div class="pull-left">
      <ul class="breadcrumb">
        <li><a href="<%=root_path%>">Início</a></li>
        <li><a href="<%=reunioes_path%>">Ata Reunião</a></li>
        <li class="active">Visualizar ata de reunião</li>
      </ul>
    </div>
    <%=render 'shared/versao'%>
  </div>
</header>

<div id="content" class="clearfix">


<header id="header-sec">
  <div class="inner-padding">
    <div class="pull-left">
      <h2>Ata de Reunião</h2>
    </div>
    <div class="pull-right">



    </div>
  </div><!-- End .inner-padding -->
</header><!-- End #header-sec -->



    <div class="window">
    <div class="actionbar">
      <div class="pull-left">
        <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
        <a href="/reunioes" class="btn" >
          <i class="fa fa-arrow-left "></i>&nbsp;Voltar
        </a>

        <% if @reuniao.status != "Encerrada" %>
        <a href="/encerrar-reuniao-<%=@reuniao.id%>" class="btn">
          <i class="fa fa-check "></i>&nbsp;Encerrar
        </a>
        <% end %>
      </div>



    </div>

    <div class="inner-padding">

    <div class="row">

    <div class="col-md-12">
    <div class="widget">
    <header>
     <h2 style="text-align: center"><%= @reuniao.assunto %></h2>
    </header>
    <div>
    <ul class="ext-tabs">
      <li class="active">
        <a href="#content-tab-50-a">Informações e tópicos</a>
      </li>
      <li>
        <a href="#content-tab-50-c">Uploads/Anexos</a>
      </li>


    </ul>
    <div class="tab-content">
    <div id="content-tab-50-a" class="tab-pane active">
      <div class="inner-padding">
        <div class="col-sm-12">
          <div class="inner-padding">
            <div class="client-block">
              <div class="avatar">
                <img src="/Content/images/logo.png" alt=""/>
              </div>
              <ul class="client-block-list">
                <li>

                  <h3><b><%= formata_dt @reuniao.data_reuniao%></b></h3>

                </li>
                <li>
                  <p>
                    <div class="alert bs-customizer-alert">
                      <%=@reuniao.assunto%>
                    </div>

                  </p>
                </li>

              </ul>

              <table class="table table-bordered table-condensed">
                <thead>
                <tr >
                  <th scope="col" class="col-sm-2"></th>
                  <th scope="col">Informação</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><b>Área:</b></td>
                  <td><%= @reuniao.area.descricao %></td>

                </tr>
                <tr>
                  <td><b>Tipo de ata:</b></td>
                  <td><%= @reuniao.TipoAta.descricao %></td>

                </tr>
                <tr>
                  <td><b>Local:</b></td>
                  <td><%= @reuniao.local_reuniao %></td>

                </tr>
                <tr>
                  <td><b>Status:</b></td>
                  <td><%= @reuniao.status %></td>
                </tr>
                <tr>
                  <td><b>Participantes:</b></td>
                  <td>

                    <% @reuniao.funcionarios.each do |u| %>
                        <% if @reuniao.funcionarios.count > 1 %>
                            <%= u.email %>;
                        <% else %>
                            <%= u.email %>
                        <% end %>
                    <% end %>
                  </td>
                </tr>

                <tr>
                  <td><b>Informações:</b></td>
                  <td>
                    <%= @reuniao.descricao %>
                  </td>
                </tr>
                </tbody>
              </table>

            </div><!-- End .client-block -->
          </div>
        </div>

        <hr>



      </div>
    </div>

    <div id="content-tab-50-c" class="tab-pane">
      <div class="inner-padding">
        <div class="window">
          <div class="inner-padding">

            <button onclick="$(window.document.location).attr('href','/anexar-arquivo-na-reuniao-<%=@reuniao.id%>');"  type="button" name="upload">Enviar anexo</button>

            <div class="row">
                <% if @reuniao.anexo_reuniaos.present? %>
                    <%= render 'listaanexos' %>
                <% else %>
                    <div class="inner-padding">
                        <div class="alert alert-info">Nenhum anexo disponível.</div>
                    </div>
                <% end %>
            </div>

          </div>
        </div>

      </div><!-- End .tab-content -->
    </div>
    </div><!-- End .widget -->


    </div>
    </div>


<%= render 'shared/rodape'%>
</div><!-- End #content -->
</div><!-- End #main -->
</div><!-- End #container -->
