<%= form_for(@tipo_atum) do |f| %>
  <% if @tipo_atum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_atum.errors.count, "error") %> prohibited this tipo_atum from being saved:</h2>

      <ul>
      <% @tipo_atum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
