

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-cad-apoio").addClass("menu-open");
        $("#seta-cad-apoio").removeClass("fa-caret-left");
        $("#seta-cad-apoio").addClass("fa-caret-down");
        $("#menu-consensadores").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>
    });


</script>




<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="#">Consensadores</a></li>
            <li class="active"><a href="#">Atualizaçao</a></li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Consensadores</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->

        <%= form_for @grupo, url: "/editar-grupo-consenso" do |f| %>
          <%= f.hidden_field :id, value: @grupo.id %>

      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <button type="submit" class="btn"><i class="fa fa-check"></i>&nbsp;  Salvar</button>
          </div>



        </div>

        <div class="inner-padding">
          <div class="col-sm-12">

              <div class="row">
                <fieldset>
                  <legend>Grupo: <%=@grupo.descricao%></legend>

                  <div class="col-sm-12">
                    <%= f.text_field :descricao, class: "form-control", placeholder: "Informe o nome do grupo...", required: true %> <br />
                  </div>

                  <div class="col-sm-12">
                    <select class="select2" multiple name="grp_consensador[funcionario_ids][]"  id="grp_consensador[funcionario_ids][]" placeholder="Selecione os consensadores...">
                      <% @funcionarios.each do |f| %>
                          <% pertence = false %>
                          <% @grupo.funcionarios.each do |funcionario| %>
                              <% pertence = true if funcionario.id == f.id %>
                          <% end %>
                          <% if pertence %>
                              <option selected value="<%=f.id%>"><%=f.nome%></option>
                          <% else %>
                              <option value="<%=f.id%>"><%=f.nome%></option>
                          <% end %>
                      <% end %>
                    </select>
                  </div>
                </fieldset>
              </div>

    </div>
        </div>
      </div>

      <% end %>
      <%= render 'shared/rodape'%>
    </div><!-- End #content -->
  </div><!-- End #main -->
</div><!-- End #container -->
