<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @consensador.email %>
</p>

<%= link_to 'Edit', edit_consensador_path(@consensador) %> |
<%= link_to 'Back', consensadores_path %>
