<h1>DMAST - Notificação de RAC</h1>

<p><strong>Plano de auditoria: </strong><%=@dados[:plano_auditoria]%></p>

<p><strong>Auditoria: </strong><%=@dados[:auditoria]%></p>

<p><strong>Departamento: </strong><%=@dados[:dpto]%></p>

<p><strong>Solicitante: </strong><%= @dados[:solicitante] %></p>

<p><strong>Tipo de não conformidade: </strong><%= @dados[:tp_n_conformidade] %></p>

<p><strong>Não conformidade detectada: </strong><%=@dados[:desc_n_conformdiade]%></p>
