<h1>DMAST - Relato de quase acidente</h1>

<p><strong>Área: </strong><%=@dados[:area]%></p>

<p><strong>Descrição: </strong><%=@dados[:descricao]%></p>

<p><strong>Ato inseguro: </strong><%= @dados[:ai] == true ? "Sim" : "Não" %></p>

<p><strong>Condição insegura: </strong><%= @dados[:ci] == true ? "Sim" : "Não" %></p>

<p><strong>Proposta: </strong><%=@dados[:proposta]%></p>

<p><strong>Responsável: </strong><%=@dados[:responsavel]%></p>

<p><strong>Filial: </strong><%=@dados[:filial]%></p>

<p><strong>Data: </strong><%=@dados[:data]%></p>
