<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @homologador.email %>
</p>

<%= link_to 'Edit', edit_homologador_path(@homologador) %> |
<%= link_to 'Back', homologadores_path %>
