<%= form_for(@tipo_rac) do |f| %>
  <% if @tipo_rac.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_rac.errors.count, "error") %> prohibited this tipo_rac from being saved:</h2>

      <ul>
      <% @tipo_rac.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
