<% if @helps.present? %>
             <table id="table_example">
              <tbody>
                <% @helps.each do |h| %>
                  <tr>
                    <td>
                      <a  href="/helpers/<%=h.id%>"><%=h.titulo %></a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
             </table>
            <% else %>
              Nenhuma ajuda encontrada
            <% end %>