

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-ajuda").addClass("page-arrow");
    });


</script>





<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="/gerenciar-ajuda">Ajuda</a></li>
            <li class="active">Cadastro</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Cadastro de ajuda</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->

      <%= form_for(@helper) do |f| %>

          <div class="window">
            <div class="actionbar">
              <div class="pull-left">
                <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
                <a href="#" class="btn" onclick="window.history.go(-1); return false;">
                  <i class="fa fa-arrow-left "></i>&nbsp;Voltar
                </a>

                <button type="submit" class="btn"><i class="fa fa-check-circle "></i>&nbsp;Salvar</button>

              </div>



            </div>

            <div class="inner-padding">


              <div class="row">
                <div class="col-sm-12">

                  <fieldset>
                    <legend>Ajuda</legend>
                    <div class="row">
                      <div class="col-sm-2">
                        <label>Título: <span class="asterisk">*</span></label>
                      </div>
                      <div class="col-sm-9">
                        <%= f.text_field :titulo, required: true, class: "form-control" %>
                            </div>
                            </div>

                            <div class="spacer-20"></div>

                            <div class="row">
                              <div class="col-sm-2">
                                <label>Versão: <span class="asterisk">*</span></label>
                              </div>
                              <div class="col-sm-9">
                                <%= f.text_field :versao, required: true, class: "form-control" %>
                                    </div>
                                    </div>

                                    <div class="spacer-20"></div>

                                    <div class="row">
                                      <div class="col-sm-2">
                                        <label>Corpo: <span class="asterisk">*</span></label>
                                      </div>
                                      <div class="col-sm-9">
                                        <%= f.text_area :corpo, :class => "tinymce"%>
                                        <%= tinymce %>
                                      </div>
                                    </div>
                                    </fieldset>

                                    </div>
                                    </div>


                        <%= f.hidden_field :user_id, value: current_user.id %>



                                    </div>
                                    </div>

                                <% end %>

                                <%= render 'shared/rodape'%>
                                </div><!-- End #content -->
                                </div><!-- End #main -->
                                </div><!-- End #container -->



