

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-cad-apoio").addClass("menu-open");
        $("#seta-cad-apoio").removeClass("fa-caret-left");
        $("#seta-cad-apoio").addClass("fa-caret-down");
        $("#menu-areas").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>
    });


</script>

<!--Modal -->
<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><center>DMAST - Cadastro de Área de Atuação</center></h4>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-bottom:-20px">
          <div class="col-xs-12">
            <%= form_for @area do |f| %>
                <div class="row">
                  <div class="col-sm-6">
                    <label>Área:</label>
                  </div>
                  <div class="col-sm-12">
                    <%= f.text_field :descricao, required: true, class: "form-control", placeholder: "Digite aqui a área...", autofocus: true %>
                  </div>
                </div>




                <br><br>
                </div>
                </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                  <%= f.submit "Cadastrar", class: "btn btn-success pull-right" do %>
                      <i class="fa fa-search fa-inverse">Cadastrar</i>
                  <% end %>
            <% end %>
            </div>
            </div>
  </div>
</div>



<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li class="active">Áreas</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Áreas de atuação</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="#" class="btn" id="modal-update-trigger">
              <i class="fa fa-plus-circle"></i>&nbsp;  Salvar
            </a>
          </div>



        </div>

        <div class="inner-padding">







        </div>
      </div>



      <footer id="footer-main" class="footer-sticky">
        <div class="footer-main-inner">
          <div class="pull-left">
            <p>Desenvolvido pelo dpto de T.I da AMCEL</p>
          </div>
          <div class="pull-right">

            <div class="dropup" id="ext-dropdown-chat">


            </div><!-- End .dropup -->

          </div>
        </div><!-- End .footer-main-inner -->
      </footer><!-- End #footer-main -->
    </div><!-- End #content -->
  </div><!-- End #main -->
</div><!-- End #container -->



<!-- Lockscreen -->
<div class="lockscreen" id="lockscreen-slider">
  <div class="lockscreen-overlay"></div>
  <div class="lockscreen-modal">
    <img src="<%=current_user.photo%>" alt="" class="lockscreen-avatar"/>
    <div class="lockscreen-placeholder"></div>
  </div>
</div>