<%= form_for(@documento) do |f| %>
  <% if @documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documento.errors.count, "error") %> prohibited this documento from being saved:</h2>

      <ul>
      <% @documento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :modificado_por_id %><br>
    <%= f.text_field :modificado_por_id %>
  </div>
  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :tipoDoc_id %><br>
    <%= f.text_field :tipoDoc_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :texto_doc %><br>
    <%= f.text_area :texto_doc %>
  </div>
  <div class="field">
    <%= f.label :dias_consenso %><br>
    <%= f.number_field :dias_consenso %>
  </div>
  <div class="field">
    <%= f.label :dias_homologar %><br>
    <%= f.number_field :dias_homologar %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.text_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :dt_envio_consenso %><br>
    <%= f.datetime_select :dt_envio_consenso %>
  </div>
  <div class="field">
    <%= f.label :dt_envio_homologacao %><br>
    <%= f.datetime_select :dt_envio_homologacao %>
  </div>
  <div class="field">
    <%= f.label :sigla %><br>
    <%= f.text_field :sigla %>
  </div>
  <div class="field">
    <%= f.label :nome_original %><br>
    <%= f.text_field :nome_original %>
  </div>
  <div class="field">
    <%= f.label :versao %><br>
    <%= f.text_field :versao %>
  </div>
  <div class="field">
    <%= f.label :versao_anterior %><br>
    <%= f.text_field :versao_anterior %>
  </div>
  <div class="field">
    <%= f.label :id_doc_anterior %><br>
    <%= f.number_field :id_doc_anterior %>
  </div>
  <div class="field">
    <%= f.label :link_versao_anterior %><br>
    <%= f.text_field :link_versao_anterior %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
