<table class="table col-md-12" id="tablesorting-1">
  <thead class="">
  <tr>
    <th class="col-md-4">Título</th>
    <th class="col-md-4">Situação</th>

    <th class="col-md-2">Criado em</th>
    <th class="col-md-2">Opções</th>
  </tr>
  </thead>
  <tbody>
  <% @documentos.each do |r| %>
      <tr>
        <td>
          <%=r.titulo%>
        </td>
        <td style="text-align: center;"><%= r.status%></td>

        <td style="text-align: center;"><%= formata_dt r.created_at%></td>

        <td>
          <div style="text-align: center;">


            <%if session[:grupo] == 'Administradores'%>
                <%= link_to edit_documento_path(r), class: "btn-less tooltip-top", id: "deletar", title: "Visualizar" do %>
                    <i class="fa fa-eye"></i>
                <% end %>
                <%= link_to r, method: :delete, data: { confirm: 'Tem Certeza?' }, class: "btn-less tooltip-top", id: "deletar", title: "Apagar" do %>
                    <i class="fa fa-trash-o"></i>
                <% end %>
            <%end%>

          </div>
        </td>





      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4" class="pager form-horizontal">
      <button class="btn first"><i class="fa fa-step-backward"></i></button>
      <button class="btn prev"><i class="fa fa-arrow-left"></i></button>
      <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
      <button class="btn next"><i class="fa fa-arrow-right"></i></button>
      <button class="btn last"><i class="fa fa-step-forward"></i></button>
      <select class="pagesize input-xs" title="Select page size">
        <option selected="selected" value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
      </select>
      <select class="pagenum input-xs" title="Select page number"></select>
    </td>
  </tr>
  </tfoot>
</table>