<table class="table col-md-12" id="tablesorting-1">
  <thead class="">
  <tr>
    <th class="col-md-4">Título</th>
    <th class="col-md-4">Situação</th>

    <th class="col-md-2">Criado em</th>
    <th class="col-md-2">Opções</th>
  </tr>
  </thead>
  <tbody>
  <% @documentos.each do |r| %>
      <tr>
        <td>
          <%=r.sigla%> - <%=r.titulo%>
        </td>
        <td style="text-align: center;"><%= r.status%></td>

        <td style="text-align: center;"><%= formata_dt r.created_at%></td>

        <td>
          <div style="text-align: center;">
            <%  if @homologador == true %>
              <%= link_to "/homologar-documento-#{r.id}", class: "btn-less tooltip-top", id: "deletar", title: "Homologação" do %>
                <i class="fa fa-gavel "></i>
              <% end %>
            <%end%>

            <%= link_to "/visualizar-documento-#{r.id}", class: "btn-less tooltip-top", id: "deletar", title: "Visualizar" do %>
                    <i class="fa fa-info-circle "></i>
                <% end %>
                <a onclick="window.open('/documento-<%=r.id%>', 'Página', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');" href="#"  class="btn-less tooltip-top" title="Visualizar"><i class="fa fa-print "></i></a>
            <%if session[:grupo] == 'Administradores'%>
                <%= link_to "/atualizar-documento-#{r.id}", class: "btn-less tooltip-top", id: "deletar", title: "Atualizar" do %>
                    <i class="fa fa-pencil"></i>
                <% end %>
                <a href="#exclui-<%=r.id%>" title="Lixeira" class="btn-less tooltip-top" data-toggle="modal"><i class="fa fa-trash-o"></i></a>

                                            <form action="/enviar-doc-lixeira" method="post">
                                              <!--Modal -->
                                              <div class="modal fade" id="exclui-<%=r.id%>" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                      <h4 class="modal-title">Informe o motivo</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="inner-padding">
                                                        <div class="row" style="margin-bottom:-20px">
                                                          <div class="row">
                                                            <div class="col-sm-12">
                                                              <textarea class="form-control" required name="motivo"></textarea>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                       <div class="pull-right">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
                                                         <button class="btn btn-primary" type="submit"><i class="fa fa-inverse fa-trash-o"></i> Enviar para lixeira</button>
      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <input type="hidden" name="id" value="<%=r.id%>"/>
                                            </form>
            <%end%>

          </div>
        </td>





      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4" class="pager form-horizontal">
      <button class="btn first"><i class="fa fa-step-backward"></i></button>
      <button class="btn prev"><i class="fa fa-arrow-left"></i></button>
      <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
      <button class="btn next"><i class="fa fa-arrow-right"></i></button>
      <button class="btn last"><i class="fa fa-step-forward"></i></button>
      <select class="pagesize input-xs" title="Select page size">
        <option selected="selected" value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
      </select>
      <select class="pagenum input-xs" title="Select page number"></select>
    </td>
  </tr>
  </tfoot>
</table>