

<script type="application/javascript">

    $(document).ready(function(){
         $(".page-arrow").removeClass("page-arrow");
        $(".menu-documentos").addClass("menu-open");
        $("#seta-documentos").removeClass("fa-caret-left");
        $("#seta-documentos").addClass("fa-caret-down");
        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>




<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="<%=reunioes_path%>">Documentos</a></li>
            <li class="active">Documento complementar</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Documento complementar</h2>
          </div>
          <div class="pull-right">
          </div>
        </div>
      </header>

        <form action="doc-complementar" method="post">

          <div class="window">
            <div class="actionbar">
              <div class="pull-left">
                <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
                <a href="#" class="btn" onclick="window.history.go(-1); return false;">
                  <i class="fa fa-arrow-left "></i>&nbsp;Voltar
                </a>
                <button type="submit" class="btn">
                  <i class="fa fa-check"></i>&nbsp;  Confirmar
                </button>
              </div>
            </div>
            <div class="inner-padding">
              <fieldset>
                <legend>Documento complementar</legend>
                
                <div class="spacer-10"></div>

                <div class="row">
                  <div class="col-sm-3">
                    <label>Documento: <span class="asterisk">*</span></label>
                  </div>
                  <div class="col-sm-9">
                    
                      <select class="select2" name="doc_filho_id">
                        <% Documento.where(deleted_at: nil).each do |d| %>
                          <option value="<%=d.id%>"><%=d.sigla%> (<%=d.titulo%>)</option>
                        <% end %>
                      </select>
                    
                  </div>
                </div>

                <input type="hidden" name="doc_pai_id" value="<%=@doc_id%>">
                
              </fieldset>
            </div>
          </div>
      </form>
      <%= render 'shared/rodape'%>
    </div>
  </div>
</div>


