

<script type="application/javascript">

    $(document).ready(function(){
         $(".page-arrow").removeClass("page-arrow");
        $(".menu-documentos").addClass("menu-open");
        $("#seta-documentos").removeClass("fa-caret-left");
        $("#seta-documentos").addClass("fa-caret-down");
        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>




<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="<%=reunioes_path%>">Documentos</a></li>
            <li class="active">Anexar arquivo</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Anexar arquivo no documento</h2>
          </div>
          <div class="pull-right">
          </div>
        </div>
      </header>

      <%= form_for(@anexo, :html => { :multipart => true }) do |f| %>

          <div class="window">
            <div class="actionbar">
              <div class="pull-left">
                <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
                <a href="#" class="btn" onclick="window.history.go(-1); return false;">
                  <i class="fa fa-arrow-left "></i>&nbsp;Voltar
                </a>
                <button type="submit" class="btn">
                  <i class="fa fa-check"></i>&nbsp;  Enviar
                </button>
              </div>
            </div>
            <div class="inner-padding">
              <fieldset>
                <legend>Anexar arquivo</legend>
                <div class="row">
                  <div class="col-sm-3">
                    <label>Descrição do arquivo: <span class="asterisk">*</span></label>
                  </div>
                  <div class="col-sm-9">
                    <%= f.text_field :descricao, class: "form-control", placeholder: "Informe uma descriçao para o arquivo...", required: true %>
                  </div>
                </div>

                <div class="spacer-10"></div>

                <div class="row">
                  <div class="col-sm-3">
                    <label>Selecione o arquivo: <span class="asterisk">*</span></label>
                  </div>
                  <div class="col-sm-9">
                    <%= f.file_field :anexo, class: "form-contol" %>
                  </div>
                </div>

                <input type="hidden" name="doc_id" value="<%=@doc_id%>">
                <%= f.hidden_field :documento_id, value: @doc_id %>
              </fieldset>
            </div>
          </div>
      <% end %>
      <%= render 'shared/rodape'%>
    </div>
  </div>
</div>


