
<style type="text/css">
    #ddata_prevista {
        z-index: 100000;
    }
</style>


<script type="application/javascript">

    $(document).ready(function(){



        $(".page-arrow").removeClass("page-arrow");
        $(".menu-documentos").addClass("menu-open");
        $("#seta-documentos").removeClass("fa-caret-left");
        $("#seta-documentos").addClass("fa-caret-down");
        $("#menu-doc-<%=@op%>").addClass("page-arrow");


        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>

        $('#ddata_prevista').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "mm/dd/yy",
            yearRange:  "1900:+0",
            altField:   "#cust_dobalt",
            altFormat:  "yy-mm-dd",
            duration:   "slow"
        });





    });




</script>





<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="<%=documentos_path%>">Documentos</a></li>
            <li class="active">Iniciar consenso</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">

            <h2>Iniciar workflow de consenso</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="#" class="btn" onclick="window.history.go(-1); return false;">
              <i class="fa fa-arrow-left "></i>&nbsp;Voltar
            </a>


            <a href="/enviar-para-consenso-<%=@id%>" class="btn"><i class="fa fa-check"></i>&nbsp;  Enviar para consenso</a>
          </div>



        </div>

        <div class="inner-padding">



          <div class="attention-box attention-success">
            <h4>Consensadores</h4>
            <div class="spacer-20"></div>
            <p>
              <% @consensadores.each do |c| %>
              <li>

                    <ul><b><%=c.nome%></b> - <%=c.email%></ul>

              </li>
            <% end %>
            </p>
          </div>

        <input type="hidden" name="op" value="consensar">


        </div>
      </div>


      <br><br><br><br><br><br><br><br><br><br><br><br>


      <%= render 'shared/rodape'%>

      <br><br><br><br><br><br><br><br><br><br><br><br>
    </div><!-- End #content -->

  </div><!-- End #main -->
</div><!-- End #container -->





