      <script type="application/javascript">

          $(document).ready(function(){



              $(".page-arrow").removeClass("page-arrow");
              $(".menu-documentos").addClass("menu-open");
              $("#seta-documentos").removeClass("fa-caret-left");
              $("#seta-documentos").addClass("fa-caret-down");


      <% if notice.present? %>
                $.e_notify.growl({
                    title: 'Sucesso!',
                    text: '<%=notice%>',
                    position: 'right-bottom',
                    delay: 0,
                    time: 5000,
                    speed: 500,
                    effect: 'slidein',
                    sticky: false,
                    closable: false,
                    maxOpen:3,
                    className:'',
                    onShow: function(){

                    },
                    onHide: function(){

                    }
                });
                e.preventDefault();
      <% end %>







          });




      </script>





      <div id="container" class="clearfix">


          <%=render 'shared/lateral'%>


          <div id="main" class="clearfix">

              <header id="header-main">
                  <div class="header-main-top">
                      <div class="pull-left">
                          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
                      </div>
                      <div class="pull-right">

                          <a href="#" id="responsive-menu-trigger">
                              <i class="fa fa-bars"></i>
                          </a>
                      </div>
                  </div>
                  <div class="header-main-bottom">
                      <div class="pull-left">
                          <ul class="breadcrumb">
                              <li><a href="<%=root_path%>">Início</a></li>
                              <li class="active">Elaboração de documento</li>
                          </ul>
                      </div>
                      <%=render 'shared/versao'%>
                  </div>
              </header>

              <div id="content" class="clearfix">


                  <header id="header-sec">
                      <div class="inner-padding">
                          <div class="pull-left">

                              <h2>Normas e Procedimentos - Elaboração de documento</h2>
                          </div>
                          <div class="pull-right">



                          </div>
                      </div><!-- End .inner-padding -->
                  </header><!-- End #header-sec -->

                  <%= form_for @documento do |f| %>

                    <div class="window">
                        <div class="actionbar">
                            <div class="pull-left">
                                <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
                                <%= link_to :back, class: "btn btn-default" do %>
                                  <i class="fa fa-arrow-left "></i>&nbsp;Voltar
                                <% end %>

                                <button type="submit" class="btn">
                                    <i class="fa fa-check"></i>&nbsp;  Salvar
                                </button>




                            </div>

                            <div class="pull-right">
                              <div class="dropdown">
                                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-magic "></i>&nbsp Opções
                                      <i class="fa fa-caret-down"></i>
                                  </a>
                                  <ul role="menu" class="dropdown-menu pull-right">
                                      <li>
                                        <% if @documento.status == 'Em elaboração' %>
                                          <a href="/iniciar-workflow-<%=@documento.id%>">Iniciar workflow de consenso
                                        </a>
                                        <% end %>
                                        <% if @documento.status == 'Enviado para consenso' %>
                                          <a href="/reenviar-workflow-<%=@documento.id%>">Reenviar e-mail de consenso
                                        <% end %>
                                        <% if @documento.status == 'Enviado para homologação' %>
                                          <a href="/reenviar-workflow-<%=@documento.id%>">Reenviar e-mail de homologação
                                        <% end %>
                                        <a href="/criar-versao-documento-<%=@documento.id%>">Criar versão</a>
                                      </li>


                                  </ul>
                              </div><!-- End .dropdown -->
                          </div>



                        </div>

                        <div class="inner-padding">
                          <div class="widget">
                                    <header>
                                      <div class="pull-left">

                                          <h2>
                                            <span class=""><%=@documento.status%></span>
                                          </h2>
                                        </div>
                                        <div class="pull-right">
                                            <div class="btn-group ext-tabs-btn-group">
                                                <a href="#content-tab-4-a" class="btn btn-default active">Documento</a>
                                                <a href="#content-tab-4-b" class="btn btn-default">Histórico</a>
                                            </div><!-- End .ext-tabs -->
                                        </div>
                                    </header>
                                    <div>
                                        <div class="tab-content">
                                            <div id="content-tab-4-a" class="tab-pane active">
                                              <div class="inner-padding">
                                                <fieldset>
                                                                                         <legend>Informações</legend>
                                                                                         <div class="row">
                                                                                             <div class="col-sm-3">
                                                                                                 <label>Título <span class="asterisk">*</span></label>
                                                                                             </div>
                                                                                             <div class="col-sm-9">
                                                                                               <%= f.text_field :titulo, class: "form-control", required: true %>
                                                                                             </div>
                                                                                         </div>
                                                                                         <div class="spacer-10"></div>
                                                                                         <div class="row">
                                                                                             <div class="col-sm-3">
                                                                                                 <label>sigla: <span class="asterisk">*</span></label>
                                                                                             </div>
                                                                                             <div class="col-sm-9">
                                                                                               <%= f.text_field :sigla, class: "form-control", required: true %>
                                                                                             </div>
                                                                                         </div>
                                                  <div class="spacer-10"></div>
                                                  <div class="row">
                                                    <div class="col-sm-3">
                                                      <label>Tipo de documento: <span class="asterisk">*</span></label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                      <%= f.select :tipoDoc_id, TipoDoc.all.collect {|t| [t.descricao, t.id]}, {}, class: "select2" %>
                                                    </div>
                                                  </div>
                                                                                         <div class="spacer-10"></div>
                                                                                         <div class="row">
                                                                                             <div class="col-sm-3">
                                                                                                 <label>Área de aplicação: <span class="asterisk">*</span></label>
                                                                                             </div>
                                                                                             <div class="col-sm-9">
                                                                                               <select class="select2" multiple name="documento[area_ids][]"  id="documento[area_ids][]"  required placeholder="Escolha as áreas...">
                                                                                                    <%Area.all.each do |area| %>

                                                                                                      <% pertence = false %>

                                                                                                      <%@documento.areas.each do |a| %>
                                                                                                        <% pertence = true if area.id == a.id %>
                                                                                                      <% end %>

                                                                                                      <% if pertence %>
                                                                                                        <option selected value="<%=area.id%>"><%=area.descricao%></option>
                                                                                                      <% else %>
                                                                                                        <option  value="<%=area.id%>"><%=area.descricao%></option>
                                                                                                      <% end %>

                                                                                                    <% end %>



                                                                                               </select>
                                                                                             </div>
                                                                                         </div>

                                                                                         <div class="spacer-10"></div>
                                                                                         <div class="row">
                                                                                             <div class="col-sm-3">
                                                                                                 <label>Versão: <span class="asterisk">*</span></label>
                                                                                             </div>
                                                                                             <div class="col-sm-9">
                                                                                              <%= f.text_field :versao, class: "form-control"%>
                                                                                             </div>
                                                                                         </div>

                                                  <div class="spacer-10"></div>
                                                  <div class="row">
                                                    <div class="col-sm-3">
                                                      <label>Elaborador: <span class="asterisk">*</span></label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                      <%= f.text_field :elaborador, class: "form-control"%>
                                                    </div>
                                                  </div>

                                                                                         <div class="spacer-10"></div>
                                                                                         <div class="row">
                                                                                             <div class="col-sm-3">
                                                                                                 <label>Versão anterior: <span class="asterisk">*</span></label>
                                                                                             </div>
                                                                                             <div class="col-sm-9">
                                                                                              <%= f.text_field :versao_anterior, class: "form-control" %>
                                                                                             </div>
                                                                                         </div>


                                                                                          <div class="spacer-10"></div>
                                                                                         <div class="row">
                                                                                             <div class="col-sm-3">
                                                                                                 <label>Link versão anterior: <span class="asterisk">*</span></label>
                                                                                             </div>
                                                                                             <div class="col-sm-9">
                                                                                              <%= f.text_field :link_versao_anterior, class: "form-control" %>
                                                                                             </div>
                                                                                         </div>

                                                                                       </fieldset>




                                                                                       <div class="spacer-10"></div>


                                                                                       <fieldset>
                                                                                                                                <legend>Consenso e homologação</legend>
                                                                                                                                <div class="row">
                                                                                                                                    <div class="col-sm-3">
                                                                                                                                        <label> Consenso <span class="asterisk">*</span></label>
                                                                                                                                    </div>
                                                                                                                                    <div class="col-sm-9">
                                                                                                                                      <%= f.select :grp_consenso_id, @grp_consensadores.collect {|g| [g.descricao, g.id]}, {}, class: "select2" %>

                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                                <div class="spacer-10"></div>
                                                                                                                                <div class="row">
                                                                                                                                    <div class="col-sm-3">
                                                                                                                                        <label> Dias para consenso <span class="asterisk">*</span></label>
                                                                                                                                    </div>
                                                                                                                                    <div class="col-sm-9">
                                                                                                                                      <div class="input-group">
                                                                                                                                        <%= f.text_field :dias_consenso, class:"form-control", placeholder: "Dias para consenso...", required: true %>
                                                                                                                                        <span class="input-group-addon">dias</span>
                                                                                                                                      </div>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                                <div class="spacer-20"></div>
                                                                                                                                <hr>
                                                                                                                                <div class="spacer-20"></div>
                                                                                                                                <div class="row">
                                                                                                                                  <div class="col-sm-3">
                                                                                                                                      <label> Homologação <span class="asterisk">*</span></label>
                                                                                                                                  </div>
                                                                                                                                  <div class="col-sm-9">
                                                                                                                                    <%= f.select :grp_homologador_id, @grp_homologadores.collect {|g| [g.descricao, g.id]}, {}, class: "select2" %>
                                                                                                                                  </div>
                                                                                                                                </div>
                                                                                                                                <div class="spacer-10"></div>
                                                                                                                                <div class="row">
                                                                                                                                  <div class="col-sm-3">
                                                                                                                                      <label> Dias para homologação <span class="asterisk">*</span></label>
                                                                                                                                  </div>
                                                                                                                                  <div class="col-sm-9">
                                                                                                                                    <div class="input-group">
                                                                                                                                      <%= f.text_field :dias_homologar, class:"form-control", placeholder: "Dias para homologacao...", required: true %>
                                                                                                                                      <span class="input-group-addon">dias</span>
                                                                                                                                    </div>
                                                                                                                                  </div>
                                                                                                                                </div>
                                                                                                                              </fieldset>

  <div class="spacer-10"></div>


                                                                                        <fieldset>
                                                                                         <legend>Docs. complementares</legend>
                                                                                         <div class="row">
                                                                                             <div class="inner-padding">

                                                                                              <%if @complementares.present?%>
                                                                                              <div class="row inner-padding">
                                                                <a href="/doc-complementar-<%=@documento.id%>" class="btn btn-primary">Incluir documento</a>
                                                            </div>
  <table class="table table-striped">
                                                                <% @complementares.each do |c| %>
                                                                    <tr>
                                                                        <td class="">
                                                                            <%
                                                                            doc = Documento.find(c.doc_filho_id)
                                                                            %>
                                                                            <a target="_blank" href="/visualizar-documento-<%=c.doc_filho_id%>"><%= doc.sigla %> - <%= doc.titulo %></a>
                                                                        </td>
                                                                    </tr>
                                                                <% end %>
                                                              </table>
                                                                                              <%else%>
                                                                                              <div class="alert">Nenhum doc. encontrado, <a href="/doc-complementar-<%=@documento.id%>">clique aqui</a> para adicionar</div>
                                                                                              <% end%>
                                                                                             </div>
                                                                                         </div>
                                                                                       </fieldset>
                                                                                                                              <div class="spacer-10"></div>


                                                                                        <fieldset>
                                                                                         <legend>Anexos</legend>
                                                                                         <div class="row">
                                                                                         <div class="inner-padding">
                                                                                             <% if @documento.anexo_docs.present? %>
                                                                                             <div class="row inner-padding">
                                                                <a href="/adicionar-anexo-doc-<%=@documento.id%>" class="btn btn-primary">Anexar arquivo</a>
                                                            </div>
                                                                                             <table class="table table-responsive table-condensed">



                      <% @documento.anexo_docs.each do |anexo| %>
                                                                        <tr>
                                                                            <td class="col-sm-10">
                                                                                <h3>
                                                                                    <i class="fa fa-file-text"></i>
                                                                                    <a href="#"><%=anexo.descricao%></a>
                                                                                </h3>
                                                                                <div class="article-meta">
                                                                                    <div class="article-date">
                        <%= formata_dt anexo.created_at%>
                                                                                    </div>
                                                                                    <span>-</span>
                                                                                    <div class="article-category">
                                                                                        <a href="#"><%=anexo.user.name%></a>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td class="col-sm-2">
                                                                                <div class="spacer-10"></div>
                                                                                <a href="/doc-download-anexo-<%= anexo.id %>" class="btn btn-default">Download</a>
                                                                            </td>
                                                                        </tr>
                      <% end %>

                                                                  </table>
                                                                  </div>

                                                                                             <% else %>
                                                                                               <div class="inner-padding">
                                                                                                <div class="alert">Nenhum anexo encontrado, <a href="/adicionar-anexo-doc-<%=@documento.id%>">clique aqui</a> para adicionar</div>
                                                                                               </div>
                                                                                             <% end %>
                                                                                         </div>
                                                                                       </fieldset>

                                                                                                                                <div class="spacer-10"></div>


                                                                                        <fieldset>
                                                                                         <legend>Localização</legend>
                                                                                         <div class="row">
                                                                                         <div class="inner-padding">
                                                                                         <%if @documento.documento_localizacoes.present?%>
                                                                                         <div class="row inner-padding">
                                                                <a href="/adicionar-localizacao-doc-<%=@documento.id%>" class="btn btn-primary">incluir localizaçao</a>
                                                            </div>
                                                                                         <table class="table table-striped">
                                                                                          <% @documento.documento_localizacoes.each do |h| %>
                                                                                              <tr>
                                                                                                  <td class=""><%=h.area.descricao%></td>
                                                                                                  <td class=""><%=h.pasta.descricao%></td>
                                                                                                  <td class=""><%=h.numero.descricao%></td>
                                                                                                  <td class=""><%=h.localizacao.descricao%></td>
                                                                                              </tr>
                                                                                          <% end %>
                                                                                        </table>
                                                                                         <%else%>
                                                                                         <div class="alert">Nenhum localização encontrada, <a href="/adicionar-localizacao-doc-<%=@documento.id%>">clique aqui</a> para adicionar</div>
                                                                                         <% end %>
                                                                                         </div>


                                                                                         </div>
                                                                                       </fieldset>



                                                                                                                              <div class="spacer-10"></div>

                                                                                                                              <fieldset>
                                                                                                                                <legend>Documento</legend>
                                                                                                                                <div class="row">
                                                                                                                                  <div class="inner-padding">



                                                                                                                                      <%= f.text_area :texto_doc, :class => "tinymce"%>
                                                                                              <%= tinymce %>

                                                                                                                                  </div>

                                                                                                                                </div>
                                                                                                                              </fieldset>
                          </div>
                                            </div>
                                            <div id="content-tab-4-b" class="tab-pane">
                                                <div class="inner-padding">
                                                  <table class="table table-striped">



                                                                <% @documento.documento_historicos.each do |h| %>

                                                                <tr>

                                                                    <td>
                                                                      <b><%= formata_dt_hr h.created_at %></b> - <%= h.historico %>
                                                                    </td>
                                                                </tr>

                                                                <% end %>


                                                        </table>
                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- End .widget -->


                        </div>
                        <% end %>
