
<style type="text/css">
    #ddata_prevista {
        z-index: 100000;
    }
</style>


<script type="application/javascript">

    $(document).ready(function(){



        $(".page-arrow").removeClass("page-arrow");
        $(".menu-documentos").addClass("menu-open");
        $("#seta-documentos").removeClass("fa-caret-left");
        $("#seta-documentos").addClass("fa-caret-down");
        $("#menu-doc-<%=@op%>").addClass("page-arrow");


        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>

        $('#ddata_prevista').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "mm/dd/yy",
            yearRange:  "1900:+0",
            altField:   "#cust_dobalt",
            altFormat:  "yy-mm-dd",
            duration:   "slow"
        });





    });




</script>





<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li class="active">Documentos</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">

            <h2>Normas e Procedimentos - <%=@filtro.capitalize%></h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="#" class="btn" onclick="window.history.go(-1); return false;">
              <i class="fa fa-arrow-left "></i>&nbsp;Voltar
            </a>
            <%#if session[:grupo] == 'Administradores'%>
                <a href="<%= elaborar_documento_path %>" class="btn" >
                  <i class="fa fa-plus-circle"></i>&nbsp; Novo documento
                </a>
            <%#end%>
          </div>



        </div>

        <div class="inner-padding">
          <% if @documentos.present? %>
              <div id="lista">
                <%= render @op %>
              </div>
          <% else %>
              <div class="alert alert-block alert-inline-top alert-dismissable">
                <h4>Nenhum documento disponível, <a href="<%= elaborar_documento_path %>">clique aqui</a> para cadastrar um novo documento</a></h4>
              </div>
          <% end %>
        </div>
      </div>

      <br><br><br><br><br><br><br><br><br><br><br><br>


      <%= render 'shared/rodape'%>

      <br><br><br><br><br><br><br><br><br><br><br><br>
    </div><!-- End #content -->

  </div><!-- End #main -->
</div><!-- End #container -->





