
<style type="text/css">
    #ddata_prevista {
        z-index: 100000;
    }
</style>


<script type="application/javascript">

    $(document).ready(function(){



        $(".page-arrow").removeClass("page-arrow");
        $(".menu-documentos").addClass("menu-open");
        $("#seta-documentos").removeClass("fa-caret-left");
        $("#seta-documentos").addClass("fa-caret-down");
        $("#menu-doc-excluido").addClass("page-arrow");


        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>

        $('#ddata_prevista').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "mm/dd/yy",
            yearRange:  "1900:+0",
            altField:   "#cust_dobalt",
            altFormat:  "yy-mm-dd",
            duration:   "slow"
        });





    });




</script>





<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li class="active">Lixeira - Documentos</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">

            <h2>Lixeira - Normas e procedimentos</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="#" class="btn" onclick="window.history.go(-1); return false;">
              <i class="fa fa-arrow-left "></i>&nbsp;Voltar
            </a>

          </div>



        </div>

        <div class="inner-padding">
          <% if @documentos.present? %>
              <div id="lista">
                <table class="table col-md-12" id="tablesorting-1">
                  <thead class="">
                  <tr>
                    <th class="col-md-4">Título</th>
                    <th class="col-md-3">Situação</th>
                    <th class="col-md-4">Motivo da exclusão</th>
                    <th class="col-md-2">Dt. exclusão</th>
                    <%if session[:grupo] == 'Administradores'%>
                    <th class="col-md-2">Opções</th>
                    <% end %>
                  </tr>
                  </thead>
                  <tbody>
                  <% @documentos.each do |r| %>
                      <tr>
                        <td>
                          <%=r.titulo%>
                        </td>
                        <td style="text-align: center;"><%= r.status%></td>
                        <td style="text-align: center;"><%= r.motivo_exclusao%></td>
                        <td style="text-align: center;"><%= formata_dt r.deleted_at%></td>

                        <td>

                          <div style="text-align: center;">

                            <%if session[:grupo] == 'Administradores'%>
                                <%= link_to "/visualizar-documento-#{r.id}", class: "btn-less tooltip-top", id: "deletar", title: "Visualizar" do %>
                                    <i class="fa fa-info-circle"></i>
                                <% end %>

                                <a href="#exclui-<%=r.id%>" title="Restaurar documento" class="btn-less tooltip-top" data-toggle="modal"><i class="fa fa-caret-square-o-left"></i></a>

                                <form action="/restaurar-doc-lixeira" method="post">
                                  <!--Modal -->
                                  <div class="modal fade" id="exclui-<%=r.id%>" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title">Informe o motivo da restauração</h4>
                                        </div>
                                        <div class="modal-body">
                                          <div class="inner-padding">
                                            <div class="row" style="margin-bottom:-20px">
                                              <div class="row">
                                                <div class="col-sm-12">
                                                  <textarea class="form-control" required name="motivo"></textarea>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                          <button type="submit" class="btn btn-primary pull-right">Confirmar</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <input type="hidden" name="id" value="<%=r.id%>"/>
                                </form>
                            <%end%>

                          </div>

                        </td>


                      </tr>
                  <% end %>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="5" class="pager form-horizontal">
                      <button class="btn first"><i class="fa fa-step-backward"></i></button>
                      <button class="btn prev"><i class="fa fa-arrow-left"></i></button>
                      <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                      <button class="btn next"><i class="fa fa-arrow-right"></i></button>
                      <button class="btn last"><i class="fa fa-step-forward"></i></button>
                      <select class="pagesize input-xs" title="Select page size">
                        <option selected="selected" value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                      </select>
                      <select class="pagenum input-xs" title="Select page number"></select>
                    </td>
                  </tr>
                  </tfoot>
                </table>
              </div>
          <% else %>
              <div class="alert alert-block alert-inline-top alert-dismissable">
                <h4>Nenhum documento foi excluído
              </div>
          <% end %>
        </div>
      </div>

      <br><br><br><br><br><br><br><br><br><br><br><br>


      <%= render 'shared/rodape'%>

      <br><br><br><br><br><br><br><br><br><br><br><br>
    </div><!-- End #content -->

  </div><!-- End #main -->
</div><!-- End #container -->





