
<style type="text/css">
    #ddata_prevista {
        z-index: 100000;
    }
</style>


<script type="application/javascript">

    $(document).ready(function(){



        $(".page-arrow").removeClass("page-arrow");
        $(".menu-documentos").addClass("menu-open");
        $("#seta-documentos").removeClass("fa-caret-left");
        $("#seta-documentos").addClass("fa-caret-down");
        $("#menu-doc-elaboracao").addClass("page-arrow");


        <% if notice.present? %>
            $.e_notify.growl({
                title: 'Sucesso!',
                text: '<%=notice%>',
                position: 'right-bottom',
                delay: 0,
                time: 5000,
                speed: 500,
                effect: 'slidein',
                sticky: false,
                closable: false,
                maxOpen:3,
                className:'',
                onShow: function(){

                },
                onHide: function(){

                }
            });
            e.preventDefault();
        <% end %>

        $('#ddata_prevista').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "mm/dd/yy",
            yearRange:  "1900:+0",
            altField:   "#cust_dobalt",
            altFormat:  "yy-mm-dd",
            duration:   "slow"
        });





    });




</script>





<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">

        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="#">Documentos</a></li>
            <li class="active">Elaboração de documento</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">

            <h2>Normas e Procedimentos - Elaboração de documento</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->

      <%= form_for @documento do |f| %>


      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="#" class="btn" onclick="window.history.go(-1); return false;">
              <i class="fa fa-arrow-left "></i>&nbsp;Voltar
            </a>

            <button type="submit" class="btn">
              <i class="fa fa-check"></i>&nbsp;  Salvar
            </button>
          </div>



        </div>

        <div class="inner-padding">


            <!-- * data-asf-time = seconds, data-asf-expireafter = minutes * -->
            <fieldset>
              <legend>Elaboração de documento</legend>
              <div class="row">
                <div class="col-sm-3">
                  <label>Título <span class="asterisk">*</span></label>
                </div>
                <div class="col-sm-9">
                  <%= f.text_field :titulo, required:true, class: "form-control", placeholder: "Título do documento" %>
                </div>
              </div>
              <div class="spacer-10"></div>
                      <div class="row">
                        <div class="col-sm-3">
                          <label>Sigla: <span class="asterisk">*</span></label>
                        </div>
                        <div class="col-sm-9">
                          <%= f.text_field :sigla, required:true, class: "form-control", placeholder: "Sígla do documento" %>
                              </div>
                              </div>
                              <div class="spacer-10"></div>
              <div class="row">
                <div class="col-sm-3">
                  <label>Tipo de documento: <span class="asterisk">*</span></label>
                </div>
                <div class="col-sm-9">
                  <%= f.select :tipoDoc_id, TipoDoc.all.collect {|tp| [tp.descricao, tp.id]}, {}, class: "select2" %>
                 </div>
              </div>

              <div class="spacer-10"></div>
              <div class="row">
                <div class="col-sm-3">
                  <label>Áreas de aplicação: <span class="asterisk">*</span></label>
                </div>
                <div class="col-sm-9">
                  <select class="select2" multiple name="documento[area_ids][]"  id="documento[area_ids][]"  required placeholder="Escolha as áreas...">
                    <%Area.all.each do |a| %>
                        <option value="<%=a.id%>"><%=a.descricao%></option>
                    <%end%>
                  </select>
                </div>
              </div>
              <div class="spacer-40"></div>
              <hr/>
              <div class="spacer-30"></div>
              <div class="spacer-10"></div>
                                                      <div class="row">
                                                          <div class="col-sm-3">
                                                              <label>Versão: <span class="asterisk">*</span></label>
                                                          </div>
                                                          <div class="col-sm-9">
          <%= f.text_field :versao, class: "form-control", placeholder: "Versão do documento...", value: "01", required: true%>
                                                            </div>
                                                        </div>
                                                        <div class="spacer-10"></div>
                                                        <div class="row">
                                                          <div class="col-sm-3">
                                                            <label>Consenso: <span class="asterisk">*</span></label>
                                                          </div>
                                                          <div class="col-sm-9">

                                                              <%= f.select :grp_consenso_id, @grp_consensadores.collect {|g| [g.descricao, g.id]}, {}, class: "select2" %>


                                                          </div>
                                                        </div>
                                                        <div class="spacer-10"></div>


              <div class="row">
                <div class="col-sm-3">
                  <label>Dias para consenso: <span class="asterisk">*</span></label>
                </div>
                <div class="col-sm-9">
                  <div class="input-group">
                    <%= f.text_field :dias_consenso, class:"form-control", placeholder: "Dias para consenso...", required: true %>
                    <span class="input-group-addon">dias</span>
                  </div>

                </div>
              </div>
              <div class="spacer-10"></div>
              <div class="row">
                <div class="col-sm-3">
                  <label>Homologação: <span class="asterisk">*</span></label>
                </div>
                <div class="col-sm-9">

                    <%= f.select :grp_homologador_id, @grp_homologadores.collect {|g| [g.descricao, g.id]}, {}, class: "select2" %>
                  

                </div>
              </div>

              <div class="spacer-10"></div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label>Dias para homolagação: <span class="asterisk">*</span></label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <%= f.text_field :dias_homologar, class:"form-control", placeholder: "Dias para consenso...", required: true %>
                                <span class="input-group-addon">dias</span>
                                </div>
                        </div>
                      </div>
              <div class="spacer-40"></div>
              <hr/>
              <div class="spacer-40"></div>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <label>Elaborado por: <span class="asterisk">*</span></label>
                                  </div>
                                  <div class="col-sm-9">
                                    <%= f.text_field :elaborador, required: true, class: "form-control", placeholder: "Elaborado por...", value: current_user.name  %>
                                        </div>
                                        </div>
                                        <div class="spacer-40"></div>
                                        <hr/>
                                        <div class="spacer-40"></div>
              <div class="row">
                <div class="col-sm-12">
                  <%= f.text_area :texto_doc, :class => "tinymce"%>
                  <%= tinymce %>
                </div>
              </div>

            </fieldset>

                      <%= f.hidden_field :user_id, value: session[:user_id]%>
                      <%= f.hidden_field :status, value: "Em elaboração" %>


        </div>
      </div>

      <%end%>

      <br><br><br><br><br><br><br><br><br><br><br><br>


      <%= render 'shared/rodape'%>

      <br><br><br><br><br><br><br><br><br><br><br><br>
    </div><!-- End #content -->

  </div><!-- End #main -->
</div><!-- End #container -->
