
<style type="text/css">
    #ddata_prevista {
        z-index: 100000;
    }
</style>


<script type="application/javascript">

    $(document).ready(function(){



        $(".page-arrow").removeClass("page-arrow");
        $(".menu-documentos").addClass("menu-open");
        $("#seta-documentos").removeClass("fa-caret-left");
        $("#seta-documentos").addClass("fa-caret-down");
        $("#menu-doc-<%=@op%>").addClass("page-arrow");


        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>

        $('#ddata_prevista').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "mm/dd/yy",
            yearRange:  "1900:+0",
            altField:   "#cust_dobalt",
            altFormat:  "yy-mm-dd",
            duration:   "slow"
        });





    });




</script>





<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="<%=documentos_path%>">Documentos</a></li>
            <li class="active">Reenviar</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">

            <h2>Reenviar e-mail</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->


      <form action="/reenviar-workflow" method="post">
      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <%= link_to :back, class: "btn btn-default" do %>
                                <i class="fa fa-arrow-left "></i>&nbsp;Voltar
                              <% end %>

            <button type="submit" class="btn"><i class="fa fa-check"></i>&nbsp;  Enviar</button>
          </div>



        </div>

        <div class="inner-padding">



          <div class="attention-box attention-success">
            <h4><%=@texto%></h4>
            <div class="spacer-20"></div>
            <script language="JavaScript">
function toggle(source) {
  var allInputs = document.getElementsByTagName("input");
for (var i = 0, max = allInputs.length; i < max; i++){
    if (allInputs[i].type === 'checkbox' && allInputs[i].name !== 'c' )
        allInputs[i].checked = true;
}
}
</script>
                <input name='c' type="checkbox" onClick="toggle(this)" /> Selecionar todos<br/>
                <br />
                <hr />
                <br />
                <%@grp.funcionarios.each do |f|%>
                  <input type="checkbox" name="email[]" value="<%=f.email%>"> <%=f.email%><br>
                <% end %>
            
            
          </div>

        


        </div>
      </div>
      <input type="hidden" name="id" value="<%=@documento.id%>">

      </form>


      <br><br><br><br><br><br><br><br><br><br><br><br>


      <%= render 'shared/rodape' %>

      <br><br><br><br><br><br><br><br><br><br><br><br>
    </div><!-- End #content -->

  </div><!-- End #main -->
</div><!-- End #container -->





