
<style type="text/css">
    #ddata_prevista {
        z-index: 100000;
    }
</style>


<script type="application/javascript">

    $(document).ready(function(){



        $(".page-arrow").removeClass("page-arrow");
        $(".menu-documentos").addClass("menu-open");
        $("#seta-documentos").removeClass("fa-caret-left");
        $("#seta-documentos").addClass("fa-caret-down");


        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){

            },
            onHide: function(){

            }
        });
        e.preventDefault();
        <% end %>

        $('#ddata_prevista').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "mm/dd/yy",
            yearRange:  "1900:+0",
            altField:   "#cust_dobalt",
            altFormat:  "yy-mm-dd",
            duration:   "slow"
        });





    });




</script>





<div id="container" class="clearfix">


  <%= render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li class="active">Elaboração de documento</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">

            <h2>Normas e Procedimentos - Elaboração de documentoo</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->




          <div class="window">
            <div class="actionbar">
              <div class="pull-left">
                <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
                <a href="#" class="btn" onclick="window.history.go(-1); return false;">
                  <i class="fa fa-arrow-left "></i>&nbsp;Voltar
                </a>




              </div>

              <div class="pull-right">
                <% if @documento.status == 'Em elaboração' %>

                    <a href="/iniciar-workflow-<%=@documento.id%>" class="btn">                      <i class="fa fa-magic "></i>&nbsp;Iniciar workflow de consensamento
                    </a>

                <% end %>


                <a href="#" class="btn">
                  <i class="fa fa-print "></i>&nbsp;Imprimir
                </a>
              </div>



            </div>

            <div class="inner-padding">


              <div class="widget">
                <header>
                  <h2><%=@documento.id%> - <%=@documento.titulo%> - <%=@documento.status%></h2>
                </header>
                <div>
                  <ul class="ext-tabs">
                    <li class="active">
                      <a href="#content-tab-50-a">Texto do documento</a>
                    </li>
                    <li>
                      <a href="#content-tab-50-b">Informações</a>
                    </li>
                    <li>
                      <a href="#content-tab-50-c">Anexos</a>
                    </li>
                    <li>
                      <a href="#content-tab-50-d">Histórico</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div id="content-tab-50-a" class="tab-pane active">
                      <div class="inner-padding">
                        <%=@documento.texto_doc%>
                      </div>
                    </div>
                    <div id="content-tab-50-b" class="tab-pane">
                      <div class="inner-padding">
                        <form>
                          <div class="row">
                            <div class="col-sm-4">
                              <label>Título:</label>
                            </div>
                            <div class="col-sm-8">
                              <%= @documento.titulo%>
                            </div>
                          </div>
                          <div class="spacer-10"></div>
                          <div class="row">
                            <div class="col-sm-4">
                              <label>Sígla</label>
                            </div>
                            <div class="col-sm-8">
                              <%= @documento.sigla %>
                            </div>
                          </div>
                          <div class="spacer-10"></div>
                          <div class="row">
                            <div class="col-sm-4">
                              <label>Dias consenso:</label>
                            </div>
                            <div class="col-sm-8">
                              <%= @documento.dias_consenso%>
                            </div>
                          </div>
                          <div class="spacer-10"></div>
                          <div class="row">
                            <div class="col-sm-4">
                              <label>Dias homolagação:</label>
                            </div>
                            <div class="col-sm-8">
                              <%= @documento.dias_homologar%>
                            </div>
                          </div>
                                  <div class="spacer-10"></div>
                                  <div class="row">
                                    <div class="col-sm-4">
                                      <label>Versão:</label>
                                    </div>
                                    <div class="col-sm-8">
                                      <%= @documento.versao%>
                                          </div>
                                          </div>
                                          <div class="spacer-10"></div>
                                          <div class="row">
                                            <div class="col-sm-4">
                                              <label>Versão anterior:</label>
                                            </div>
                                            <div class="col-sm-8">
                                              <%= @documento.versao_anterior%>
                                                  </div>
                                                  </div>
                          <div class="spacer-10"></div>
                          <div class="row">
                            <div class="col-sm-4">
                              <label>Criado por:</label>
                            </div>
                            <div class="col-sm-8">
                              <b><%= @documento.usuario.nome %> </b> em <%= formata_dt @documento.created_at%>
                            </div>
                          </div>

                                  <div class="spacer-10"></div>
                                  <div class="row">
                                    <div class="col-sm-4">
                                      <label>Data do envio para consenso:</label>
                                    </div>
                                    <div class="col-sm-8">
                                      <%
                                         if @documento.dt_envio_consenso.present?
                                            msg = formata_dt @documento.dt_envio_consenso
                                         else
                                            msg = "Documento ainda não enviado para consenso. "
                                         end
                                      %>
                                      <%= msg %>
                                    </div>
                                  </div>

                                  <div class="spacer-10"></div>
                                  <div class="row">
                                    <div class="col-sm-4">
                                      <label>Data do envio para homologação:</label>
                                    </div>
                                    <div class="col-sm-8">
                                      <%
                                         if @documento.dt_envio_homologacao.present?
                                           msg = formata_dt @documento.dt_envio_homologacacao
                                         else
                                           msg = 'Documento ainda não enviado para homologação. '
                                         end
                                      %>
                                      <%= msg %>
                                    </div>
                                  </div>


                      </div>
                    </div>
                    <div id="content-tab-50-c" class="tab-pane">
                      <div class="inner-padding">
                      <div class="row inner-padding">
                        <a href="/adicionar-anexo-doc-<%=@documento.id%>" class="btn btn-primary">Anexar arquivo</a>
                      </div>

                      <div class="space-30"></div>

                          <% if @documento.anexo_docs.present? %>


<div class="col-sm-12">
  <h4> <span class="text-muted"></span></h4>
  <div class="spacer-20"></div>


  <table class="table table-responsive table-condensed">



    <% @documento.anexo_docs.each do |anexo| %>
        <tr>
          <td class="col-sm-10">
            <h3>
              <i class="fa fa-file-text"></i>
              <a href="#"><%=anexo.descricao%></a>
            </h3>
            <div class="article-meta">
              <div class="article-date">
                <%= formata_dt anexo.created_at%>
              </div>
              <span>-</span>
              <div class="article-category">
                <a href="#"><%=anexo.usuario.nome%></a>
              </div>
            </div>
          </td>
          <td class="col-sm-2">
            <div class="spacer-10"></div>
            <a href="/download-anexo-<%= anexo.id %>" class="btn btn-default">Download</a>
          </td>
        </tr>
    <% end %>

  </table>

</div>
                          <% else %>
                            <div class="alert alert-info">
                              Nenhum anexo disponível
                            </div>
                          <% end %>

                      </div>
                    </div>

                                                  <div id="content-tab-50-d" class="tab-pane">
                                                    <div class="inner-padding">
                                                      <table class="table table-striped">
                                                          <% @documento.documento_historicos.each do |h| %>

                                                                <tr>
                                                                  <td class="col-sm-2"><%=formata_dt h.created_at%></td>
                                                                  <td class="col-sm-10"><%=h.historico%></td>
                                                                </tr>

                                                          <% end %>
                                                      </table>
                                                    </div>
                                                  </div>
                  </div><!-- End .tab-content -->
                </div>
              </div><!-- End .widget -->
