
<div id="container" class="clearfix">
    <div id="" class="clearfix">
        <div id="content" class="clearfix">
            <div class="window">
                <div class="inner-padding">
                    <table class="table table-bordered" border="1">
                        <thead>
                            <tr>
                                <th colspan="4">
                        <center><label style="color: red">Cópia não controlada</label></center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center" vAlign="middle" rowspan="2" colspan="">
                                        <img src="<%=@URL%>/Content/images/logo.png" alt="logo-amcel" width="60%" />
                                </td>
                                <td colspan="3" vAlign="base" height="20%">
                                    <div class="spacer-10"></div>
                                  <center><h4><b>SISTEMA DE GESTÃO AMBIENTAL FLORESTAL</b></h4></center>
                                </td>
                                
                            </tr>
                            <tr>
                                <td colspan="2" height="70%">
                                    <b>Elaborado por:</b> <br>
                                    <div class="spacer-10"></div>
                                    <%= @documento.elaborador %>
                                </td>
                                <td>
                                    <b>Dt. elaboração:</b>
                                    <div class="spacer-10"></div>
                                    <%= formata_dt @documento.created_at %>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" height="70%">
                                    <b>Tipo de doc.:</b> <br>
                                    <div class="spacer-10"></div>
                                    <%= @documento.tipoDoc.descricao %>
                                </td>
                                <td colspan="">
                                    <b>Versão:</b>
                                    <div class="spacer-10"></div>
                                    <%= @documento.versao %>
                                </td>
                                <td colspan="">
                                    <b>Versão anterior:</b>
                                    <div class="spacer-10"></div>
                                    <%= @documento.versao_anterior %>
                                </td>
                                <td colspan="">
                                    <b>Sigla do doc.:</b>
                                    <div class="spacer-10"></div>
                                    <%= @documento.sigla %>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" height="70%">
                                    <b>Área / Setores de aplicação.:</b> <br>
                                    <div class="spacer-10"></div>
                                    <% @documento.areas.each do |a| %>
                                    <font style='text-decoration: underline;'><%= a.descricao %>;</font>
                                    <% end %>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" height="70%">
                                    <b>Documentos complementares.:</b> <br>
                                    <div class="spacer-10"></div>
                                    <%if @doc_titulo.size > 0 %>
                                      <% @doc_titulo.each do |a| %>
                                        <font style='text-decoration: underline;'><%= a %>;</font>
                                      <% end %>
                                    <% else %>
                                        ...
                                    <%  end %>
                                </td>
                            </tr>
                            <tr>
                                
                                <td colspan="4">
                                    <div class="spacer-10"></div>
                                  <center><h3><%=@documento.titulo%></h3></center>
                                </td>
                                
                            </tr>
                            <tr>
                              <td colspan="4">
                                <div class="spacer-10"></div>
                                <%= raw @documento.texto_doc%>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="3">
                                <b>Consensadores:</b> <br>
                                <div class="spacer-10"></div>
                                <% @consensadores.each do |c| %>
                                  <%=c.email%>;
                                <% end %>
                              </td>
                              <td>
                                  <b>Data consenso:</b>
                                  <div  class="spacer-10"></div>
                                  <%= formata_dt @documento.dt_envio_consenso if @documento.dt_envio_consenso.present?%>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="3">
                                <b>Homologadores:</b> <br>
                                <div class="spacer-10"></div>
                                <% @homologadores.each do |h| %>
                                  <%=h.email%>;
                                <% end %>
                              </td>
                              <td>
                                  <b>Data homologação:</b>
                                  <div  class="spacer-10"></div>
                                  <%= formata_dt @documento.dt_envio_homologacao if @documento.dt_envio_homologacao.present?%>
                              </td>
                            </tr>
                            
                            <tr>
                              <td colspan="4">
                                <b>Localização:</b> <br>
                                <div class="spacer-10"></div>
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th scope="col">Área</th>
                                            <th scope="col">Pasta</th>
                                            <th scope="col">Número</th>
                                            <th scope="col">Localização</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <%@localizacoes.each do |l|%>
                                        
                                        <tr>
                                            <td><%=l.area.descricao%></td>
                                            <td><%=l.pasta.descricao%></td>
                                            <td><%=l.numero.descricao%></td>
                                            <td><%=l.localizacao.descricao%></td>
                                        </tr>
                                        
                                        <%end%>
                                        
                                    </tbody>
                                </table>

                              </td>
                              
                            </tr>
                            <tr>
                                <td colspan="4"><center><label style="color: green">Propriedade da AMCEL</label></center></td>
                            </tr>
                        </tbody>
                    </table>                
                </div>
            </div>
        </div>
    </div>
</div>












