
<style type="text/css">
    #ddata_prevista {
        z-index: 100000;
    }
</style>


<script type="application/javascript">

    $(document).ready(function(){



        $(".page-arrow").removeClass("page-arrow");
        $(".menu-documentos").addClass("menu-open");
        $("#seta-documentos").removeClass("fa-caret-left");
        $("#seta-documentos").addClass("fa-caret-down");







</script>



<form action="/recebe-resposta-consenso" method="post">
    <%= csrf_meta_tags %>
    <div class="modal fade" id="modal-n-consenso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>Motivo</center></h4>
                </div>

                <div class="modal-body">
                    <textarea name="motivo" class="form-control" required placeholder="Informe o motivo..."></textarea>
                    <input type="hidden" name="status" value="Não consensado">
                    <input type="hidden" name="id" value="<%=@consenso.id%>">
                    <input type="hidden" name="doc_id" value="<%=@documento.id%>">
                    <input type="hidden" name="consensado" value="false">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Enviar resposta</button>
                </div>

            </div>
        </div>
    </div>

</form>




<div id="container" class="clearfix">


    <%=render 'shared/lateral'%>


    <div id="main" class="clearfix">

        <header id="header-main">
            <div class="header-main-top">
                <div class="pull-left">
                    <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
                </div>
                <div class="pull-right">

                    <a href="#" id="responsive-menu-trigger">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <div class="header-main-bottom">
                <div class="pull-left">
                    <ul class="breadcrumb">
                        <li><a href="<%=root_path%>">Início</a></li>
                        <li class="active">Elaboração de documento</li>
                    </ul>
                </div>
                <%=render 'shared/versao'%>
            </div>
        </header>

        <div id="content" class="clearfix">


            <header id="header-sec">
                <div class="inner-padding">
                    <div class="pull-left">

                        <h2>Normas e Procedimentos - Elaboração de documento</h2>
                    </div>
                    <div class="pull-right">



                    </div>
                </div><!-- End .inner-padding -->
            </header><!-- End #header-sec -->



            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
                    </div>
                    <div class="pull-right">
                        <a href="#" data-toggle="modal" data-target="#modal-n-consenso" class="btn">
                            <i class="fa fa-thumbs-down  "></i>&nbsp;Não consensar
                        </a>
                        <a href="/confirmar-consenso-<%=@consenso.id%>" data-confirm="Deseja realmente consensar o documento ?" class="btn">
                            <i class="fa  fa-thumbs-up "></i>&nbsp;Consensar
                        </a>
                        
                    </div>
                </div>



                <div class="inner-padding">
                        <div class="widget">
                                  <header>
                                    <div class="pull-left">

                                        <h2>
                                          <span class=""><%=@documento.status%></span>
                                        </h2>
                                      </div>
                                      <div class="pull-right">
                                          <div class="btn-group ext-tabs-btn-group">
                                              <a href="#content-tab-4-a" class="btn btn-default active">Documento</a>
                                              <a href="#content-tab-4-b" class="btn btn-default">Histórico</a>
                                          </div><!-- End .ext-tabs -->
                                      </div>
                                  </header>
                                  <div>
                                      <div class="tab-content">
                                          <div id="content-tab-4-a" class="tab-pane active">
                                            <div class="inner-padding">
                                              <fieldset>
                                                                                       <legend>Informações</legend>
                                                                                       <div class="row">
                                                                                           <div class="col-sm-3">
                                                                                               <label>Título <span class="asterisk">*</span></label>
                                                                                           </div>
                                                                                           <div class="col-sm-9">
                                                                                             <label><%=@documento.titulo%></label>
                                                                                           </div>
                                                                                       </div>
                                                                                       <div class="spacer-10"></div>
                                                                                       <div class="row">
                                                                                           <div class="col-sm-3">
                                                                                               <label>sigla: <span class="asterisk">*</span></label>
                                                                                           </div>
                                                                                           <div class="col-sm-9">
                                                                                             <label><%=@documento.sigla%></label>
                                                                                           </div>
                                                                                       </div>
                                                <div class="spacer-10"></div>
                                                <div class="row">
                                                  <div class="col-sm-3">
                                                    <label>Tipo de documento: <span class="asterisk">*</span></label>
                                                  </div>
                                                  <div class="col-sm-9">
                                                    <label><%=@documento.tipoDoc.descricao%></label>
                                                  </div>
                                                </div>
                                                                                       <div class="spacer-10"></div>
                                                                                       <div class="row">
                                                                                           <div class="col-sm-3">
                                                                                               <label>Área de aplicação: <span class="asterisk">*</span></label>
                                                                                           </div>
                                                                                           <div class="col-sm-9">
                                                                                              <label>
                                                                                                  <%@documento.areas.each do |a| %>

                                                                                                  <%=a.descricao%>;

                                                                                                  <%end%>
                                                                                                  </label>

                                                                                           </div>
                                                                                       </div>

                                                                                       <div class="spacer-10"></div>
                                                                                       <div class="row">
                                                                                           <div class="col-sm-3">
                                                                                               <label>Versão: <span class="asterisk">*</span></label>
                                                                                           </div>
                                                                                           <div class="col-sm-9">
                                                                                            <label><%=@documento.versao%></label>
                                                                                           </div>
                                                                                       </div>
                                                                                        <% if @documento.versao_anterior.present?%>
                                                                                       <div class="spacer-10"></div>
                                                                                       <div class="row">
                                                                                           <div class="col-sm-3">
                                                                                               <label>Versão anterior: <span class="asterisk">*</span></label>
                                                                                           </div>
                                                                                           <div class="col-sm-9">
                                                                                            <label><%=@documento.versao_anterior%></label>
                                                                                           </div>
                                                                                       </div>
                                                                                       <% end %>

                                                                                 
                                                                                        <% if @documento.link_versao_anterior.present? %>
                                                                                        <div class="spacer-10"></div>
                                                                                       <div class="row">
                                                                                           <div class="col-sm-3">
                                                                                               <label>Link versão anterior: <span class="asterisk">*</span></label>
                                                                                           </div>
                                                                                           <div class="col-sm-9">
                                                                                            <label><%=@documento.link_versao_anterior%></label>
                                                                                           </div>
                                                                                       </div>
                                                                                       <% end %>
                                                                                 
                                                                                     </fieldset>
                                                                                      
                                                                                    


                                                                                     <div class="spacer-10"></div>


                                                                                     <fieldset>
                                                                                                                              <legend>Consenso e homologação</legend>
                                                                                                                              <div class="row">
                                                                                                                                  <div class="col-sm-3">
                                                                                                                                      <label> Consenso <span class="asterisk">*</span></label>
                                                                                                                                  </div>
                                                                                                                                  <div class="col-sm-9">
                                                                                                                                    <label><%=@documento.grp_consenso_id%></label>

                                                                                                                                  </div>
                                                                                                                              </div>
                                                                                                                              <div class="spacer-10"></div>
                                                                                                                              <div class="row">
                                                                                                                                  <div class="col-sm-3">
                                                                                                                                      <label> Dias para consenso <span class="asterisk">*</span></label>
                                                                                                                                  </div>
                                                                                                                                  <div class="col-sm-9">
                                                                                                                                    <div class="input-group">
                                                                                                                                     <label><%=@documento.dias_consenso%> dia(s)</label>
                                                                                                                                      
                                                                                                                                    </div>
                                                                                                                                  </div>
                                                                                                                              </div>
                                                                                                                              <div class="spacer-20"></div>
                                                                                                                              <hr>
                                                                                                                              <div class="spacer-20"></div>
                                                                                                                              <div class="row">
                                                                                                                                <div class="col-sm-3">
                                                                                                                                    <label> Homologação <span class="asterisk">*</span></label>
                                                                                                                                </div>
                                                                                                                                <div class="col-sm-9">
                                                                                                                                  <label><%=@documento.grp_homologador_id%></label>
                                                                                                                                </div>
                                                                                                                              </div>
                                                                                                                              <div class="spacer-10"></div>
                                                                                                                              <div class="row">
                                                                                                                                <div class="col-sm-3">
                                                                                                                                    <label> Dias para homologação <span class="asterisk">*</span></label>
                                                                                                                                </div>
                                                                                                                                <div class="col-sm-9">
                                                                                                                                  <div class="input-group">
                                                                                                                                    <label><%=@documento.dias_homologar%> dia(s)</label>
                                                                                                                                    </span>
                                                                                                                                  </div>
                                                                                                                                </div>
                                                                                                                              </div>
                                                                                                                            </fieldset>

<div class="spacer-10"></div> 


                                                                                      <fieldset>
                                                                                       <legend>Docs. complementares</legend>
                                                                                       <div class="row">
                                                                                           <div class="inner-padding">

                                                                                            <%if @complementares.present?%>
                                                                                            
<table class="table table-striped">
                                                              <% @complementares.each do |c| %>
                                                                  <tr>
                                                                      <td class="">
                                                                          <%
                                                                          titulo = Documento.find(c.doc_filho_id).titulo
                                                                          %>
                                                                          <a target="_blank" href="/documento-<%=c.doc_filho_id%>"><%= titulo %></a>
                                                                      </td>
                                                                  </tr>
                                                              <% end %>
                                                            </table>
                                                                                            <%else%>
                                                                                            <div class="alert">Nenhum doc. encontrado
                                                                                            <% end%>
                                                                                           </div>
                                                                                       </div>
                                                                                     </fieldset>
                                                                                                                            <div class="spacer-10"></div> 


                                                                                      <fieldset>
                                                                                       <legend>Anexos</legend>
                                                                                       <div class="row">
                                                                                       <div class="inner-padding">
                                                                                           <% if @documento.anexo_docs.present? %>
                                                                                           <div class="row inner-padding">
                                                              
                                                          </div>
                                                                                           <table class="table table-responsive table-condensed">



                    <% @documento.anexo_docs.each do |anexo| %>
                                                                      <tr>
                                                                          <td class="col-sm-10">
                                                                              <h3>
                                                                                  <i class="fa fa-file-text"></i>
                                                                                  <a href="#"><%=anexo.descricao%></a>
                                                                              </h3>
                                                                              <div class="article-meta">
                                                                                  <div class="article-date">
                      <%= formata_dt anexo.created_at%>
                                                                                  </div>
                                                                                  <span>-</span>
                                                                                  <div class="article-category">
                                                                                      <a href="#"><%=anexo.user.name%></a>
                                                                                  </div>
                                                                              </div>
                                                                          </td>
                                                                          <td class="col-sm-2">
                                                                              <div class="spacer-10"></div>
                                                                              <a href="/download-anexo-<%= anexo.id %>" class="btn btn-default">Download</a>
                                                                          </td>
                                                                      </tr>
                    <% end %>

                                                                </table>
                                                                </div>

                                                                                           <% else %>   
                                                                                             <div class="inner-padding">
                                                                                              <div class="alert">Nenhum anexo encontrado</div>
                                                                                             </div>
                                                                                           <% end %>
                                                                                       </div>
                                                                                     </fieldset>

                                                                                                                              <div class="spacer-10"></div> 


                                                                                      <fieldset>
                                                                                       <legend>Localização</legend>
                                                                                       <div class="row">
                                                                                       <div class="inner-padding">
                                                                                       <%if @documento.documento_localizacoes.present?%>
                                                                
                                                                                       <table class="table table-striped">
                                                                                        <% @documento.documento_localizacoes.each do |h| %>
                                                                                            <tr>
                                                                                                <td class=""><%=h.area%></td>
                                                                                                <td class=""><%=h.pasta%></td>
                                                                                                <td class=""><%=h.numero%></td>
                                                                                                <td class=""><%=h.localizacao%></td>
                                                                                            </tr>
                                                                                        <% end %>
                                                                                      </table>
                                                                                       <%else%>
                                                                                       <div class="alert">Nenhum localização encontrada
                                                                                       <% end %>
                                                                                       </div>

                                                                                            
                                                                                       </div>
                                                                                     </fieldset>



                                                                                                                            <div class="spacer-10"></div>

                                                                                                                            <fieldset>
                                                                                                                              <legend>Documento</legend>
                                                                                                                              <div class="row">
                                                                                                                                <div class="inner-padding">


<%= raw @documento.texto_doc%>

                                                                                                                                </div>

                                                                                                                              </div>
                                                                                                                            </fieldset>
                        </div>
                                          </div>
                                          <div id="content-tab-4-b" class="tab-pane">
                                              <div class="inner-padding">
                                                <table class="table table-striped">



                                                              <% @documento.documento_historicos.each do |h| %>

                                                              <tr>

                                                                  <td>
                                                                    <b><%= formata_dt_hr h.created_at %></b> - <%= h.historico %>
                                                                  </td>
                                                              </tr>

                                                              <% end %>


                                                      </table>
                      </div>
                                          </div>
                                      </div>
                                  </div>
                              </div><!-- End .widget -->


                      </div>

















