<script type="application/javascript">

    $(document).ready(function () {
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-rap").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen: 3,
            className: '',
            onShow: function () {
            },
            onHide: function () {
            }
        });
        e.preventDefault();
        <% end %>


    });


</script>


</div>


<div id="container" class="clearfix">


  <%= render 'shared/lateral' %>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%= root_path %>"> Início</a></li>
            <li><a href="/racs"> Relatório de ação corretiva</a></li>
            <li class="active">Atualização</li>
          </ul>
        </div>
        <%= render 'shared/versao' %>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Relatório de ação corretiva</h2>
          </div>
          <div class="pull-right">


          </div>
        </div>
        <!-- End .inner-padding -->
      </header>
      <!-- End #header-sec -->






      <%= form_for(@rap, :html => {class: ""}) do | f | %>


          <div class="window">
            <div class="actionbar">
              <div class="pull-left">
                <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
                <a href="#" class="btn" onclick="window.history.go(-1); return false;">
                  <i class="fa fa-arrow-left "></i>&nbsp;Voltar
                </a>
                <button type="submit" class="btn">
                  <i class="fa fa-check"></i>&nbsp;  Salvar
                </button>
              </div>

              <div class="pull-right">
                <a href="/rap-<%=@rap.id%>-followup" class="btn">
                  <i class="fa fa-list-alt"></i> Follow up
                </a>
              </div>
            </div>

            <div class="inner-padding">
              <fieldset>


                <div class="row">
                  <div class="col-sm-3">
                    <label>Status </label>
                  </div>
                  <div class="col-sm-9">
                    <%= f.select(:status, [], {}, {class: "select2"}) do %>
                        <% [['Em elaboração', 'Em elaboração'], ['Encerrado', 'Encerrado'], ['Aguardando retorno', 'Aguardando retorno']].each do |c| -%>
                            <%= content_tag(:option, c.first, value: c.last) %>
                        <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="spacer-10"></div>

                <div class="row">
                  <div class="col-sm-3">
                    <label>Dt. criação </label>
                  </div>
                  <div class="col-sm-9">
                    <input name="rap[dt_criacao]" type="text" required data-mask="99/99/9999" class="form-control" placeholder="Informe a data da criação" value="<%= formata_dt Time.now %>" />
                  </div>
                </div>
                <div class="spacer-10"></div>

                <div class="row">
                  <div class="col-sm-3">
                    <label>Tipo de reclamação </label>
                  </div>
                  <div class="col-sm-9">
                    <%= f.select(:tipo_reclamacao_id, [], {}, {class: "select2"}) do %>
                        <% TipoReclamacao.all.each do |c| -%>
                            <%= content_tag(:option, c.descricao, value: c.id) %>
                        <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="spacer-10"></div>






              </fieldset>

              <div class="spacer-20"></div>

              <fieldset>
                <legend>Campo de atuação</legend>


                <div class="spacer-10"></div>

                <div class="row">
                  <div class="col-sm-3">
                    <label>Área/Dpeto responsável pelo RAC </label>
                  </div>
                  <div class="col-sm-9">
                    <%= f.select(:area_responsavel_id, [], {}, {class: "select2"}) do %>
                        <% Area.all.each do |f| -%>
                            <%= content_tag(:option, f.descricao, value: f.id) %>
                        <% end %>
                    <% end %>
                  </div>
                </div>

                <div class="spacer-10"></div>

                <div class="row">
                  <div class="col-sm-3">
                    <label>Área/Dpeto solicitante do RAC </label>
                  </div>
                  <div class="col-sm-9">
                    <%= f.select(:area_solicitante_id, [], {}, {class: "select2"}) do %>
                        <% Area.all.each do |f| -%>
                            <%= content_tag(:option, f.descricao, value: f.id) %>
                        <% end %>
                    <% end %>
                  </div>
                </div>

                <div class="spacer-10"></div>


                <div class="row">
                  <div class="col-sm-3">
                    <label>Solicitante </label>
                  </div>
                  <div class="col-sm-9">
                    <%= f.text_field :solicitante, class: "form-control", placeholder: "Informe o nome do solicitante", value: current_user.name, required: true %>
                        </div>
                        </div>
                        </fieldset>

                        <div class="spacer-20"></div>

                        <fieldset>
                          <legend>Causa potencial da não conformidade</legend>
                          <div class="spacer-10"></div>

                          <div class="row">
                            <div class="col-sm-3">
                              <label>Tipo de não conformidade </label>
                            </div>
                            <div class="col-sm-9">
                              <%= f.select(:tipo_nc_id, TipoNc.all.collect {|nc| [nc.descricao, nc.id]}, {}, {class: "select2"}) %>
                                  </div>
                                  </div>

                                  <div class="spacer-10"></div>

                                  <div class="row">
                                    <div class="col-sm-3">
                                      <label>Descrição </label>
                                    </div>
                                    <div class="col-sm-9">
                                      <%= f.text_area :desc_nc, required: true, class: "form-control", placeholder: "Informe a descrição da não conformidade"%>
                                          </div>
                                          </div>
                                          </fieldset>

                                          <div class="spacer-20"></div>

                                          <fieldset>
                                            <legend>Comentários adicionais</legend>
                                            <div class="spacer-10"></div>

                                            <div class="row">

                                              <div class="col-sm-12">
                                                <%= f.text_area :inf, class: "form-control" %>
                                                    </div>
                                                    </div>


                                         </fieldset>

                                                    <div class="spacer-20"></div>

                                                    <fieldset>
                                                      <legend>Ações preventivas</legend>
                                                      <div class="spacer-10"></div>

                                                      <div class="row"><div class="col-sm-3">
                                                        <label>Analise crítica de eficácia </label>
                                                      </div>

                                                        <div class="col-sm-9">
                                                          <%= f.text_area :analise_critica, class: "form-control" %>
                                                              </div>
                                                              </div>

                                                              <div class="spacer-10"></div>

                                                              <div class="row"><div class="col-sm-3">
                                                                <label>Dt. encerramento </label>
                                                              </div>

                                                                <div class="col-sm-9">
                                                                  <%= f.text_field :dt_encerramento, class: "form-control" %>
                                                                      </div>
                                                                      </div>


                                                              </fieldset>



                                          </div>
                                          </div>

                                          <%= f.hidden_field :user_id, value: session[:user_id]%>


                                      <% end %>

                                      <div class="spacer-30"></div>





                                      </div>


                                      <%= render 'shared/rodape' %>
                                      </div>
                                      <!-- End #content -->
                                      </div><!-- End #main -->
                                      </div><!-- End #container -->
