

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-rap").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>

<!--Modal -->
<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><center>Follow - UP</center></h4>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-bottom:-20px">
          <div class="col-xs-12">

            <form method="post" action="/salvar-follow-up-rap">
              <input type="hidden" name="user_id" value="<%=current_user.id%>" />
              <input type="hidden" name="id" value="<%=@rap.id%>" />


                <div class="col-sm-12 ">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-6">
                        <input type="text" class="form-control" placeholder="Responsável" name="responsavel" required>
                      </div>
                      <div class="col-xs-3">
                        <input type="text" class="form-control" placeholder="Data" name="dt_followup" required data-mask="99/99/9999">
                      </div>
                      <div class="col-xs-3">
                        <input type="text" class="form-control" placeholder="Horário" name="hora" required>
                      </div>
                    </div>
                  </div>


                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-12">
                        <textarea class="form-control" name="inf_inicial" placeholder="Obeservação de abertura do follow-up"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-12">
                        <textarea class="form-control" name="inf_final" placeholder="Obeservação de fechamento do follow-up"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-12">
                        <input type="checkbox" name="finalizado" />Follow-up finalizado
                      </div>
                    </div>
                  </div>

                </div>








              <br><br>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
          <button class="btn btn-primary" type="submit"><i class="fa fa-inverse fa-check"></i> Salvar</button>
        </div>

      </div>
    </div>
    </form>
  </div>
</div>
</div>



<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="#">Relatórios de ações preventivas</a></li>
            <li class="active">Followup</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Followup's</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="#" class="btn" onclick="window.history.go(-1); return false;">
              <i class="fa fa-arrow-left "></i>&nbsp;Voltar
            </a>
            <% if session[:grupo] == 'Administradores' %>
                <a href="#" class="btn" id="modal-update-trigger">
                  <i class="fa fa-plus-circle"></i>&nbsp;  Incluir
                </a>
            <%end%>
          </div>



        </div>

        <div class="inner-padding">


          <% if @rap.rap_followups.present? %>
              <table class="table col-md-12" id="tablesorting-1">
                <thead class="">
                <tr>
                  <th class="col-md-2">Status</th>
                  <th class="col-md-4">Data</th>
                  <th class="col-md-2">Hora</th>
                  <th class="col-md-4">Responsável</th>
                  <th class="col-md-4">Inf. inicial</th>
                  <th class="col-md-4">Inf. final</th>
                  <th class="col-md-3">Opções</th>
                </tr>
                </thead>
                <tbody>
                <% @rap.rap_followups.each do |f| %>
                    <tr>
                      <td>
                        <%
                           if f.finalizado
                              vl = 'Finalizado'
                           else
                             vl = 'Pendente'
                           end
                        %>
                        <center>
                          <%= vl %></center>
                      </td>

                      <td>
                        <center>
                          <%= formata_dt f.dt_followup %></center>
                      </td>

                      <td>
                        <center>
                          <%= f.hora %>
                        </center>
                      </td>

                      <td>
                        <center>
                          <%= f.responsavel %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= f.inf_inicial %>
                        </center>
                      </td>
                      <td>
                        <center>
                          <%= f.inf_final %>
                        </center>
                      </td>



                      <td>
                        <div style="text-align: center;">

                              <a href="/atualizar-follow-up-rap-<%=f.id%>" class="btn-less tooltip-top" title="Atualizar"><i class="fa fa-pencil"></i></a>
                          <a href="/remove-follow-up-rap-<%=f.id%>" class="btn-less tooltip-top" title="Excluir">   <i class="fa fa-trash-o"></i></i></a>


                        </div>
                      </td>
                    </tr>
                <% end %>
                </tbody>
                <tfoot>
                <tr>
                  <td colspan="7" class="pager form-horizontal">
                    <button class="btn first"><i class="fa fa-step-backward"></i></button>
                    <button class="btn prev"><i class="fa fa-arrow-left"></i></button>
                    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                    <button class="btn next"><i class="fa fa-arrow-right"></i></button>
                    <button class="btn last"><i class="fa fa-step-forward"></i></button>
                    <select class="pagesize input-xs" title="Select page size">
                      <option selected="selected" value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                    </select>
                    <select class="pagenum input-xs" title="Select page number"></select>
                  </td>
                </tr>
                </tfoot>
              </table>

          <% else %>
              <div class="alert alert-block alert-inline-top alert-dismissable">

                <h4>Nenhum followup cadastrado para esse relatório</h4>

              </div>
          <% end %>






        </div>
      </div>


      <%= render 'shared/rodape'%>
    </div><!-- End #content -->
  </div><!-- End #main -->
</div><!-- End #container -->



