

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-rap").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>




<div id="container" class="clearfix">


<%=render 'shared/lateral'%>


<div id="main" class="clearfix">

<header id="header-main">
  <div class="header-main-top">
    <div class="pull-left">
      <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
    </div>
    <div class="pull-right">

      <a href="#" id="responsive-menu-trigger">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <div class="header-main-bottom">
    <div class="pull-left">
      <ul class="breadcrumb">
        <li> <a href="<%=root_path%>">Início</a> </li>
        <li class="active">Relatório de ação preventiva </li>
      </ul>
    </div>
    <%=render 'shared/versao'%>
  </div>
</header>

<div id="content" class="clearfix">


<header id="header-sec">
  <div class="inner-padding">
    <div class="pull-left">
      <h2>Relatório de ação preventiva</h2>
    </div>
    <div class="pull-right">
    </div>
  </div><!-- End .inner-padding -->
</header><!-- End #header-sec -->



<div class="window">
<div class="actionbar">
  <div class="pull-left">
    <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
    <a href="#" class="btn" onclick="window.history.go(-1); return false;">
      <i class="fa fa-arrow-left "></i>&nbsp;Voltar
    </a>
    <%if session[:grupo] == 'Administradores'%>
        <a href="/cadastrar-nova-rap" class="btn">
          <i class="fa fa-plus-circle"></i>&nbsp;  Incluir
        </a>
    <%end%>
  </div>



  </div>



</div>


<div class="inner-padding">
  <div class="row">

    <div class="inner-padding">

        <br>
      <br><br><br>
        <%if @raps.present?%>
        <table class="table col-md-12" id="tablesorting-1">
          <thead class="">
          <tr>
            <th class="col-md-2">Nome - código</th>
            <th class="filter-select filter-exact  col-md-3">Solicitante</th>
            <th class="filter-select filter-exact col-md-5 " data-placeholder="Todas...">Área Responsável</th>
            <th class="filter-select filter-exact col-md-2" data-placeholder="Todos...">Status</th>
            <th class="col-md-2">Opções</th>
          </tr>
          </thead>
          <tbody>



          <% @raps.each do |r| %>
              <tr>
                <td>
                  <center>
                    <%= zero r.sequencia %>-<%= r.ano %>
                  </center>
                </td>
                <td>
                  <center>
                    <%= r.solicitante %>
                  </center>
                </td>
                <td>
                  <center>
                    <%= r.area_responsavel.descricao %>
                  </center>
                </td>

                <td style="text-align: center;"><%=r.status%></td>

                <td>
                  <div style="text-align: center;">

                    <%= link_to r, class: "btn-less tooltip-top", id: "deletar", title: "Visualizar" do %>
                        <i class="fa fa-info-circle"></i>
                    <% end %>

                    <a onclick="window.open('/imprimir-rap-<%=r.id%>', 'Página', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=520');" href="#" class="btn-less tooltip-top" title="Imprimir">
                      <i class="fa fa-print"></i>
                    </a>

                    <% if session[:grupo] == 'Administradores' %>
                        <%= link_to atualizar_rap_path(r), class: "btn-less tooltip-top", id: "deletar", title: "Atualizar" do %>
                            <i class="fa fa-pencil"></i>
                        <% end %>

                        <%= link_to r, method: :delete, data: { confirm: 'Tem Certeza?' }, class: "btn-less tooltip-top", id: "deletar", title: "Apagar" do %>
                            <i class="fa fa-trash-o"></i>
                        <% end %>
                    <%end%>

                  </div>
                </td>





              </tr>
          <% end %>

          </tbody>
          <tfoot>
          <tr>
            <td colspan="5" class="pager form-horizontal">
              <button class="btn first"><i class="fa fa-step-backward"></i></button>
              <button class="btn prev"><i class="fa fa-arrow-left"></i></button>
              <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
              <button class="btn next"><i class="fa fa-arrow-right"></i></button>
              <button class="btn last"><i class="fa fa-step-forward"></i></button>
              <select class="pagesize input-xs" title="Select page size">
                <option selected="selected" value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
              </select>
              <select class="pagenum input-xs" title="Select page number"></select>
            </td>
          </tr>
          </tfoot>
        </table>
        <% else %>
            <div class="alert">Nenhum relatório encontrado</div>
        <% end %>
      </div>

  </div>

</div>










</div>
</div>


<%= render 'shared/rodape'%>
</div><!-- End #content -->
</div><!-- End #main -->
</div><!-- End #container -->
