
<div id="container" class="clearfix">
  <div id="" class="clearfix">
    <div id="content" class="clearfix">
      <div class="window">
        <div class="inner-padding">
          <table class="table table-bordered table-condensed">
            <thead>
            <tr>
              <th colspan="5">
                <center><label style="color: green">AMCEL - AMAPÁ FLORESTAL E CELULOSE S.A</label></center>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td align="center" vAlign="middle" rowspan="2" colspan="">
                <img src="<%=@URL%>/Content/images/logo.png" alt="logo-amcel" width="60%" />
              </td>
              <td colspan="4" vAlign="base" height="10%">
                <div class="spacer-10"></div>
                <center><h4><b>RAP - Relatório de ação preventiva</b></h4></center>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>Tipo de reclamação:</b><br>
                <%= @rap.tipo_reclamacao.descricao %>
                <div class="spacer-10"></div>
              </td>
              <td colspan="2">
                <b>Solicitante:</b><br>
                <%= @rap.solicitante %>
                <div class="spacer-10"></div>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <b>Área/Dpto responsavel:</b><br>
                <%= @rap.area_responsavel.descricao %>
                <div class="spacer-10"></div>
              </td>
              <td colspan="2">
                <b>Area/Dpto solicitante:</b><br>
                <%= @rap.area_solicitante.descricao %>
                <div class="spacer-10"></div>
              </td>
              <td colspan="1">
                <b>Status:</b> <br />
                <%= @rap.status %>
              </td>
            </tr>

            <tr>
              <td colspan="1">
                <b>Dt. criação:</b> <br />
                <%= formata_dt @rap.dt_criacao %>
              </td>
              <td colspan="4">
                <b>Tipo de não conformidade:</b> <br />
                <%= @rap.tipo_nc.descricao %>
              </td>
            </tr>

            <tr>
              <td colspan="5">
                <b>Não conformidade:</b> <br />
                <%= @rap.desc_nc %>
              </td>
            </tr>

            <% if @rap.inf.present? %>
            <tr>
              <td colspan="5">
                <b>Comentários adicionais:</b> <br />
                <%= @rap.inf %>
              </td>
            </tr>
            <% end %>

            <tr>
              <td colspan="5">
                <b>Ação corretiva:</b> <br />
                <%= @rap.desc_acao %>
              </td>
            </tr>

            <Tr>
              <td colspan="4">
                <b>Status:</b> <br />
                <%= @rap.status_acao %>
              </td>
              <td colspan="1">
                <b>Dt. ação corretiva:</b> <br />
                <%=  formata_dt @rap.dt_prevista if @rap.dt_prevista.present? %>
              </td>
            </Tr>

            <tr>
              <td colspan="5">
                <b>Análise crítica de eficácia</b> <br />
                <%= @rap.analise_critica %>
              </td>
            </tr>

            <tr>
              <td colspan="5">
                <b>Dt. encerramento</b> <br />
                <%= formata_dt @rap.dt_encerramento if @rap.dt_encerramento.present?%>
              </td>
            </tr>

            </td>

            </tbody>
          </table>
          <br />
          <br />
        </div>

      </div>
    </div>
  </div>
</div>












