<script type="application/javascript">

    $(document).ready(function () {
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-rap").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen: 3,
            className: '',
            onShow: function () {
            },
            onHide: function () {
            }
        });
        e.preventDefault();
        <% end %>


    });


</script>


</div>


<%= form_for @rap do | f | %>
    <!--Modal -->
    <div class="modal" id="modal-update2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><div style="text-align: center;">Adiar ação corretiva</div></h4>
          </div>
          <div class="modal-body">


            <div class="spacer-10"></div>





            <div class="row" style="margin-bottom:-20px">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-sm-12 ">

                    <label>Nova data:</label>
                    <input name="rap[nova_dt]" type="text" required data-mask="99/99/9999" class="form-control" placeholder="Informe a data prevosta para correção"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="spacer-10"></div>

            <div class="row" style="margin-bottom:-20px">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-sm-12 ">

                    <label>Justificativa :</label>
                    <%= f.text_area :justificativa, class: "form-control", placeholder: "Informe o motivo do adiamento", required: true %>

                        </div>
                        </div>
                        </div>
                        </div>

                        <div class="spacer-30"></div>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                          <button type="submit" class="btn btn-primary pull-right"> Salvar </button>
                        </div>
                        </div>
                        </div>
                        </div>
                    <% end  %>

<div id="container" class="clearfix">


  <%= render 'shared/lateral' %>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%= root_path %>"> Início</a></li>
            <li><a href="/racs"> Relatório de ação preventiva</a></li>
            <li class="active">Visualizar</li>
          </ul>
        </div>
        <%= render 'shared/versao' %>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Relatório de ação preventiva</h2>
          </div>
          <div class="pull-right">
          </div>
        </div>
        <!-- End .inner-padding -->
      </header>
      <!-- End #header-sec -->

          <div class="window">
            <div class="actionbar">
              <div class="pull-left">
                <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
                <a href="#" class="btn" onclick="window.history.go(-1); return false;">
                  <i class="fa fa-arrow-left "></i>&nbsp;Voltar
                </a>
                <a onclick="window.open('/imprimir-rap-<%=@rap.id%>', 'Página', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=520');" href="#" class="btn" title="Imprimir">
                  <i class="fa fa-print"></i> Imprimir
                </a>
              </div>
              <div class="pull-right">
                <a href="/rap-<%=@rap.id%>-followup" class="btn">
                  <i class="fa fa-list-alt"></i> Follow up
                </a>
              </div>
            </div>

            <div class="inner-padding">
              <fieldset>
                <div class="row">
                  <div class="col-sm-3">
                    <label>Status </label>
                  </div>
                  <div class="col-sm-9">
                   <%=@rap.status%>
                  </div>
                </div>
                <div class="spacer-10"></div>

                <div class="row">
                  <div class="col-sm-3">
                    <label>Dt. criação </label>
                  </div>
                  <div class="col-sm-9">
                    <%= formata_dt @rap.dt_criacao%>
                  </div>
                </div>
                <div class="spacer-10"></div>

                <div class="row">
                  <div class="col-sm-3">
                    <label>Tipo de reclamação </label>
                  </div>
                  <div class="col-sm-9">
                    <%=@rap.tipo_reclamacao.descricao%>
                  </div>
                </div>
                <div class="spacer-10"></div>

              </fieldset>

              <div class="spacer-20"></div>

              <fieldset>
                <legend>Campo de atuação</legend>
                <div class="spacer-10"></div>

                <div class="row">
                  <div class="col-sm-3">
                    <label>Área/Dpeto responsável pelo RAC </label>
                  </div>
                  <div class="col-sm-9">
                   <%=@rap.area_responsavel.descricao%>
                  </div>
                </div>

                <div class="spacer-10"></div>

                <div class="row">
                  <div class="col-sm-3">
                    <label>Área/Dpeto solicitante do RAC </label>
                  </div>
                  <div class="col-sm-9">
                    <%=@rap.area_solicitante.descricao%>
                  </div>
                </div>

                <div class="spacer-10"></div>


                <div class="row">
                  <div class="col-sm-3">
                    <label>Solicitante </label>
                  </div>
                  <div class="col-sm-9">
                    <%=@rap.solicitante%>
                        </div>
                        </div>
                        </fieldset>

                        <div class="spacer-20"></div>

                        <fieldset>
                          <legend>Causa potencial da não conformidade</legend>
                          <div class="spacer-10"></div>

                          <div class="row">
                            <div class="col-sm-3">
                              <label>Tipo de não conformidade </label>
                            </div>
                            <div class="col-sm-9">
                              <%=@rap.tipo_nc.descricao%>
                                  </div>
                                  </div>

                                  <div class="spacer-10"></div>

                                  <div class="row">
                                    <div class="col-sm-3">
                                      <label>Descrição </label>
                                    </div>
                                    <div class="col-sm-9">
                                      <%=@rap.desc_nc%>
                                          </div>
                                          </div>
                                          </fieldset>

                                          <div class="spacer-20"></div>

                                          <fieldset>
                                            <legend>Comentários adicionais</legend>
                                            <div class="spacer-10"></div>

                                            <div class="row">

                                              <div class="col-sm-12">
                                              <%=@rap.inf%>
                                                    </div>
                                                    </div>


                                                    </fieldset>

              <div class="spacer-20"></div>

              <%= form_for @rap do | f | %>
                  <fieldset>
                    <legend>Ações corretivas</legend>

                    <div class="spacer-10"></div>

                    <div class="row">
                      <div class="col-sm-3">
                        <label>Status ação preventiva</label>
                      </div>
                      <div class="col-sm-9">
                        <%if @rap.status != "Encerrado"%>
                            <%= f.select(:status_acao, [], {selected: @rap.status_acao}, {class: "select2"}) do %>
                                <% [['Executada', 'Executada'], ['Em execução', 'Em execução'], ['Em elaboração', 'Em elaboração']].each do |c| -%>
                                    <%= content_tag(:option, c.first, value: c.last) %>
                                <% end %>
                            <% end %>

                        <% else %>
                            <%=@rap.status_acao%>
                        <% end %>
                      </div>
                    </div>
                    <div class="spacer-10"></div>

                    <div class="row">
                      <div class="col-sm-3">
                        <label>Desc. ação preventiva </label>
                      </div>
                      <div class="col-sm-9">
                        <%if @rap.status != "Encerrado"%>
                            <%= f.text_area :desc_acao, class: "form-control", placeholder: "Descrição da ação corretiva..."%>
                            <%else%>
                                <%=@rap.desc_acao%>
                            <%end%>
                      </div>
                    </div>
                            <div class="spacer-10"></div>

                            <div class="row">
                              <div class="col-sm-3">
                                <label>Data ação corretiva.:</label>
                              </div>
                              <div class="col-sm-9">
                                <% if @rap.dt_prevista.present?%>
                                    <%= formata_dt @rap.dt_prevista %>
                                <% else %>
                                    <input name="rap[dt_prevista]" type="text" data-mask="99/99/9999" class="form-control" placeholder="Informe a data prevista para correção" />
                                <% end %>

                              </div>
                            </div>
                            <div class="spacer-10"></div>
                            <hr>
                            <div class="spacer-10"></div>
                            <% if @rap.status != "Encerrado"%>
                                <button type="submit" class="btn btn-primary pull-left"> Salvar </button>

                            <% end %>

                            <% if @rap.status_acao != "Executada" && @rap.dt_prevista.present?%>
                                <button type="button" data-toggle="modal" data-target="#modal-update2"  class="btn btn-primary pull-left"> Adiar correção </button>
                            <% end %>

                            <div class="spacer-10"></div>
                    </fieldset>

                            <div class="spacer-20"></div>

                            <%if @rap.user == current_user && @rap.status_acao == "Executada"%>
                                <%= form_for @rap do | f | %>
                                    <fieldset>
                                      <legend>Encerramento</legend>
                                      <div class="spacer-10"></div>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <label>Análise crítica de eficácia das ações preventivas </label>
                                        </div>
                                        <div class="col-sm-9">
                                          <%if @rap.analise_critica.present?%>
                                              <%=@rap.analise_critica%>
                                          <% else %>
                                              <%= f.text_area :analise_critica, class: "form-control", placeholder: "Análise de eficácia..."%>
                                          <% end %>
                                          </div>
                                        </div>



                                              <div class="spacer-10"></div>
                                              <div class="row">
                                                <div class="col-sm-3">
                                                  <label>Dt. real encerramento </label>
                                                </div>
                                                <div class="col-sm-9">
                                                  <% if @rap.dt_encerramento.present?%>
                                                  <%= formata_dt @rap.dt_encerramento %>
                                                  <% else %>
                                                      <input name="rap[dt_encerramento]" type="text" data-mask="99/99/9999" class="form-control" placeholder="Informe a data prevista para correção" />
                                                  <% end %>

                                                      </div>
                                                      </div>
                                              <div class="spacer-10"></div>
                                              <hr>
                                              <div class="spacer-10"></div>
                                              <% if @rap.status != "Encerrado"%>
                                                  <button type="submit" class="btn btn-primary pull-left"> Salvar </button>
                                              <% end %>

                                                      </div>

                                              <div class="spacer-10"></div>
                                    </fieldset>
                                <% end %>
                            <% end %>
              <% end %>



                                                    </div>
                                                    </div>




                                                <div class="spacer-30"></div>





                                                </div>


                                                <%= render 'shared/rodape' %>
                                                </div>
                                                </div>
                                                </div>
