

<table class="table col-md-12" id="tablesorting-1">
  <thead class="">
  <tr>
    <th class="col-md-4">Auditoria</th>
    <th class="col-md-4">Área</th>
    <th class="col-md-4">Responsável</th>
    <th class="col-md-2">Dt. Ação corretiva</th>
    <th class="col-md-2">Dt. Execução</th>
    <th class="col-md-2">Opções</th>
  </tr>
  </thead>
  <tbody>
  <% @racs.each do |r| %>
      <tr>

              <td>
                <center>
                <%=  r.auditoria.planoauditoria.nome %> - <%=     r.auditoria.numero %>
                </center>
              </td>

              <td>
                <center>
                <%= r.area.descricao %>
                </center>
              </td>

              <td>
                <center>
                <%= r.responsavel %>
                </center>
              </td>

              <td>
                <center>
                <%= formata_dt r.dt_prevista_correacao %>
                </cente>
              </td>

              <td>
                <center>
                <%= formata_dt r.dt_real_execucao %>
                </center>
              </td>

        <td>
          <div style="text-align: center;">
              <%= link_to r, class: "btn-less tooltip-top", id: "deletar", title: "Visualizar" do %>
                      <i class="fa fa-info-circle"></i>
                  <% end %>
           <%if session[:grupo] == 'Administradores'%>
                      <%= link_to atualizar_rac_path(r), class: "btn-less tooltip-top", id: "deletar", title: "Atualizar" do %>
                    <i class="fa fa-pencil"></i>
                <% end %>
            <%= link_to r, method: :delete, data: { confirm: 'Tem Certeza?' }, class: "btn-less tooltip-top", id: "deletar", title: "Apagar" do %>
                <i class="fa fa-trash-o"></i>
            <% end %>
           <%end%>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="6" class="pager form-horizontal">
      <button class="btn first"><i class="fa fa-step-backward"></i></button>
      <button class="btn prev"><i class="fa fa-arrow-left"></i></button>
      <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
      <button class="btn next"><i class="fa fa-arrow-right"></i></button>
      <button class="btn last"><i class="fa fa-step-forward"></i></button>
      <select class="pagesize input-xs" title="Select page size">
        <option selected="selected" value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
      </select>
      <select class="pagenum input-xs" title="Select page number"></select>
    </td>
  </tr>
  </tfoot>
</table>