


  <% @racs.each do |r| %>
      <tr>
        <td>
          <center>
            <%= r.auditoria.planoauditoria.nome %> - <%= r.auditoria.numero %>
          </center>
        </td>
        <td>
          <center>
            <%= zero r.sequencia %>-<%= r.ano %>
          </center>
        </td>
        <td>
          <center>
            <%= r.responsavel %>
          </center>
        </td>

        <td style="text-align: center;"><%=r.status%></td>

        <td>
          <div style="text-align: center;">



            <a data-toggle="modal" data-target="#modal-correcao-rac-<%=r.id%>" href="#" class="btn-less tooltip-top" title="Ação corretiva">
              <i class="fa fa-check-square-o"></i>
            </a>

            <%= link_to r, class: "btn-less tooltip-top", id: "deletar", title: "Visualizar" do %>
                <i class="fa fa-info-circle"></i>
            <% end %>

            <% if session[:grupo] == 'Administradores' %>
                <%= link_to atualizar_rac_path(r), class: "btn-less tooltip-top", id: "deletar", title: "Atualizar" do %>
                    <i class="fa fa-pencil"></i>
                <% end %>

                <%= link_to r, method: :delete, data: { confirm: 'Tem Certeza?' }, class: "btn-less tooltip-top", id: "deletar", title: "Apagar" do %>
                    <i class="fa fa-trash-o"></i>
                <% end %>
            <%end%>

          </div>
        </td>





                                  </tr>
                          <% end %>
