<p>
  <label id="lbl-<%=f.__id__%>"> Tipo não conformidade: </label><br />
  <%= f.text_field :descricao, id: "rac_nao_conformidade-#{f.__id__}" %>
  <%= link_to_remove_association "Remover", f %>
</p>





