

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-bibliotecas").addClass("menu-open");
        $("#seta-bibliotecas").removeClass("fa-caret-left");
        $("#seta-bibliotecas").addClass("fa-caret-down");
        $("#menu-rac").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>


</div>


<div id="container" class="clearfix">


<%=render 'shared/lateral'%>


<div id="main" class="clearfix">

<header id="header-main">
  <div class="header-main-top">
    <div class="pull-left">
      <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
    </div>
    <div class="pull-right">

      <a href="#" id="responsive-menu-trigger">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <div class="header-main-bottom">
    <div class="pull-left">
      <ul class="breadcrumb">
        <li><a href="<%=root_path%>"> Início</a></li>
        <li><a href="/lista-de-racs"> Relatório de ação corretiva</a></li>
        <li><a href="#"> Cadastro</a></li>
        <li class="active">Alterar data</li>
      </ul>
    </div>
    <%=render 'shared/versao'%>
  </div>
</header>

<div id="content" class="clearfix">


<header id="header-sec">
  <div class="inner-padding">
    <div class="pull-left">
      <h2>Relatório de ação corretiva</h2>
    </div>
    <div class="pull-right">



    </div>
  </div><!-- End .inner-padding -->
</header><!-- End #header-sec -->
  <%= form_for @rac do |f| %>
<div class="window">
<div class="actionbar">
  <div class="pull-left">
    <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
    <a href="#" class="btn" id="">
      <i class="fa fa-arrow-circle-left"></i>&nbsp;  Voltar
    </a>
    <button class="btn" type="submit">
      <i class="fa fa-check"></i>&nbsp;  Salvar
    </button>
  </div>



</div>

<div class="inner-padding">


        <fieldset>
          <legend>RAC - Alteração da data da ação corretiva</legend>
          <div class="row">
            <div class="col-sm-3">
              <label>Nova data prevista: <span class="asterisk">*</span></label>
            </div>
            <div class="col-sm-9">

                  <input required placeholder="Data execução" id="auditoria_data_prevista" name="rac[nova_dt_prevista]" type="text" data-mask="99/99/9999" class="form-control" />
            </div>
          </div>
          <div class="spacer-10"></div>
          <div class="row">
            <div class="col-sm-3">
              <label>Responsável: <span class="asterisk">*</span></label>
            </div>
            <div class="col-sm-9">
              <%= f.text_field :NovoResponsavel, class: "form-control", required: true, placeholder: "Novo responsável...", value: @rac.responsavel %>
            </div>
          </div>
          <div class="spacer-10"></div>
          <div class="row">
            <div class="col-sm-3">
              <label>Justificativa: <span class="asterisk">*</span></label>
            </div>
            <div class="col-sm-9">
              <%= f.text_area :justificativa, class: "form-control", required: true, placeholder: "Justificativa..." %>
            </div>
          </div>
        </fieldset>


</div>

</div>
</div>
  <% end %>

<%= render 'shared/rodape'%>
</div><!-- End #content -->
</div><!-- End #main -->
</div><!-- End #container -->






























