

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-rac").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-rac").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>


</div>


<div id="container" class="clearfix">


<%=render 'shared/lateral'%>


<div id="main" class="clearfix">

<header id="header-main">
  <div class="header-main-top">
    <div class="pull-left">
      <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
    </div>
    <div class="pull-right">

      <a href="#" id="responsive-menu-trigger">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <div class="header-main-bottom">
    <div class="pull-left">
      <ul class="breadcrumb">
        <li><a href="<%=root_path%>"> Início</a></li>
        <li><a href="/racs"> Relatório de ação corretiva</a></li>
        <li class="active">Cadastro</li>
      </ul>
    </div>
    <%=render 'shared/versao'%>
  </div>
</header>

<div id="content" class="clearfix">


<header id="header-sec">
  <div class="inner-padding">
    <div class="pull-left">
      <h2>Relatório de ação corretiva</h2>
    </div>
    <div class="pull-right">
    </div>
  </div><!-- End .inner-padding -->
</header><!-- End #header-sec -->






  <%= form_for(@rac, :html => {class: "powerwizard-content"}) do |f| %>


<div class="window">
<div class="actionbar">
  <div class="pull-left">
    <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
    <a href="javascript:history.back(-1);" class="btn" id="">
      <i class="fa fa-arrow-circle-left"></i>&nbsp;  Voltar
    </a>
    <button type="submit" class="btn"><i class="fa fa-check"></i>&nbsp;  Salvar</button>
  </div>
  <div class="pull-right">
    <a href="/rac-<%=@rac.id%>-followup" class="btn">
      <i class="fa fa-list-alt"></i> Follow up
    </a>
  </div>


</div>

<div class="inner-padding">






    <div class="powerwizard-step">
      <div class="inner-padding">

        <div class="row">
          <div class="col-sm-12">
            <label for="">Status: <span class="asterisk">*</span></label>
            <%= f.select(:status, [], {}, {class: "select2"}) do %>
                <% [['Em elaboração', 'Em elaboração'], ['Finalizado', 'Finalizado'], ['Aguardando retorno', 'Aguardando retorno']].each do |c| -%>
                    <%= content_tag(:option, c.first, value: c.last) %>
                <% end %>
            <% end %>
          </div>
        </div>
        <div class="spacer-10"></div>
        <div class="row">
          <div class="col-sm-12">
            <label for="">Dt. criação: <span class="asterisk">*</span></label>
            <input name="rac[dt_criacao]" type="text" required data-mask="99/99/9999" class="form-control" placeholder="Informe a data da criação" value="<%= formata_dt @rac.dt_criacao %>" />
          </div>
        </div>
        <div class="spacer-10"></div>
        <div class="row">
          <div class="col-sm-12">
            <label for="">Responsável: <span class="asterisk">*</span></label>
            <%= f.text_field :responsavel, class: "form-control" %>
          </div>
        </div>
                <div class="spacer-10"></div>
                <div class="row">
                  <div class="col-sm-12">
                    <label for="">Solicitante: <span class="asterisk">*</span></label>
                    <%= f.text_field :solicitante, class: "form-control" %>
                        </div>
                        </div>

                        <div class="spacer-10"></div>
                        <div class="row">
                          <div class="col-sm-12">
                            <label for="">Tipo de não conformidade: <span class="asterisk">*</span></label>
                            <%= f.select(:tipo_nc_id, TipoNc.all.collect {|a| [a.descricao, a.id]}, {}, {class: "select2"}) %>
                                </div>
                                </div>
                        <div class="spacer-10"></div>
                        <div class="row">
                          <div class="col-sm-12">
                            <label for="">Desc. não conform.: <span class="asterisk">*</span></label>
                            <%= f.text_area :desc_nc, class: "form-control" %>
                                </div>
                                </div>

                                <div class="spacer-10"></div>
                                <div class="row">
                                  <div class="col-sm-12">
                                    <label for="">Análise causa raiz.: <span class="asterisk">*</span></label>
                                    <%= f.text_area :analise_causa, class: "form-control" %>
                                        </div>
                                        </div>

                                        <div class="spacer-10"></div>
                                        <div class="row">
                                          <div class="col-sm-12">
                                            <label for="">Status ação corretiva.: <span class="asterisk">*</span></label>
                                            <%= f.select(:status_correcao, [], {}, {class: "select2"}) do %>
                                                <% [['Em elaboração', 'Em elaboração'], ['Finalizada', 'Finalizada'], ['Aguardando retorno', 'Aguardando retorno']].each do |c| -%>
                                                    <%= content_tag(:option, c.first, value: c.last) %>
                                                <% end %>
                                            <% end %>
                                                </div>
                                                </div>

                                        <div class="spacer-10"></div>
                                        <div class="row">
                                          <div class="col-sm-12">
                                            <label for="">Desc ação corretiva.: <span class="asterisk">*</span></label>
                                            <%= f.text_area :desc_correacao, class: "form-control" %>
                                          </div>
                                        </div>

                                                <div class="spacer-10"></div>
                                                <div class="row">
                                                  <div class="col-sm-12">
                                                    <label for="">Dt. correção.: <span class="asterisk">*</span></label>
                                                    <input name="rac[dt_prevista_correacao]" type="text" required data-mask="99/99/9999" class="form-control" placeholder="Informe a data da criação" value="<%= formata_dt @rac.dt_prevista_correacao if @rac.dt_prevista_correacao.present?%>" />
                                                        </div>
                                                        </div>

                                                <div class="spacer-10"></div>
                                                <div class="row">
                                                  <div class="col-sm-12">
                                                    <label for="">Análise de eficácia.: <span class="asterisk">*</span></label>
                                                    <%= f.text_area :analise_eficacia, class: "form-control" %>
                                                  </div>
                                                </div>

                                                        <div class="spacer-10"></div>
                                                        <div class="row">
                                                          <div class="col-sm-12">
                                                            <label for="">Dt. encerramento.: <span class="asterisk">*</span></label>
                                                            <input name="rac[dt_real_encerramento]" type="text" data-mask="99/99/9999" class="form-control" placeholder="Informe a data da criação" value="<%= formata_dt @rac.dt_real_encerramento if @rac.dt_real_encerramento.present?%>" />
                                                                </div>
                                                                </div>




      </div><!-- End .inner-padding -->
    </div>


<%end%>
<div class="spacer-30"></div>
</div>







</div>
</div>


<%= render 'shared/rodape'%>
</div><!-- End #content -->
</div><!-- End #main -->
</div><!-- End #container -->






























