

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-bibliotecas").addClass("menu-open");
        $("#seta-bibliotecas").removeClass("fa-caret-left");
        $("#seta-bibliotecas").addClass("fa-caret-down");
        $("#menu-rac2").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>

<!--Modal -->
<div class="modal" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><div style="text-align: center;">Selecione a auditoria</div></h4>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-bottom:-20px">
          <div class="col-xs-12">

            <form method="get" action="cadastrar-nova-rac">
              <div class="row">


                <div class="col-sm-12 ">

                  <select class="select2" name="auditoria_id">





                  </select>
                </div>



              </div>




              <br><br>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>

        <button type="submit" class="btn btn-success pull-right"> Próximo <i class="fa fa-chevron-right fa-inverse"></i></button>

      </div>
    </div>
    </form>
  </div>
</div>
</div>



<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li> <a href="<%=root_path%>">Início</a> </li>
            <li class="active">Relatório de ação corretiva </li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Relatório de ação corretiva <b></b></h2>
          </div>
          <div class="pull-right">
          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="#" class="btn" onclick="window.history.go(-1); return false;">
              <i class="fa fa-arrow-left "></i>&nbsp;Voltar
            </a>
            <a href="#" class="btn" id="modal-update-trigger">
              <i class="fa fa-plus-circle"></i>&nbsp;  Incluir
            </a>
          </div>

          <div class="pull-right">

          </div>


        </div>

        <div class="inner-padding">
          <div class="row">
            <div class="col-md-12">
              <ul class="ext-tabs">
                <li class="active">
                  <a href="#content-tab-7-a">Em aberto</a>
                </li>
                <li>
                  <a href="#content-tab-7-b">Aguardando fechamento</a>
                </li>
                <li>
                  <a href="#content-tab-7-c">Finalizadas</a>
                </li>
              </ul><!-- End .ext-tabs -->
              <div class="tab-content ext-tabs-boxed">
                <div id="content-tab-7-a" class="tab-pane active">
                  <div class="inner-padding">
                    <%if @racs_abertos.present?%>

                    <%else%>
                        <div class="alert alert-block alert-inline-top alert-dismissable">
                            Nenhuma RAC aberta encontrada
                        </div>
                  <%end%>
                  </div>
                </div>
                <div id="content-tab-7-b" class="tab-pane">
                  <div class="inner-padding">
                    <%if @racs_aguardando.present?%>

                    <%else%>
                        <div class="alert alert-block alert-inline-top alert-dismissable">
                            Nenhuma RAC aguardando fechamento encontrada
                        </div>
                    <%end%>
                  </div>
                </div>
                <div id="content-tab-7-c" class="tab-pane">
                  <div class="inner-padding">
                    <%if @racs_finalizadas.present?%>

                    <%else%>
                        <div class="alert alert-block alert-inline-top alert-dismissable">
                            Nenhuma RAC finalizada encontrada
                        </div>
                    <%end%>
                  </div>
                </div>
              </div><!-- End .tab-content -->
            </div>
          </div>
        </div>










      </div>
    </div>


    <%= render 'shared/rodape'%>
  </div><!-- End #content -->
</div><!-- End #main -->
</div><!-- End #container -->


