

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-bibliotecas").addClass("menu-open");
        $("#seta-bibliotecas").removeClass("fa-caret-left");
        $("#seta-bibliotecas").addClass("fa-caret-down");
        $("#menu-rac").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>


</div>


<div id="container" class="clearfix">


<%=render 'shared/lateral'%>


<div id="main" class="clearfix">

<header id="header-main">
  <div class="header-main-top">
    <div class="pull-left">
      <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
    </div>
    <div class="pull-right">

      <a href="#" id="responsive-menu-trigger">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <div class="header-main-bottom">
    <div class="pull-left">
      <ul class="breadcrumb">
        <li><a href="<%=root_path%>"> Início</a></li>
        <li><a href="/lista-de-racs"> Relatório de ação corretiva</a></li>
        <li class="active">Cadastro</li>
      </ul>
    </div>
    <%=render 'shared/versao'%>
  </div>
</header>

<div id="content" class="clearfix">


<header id="header-sec">
  <div class="inner-padding">
    <div class="pull-left">
      <h2>Relatório de ação corretiva</h2>
    </div>
    <div class="pull-right">



    </div>
  </div><!-- End .inner-padding -->
</header><!-- End #header-sec -->



<div class="window">
<div class="actionbar">
  <div class="pull-left">
    <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
    <a href="/lista-de-racs" class="btn" id="">
      <i class="fa fa-arrow-circle-left"></i>&nbsp;  Voltar
    </a>
  </div>



</div>

<div class="inner-padding">

<ul class="powerwizard big-title">
  <li class="active">
    <h3>1. Dados do plano de auditoria</h3>
    <h4>Informações do plano de auditoria</h4>
  </li>

  <li>
    <h3>2. Dados da auditoria</h3>
    <h4>Informações sobre a auditoria</h4>
  </li>

  <li>
    <h3>3. Informações da RAC</h3>
    <h4>Dados da RAC</h4>
  </li>

  <li class="end">
    <h3>4. Análise da causa raiz</h3>
    <h4>Informações sobre a causa raiz</h4>
  </li>

</ul>

<%= form_for(@rac, :html => {class: "powerwizard-content"}) do |f| %>
    <div class="powerwizard-step">

      <div class="inner-padding">
        <div class="row">
          <div class="col-sm-12">

            <div class="row">
              <div class="col-sm-3">
                <label for="">Código:</label>
                <input class="form-control" disabled="" type="text"id="" value="<%=@auditoria.planoauditoria.id%> " />
              </div>

              <div class="col-sm-9">
                <label for="">Plano de auditoria:</label>
                <input class="form-control required" disabled="" type="text"id="ff-id-1" value="<%=@auditoria.planoauditoria.id%> - <%=@auditoria.planoauditoria.nome%>" />
              </div>
            </div>

            <div class="spacer-10"></div>
            <div class="row">
              <div class="col-sm-2">
                <label for="ff-id-2">Status: </label>
                <input class="form-control required" type="text" id="ff-id-2" disabled="" value="Encerrado" />
              </div>

              <div class="col-sm-2">
                <label for="ff-id-2">Ano: </label>
                <input class="form-control" type="text" id="ff-id-2" disabled="" value="<%=@auditoria.planoauditoria.ano%>" />
              </div>


              <div class="col-sm-4">
                <label for="ff-id-2">Criado em: </label>
                <input class="form-control required" type="text" id="ff-id-2" disabled="" value="<%=formata_dt @auditoria.planoauditoria.created_at%>" />
              </div>

              <div class="col-sm-4">
                <label for="ff-id-2">Atualizado em: </label>
                <input class="form-control required" type="text" id="ff-id-2" disabled="" value="<%= formata_dt @auditoria.planoauditoria.updated_at%>" />
              </div>
            </div>
            <div class="spacer-10"></div>
            <div class="row">
              <div class="col-sm-12">
                <fieldset>
                  <legend>Destinatários</legend>
                  <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nome</th>
                      <th scope="col">E-Mail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if @auditoria.planoauditoria.usuarios.present? %>
                        <% @auditoria.planoauditoria.usuarios.each do |u| %>
                            <tr>
                              <td><%=u.id%></td>
                              <td><%=u.nome%></td>
                              <td><%=u.email%></td>
                            </tr>
                        <% end %>
                    <%end%>
                    </tbody>
                  </table>
                </fieldset>
              </div>
            </div>

          </div>

        </div>
      </div><!-- End .inner-padding -->
    </div>
    <div class="powerwizard-step">
      <div class="row">
        <div class="col-sm-12">
          <div class="inner-padding">
            <div class="inner-padding">
              <div class="row">
                <div class="col-sm-12">

                  <div class="row">
                    <div class="col-sm-2">
                      <label for="">Código:</label>
                      <input class="form-control" disabled="" type="text"id="" value="<%=@auditoria.id%> " />
                    </div>

                    <div class="col-sm-2">
                      <label for="">Número:</label>
                      <input class="form-control " disabled="" type="text"id="ff-id-1" value="<%=@auditoria.numero%>" />
                    </div>

                    <div class="col-sm-8">
                      <label for="">Área auditada:</label>
                      <input class="form-control " disabled="" type="text"id="ff-id-1" value="<%=@auditoria.area.descricao%>" />
                    </div>
                  </div>

                  <div class="spacer-10"></div>
                  <div class="row">
                    <div class="col-sm-2">
                      <label for="ff-id-2">Status: </label>
                      <input class="form-control " type="text" id="ff-id-2" disabled="" value="<%=@auditoria.status%>" />
                    </div>

                    <div class="col-sm-3">
                      <label for="ff-id-2">Dt prevista: </label>
                      <input class="form-control " type="text" id="ff-id-2" disabled="" value="<%= formata_dt @auditoria.data_prevista%> às <%=@auditoria.hora_prevista%> hs" />
                    </div>


                    <div class="col-sm-2">
                      <label for="ff-id-2">Criado: </label>
                      <input class="form-control " type="text" id="ff-id-2" disabled="" value="<%=formata_dt @auditoria.created_at%>" />
                    </div>

                    <div class="col-sm-2">
                      <label for="ff-id-2">Atualizado: </label>
                      <input class="form-control " type="text" id="ff-id-2" disabled="" value="<%= formata_dt @auditoria.updated_at%>" />
                    </div>

                    <div class="col-sm-3">
                      <label>Duração prevista</label>
                      <input class="form-control " type="text" id="ff-id-2" disabled="" value="<%=  @auditoria.duracao_prevista%>" />
                    </div>
                  </div>
                  <div class="spacer-10"></div>
                  <div class="row">
                    <div class="col-sm-12">
                      <!-- * data-asf-time = seconds, data-asf-expireafter = minutes * -->
                      <fieldset>
                        <legend><b>Auditores acompanhantes</b></legend>
                        <table class="table table-striped table-condensed">
                          <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">E-Mail</th>
                          </tr>
                          </thead>
                          <tbody>
                          <% @auditoria.participantes.each do |u| %>
                              <tr>
                                <td><%=u.id%></td>
                                <td><%=u.name%></td>
                                <td><%=u.email%></td>
                              </tr>
                          <%end%>


                          </tbody>
                        </table>




                      </fieldset>


                    </div>
                  </div>

                </div>

              </div>
            </div><!-- End .inner-padding -->
          </div><!-- End .inner-padding -->
        </div>


      </div><!-- End .row -->

    </div>
    <div class="powerwizard-step">
      <div class="inner-padding">
        <div class="row">
          <div class="col-sm-3">
            <label>Participantes <span class="asterisk">*</span></label>
          </div>
          <div class="col-sm-9">
            <select required class="select2" multiple name="auditoria[usuario_ids][]"  id="auditoria[usuario_ids][]" placeholder="Participantes...">
              <%Usuario.all.each do |u| %>
                  <option value="<%=u.id%>"><%=u.nome%> (<%=u.email%>)</option>
              <%end%>
            </select>
          </div>


        </div>
        <div class="spacer-10"></div>
        <div class="row">
          <div class="col-sm-3">
            <label>Tipo de RAC <span class="asterisk">*</span></label>
          </div>
          <div class="col-sm-9">
            <%= f.select :tipo_rac_id, TipoRac.all.collect {|tp| [tp.descricao, tp.id]}, {}, class: "select2" %>

          </div>
        </div>

        <div class="spacer-10"></div>
        <div class="row">
          <div class="col-sm-3">
            <label>Área: <span class="asterisk">*</span></label>
          </div>
          <div class="col-sm-9">
            <%= f.select :area_id, Area.all.collect {|a| [a.descricao, a.id]}, {}, class: "select2" %>
          </div>
        </div>
        <div class="spacer-20"></div>
        <hr>
        <div class="spacer-20"></div>
        <div class="row">
          <div class="col-sm-3">
            <label>Tipo de não conformidade: <span class="asterisk">*</span></label>
          </div>
          <div class="col-sm-9">
            <%= f.select :tipo_nc, TipoNc.all.collect {|tp| [tp.descricao, tp.id]}, {}, class: "select2" %>

          </div>
        </div>
        <div class="spacer-10"></div>
        <div class="row">
          <div class="col-sm-3">
            <label>Descrição da não conformidade: <span class="asterisk">*</span></label>
          </div>
          <div class="col-sm-9">
            <%= f.text_area :desc_nc, class: "auto-expand form-control", 'data-autoexpand-size' => '60'%>
          </div>
        </div>



      </div>


    </div>
    <div class="powerwizard-step">
      <div class="inner-padding">
        <div class="row">

          <div class="col-sm-12">
            <label for="">Análise da causa raiz: <span class="asterisk">*</span></label>
            <%= f.text_area :analise_causa, class: "form-control", 'rows' => '700'%>
          </div>
        </div>
      </div><!-- End .inner-padding -->
    </div>
    <div class="inner-padding">

      <div class="row">
        <div class="col-sm-12">
          <ul class="pagination pw-nav">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
          </ul>
          <div class="pull-right">
            <%= f.hidden_field :usuario_id, value: session[:user_id] %>
            <%= f.hidden_field :auditoria_id, value: @auditoria.id %>
            <%= f.hidden_field :status, value: "Em andamento" %>
            <button type="submit" class="btn btn-primary"><i class="fa fa-check fa-inverse"></i> Salvar</button>
          </div>

          <div class="btn-group pull-right nomargin">
            <a href="#" class="btn btn-default pw-prev"><i class="fa fa-caret-left"></i>&nbsp; Anterior</a>
            <a href="#" class="btn btn-default pw-next">Próximo &nbsp;<i class="fa fa-caret-right"></i></a>
          </div>
        </div>
      </div>
    </div>
<%end%>
<div class="spacer-30"></div>
</div>







</div>
</div>


<%= render 'shared/rodape'%>
</div><!-- End #content -->
</div><!-- End #main -->
</div><!-- End #container -->






























