<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-bibliotecas").addClass("menu-open");
        $("#menu-bibliotecas-rac").addClass("menu-open");
        $("#seta-bibliotecas").removeClass("fa-caret-left");
        $("#seta-bibliotecas").addClass("fa-caret-down");
        $("#seta-bibliotecas-rac").removeClass("fa-caret-left");
        $("#seta-bibliotecas-rac").addClass("fa-caret-down");
        $("#menu-rac-<%=@id_menu%>").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>

<!--Modal -->
<div class="modal" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><div style="text-align: center;">Selecione a auditoria</div></h4>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-bottom:-20px">
          <div class="col-xs-12">

            <form method="get" action="cadastrar-nova-rac">
              <div class="row">


                <div class="col-sm-12 ">

                  <select class="select2" name="auditoria_id">

                    <%@planos.each do |p|%>
                        <optgroup label="<%=p.ano%> - <%=p.nome%>">
                          <% p.auditorias.each do |a |%>
                              <option value="<%= a.id %>"><%= a.numero %></option>
                          <% end %>
                        </optgroup>
                    <%end%>



                  </select>
                </div>



              </div>




              <br><br>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
          <button class="btn btn-primary" type="submit"><i class="fa fa-chevron-right fa-inverse"></i> Próximo</button>
        </div>

      </div>
    </div>
    </form>
  </div>
</div>
</div>



<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li> <a href="<%=root_path%>">Início</a> </li>
            <li class="active">Relatório de ação corretiva </li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Relatório de ação corretiva - <b><%= @filtro.capitalize %></b></h2>
          </div>
          <div class="pull-right">
          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="#" class="btn" onclick="window.history.go(-1); return false;">
              <i class="fa fa-arrow-left "></i>&nbsp;Voltar
            </a>
            <a href="#" class="btn" id="modal-update-trigger">
              <i class="fa fa-plus-circle"></i>&nbsp;  Incluir
            </a>
          </div>

          <div class="pull-right">
            <div class="dropdown">
              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-filter "></i> Opções de filtro
                <i class="fa fa-caret-down"></i>
              </a>
              <ul role="menu" class="dropdown-menu pull-right">
                <li>
                  <a href="/racs,visualizar,abertos"> Em Aberto</a>
                </li>
                <li>
                  <a href="/racs,visualizar,aguardando">Aguardando Retorno</a>
                </li>
                <li>
                  <a href="/racs,visualizar,finalizados">Finalizadas</a>
                </li>

              </ul>

              <div class="pull-right">
                <a href="/rap-<%=@rap.id%>-followup" class="btn">
                  <i class="fa fa-list-alt"></i> Follow up
                </a>
              </div>
            </div><!-- End .dropdown -->
          </div>


        </div>

        <div class="inner-padding">
          <% if @racs.present? %>
              <%= render @partial %>
          <% else %>
              <div class="alert alert-block alert-inline-top alert-dismissable">
                <h4>Nenhuma RAC encontrada</h4>
              </div>
          <% end %>
        </div>










      </div>
    </div>


    <%= render 'shared/rodape'%>
  </div><!-- End #content -->
</div><!-- End #main -->
</div><!-- End #container -->


