<script type="application/javascript">

    $(document).ready(function () {
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-rac").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen: 3,
            className: '',
            onShow: function () {
            },
            onHide: function () {
            }
        });
        e.preventDefault();
        <% end %>


    });


</script>


</div>


<div id="container" class="clearfix">


  <%= render 'shared/lateral' %>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%= root_path %>"> Início</a></li>
            <li><a href="/racs"> Relatório de ação corretiva</a></li>
            <li class="active">Visualizar</li>
          </ul>
        </div>
        <%= render 'shared/versao' %>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Relatório de ação corretiva</h2>
          </div>
          <div class="pull-right">


          </div>
        </div>
        <!-- End .inner-padding -->
      </header>
      <!-- End #header-sec -->




      <%= form_for @rac do | f | %>
      <!--Modal -->
      <div class="modal" id="modal-update2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title"><div style="text-align: center;">Adiar ação corretiva</div></h4>
            </div>
            <div class="modal-body">


              <div class="spacer-10"></div>



              <div class="row" style="margin-bottom:-20px">
                <div class="col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 ">

                          <label>Novo responsável pela ação corretiva:</label>
                          <%= f.select(:NovoResponsavel, [], {}, {class: "select2"}) do %>
                            <% Funcionario.ativos_com_email.each do |f| -%>
                              <%= content_tag(:option, f.nome, value: f.nome) %>
                            <% end %>
                          <% end %>


                        </div>
                      </div>
                </div>
              </div>

              <div class="spacer-10"></div>

              <div class="row" style="margin-bottom:-20px">
                <div class="col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 ">

                          <label>Nova data:</label>
                          <input name="rac[nova_dt_prevista]" type="text" required data-mask="99/99/9999" class="form-control" placeholder="Informe a data prevosta para correção"/>
                        </div>
                      </div>
                </div>
              </div>

              <div class="spacer-10"></div>

              <div class="row" style="margin-bottom:-20px">
                <div class="col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 ">

                          <label>Justificativa :</label>
                            <%= f.text_area :justificativa, class: "form-control", placeholder: "Informe o motivo do adiamento", required: true %>

                        </div>
                      </div>
                </div>
              </div>

              <div class="spacer-30"></div>
            </div>
            <div class="modal-footer">
              <div class="pull-right">
          <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
          <button class="btn btn-primary" type="submit"><i class="fa fa-inverse fa-check"></i> Salvar</button>
        </div>
            </div>
          </div>
        </div>
      </div>
      <% end  %>

      <%= form_for @rac do | f | %>
      <!--Modal -->
      <div class="modal" id="modal-update3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title"><div style="text-align: center;">Encerramento</div></h4>
            </div>
            <div class="modal-body">


              <div class="spacer-10"></div>



              <div class="row" style="margin-bottom:-20px">
                <div class="col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 ">

                          <label>Análise crítica de eficácia das ações corretivas:</label>
                          <%= f.text_area :analise_eficacia, class: "form-control", required: true%>


                        </div>
                      </div>
                </div>
              </div>

              <div class="spacer-10"></div>

              <div class="row" style="margin-bottom:-20px">
                <div class="col-xs-12">
                      <div class="row">
                        <div class="col-sm-6 ">

                          <label>Dt. encerramento:</label>
                          <input name="rac[dt_real_encerramento]" type="text" required data-mask="99/99/9999" class="form-control" />
                        </div>
                      </div>
                </div>
              </div>



              <div class="spacer-30"></div>
            </div>
            <div class="modal-footer">
             <div class="pull-right">
          <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
          <button class="btn btn-primary" type="submit"><i class="fa fa-inverse fa-check"></i> Salvar</button>
        </div>
              
            </div>
          </div>
        </div>
      </div>
      <% end  %>









              <div class="window">
                <div class="actionbar">
                  <div class="pull-left">
                    <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
                    <a href="#" class="btn" onclick="window.history.go(-1); return false;">
                      <i class="fa fa-arrow-left "></i>&nbsp;Voltar
                    </a>




                    <a onclick="window.open('/imprimir-rac-<%=@rac.id%>', 'Página', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=600');" href="#" class="btn" title="Imprimir">
                      <i class="fa fa-print"></i>&nbsp;  Imprimir
                    </a>

                    <%if @rac.dt_prevista_correacao.present? && @rac.status_correcao != "Finalizada" %>
                      <button type="button" data-toggle="modal" data-target="#modal-update2" class="btn">
                        <i class="fa fa-adjust"></i>&nbsp;  Adiar ação corretiva
                      </button>
                    <% end %>

                    <% if @rac.status_correcao == "Finalizado" && session[:grupo] == "Administradores" %>
                    <button type="button" data-toggle="modal" data-target="#modal-update3" class="btn">
                      <i class="fa fa-adjust"></i>&nbsp;  Encerramento
                    </button>
                    <% end %>




                  </div>
                  <div class="pull-right">
                    <a href="/rac-<%=@rac.id%>-followup" class="btn">
                      <i class="fa fa-list-alt"></i> Follow up
                    </a>
                  </div>
                </div>

                <div class="inner-padding">
                  <fieldset>
                    <legend>RAC</legend>

                    <div class="row">
                      <div class="col-sm-3">
                        <label>Número </label>
                      </div>
                      <div class="col-sm-9">
                        <%= zero @rac.sequencia %>-<%=@rac.ano%>
                      </div>
                    </div>
                    <div class="spacer-10"></div>

                    <div class="row">
                      <div class="col-sm-3">
                        <label>Plano de auditoria </label>
                      </div>
                      <div class="col-sm-9">
                          <%= @rac.auditoria.planoauditoria.nome %>
                      </div>
                    </div>
                    <div class="spacer-10"></div>

                    <div class="row">
                      <div class="col-sm-3">
                        <label>Auditoria </label>
                      </div>
                      <div class="col-sm-9">
                          <%= @rac.auditoria.numero %>
                      </div>
                    </div>
                    <div class="spacer-10"></div>



                    <div class="row">
                      <div class="col-sm-3">
                        <label>Status </label>
                      </div>
                      <div class="col-sm-9">
                        <%=@rac.status%>
                      </div>
                    </div>
                    <div class="spacer-10"></div>

                    <div class="row">
                      <div class="col-sm-3">
                        <label>Dt. criação </label>
                      </div>
                      <div class="col-sm-9">
                        <%=formata_dt @rac.dt_criacao%>
                      </div>
                    </div>
                    <div class="spacer-10"></div>







                  </fieldset>

                  <div class="spacer-20"></div>

                    <fieldset>
                      <legend>Campo de atuação</legend>


                      <div class="spacer-10"></div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label>Área/Dpeto responsável pelo RAC </label>
                        </div>
                        <div class="col-sm-9">
                            <%= @rac.auditoria.area.descricao %>
                        </div>
                      </div>

                      <div class="spacer-10"></div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label>Responsável pela ação corretiva</label>
                        </div>
                        <div class="col-sm-9">
                          <%= @rac.responsavel %>
                        </div>
                      </div>



                      <div class="spacer-10"></div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label>Solicitante </label>
                        </div>
                        <div class="col-sm-9">
                          <%= @rac.solicitante %>
                        </div>
                      </div>





                    </fieldset>

                    <div class="spacer-20"></div>

                    <fieldset>
                      <legend>Não conformidade detectada</legend>
                      <div class="spacer-10"></div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label>Tipo de não conformidade </label>
                        </div>
                        <div class="col-sm-9">
                          <%=@rac.tipo_nc.descricao%>
                        </div>
                      </div>

                      <div class="spacer-10"></div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label>Descrição </label>
                        </div>
                        <div class="col-sm-9">
                          <%= @rac.desc_nc %>
                        </div>
                      </div>
                    </fieldset>

                  <%= form_for @rac do | f | %>


                    <div class="spacer-20"></div>

                    <fieldset>
                      <legend>Ações corretivas</legend>

                      <div class="spacer-10"></div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label>Análise da causa raiz.:</label>
                        </div>
                        <div class="col-sm-9">
                          <%if @rac.status != "Finalizado"%>
                              <%= f.text_area :analise_causa, class: "form-control", placeholder: "Análise da causa raiz..."%>
                              <% else %>
                                  <%=@rac.analise_causa%>
                              <% end %>
                              </div>
                              </div>
                              <div class="spacer-10"></div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label>Status </label>
                        </div>
                        <div class="col-sm-9">
                          <%if @rac.status != "Finalizado"%>
                              <%= f.select(:status_correcao, [], {}, {class: "select2"}) do %>
                                  <% [['Em elaboração', 'Em elaboração'], ['Finalizada', 'Finalizada'], ['Aguardando retorno', 'Aguardando retorno']].each do |c| -%>
                                      <%= content_tag(:option, c.first, value: c.last) %>
                                  <% end %>
                              <% end %>

                          <% else %>
                              <%=@rac.status_correcao%>
                          <% end %>
                        </div>
                      </div>

                      <div class="spacer-10"></div>

                              <div class="row">
                                <div class="col-sm-3">
                                  <label>Descrição ação corretiva.:</label>
                                </div>
                                <div class="col-sm-9">
                                  <%if @rac.status != "Finalizado"%>
                                      <%= f.text_area :desc_correacao, class: "form-control", placeholder: "Descrição da ação corretiva..."%>
                                      <%else%>
                                          <%=@rac.desc_correacao%>
                                      <%end%>
                                      </div>
                                      </div>

                      <div class="spacer-10"></div>

                                      <div class="row">
                                        <div class="col-sm-3">
                                          <label>Data ação corretiva.:</label>
                                        </div>
                                        <div class="col-sm-9">
                                          <% if @rac.dt_prevista_correacao.present?%>
                                              <%= formata_dt @rac.dt_prevista_correacao %>
                                          <% else %>
                                              <input name="rac[dt_prevista_correacao]" type="text" data-mask="99/99/9999" class="form-control" placeholder="Informe a data prevista para correção" />
                                          <% end %>

                                        </div>
                                      </div>
                                      <div class="spacer-10"></div>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <label>Responsável pela correção.:</label>
                                        </div>
                                        <div class="col-sm-9">
                                          <%unless @rac.responsavel_correcao.present?%>
                                              <%= f.select(:responsavel_correcao, [], {}, {class: "select2"}) do %>
                                                  <% Funcionario.ativos.each do |f| -%>
                                                      <%= content_tag(:option, f.nome, value: f.nome) %>
                                                  <% end %>
                                              <% end %>
                                          <% else %>
                                              <%= @rac.responsavel_correcao %>
                                          <% end %>

                                        </div>
                                      </div>
                                      <div class="spacer-10"></div>
                                      <hr>
                                      <div class="spacer-10"></div>
                                      <% if @rac.status != "Finalizado"%>
                                          <button type="submit" class="btn btn-primary pull-left"> Salvar </button>
                                      <% end %>

                      <%if@rac.rac_historicos.present?%>
                      <div class="spacer-10"></div>
                      <hr>
                      <div class="spacer-10"></div>

                      <legend>Adiamentos</legend>
                      <table class="table">
                                                          <thead>
                                                              <tr>
                                                                  <th scope="col">Justificativa</th>
                                                                  <th scope="col">Data anterior</th>
                                                                  <th scope="col">Nova Data</th>
                                                                  <th scope="col">Responsável anterior</th>
                                                                  <th scope="col">Novo responsável</th>
                                                              </tr>
                                                          </thead>
                                                          <tbody>
                                                            <%@rac.rac_historicos.each do |r|%>
                                                              <tr>
                                                                  <td><%=r.justificativa%></td>
                                                                  <td><%=formata_dt r.DtAnterior%></td>
                                                                  <td><%=formata_dt r.NovaDt%></td>
                                                                  <td><%=r.AntigoResponsavel%></td>
                                                                  <td><%=r.NovoResponsavel%></td>
                                                              </tr>
                                                            <% end %>

                                                          </tbody>
                                                      </table>
                      <% end %>

                    </fieldset>

                    <% end %>

                    <div class="spacer-20"></div>

                   <%if @rac.user == current_user && @rac.status_correcao == "Finalizada"%>
                                      <%= form_for @rac do | f | %>
                    <fieldset>
                      <legend>Encerramento</legend>
                      <div class="spacer-10"></div>
                      <div class="row">
                        <div class="col-sm-3">
                          <label>Análise de eficácia </label>
                        </div>
                        <div class="col-sm-9">
                          <%if @rac.analise_eficacia.present?%>
                              <%=@rac.analise_eficacia%>
                          <% else %>
                              <%= f.text_area :analise_eficacia, class: "form-control", placeholder: "Análise de eficácia..."%>
                              <% end %>

                        </div>
                      </div>

                      <div class="spacer-10"></div>
                      <div class="row">
                        <div class="col-sm-3">
                          <label>Dt. encerramento </label>
                        </div>
                        <div class="col-sm-9">
                          <% if @rac.dt_real_encerramento.present? %>
                              <%=formata_dt @rac.dt_real_encerramento%>
                          <% else %>
                              <input name="rac[dt_real_encerramento]" type="text"  data-mask="99/99/9999" class="form-control" />
                          <% end %>
                        </div>
                      </div>

                      <div class="spacer-10"></div>
                      <hr>
                      <div class="spacer-10"></div>
                              <% unless @rac.dt_real_encerramento.present?%>
                                  <button type="submit" class="btn btn-primary pull-left"> Salvar </button>
                              <% end %>


                    </fieldset>
                              <% end %>
                    <% end%>

                    <div class="spacer-30"></div>

                </div>
              </div>







    </div>


    <%= render 'shared/rodape' %>
  </div>
  <!-- End #content -->
</div><!-- End #main -->
</div><!-- End #container -->
