

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-bibliotecas").addClass("menu-open");
        $("#seta-bibliotecas").removeClass("fa-caret-left");
        $("#seta-bibliotecas").addClass("fa-caret-down");
        $("#menu-rac").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>





<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li> <a href="<%=root_path%>">Início</a> </li>


            <li class=""><a>Relatório de ação corretiva</a> </li>

            <li class="active">Histórico de adiamentos</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Histórico de adiamentos</h2>
          </div>
          <div class="pull-right">
          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="#" class="btn" onclick="window.history.go(-1); return false;">
              <i class="fa fa-arrow-left "></i>&nbsp;Voltar
            </a>

          </div>



        </div>

        <div class="inner-padding">
          <% if @adiamentos.present? %>
              <table class="table table-bordered table-striped" id="">
                <thead>
                <tr>
                  <th scope="col" class="col-sm-1" data-rt-column="ID">RAC</th>
                  <th scope="col" class="col-sm-2" data-rt-column="Project">Dt. Anterior</th>
                  <th scope="col" class="col-sm-2" data-rt-column="Status">Dt.Atual</th>
                  <th scope="col" class="col-sm-4" data-rt-column="Year" data-rt-hide="true">Responsável Anterior</th>
                  <th scope="col" class="col-sm-4"data-rt-column="Progress">Responsável Atual</th>
                </tr>
                </thead>
                <tbody>
                <% @adiamentos.each do |a| %>
                    <tr>
                      <td><%=a.rac_id%></td>
                      <td><%=formata_dt a.DtAnterior%></td>
                      <td><%=formata_dt a.NovaDt%></td>
                      <td><%=a.AntigoResponsavel%></td>
                      <td><%=a.NovoResponsavel%></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% else %>
              <div class="alert alert-success">
                <h4>Nenhuma informação foi encontrada</h4>
              </div>
          <% end %>
        </div>










      </div>
    </div>


    <%= render 'shared/rodape'%>
  </div><!-- End #content -->
</div><!-- End #main -->
</div><!-- End #container -->


