<h1>Listing documento_localizacoes</h1>

<table>
  <thead>
    <tr>
      <th>Documento</th>
      <th>Area</th>
      <th>Pasta</th>
      <th>Numero</th>
      <th>Localizacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documento_localizacoes.each do |documento_localizacao| %>
      <tr>
        <td><%= documento_localizacao.documento %></td>
        <td><%= documento_localizacao.area %></td>
        <td><%= documento_localizacao.pasta %></td>
        <td><%= documento_localizacao.numero %></td>
        <td><%= documento_localizacao.localizacao %></td>
        <td><%= link_to 'Show', documento_localizacao %></td>
        <td><%= link_to 'Edit', edit_documento_localizacao_path(documento_localizacao) %></td>
        <td><%= link_to 'Destroy', documento_localizacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Documento localizacao', new_documento_localizacao_path %>
