<p id="notice"><%= notice %></p>

<p>
  <strong>Documento:</strong>
  <%= @documento_localizacao.documento %>
</p>

<p>
  <strong>Area:</strong>
  <%= @documento_localizacao.area %>
</p>

<p>
  <strong>Pasta:</strong>
  <%= @documento_localizacao.pasta %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @documento_localizacao.numero %>
</p>

<p>
  <strong>Localizacao:</strong>
  <%= @documento_localizacao.localizacao %>
</p>

<%= link_to 'Edit', edit_documento_localizacao_path(@documento_localizacao) %> |
<%= link_to 'Back', documento_localizacoes_path %>
