/*
 * ************************************************************* *
 * Name        : Base.css                                        *
 * Theme URI   :                                                 *
 * Description : Master stylesheet.                              *
 * Version     : Version 1.2                                     *
 * Author      : CreativeMilk                                    *
 * Author URI  : www.creativemilk.net                            *
 * Updated     : 2014-03-09 22:43:40 UTC+02:00                   *
 * Copyright   : (c) 2012 CreativeMilk                           *
 * ************************************************************* *
 */

@import url('simpleselect.css');
@import url('easyfiletree.css');
@import url('tinycontextmenu.css');
@import url('checkboxradio.css');
@import url('sortingtable.css');
@import url('jquery.tablesorter.pager.css');
@import url('fullcalendar.css');
@import url('nouislider.css');
@import url('responsivetables.css');
@import url('notify.css');
@import url('pwstrength.css');
@import url('tinyscrollbar.css');
@import url('magnific-popup.css');
@import url('jquery.layout.css');
@import url('prism.css');
@import url('thirdparty-reset.css');

/*
 * ===============================================================
 * BASIC
 * ===============================================================
 */
 
html{
	height     : 100%;
	min-height : 100%;
	margin     : 0;
	padding    : 0;
}
body{
	position    : relative;
	height      : 100%;
	min-height  : 100%;
	margin      : 0;
	padding     : 0;
	font-family : Arial, Helvetica, sans-serif;	
	font-size   : 13px;
	line-height : 20px;
	overflow-x  : hidden
}
a, 
a:visited, 
a:active,
a:hover,
a:focus{
	text-decoration : none;
	outline         : none!important;
}
h1, h2, h3, h4, h5, h6{
	margin : 0;
}
i{
	cursor : default;
}
a i{
	cursor          : pointer;
	text-decoration : none;
}
a:hover > i{
	text-decoration : none!important;
}
a:hover,
p a{
	text-decoration : none;
}
p{
	margin : 0;
}
*{
	outline : 0!important;
}
main{
	display : block;
}
ul{
	padding : 0 0 0 36px ;
}
/* used in IE10 to disable the X clear button 
*/
input::-ms-clear{
	display : none;
}

/*
 * ===============================================================
 * LAYOUT
 * ===============================================================
 */

/* Container */
 
div#container{
	height     : 100%;
	min-height : 100%;
	width      : 100%;
	margin     : 0;
}
.sidebar-main-open #container{
	padding : 0;
}

/* Sidebar main */

#sidebar-main{
	float      : left;
	min-height : 100%;
	width      : 240px;
}
.hide-left-sidebar #sidebar-main{
	display : none;
}
.sidebar-main-open .sidebar#sidebar-main{
	display : block!important;	
}

/* Main */

#main{
	margin : 0 0 0 240px;
}
.sidebar-main-open #main{
	margin: 0 -241px 0 240px; 
}
.hide-left-sidebar #main{
	margin : 0;
}
/* ADDED in 1.2 */
.hide-left-sidebar.sidebar-main-open #main{
	margin : 0 0 0 240px;
}
/* */

/* Header main */

#header-main{}

.sidebar-main-open #header-main{
	position : fixed;
	top      : 0;
	right    : 0;
	left     : 0;
	z-index  : 1000;
}
.sidebar-main-open .header-main-bottom{
	padding-left       : 1px;
	border-right-width : 0;
	border-left-width  : 0;
}
.hide-left-sidebar .header-main-bottom{
	border-left-width : 0;           
}

/* Content */

#content{
	height     : 100%;
	min-height : 100%;     
	margin     : 0;
}
.hide-left-sidebar #content{
	border-left : none;            
}
.sidebar-main-open #content{
	padding-top : 80px;
}
.sidebar-main-open #content{
	border-left-width:1px
}

/* Window */

.window{
	position   : relative;
	float      : left;
	height     : 100%;
	min-height : 100%;
	width      : 100%;
}

/* Footer */

#footer-main{
	height : 30px;
	width  : 100%;
}
.sidebar-main-open #footer-main{
	display : none
}
.footer-sticky .footer-main-inner{
	margin : 0 240px; 
}
.hide-left-sidebar .footer-sticky .footer-main-inner{
	margin      : 0; 
	border-left : none; 
}

/*
 * ===============================================================
 * SIDEBAR(S)
 * ===============================================================
 */

/* Sidebar module(wrapper) */

.sidebar-module{
	float      : left;
	min-height : 71px;
	min-height : 0\9;
	height     : auto; 
	width      : 100%;
	padding    : 20px;
	padding    : 20px 20px 21px 20px\9;
}
.sidebar h3{
	margin      : 0;	
	font-size   : 16px;
	line-height : 20px;
}
.sidebar h5{
	font-weight : 600;	
}
.sidebar h3 .pull-right.btn-sm{
	margin : -2px 0 0 0;	
}
.sidebar h3 .btn-group,
.sidebar h3 .dropdown,
.sidebar h3 .dropdown .btn{
	margin : 0;	
}

/* Sidebar heading */

.sidebar-heading{
	float  : left;
	width  : 200px;
	margin : 20px;
}
.sidebar-heading h3{
	margin      : 0;	
	font-size   : 16px;
	line-height : 20px;
}
.sidebar-heading h3 .fa:first-child{
	margin : 0 10px 0 0;
}
[data-module-toggle="true"]:hover{
	cursor : pointer;
}
.sidebar-heading h3 .fa.pull-right{
	margin      : 0;
	line-height : 22px
}
.sidebar-heading h3 .pull-right .fa{
	margin : 0;
}

/* Sidebar Line */

.sidebar-line{
	float       : left;
	height      : 19px;
	width       : 100%;
	margin      : -19px 0 0 0;
	line-height : 18px;	
}

/* Sidebar Logo */

.sidebar-logo{
	float   : left;
	height  : 80px;
	width   : 240px;
	padding : 0;
}
#logo-big{
	float  : left;
	margin : 0 0 0 20px;
}
#logo-big h1{
	float       : left;
	height      : 80px;
	width       : auto;
	font-size   : 18px;
	line-height : 80px;
}
#logo-big h2{
	float       : left;
	height      : 80px;
	width       : auto;
	margin      : 0 0 0 5px;
	font-size   : 11px;
	line-height : 86px;
}

/* Sidebar Article */

.sidebar article h2,
.sidebar article h3{
	margin : 0 0 10px 0;
}

/* Sidebar CSS Calendar */

.sidebar .csscalendar-boxed .csscalendar-mini{
	margin : -1px 0 0 0;
}
.sidebar .csscalendar-boxed .csscalendar-mini:first-child{
	margin : 0;
}

/* Sidebar Toolbar */

.sidebar-toolbar{
	height : 30px;
	margin : 0;
}

/* Profile */

.sidebar-profile{
	position : relative;
	float    : left;
	width    : 100%;
	margin   : 0px 0 -6px 0;
}
.sidebar-profile > .indicator-dot{
	position : absolute;
	top      : -10px;
	left     : 30px;
}
.sidebar-profile .avatar{
	float   : left;
	z-index : 10px;
	height  : 40px;
	width   : 40px;
	margin  : -5px 15px 0 0;
}
.avatar-right .avatar{
	float  : right;
	margin : -5px 0 0 0;
}
.avatar-right > .indicator-dot{
	right : -5px;
	left  : auto;
}
.sidebar-profile-list{
	float      : left;
	width      : auto;
	margin     : -2px 0 0 0;
	padding    : 0;
	list-style : none;
}
.sidebar-profile-list a{
	font-size : 12px;
}
.sidebar .sidebar-profile-list h3{
	margin      : -3px 0 0px 0;
	font-size   : 13px;
	font-weight : 600;
	line-height : 20px;
}

/* Bio profile */

.bio{
	float    : left;
	width    : 160px;
	margin   : 20px;
	position : relative;
}
.bio > .indicator-dot{
	position : absolute;
	top      : -6px;
	right    : 38px;
}
.bio h3{
	margin     : 20px 0 0 0;
	text-align : center;
}
.bio .avatar{
	height : 70px;
	width  : 70px;
	margin : 0 45px
}
.bio ul{
	margin     : 5px 0 0 0;
	padding    : 0;
	text-align : center;
	list-style : none;
}
.bio ul li{
	display : inline;
	margin  : 0 0 0 10px;
}
.bio ul li:first-child{
	margin : 0;
}
.bio ul li:first-child{
	margin : 0;
}
.bio ul li a{
	font-size : 12px;
}
.bio p{
	float      : left;
	width      : 100%;
	margin     : 20px 0 0 0;
	text-align : justify
}

/* Profile collapsable */

.sidebar-profile-collapsable{
	float      : left;
	min-height : 30px;
	width      : 200px;
	margin     : 0;
}
.sidebar-profile-collapsable > a{
	float       : left;
	width       : 100%;
	margin      : 4px 0 0 0;
	font-weight : bold;
}
.sidebar-profile-collapsable > a i{
	float       : right;
	margin      : 0 0 0 5px;
	line-height : 20px;	
}
.sidebar-profile-collapsable .indicator-dot,
.sidebar-profile-collapsable .indicator-pill{
	float  : right;
	margin : 2px 0 0 10px
}
.sidebar-profile-collapsable .sidebar-profile-list{
	display    : none;
	float      : left;
	width      : 100%;
	margin     : 20px 0 0 0;
	list-style : none;
}
.sidebar-profile-collapsable .sidebar-profile-list a{
	display   : block;
	padding   : 5px 0;
	font-size : 13px;
}
.sidebar-profile-collapsable .sidebar-profile-list i{
	float       : right;
	margin      : 0;
	line-height : 22px;
}

/* Sidebar Navigation v1 */

.sidebar-nav-v1 .page-arrow > a:before{
	content       : "";
	position      : absolute;
	display       : inline-block;
	top           : 5px;
	right         : -21px;
	border-top    : 10px solid transparent;
	border-bottom : 10px solid transparent;
}
.sidebar-nav-v1 .page-arrow > a:after{
	content       : "";
	position      : absolute;
	display       : inline-block;
	top           : 6px;
	right         : -21px;
	border-top    : 9px solid transparent;
	border-bottom : 9px solid transparent;
}
.sidebar-nav-v1{
	float  : left;
	width  : 100%;
	margin : -5px 0 0 0;
}
.sidebar-nav-v1 ul{
	float      : left;
	width      : 240px;
	margin     : 0;
	padding    : 0;
	list-style : none;
}
.sidebar-nav-v1 > ul{
	margin : 0 0 -5px -20px
}
.sidebar-nav-v1 li{
	position : relative;
	float    : left;
	z-index  : 1;
	width    : 100%;
	padding  : 0 20px;
}
.sidebar-nav-v1 > ul > li > a{
	font-weight : bold;
}
.sidebar-nav-v1 a{
	position    : relative;
	float       : left;
	height      : 30px;
	width       : 100%;
	font-size   : 12px;
	line-height : 30px;
}
.sidebar-nav-v1 a i{
	float       : right;
	width       : 14px;
	margin      : 0 0 0 10px;
	line-height : 28px;
	text-align  : center;
}
.sidebar-nav-v1 .indicator-dot,
.sidebar-nav-v1 .indicator-pill{
	float  : right;
	margin : 7px 0 0 0;
}
.sidebar-nav-v1 .active-page a,
.sidebar-nav-v1 a:hover{
}
.sidebar-nav-v1 > ul > li li{
	width               : 220px;
	padding             : 0 20px;
	background-position : left top;
	background-repeat   : no-repeat;
}
.sidebar-nav-v1 > ul > li li li{
	width   : 200px;
	padding : 0 20px;
}
.sidebar-nav-v1 > ul > li li > a{
	width           : 100%;
	margin          : 0;
	text-decoration : none;
}
.sidebar-nav-v1 .seperator{
	position : relative;
	width    : 100%;
	margin   : 10px 0;
}
.sidebar-nav-v1 .seperator span{
	position    : absolute;
	top         : -11px;
	left        : 10px;
	height      : 20px;
	width       : auto;
	padding     : 0 10px;
	font-size   : 11px;
	line-height : 20px;
}
.sidebar-nav-v1 > ul ul{
	display : none;
	width   : 220px;
	margin  : 0;
}
.sidebar-nav-v1 > ul ul ul{
	display             : none;
	width               : 200px;
	margin              : 0 0 0 -20px;
	padding             : 0 0 0 20px;
	background-position : left top;	
	background-repeat   : repeat-y;
}
.sidebar-nav-v1 > ul .menu-open > ul{
	display : block;
}

/* Sidebar Navigation v2 */

.sidebar-nav-v2 .page-arrow > a:before{
	content       : "";
	position      : absolute;
	display       : inline-block;
	top           : 5px;
	right         : -1px;
	border-top    : 10px solid transparent;
	border-bottom : 10px solid transparent;
}
.sidebar-nav-v2 .page-arrow > a:after{
	content       : "";
	position      : absolute;
	display       : inline-block;
	top           : 6px;
	right         : -1px;
	border-top    : 9px solid transparent;
	border-bottom : 9px solid transparent;
}
.sidebar-nav-v2{
	float  : left;
	width  : 100%;
	margin : -5px 0 0 0;
}
.sidebar-nav-v2 ul{
	float      : left;
	width      : 240px;
	margin     : 0;
	padding    : 0;
	list-style : none;
}
.sidebar-nav-v2 > ul{
	margin : 0 0 -5px -20px
}
.sidebar-nav-v2 li{
	position : relative;
	float    : left;
	z-index  : 1;
	width    : 240px;
	padding  : 0;
}
.sidebar-nav-v2 > ul > li > a{
	font-weight : bold;
}
.sidebar-nav-v2 a{
	position    : relative;
	float       : left;
	height      : 30px;
	width       : 100%;
	font-size   : 12px;
	line-height : 30px;
	padding     : 0 20px; 
}
.sidebar-nav-v2 a i{
	float       : left;
	width       : 14px;
	margin      : 0 10px 0 0;
	line-height : 29px;
	text-align  : center;
}
.sidebar-nav-v2 a i.pull-right{
	float  : right;
	margin : 0;
}
.sidebar-nav-v2 .indicator-dot,
.sidebar-nav-v2 .indicator-pill{
	float  : right;
	margin : 7px 0 0 0;
}
.sidebar-nav-v2 .active-page a,
.sidebar-nav-v2 a:hover{
	text-decoration : none;
}
.sidebar-nav-v2 li li > a{
	padding-left : 44px;
}
.sidebar-nav-v2 li li li > a{
	padding-left : 64px;
}
.sidebar-nav-v2 .seperator{
	width  : 240px;
	margin : 10px 0;
}
.sidebar-nav-v2 .seperator span{
	position    : absolute;
	top         : -11px;
	left        : 34px;
	height      : 20px;
	width       : auto;
	padding     : 0 10px;
	font-size   : 11px;
	line-height : 20px;
}
.sidebar-nav-v2 > ul ul{
	display : none;
	margin  : 0;
	width   : 100%;
}
.sidebar-nav-v2 > ul .menu-open > ul{
	display : block;
}
li.menu-label{
	margin       : 0;
	padding-left : 44px;
	font-style   : italic
}

/* Sidebar ToDo */

.sidebar-todo{
	float  : left;
	margin : 0 0 -5px 0;
}
.line-through{
	text-decoration : line-through
}
.sidebar-todo-day{
	float  : left;
	width  : 100%;
	margin : 20px 0 0 0;	
}
.sidebar-todo-day:first-child{
	margin : 0;
}
.sidebar-todo-day h5{
	float   : left;
	width   : 100%;
	margin  : 10px 0 0 0;
	padding : 0 0 10px 0;
}
.sidebar-todo-day h5 .indicator-pill{
	float  : right;
	margin : 2px 0 0 0;
}
.sidebar-todo-day ul{
	padding    : 5px 0 0 0;
	list-style : none;
}
.sidebar-todo-day li{
	float       : left;
	width       : 200px;
	padding     : 5px 0px;
	line-height : 20px;
}
.sidebar-todo-day li label{
	float       : left;
	width       : 100%;
	margin      : 0;
	font-weight : normal;
}
.sidebar-todo-day li label span{
	left:auto;
	right:0;
}
.sidebar-todo-day label input{
	float  : right;
	margin : 9px 0 0 0;
}

/* Sidebar Thumbs/Gallery */

.sidebar .thumbs-list{
	width  : 210px;
	margin : 0 -10px -10px 0;
}

/* Carousel */

.sidebar .carousel{
	margin : 0;
}

/* Sidebar alert */

.sidebar .alert{
	float   : left;
	width   : 100%;
	margin  : 0 0 20px 0;
	padding : 5px 10px;
}
.sidebar .alert i{
	margin : 0 5px 0 0;
}
.sidebar .alert .close{
	right : -20px;
}

/* Sidebar form */



/* Mini list */

.sidebar .mini-list ul{
	margin : 0 0 0 58px;
}
.sidebar .mini-list > li{
	margin : 0 0 20px 0;
}

/* Faqs */

.sidebar .faq{
	float  : left;
	width  : 100%;
	margin : 0 0 -10px 0;
}
.sidebar .faq-group{
	margin : 0 0 10px 0;
	border : none;
}
.sidebar .faq-group > header{
	padding : 0 20px 0 0;
}
.sidebar .faq-group > header h3{
	font-size   : 13px;
	font-weight : 600;
}
.sidebar .faq-group > header i{
	top   : 4px;
	right : 0;
}
.sidebar .faq-content{
	display : none;	
	margin  : 10px 0 20px 0;
	padding : 0;
}
.sidebar .faq-group:last-child{
	margin : 10px 0 10px 0;
}
.sidebar .faq-group:last-child .faq-content{
	margin : 10px 0 0 0;
}
.sidebar .faq-content ul{
	padding : 0 0 0 16px;
}

/* User progressbar */

.sidebar .user-progressbar.vertical{
	margin : 0 0 40px 12px;
}
.sidebar .user-progressbar.vertical:first-child{
	margin : 0;
}

/* Circular stats */

.sidebar .circular-stats-duo-row .circular-stats{
	margin : 0;	
}
.sidebar .circular-stats-duo-row .circular-stats:first-child{
	margin : 0 30px 0 0;	
}
.sidebar .circular-stats-infobox{
	margin : 0;
}

/* Project widget */

.sidebar .project-block{
	margin : 0;
}

/* Statistics widget */

.sidebar .statistic-block{
	margin : 0;
}

/* File bar */

.sidebar .file-bar{
	margin : 0;
}
.sidebar .file-bar h5{
	font-weight : normal
}

/*
 * ===============================================================
 * HEADER MAIN
 * ===============================================================
 */

#header-main{
	position : relative;
	height   : 80px;
}
.header-main-top{
	height : 50px;
}
.header-main-top .pull-right p{
	float       : left;
	height      : 50px;
	margin      : 0 20px 0 0;
	line-height : 50px;
}
.header-profile{
	float       : left;
	height      : 30px;
	width       : auto;
	margin      : 0 0 0 20px;
	line-height : 30px;
}
.header-main-top .header-profile{
	margin : 10px 20px;
}
.header-profile a{
	font-weight : bold;
}
.header-profile a:hover{
	text-decoration : underline;
}
.header-profile img{
	float  : right;
	height : 30px;
	width  : 30px;
	margin : 0px 0 0 20px;
}
.header-main-top .header-profile img{
	height : 20px;
	width  : 20px;
	margin : 5px 0 0 10px;
}
.header-main-bottom{
	height      : 30px;
	line-height : 30px;
}
#responsive-menu-trigger{
	display : none;
	float   : left;
	height  : 20px;
	margin  : 16px 20px 0 0;
	border  : none;
}
#responsive-menu-trigger i{
	line-height : 18px
}
#logo-small{
	display : none;
	float   : left;
	margin  : 0 0 0 20px;
}
.hide-left-sidebar #logo-small{
	display:block;
}
#logo-small h4{
	float       : left;
	height      : 50px;
	width       : auto;
	font-size   : 16px;
	font-weight : 600;
	line-height : 50px;
}
#logo-small h5{
	float       : left;
	height      : 50px;
	width       : auto;
	margin      : 0 0 0 5px;
	font-size   : 11px;
	line-height : 54px;
}
.header-main-bottom .breadcrumb,
.header-main-bottom p,
.header-main-bottom .pull-left p{
	height      : 30px;
	line-height : 29px;
}
.sidebar-main-open .breadcrumb{
	margin-right:-2px;
}
.header-main-bottom .pull-left p{
	margin : 0 0 0 20px;
}
.header-main-bottom .pull-right p{
	margin : 0 20px 0 0;
}
.header-main-bottom .btn,
.header-main-bottom .btn i{
	line-height : 30px;
}

/*
 * ===============================================================
 * HEADER SEC
 * ===============================================================
 */

#header-sec{
	position   : relative;
	float      : left;
	height     : 70px;
	width      : 100%;
}
.sidebar-main-open #header-sec{
	height : 71px;
}
#header-sec h2{
	margin      : 0;
	font-size   : 20px;
	line-height : 30px;
}
#header-sec .pull-left .mainheading{
	margin : -5px 0 0 0;
}
#header-sec .pull-left .mainheading h2{
	margin      : 0;
	line-height : 24px;
}
#header-sec .pull-left .mainheading p{
	margin      : 0 0 -10px 0;
	font-size   : 11px;
	font-weight : normal;
	line-height : 16px;
}
#header-sec .pull-right > p{
	height      : 30px;
	line-height : 30px;
}
#header-sec .user-progressbar{
	width : 180px;
}
#header-sec .pull-left  > .btn,
#header-sec .pull-right > .btn,
#header-sec .pull-left  > .btn-group,
#header-sec .pull-right > .btn-group,
#header-sec .pull-left  > .btn-count,
#header-sec .pull-right > .btn-count{
	margin-bottom : 0;
}

/*
 * ===============================================================
 * CONTENT
 * ===============================================================
 */

#main{
	position   : relative;	 
	min-height : 100%;
}

/* Actionbar */

.actionbar{
	height      : 30px;
	margin-top  : -1px;
	line-height : 30px;
}
.actionbar > label,
.actionbar > div > label,
.actionbar > div > p,
.actionbar > p{
	float  : left;
	margin : 0 20px;
}
.actionbar label{
	padding : 2px 0;
}
.actionbar label input + span{
	top:7px;
}
.lte9 .actionbar label{
	padding : 4px 0;
}
.actionbar label{
	padding : 3px 0;
}
.actionbar > div > p,
.actionbar > p{
	line-height : 28px;
}
.actionbar .label{
	margin : 4px 0 0 4px;
}
.actionbar .pull-right .label{
	margin : 4px 4px 0 0;
}
.actionbar .pull-right .btn-group{
	float : left;
}
.actionbar .vertical-line{
	height : 28px;
}
.actionbar .breadcrumb{
	height      : 28px;
	line-height : 28px;
}
.actionbar .pull-left .ext-tabs{
	width       : auto;
	margin      : -1px 0 0 0;
	border-left : none;
}
.actionbar .pull-left .ext-tabs{
	width        : auto;
	margin       : -1px 0 0 0;
	border-right : none;
}
.btn.small-toggle-btn{
	position  : absolute;
	position  : relative;
	width     : 22px;
	min-width : 22px;
	padding   : 0!important;
	cursor    : ew-resize;
}
.small-toggle-btn:hover{
	z-index : 2;
}
.small-toggle-btn i{
	display : none;
}
.small-toggle-btn:before,
.small-toggle-btn:after{
	content  : "";
	position : absolute;
	top      : 9px;
	left     : 8px;
	height   : 10px;
	width    : 1px;
}
.small-toggle-btn:after{
	left : 11px;
}

/*
 * ===============================================================
 * VTICKER
 * ===============================================================
 */
 
.vticker{
	float    : left;
	overflow : hidden;
	height   : 29px!important;
	width    : 300px;
	margin   : 0 0 0 20px;
}
.vticker ul{
	padding    : 0;
	list-style : none;
}
.pull-right .vticker{
	margin : 0 20px 0 0;
}

/*
 * ===============================================================
 * PORTLETS
 * ===============================================================
 */
 
.portlet{
	margin : 0 0 20px 0;
}
.portlet-closed .portlet-header{
	height      : 28px;
	line-height : 28px;
}
.portlet-header{
	height      : 29px;
	padding     : 0 0 0 20px;
	cursor      : move;
	line-height : 28px;
}
.portlet-header h5{
	float       : left;
	width       : auto;
	margin      : 0;
	font-size   : 13px;
	font-weight : 600;
	line-height : 28px;
}
.portlet-content{
	width : 100%;
}
.portlet-closed .portlet-content{
	display : none;
}
.portlet-closed .portlet-header{
	border-bottom : none;
}
.portlet-placeholder{
	margin : 0 0 20px 0;
}

/*
 * ===============================================================
 * WIDGETS
 * ===============================================================
 */

div.widget{
	position   : relative;	
	margin     : 0 0 30px 0;
	padding    : 0;
	border-top : none;
}
.widget > header,
.widget > footer{
	float   : left;
	width   : 100%;
	padding : 0;
}
.widget > header h2, 
.widget > footer h2{
	position    : relative;
	float       : left;
	height      : 100%;
	width       : auto;
	margin      : 0 0 0 20px;
	font-size   : 13px;
	font-weight : 600;
	line-height : 40px;
}
.widget > header .pull-right h2,
.widget > footer .pull-right h2{
	margin : 0 20px 0 0;
}
.widget > header h2 > i,
.widget > footer h2 > i{
	margin : 0 10px 0 0;
}
.widget > header > div > .ext-tabs-btn-group,
.widget > footer > div > .ext-tabs-btn-group,
.widget > header > div > .btn,
.widget > footer > div > .btn,
.widget > header > div > .btn-group,
.widget > footer > div > .btn-group,
.widget > header > div > .btn-group,
.widget > footer > div > .btn-group,
.widget > header > div > form,
.widget > footer > div > form{
	margin : 5px 0 5px 5px;
}
.widget > header .pull-right .ext-tabs-btn-group,
.widget > footer .pull-right .ext-tabs-btn-group,
.widget > header .pull-right > .btn,
.widget > footer .pull-right > .btn,
.widget > header .pull-right > .dropdown,
.widget > footer .pull-right > .dropdown,
.widget > header .pull-right > .dropup,
.widget > footer .pull-right > .dropup,
.widget > header .pull-right > .btn-group,
.widget > footer .pull-right > .btn-group{
	margin : 5px 5px 5px 0;
}
.widget > header .pull-right form,
.widget > footer .pull-right form{
	margin  : 5px 0;
	padding : 0 5px 0 0;
}
.widget > header .btn-group .btn,
.widget > footer .btn-group .btn{
	margin-top    : 0;
	margin-bottom : 0;
}
.widget > header form input,
.widget > footer form input{
	margin-bottom : 0;
}
.widget > header .ext-tabs > div,
.widget > footer .ext-tabs > div{
	float : left;
	width : auto;
}
.widget > div{
	position   : relative;
	float      : left;
	min-height : 20px;
	width      : 100%;
	font-size  : 13px; 
}
.widget-toolbar{
	height      : 29px;
	width       : 100%;
	margin      : 0;
	line-height : 28px;
}
.widget-toolbar.toolbar-bottom{
	float         : left;
	height        : 29px;
	width         : 100%;
	border-bottom : none;
}
.widget-toolbar form{
	float  : left;
	width  : auto;
	margin : 0;
}
.widget-toolbar form input[type=text]{
	height : 30px;
	width  : 140px;
	margin : 0;
}

/*
 * ===============================================================
 * ARTICLES
 * ===============================================================
 */

article{}
article h2{
	margin      : 0 0 10px 0;
	font-size   : 20px;
	line-height : 20px;
}
article h3{
	margin      : 0 0 10px 0;
	line-height : 20px;
}
.article-meta{
	margin : 10px 0 0 0;
}
.article-meta i{
	float  : left;	
	margin : 2px 5px 0 0;
}
.article-date,
.article-category,
.article-comments{
	float  : left;
	margin : 0;
}
.article-meta span{
	float  : left;
	margin : 0 10px;
}
.article-content{
	float  : left;
	width  : 100%;
	margin : 20px 0 0 0;
}

/* Article list */

.article-list{
	float      : left;
	width      : 100%;
	margin     : 0 0 -20px 0;
	padding    : 0;
	list-style : none;
}
.article-list li{
	float  : left;
	width  : 100%;
	margin : 5px 0 20px 0;
}
.article-list h3 i{
	position  : absolute;
	top       : 2px;
	left      : 0;
	font-size : 40px;
}
.article-list li h3{
	position    : relative;
	float       : left;
	margin      : 0 0 5px 0;
	font-size   : 13px;
	line-height : 20px;
}
.article-list li h3 a{
	float  : left;
	width  : auto;
	margin : 0 0 0 45px;
}
.article-list .article-meta{
	clear  : both;
	margin : 0 0 0 45px;	
}

/*
 * ===============================================================
 * COMMENTS
 * ===============================================================
 */

.client-block{
	padding : 0 0 0 80px;
}
.client-block .avatar{
	float  : left;
	width  : 60px;
	margin : 0 0 0 -80px;
}
.client-block .avatar img{
	float  : left;
	height : 60px;	
	width  : 60px;
}
.client-block .avatar .label{
	float      : left;
	width      : 100%;
	text-align : center;
}
.client-block-list{
	margin     : 0;
	padding    : 0;
	list-style : none;
}
.client-block-list > li{
	float  : left;
	width  : 100%;
	margin : 5px 0 0 0;
}
.client-block-list h3{
	float     : left;
	font-size : 16px;
}
.client-block-list .label{
	margin : 0 10px 0 0;
}
.client-block-list .dropdown{
	float  : right;
	margin : 0;
}
.client-block-list > li p{
	margin : 0 0 15px 0;
}
.client-block-list > li:first-child{
	margin : 0 0 10px 0;
}
.client-block-list >li > .text-muted{
	float : left;
	width : 110px;
}

/*
 * ===============================================================
 * COMMENTS
 * ===============================================================
 */

.comments-toolbar{
	float   : left;
	width   : 100%;
	margin  : 0 0 20px 0;
	padding : 0 0 10px 0;
}
.comments-toolbar h3{
	margin      : 0px 0 0 0;
	font-size   : 20px;
	line-height : 20px;
}
.comments-toolbar .btn,
.comments-toolbar .dropdown,
.comments-toolbar .btn-group{
	margin : 0;
}
.comments{
	float  : left;
	width  : 100%;
	margin : 0 0 -20px 0;	
}
.comments ul{
	float   : left;
	width   : 100%;
	margin  : 0;
	padding : 0;
}
.comments ul ul{
	margin : 20px 0 -20px 0;
}
.comment{
	position : relative;
	display  : block;
	clear    : both;
	padding  : 0 0 20px 60px;
}
.comment-avatar{
	float  : left;
	height : 40px;
	width  : 40px;
	margin : 0 20px 0 -60px;
}
.comment-avatar img{
	height : 100%;
	width  : 100%;
}
.comment-content{
	float  : left;	
	width  : 100%;
	margin : 0;	
}
.comment-user{
	font-weight : bold;
}
.comment-toggle{
	display : none;
	float   : right;
	margin  : 1px 0 0 0;
}
.comment-content:hover > .comment-user > .comment-toggle{
	display : block;
}
.comment-msg{
	margin : 10px 0 0 0;
}
.comment-actions{
	float  : left;
	width  : 100%;
	margin : 10px 0 0 0;
}
.closed > div > .comment-msg,
.closed > div > .comment-actions{
	display : none;
}
.comment-actions a{
	margin : 0 5px
}
.comment-replyform{
	display : none;
	float   : left;
	width   : 100%;
	margin  : 20px 0 0 0;
}
.comment-replyform form{
	margin : 0;
}
.comments-replyform-user{
	margin  : 0 0 0px 0;
	padding : 0 0 0 40px;
}
.comments-replyform-user img{
	float  : left;
	height : 30px;
	width  : 30px;
	margin : 0 0 -30px -40px;
}
.comment-replyform [type=text]{
	width : 100%;
}
.comment-form-actions,
.comment-replyform-actions{
	float       : left;
	height      : 30px;
	width       : 100%;
	line-height : 30px;
}
comment-form textarea,
.comment-replyform textarea{
	float  : left;
	height : 100px;
	width  : 100%;
}
.vote-result{
	float  : left;
	width  : auto;
	margin : 0 5px 0 0
}
.comments-form{
	margin : 0 0 0 60px;
}

/* Comment block */

.comment-block{
	padding : 0 0 0 60px;
}
.comment-block .avatar{
	float  : left;
	height : 40px;
	width  : 40px;
	margin : 0 0 0 -60px
}
.comment-block div > a{
	font-weight : 600;
}
.comment-block-inner{}
.comment-block p{
	width  : 100%;
	margin : 5px 0 0 0;
}

/*
 * ===============================================================
 * SOCIAL BUTTONS
 * ===============================================================
 */
 
.socialbuttons{
	float  : left;
	width  : 100%;
	margin : 0 0 -5px 0;		
}
.socialbuttons a{
	margin : 0 5px 5px 0;	
}

/*
 * ===============================================================
 * NOUISLIDER
 * ===============================================================
 */
 
.slider-duo-field{
	float : left;
	width : 100%;
}
.slider-duo-field .from,
.slider-duo-field .to{
	float : left;
	clear : none;
	width : 60px;
}
.slider-duo-field > div{
	float       : left;
	width       : 180px;
	line-height : 30px;
	text-align  : center;
}
.slider-group-vertical > div{
	float   : left;
	width   : 40px;
	padding : 0 10px;
}
.slider-group-vertical .noUiSlider{
	float  : left;
	height : 160px;
	margin : 0 0 0 15px;
}
.sliderval{
	float      : left;
	width      : 40px;
	margin     : 20px 0 0 0;
	text-align : center;
}

/*
 * ===============================================================
 * TABLE
 * ===============================================================
 */

.th-square{
	width : 41px;
}
.th-stack{
	width : 0;
}
.th-dd-actions{
	width : 53px;
}
.th-user-date{
	width : 220px;
}
.th-1-action-btn{
	width : 0
}
.th-2-action-btn{
	width : 41px
}
.th-3-action-btn{
	width : 82px
}
.th-4-action-btn{
	width : 130px
}
.th-status-label{
	width : 90px;
}
.th-date{
	width : 110px;
}
.th-details{
	width : 80px;
}
.th-agent{
	width : 140px;
}
.th-avatar{
	width : 63px;
}
.table-form input[type=text]{
	height : 30px;
}
.table-form input[type=text],
.table-form select{
	margin : 0;
}
.table-form input[type=text],
.table-form select{
	margin : 0;
}
.table th:first-child > label,
.table td:first-child > label{
	margin:-5px 0 -5px 3px;
}
.table-form td:first-child > label{
	margin:0 0 -5px 3px;
}
.table th > label,
.table td > label{
	margin-bottom : 0;
}
.table-form tbody tr td{
	padding : 5px 10px;
}
.td-avatar{
	float  : left;
	height : 42px;
	widows : 42px;
}
.td-progress{
	padding : 0 60px 0 0;
}
.td-progress .progress{
	margin : 3px 0 0 0;
}
.td-progress > span{
	float      : right;
	width      : 60px;
	margin     : -16px -60px;
	text-align : right;
}
.table-wrapper{
	position : relative;
	float    : left;
	width    : 100%;
}
.table-wrapper > header{
	position    : relative;
	height      : 42px;
	padding     : 0 0 0 10px;
	line-height : 42px;
}
.table-wrapper table{
	border-top : none;
}
.table-wrapper > header h3{
	margin      : 0;
	font-size   : 13px;
	font-weight : 600;
	line-height : 40px;
}
.table-collapsible{
	display : none;
}
.table-collapsible.open{
	display : block;
}
.table-collapsible td{
	padding : 20px;
}
.td-scroll-100{
	overflow-y : auto;
	height     : 100px;
}
.td-scroll-150{
	overflow-y : auto;
	height     : 150px;
}
.td-scroll-200{
	overflow-y : auto;
	height     : 200px;
}
.table .td-ticket,
.table .td-btn{
	padding : 8px 0 0 5px;
}
.table .td-btn .btn-sm{
	margin : 0 0 5px 5px;
}
.table .td-btn .btn-group{
	margin : 0 0 5px 5px;
}
.table .td-btn .btn-group .btn{
	height      : 24px;
	margin      : 0;
	padding     : 0 10px;
	line-height : 24px;
}
.table td h3{
	margin      : 0 0 10px 0;
	line-height : 20px;
}
.table td p{
	margin : 0;
}
.table-tooltip{
	display     : inline-block;
	float       : none;
	height      : 20px;
	margin      : 0 0 -5px 5px;
	padding     : 0 3px;
	cursor      : help;	
	line-height : 20px;
	text-align  : center;
}
.table-tooltip i{
	float       : left;
	cursor      : help;
	font-size   : 10px;
	line-height : 18px;
}
.table .td-list li{
	float   : left;
	width   : 100%;
	padding : 5px 0;
}
.table tfoot td div .btn{
	margin-bottom : 0;
}
.widget > div > .table.table-bordered{
	border : none;
}
.widget > div > .table.table-bordered thead tr th:first-child,
.widget > div > .table.table-bordered tbody tr td:first-child{
	border-left : none;
}
td .label{
	margin : 0 5px -1px 0;
}
.powerwidget > div .table tr td:first-child,
.powerwidget > div .table tr th:first-child,
.widget > div .table tr td:first-child,
.widget > div .table tr th:first-child{
	padding-left : 20px;
}

/*
 * ===============================================================
 * TOOLBAR
 * ===============================================================
 */

.toolbar{
	float   : left;
	width   : 100%;
	padding : 10px 10px 0 10px;
}
.toolbar.toolbar-inline-top{
	border-width : 0 0 1px 0;
}
.toolbar.toolbar-inline-bottom{
	border-width : 1px 0 0 0;
}
.toolbar form{
	margin : 0!important;
}
.toolbar-big.toolbar{
	padding : 20px 20px 10px 20px;
}
.toolbar-text{
	margin  : 0 0 10px 0;
	padding : 5px 0;
}
.toolbar-field,
.pull-right.block .toolbar-field{
	float   : left;
	width   : auto;
	margin  : 0 10px 10px 0;
	padding : 0;
}
.pull-right .toolbar-field{
	margin : 0 0 10px 10px;
}
.toolbar-field .typeahead{
	margin : 0;
}
.toolbar-small .toolbar-field{
	margin : 10px 10px 0 0;
}
.toolbar-field > strong{
	display : block;
	margin  : 0 0 5px 0;
}
.toolbar-field > input,
.toolbar-field > .select2{
	float  : left;
	margin : 0;
}
.toolbar-field .simpleselect{
	min-width : 100px;
}
.toolbar-field > .datepicker{
	width : 80px;
}
.toolbar .toolbar-field > .btn,
.toolbar .toolbar-field > .btn-group,
.toolbar .toolbar-field > .dropdown,
.toolbar .toolbar-field > .dropup{
	float  : left;
	width  : auto;
	margin : 0;
}
.toolbar .toolbar-field > .btn-count .btn{
	margin-bottom : 0;
}
.toolbar .toolbar-field .btn-count{
	margin : 0;
}
.toolbar .seperator{
	float  : left;
	height : 30px;
	width  : 0;
}

/*
 * ===============================================================
 * MEDIA
 * ===============================================================
 */

/* MixItUp */

.mix{
	display : none;
	opacity : 0;
}

/* Thumbs Lists */

.thumbs-list{
	float  : left;
	width  : 100%;
	margin : 0 0 -10px 0;
}
.thumbs-list ul{
	position   : relative;
	float      : left;
	width      : 100%;
	margin     : 0;
	padding    : 0;
	list-style : none;
}
.thumbs-list ul li{
	float  : left;
	margin : 0 10px 10px 0;	
}
.thumbs-list ul li a{
	float : left;	
}
.thumbs-list ul li{
	width : 95px;
}
.thumbs-list ul li a{
	height : 95px;
	width  : 95px;
}
.thumbs-list.thumbs-small ul li{
	width : 60px;
}
.thumbs-list.thumbs-small ul li a{
	height : 60px;
	width  : 60px;
}
.thumbs-list.thumbs-panorama ul li{
	width : 200px;
}
.thumbs-list.thumbs-panorama ul li a{
	height : 80px;
	width  : 200px;
}
.thumbs-list.thumbs-big ul li a{
	height : 200px;
	width  : 200px;
}
.thumbs-list.thumbs-big ul li{
	width : 200px;
}
.thumb-label{
	float      : left;
	width      : 100%;
	margin     : 10px 0 0 0;
	font-size  : 12px;
	text-align : center;
}

/* Filters(mixitup) */

.filter-bar{
	float   : left;
	width   : 100%;
	margin  : 0 0 20px 0;
	padding : 0 0 15px 0;
}
.filters{
	float      : left;
	width      : auto;
	margin     : 0;
	padding    : 0;
	list-style : none;
}
.filters li{
	float  : left;
	width  : auto;
	margin : 0 5px 0 0;
}
.pull-right .filters li{
	margin : 0 0 0 5px;
}

/* Media example 1 */

.media-example-1 ul{
	float      : left;
	list-style : none;
}
.media-example-1 > ul > li{
	float   : left;
	width   : 300px;
	margin  : 0 20px 20px 0;
	padding : 0;
}
.media-example-1 > ul > li > a{
	float  : left;
	height : 100px;
	width  : 100px;
}
.media-example-1 > ul > li div{
	float : right
	width : 180px;
}
.media-example-1 > ul > li > div h3{
	margin      : 0;
	line-height : 20px;
}

/* Media inside a cmanager */

.cmanager-list{
	position   : relative;
	float      : left;
	width      : 100%;
	margin     : 0 0 -15px 0;
	padding    : 0;
	list-style : none;
}
.cmanager-grid-view .cmanager-list{
	margin : 0 0 -10px 0;
}
.cmanager-list > li{
	position : relative;
	float    : left;
	width    : 142px;
	margin   : 0 10px 10px 0;
	padding  : 10px;
}
.cmanager-list > li.mix{
	float : none;
}
.cmanager-grid-view .cmanager-list > li{
	width  : 112px;
	margin : 0 10px 10px 0;
}
.cmanager-grid-view .cmanager-list > li{
	padding : 5px;
}
.cmanager-list-thumb a{
	position : relative;
	float    : left;
	height   : 120px;
	width    : 120px;
}
.cmanager-grid-view .cmanager-list-thumb a{
	height : 100px;
	width  : 100px;
}
.cmanager-list-thumb img{
	float  : left;
	height : 100%;
	width  : 100%;
}
.cmanager-list-info{
	float  : left;	
	width  : 100%;
	margin : 10px 0 0 0;
}
.cmanager-list-info h5{
	margin      : 0;
	line-height : 20px;
}
.cmanager-list-info ul{
	margin     : 10px 0 0 0;
	padding    : 0;
	list-style : none;
}
.cmanager-list-info ul li{
	padding   : 1px 0;
	font-size : 11px;
}
.cmanager-grid-view .cmanager-list-info{
	display : none;
}
.cmanager-ctrls{
	display : none;
	height  : 29px;
	margin  : -10px -10px 10px -10px;
}
.cmanager-grid-view .cmanager-ctrls{
	margin  : -5px -5px 10px -5px;
}
.cmanager-ctrls-show .cmanager-ctrls{
	display : block;
}
.cmanager-ctrls label{
	margin : -1px 10px 0 10px;
}
.cmanager-grid-view .cmanager-ctrls label{
	margin : -1px 0 0 5px;
}
.cmanager-ctrls .btn-group{
	float  : right;
	margin : 2px;
}

/* Lightbox indicator */

.lightbox-indicator{
	position : absolute;
	display  : none;
	top      : 0;
	left     : 0;
	height   : 100%;
	width    : 100%;
}
.lightbox-indicator > span{
	position : absolute;
	top      : 50%;
	left     : 50%;
	height   : 40px;
	width    : 40px;
	margin   : -20px 0 0 -20px;	
}
.lightbox-indicator > span i{
	float       : left;
	height      : 40px;
	width       : 40px;
	line-height : 40px;
	text-align  : center;
}

/*
 * ===============================================================
 * CMANAGER(content manager)
 * ===============================================================
 */

.cmanager{
	float   : left;
	width   : 100%;
	padding : 0;
}
.cmanager-inner{
	position : relative;
	padding  : 0 0 0 201px;
}
.cmanager-header{
	min-height : 41px;
	margin     : 0 0 0 -201px;
	padding    : 10px 10px 0 10px;
}
.cmanager-header .pull-right .input-group{
	margin : 0 0 10px 10px;
}
.cmanager-header .cmanager-addnew-trigger{ }
.cmanager-sidebar{
	float  : left;
	height : 100%;
	width  : 200px;
	margin : 0 0 0 -200px;
}
.cmanager-search{
	width : 180px;
}
.cmanager-sidebar .tab-pane{
	float   : left;
	width   : 200px;
	margin  : 0;
	padding : 15px 20px;
}
.cmanager-sidebar .easyfiletree{
	width : 150px;
}
.cmanager-sidebar .filter-box{
	float   : left;
	width   : 100%;
	margin  : 20px 0 0 0;
	padding : 20px 0 0 0;
}
.cmanager .cmanager-sidebar .filter-box:first-child{
	margin     : 0;
	padding    : 0;
	border-top : none;
}
.cmanager-sidebar .filter-box h5{
	margin : 0 0 10px 0;
}
.cmanager-sidebar .tab-panel .filter-box h5{
	margin : -5px 0 10px 0;
}
.cmanager-sidebar .filter-box label{
	width  : 100%;
	margin : 0;
}
.cmanager-sidebar .nav li{
	padding : 5px 0;
}
.cmanager-sidebar .nav li .indicator-pill{
	float : right;
}
.cmanager-sidebar .nav li i{
	padding : 0 5px 0 0;
}
.cmanager-sidebar li.seperator{
	float   : left;
	height  : 1px;
	width   : 100%;
	margin  : 5px 0 10px 0;
	padding : 0;
}
.cmanager-sidebar .ext-tabs-vertical{
	margin : 0;
	border : none;
}
.cmanager-sidebar .ext-tabs-vertical li a{
	padding : 5px 0;
	border  : none;
}
.cmanager-sidebar .ext-tabs-vertical li a i{
	float       : left;
	width       : 14px;
	margin      : 0 10px 0 0;
	line-height : 20px;
	text-align  : center;
}
.cmanager-sidebar .ext-tabs-vertical li a:hover{
	width        : 100%;
	border-right : none;
}
.cmanager-content{
	position : relative;
}
.cmanager-subheader{
	height      : 29px;
	line-height : 29px;
}
.cmanager-subheader .breadcrumb{
	height      : 28px;
	line-height : 28px;
}
.cmanager-subheader .pull-left p{
	float  : left;	
	margin : 0 0 0 10px;
}
.cmanager-subheader .pull-right p{
	float  : left;	
	margin : 0 10px 0 0;
}
.cmanager-window{}
.cmanager-footer{
	float       : left;
	height      : 29px;
	width       : 100%;
	line-height : 28px;
}
.cmanager-footer .pull-left{
	margin : 0 0 0 1px;
}
.cmanager-footer .pull-right p{
	margin : 0 20px;
}
.cmanager-footer .pull-left p{
	float  : left;
	width  : auto;
	margin : 0 20px;
}
.cmanager-sidebar-hide .cmanager-footer .pull-left,
.cmanager-sidebar-hide .cmanager-header{
	margin : 0;
}
.cmanager-sidebar-hide .cmanager-content{
	border : none;
}
.cmanager-sidebar-hide .cmanager-inner{
	padding : 0;
}
.cmanager-addnew-show .cmanager-addnew{
	display : block;
}
.cmanager-sidebar-hide .cmanager-sidebar,
.cmanager-addnew,
.cmanager.cmanager-addnew-show .cmanager-window .tab-content{
	display : none;
}
.cmanager-addnew form{
	margin : 0 0 -10px 0;
}
.cmanager .tab-pane h3,
.cmanager-addnew h3{
	float       : left;
	width       : 100%;
	margin      : 0 0 20px 0;
	font-size   : 20px;
	font-weight : 500;
	line-height : 20px;
}
#cmanager-sidebar-trigger{}

/*
 * ===============================================================
 * EXAMPLE BOX
 * ===============================================================
 */
 
.example-box{
	position : relative;
}
.example-box-header{
	float  : left;
	width  : 100%;
	margin : 0 0 20px 0
}
.example-label{
	float       : left;
	height      : 30px;
	width       : auto;
	margin      : -1px 0 0 -1px;
	padding     : 0 10px;
	line-height : 28px;	
}
.example-label.pull-right{
	margin : -1px -1px 0 0;
}

/*
 * ===============================================================
 * TICKET SUPPORT
 * ===============================================================
 */

.tickettable-meta{
	float      : left;
	width      : 100%;
	margin     : 0;
	padding    : 0 0 0 35px;
	list-style : none;
}
.cmanager .tickettable-meta{
	padding : 0 0 0 20px;
}
.tickettable-meta li{
	float : left;
	width : 16.6666%;
}
.tickettable-meta li strong{
	float  : left;
	width  : 100%;
	margin : 10px 0 5px 0;
}
.tickettable-meta li span{
	float      : left;
	clear      : both;
	margin     : 0 0 10px 0;
	font-style : italic;
}
.rt-compact-layout .tickettable-meta {
	padding : 0;
}
.rt-compact-layout .tickettable-meta li{
	width   : 100%;
	padding : 0;	
}

/*
 * ===============================================================
 * ACTIVITY STREAM
 * ===============================================================
 */

.activity-stream{
	float  : left;
	width  : 100%;
	margin : 0 0 -20px 0;
}
.activity-stream-item{
	float  : left;
	width  : 100%;
	margin : 0 0 40px 0;
}
.activity-stream-item .avatar{
	float  : left;
	height : 40px;
	width  : 40px;
}
.activity-stream-content{
	margin : 0 0 0 60px;
}
.activity-stream-user{
	float  : left;
	width  : 100%;
	margin : -2px 0 2px 0;
}
.activity-stream-sub{
	margin : 20px 0 0 0;
}
.activity-stream-user a{
	float : left
}
.activity-stream-user .label{
	margin : 0 5px;
}
.activity-stream-user .online-dot,
.activity-stream-user .offline-dot,
.activity-stream-user .busy-dot{
	float  : left;
	margin : 6px 5px 0 5px;
}

/*
 * ===============================================================
 * LISTS
 * ===============================================================
 */

/* Mini list */

.mini-list{
	float      : left;
	margin     : 0 0 -20px 0;
	padding    : 0;
	list-style : none
}
.mini-list > li{
	float  : left;
	width  : 100%;
	margin : 0 0 20px 0;
}
.mini-list .avatar{
	float  : left;
	height : 40px;
	width  : 40px;
}
.mini-list > li > ul{
	margin     : 0 0 0 60px;
	padding    : 0;	
	list-style : none
}
.mini-list > li > ul > li{
	float  : left;
	width  : 100%;
	margin : 0;	
}
.mini-list .social-icons a{
	float  : left;
	width  : auto;
	margin : 5px 10px 0 0;
}

/*
 * ===============================================================
 * FORMS
 * ===============================================================
 */

/* Search flyout */ 

.search-flyout{
	position : relative;
	float    : left;
	z-index  : 1;	
	overflow : hidden;
	height   : 30px;
	width    : 35px;
	margin   : 0 10px 0 0;
	padding  : 0;
}
.search-flyout input[type=text]{
	float   : left;
	width   : 100%;
	margin  : 0;
	padding : 0 40px 0 5px;
}
.search-flyout .btn{
	position : absolute;
	top      : 0;
	right    : 0;
	z-index  : 1039;
	margin   : 0;
}
.search-flyout .typeahead{
	width : 198px;
}
.pull-right .search-flyout{
	margin : 0 0 0 10px;
}
.btn-group .search-flyout{
	margin : 0 0 0 -1px;
}
.btn-group .search-flyout:first-child{
	margin : 0;
}

/* Clear input */ 

.clear-input{
	vertical-align : middle;
	margin         : 0 0 0 -30px;
	padding        : 7px 5px 7px 5px;
	opacity        : 0;
}
.form-control:focus + .input-group-btn .clear-input{
	opacity : 1;	
}
.lte9 .form-control:focus + .input-group-btn .clear-input{
	opacity : 0;
}

/* CSS3 validation */ 

.css3validation input:required, 
.css3validation textarea:required,
.css3validation input:required:valid, 
.css3validation textarea:required:valid,
.css3validation input:focus:invalid, 
.css3validation textarea:focus:invalid {
	background-position : 100% center;
	background-repeat   : no-repeat;
}

.css3validation textarea:required,
.css3validation textarea:required:valid ,
.css3validation textarea:required:invalid  {
	background-position : 100% 8%;
}

/* Auto expand */

textarea.auto-expand{
	height : 30px;
}

/* Advanced textarea */

.advanced-textarea{
	float   : left;
	width   : 100%;
	padding : 20px 20px 10px 20px;
}
.advanced-textarea input[type=text],
.advanced-textarea textarea{
	float      : left;
	resize     : none;
	width      : 100%;
	margin     : 0;
	padding    : 0;
	border     : none;
	box-shadow : none;
}
.advanced-textarea input[type=text]{
	margin      : 0 0 10px 0;
	font-size   : 16px;
	font-weight : bold;
}
.advanced-textarea .divider{
	float  : left;
	height : 30px;
	width  : 1px;
	margin : 0 10px 10px 0;
}
.advanced-textarea .pull-right .divider{
	margin : 0 0 10px 10px;
}
.advanced-textarea .text{
	float       : left;
	height      : 30px;
	width       : auto;
	line-height : 30px
}

/*
 * ===============================================================
 * STATISTICS
 * ===============================================================
 */

.knob{
	cursor : default!important;
	border : none;
}

/* Circular stats */ 

.circular-stats-gage,
.circular-stats{
	position : relative;
	float    : left;
	width    : 100px;
	margin   : 0 20px 0 0;
}
.circular-stats.radius-40{
	width : 80px;
}
.circular-stats.radius-60{
	width : 120px;
}
.circular-stats-inner{
	position : relative;
	float    : left;
	overflow : hidden;
	height   : 100px;
	width    : 100px;
}
.circular-stats-gage .circular-stats-inner{
	height : 50px;
}
.circular-stats.radius-40 .circular-stats-inner{
	height : 80px;
	width  : 80px;
}
.circular-stats.radius-60 .circular-stats-inner{
	height : 120px;
	width  : 120px;
}
.circular-stats-data{
	position : absolute;
	top      : 18px;
	left     : 20px;
	height   : 60px;
	width    : 60px;
}
.circular-stats-gage .circular-stats-data{
	position : relative;
	float    : left;
	top      : -18px;
	left     : 0;
	height   : 40px;
	width    : 100%;
}
.circular-stats-gage .circular-stats-data .top{
	width       : 100%;
	margin      : 0 0 5px 0;
	font-size   : 16px;
	font-weight : bold;
	text-align  : center;
}
.circular-stats-gage .circular-stats-data .left{
	float     : left;
	width     : 25px;
	font-size : 11px;
}
.circular-stats-gage .circular-stats-data .mid{
	float      : left;
	width      : 50px;
	font-size  : 11px;	
	text-align : center;
}
.circular-stats-gage .circular-stats-data .right{
	float      : right;
	width      : 25px;
	font-size  : 11px;
	text-align : right;
}
.circular-stats.radius-40 .circular-stats-data{
	position : absolute;
	top      : 8px;	
	left     : 20px;
	height   : 40px;
	width    : 40px;
}
.circular-stats.radius-60 .circular-stats-data{
	position : absolute;
	top      : 30px;	
	left     : 30px;
	height   : 60px;
	width    : 60px;
}
.circular-stats .circular-stats-data strong{
	float       : left;
	height      : 24px;
	width       : 100%;
	margin      : 8px 0 0 0;
	font-size   : 16px;
	line-height : 24px;
	text-align  : center;
}
.circular-stats.radius-40 .circular-stats-data strong{
	font-size : 14px;
}
.circular-stats .circular-stats-data span{
	float       : left;
	height      : 24px;
	width       : 100%;
	line-height : 24px;
	text-align  : center;
}
.circular-stats.radius-40 .circular-stats-data span{
	font-size : 12px;
}
.circular-stats .circular-stats-data div{
	float       : left;
	height      : 58px;
	width       : 100%;
	margin      : 4px 0 0 0;
	font-size   : 16px;
	font-weight : bold;
	line-height : 58px;
	text-align  : center;
}
.circular-stats.radius-40 .circular-stats-data div{
	height      : 50px;
	margin      : 7px 0 0 0;
	font-size   : 14px;
	line-height : 50px;
}
.circular-stats.radius-60 .circular-stats-data div{
	height      : 52px;
	font-size   : 24px;
	line-height : 52px;
}
.circular-stats .circular-stats-data i{
	float       : left;
	height      : 58px;
	width       : 100%;
	margin      : 4px 0 0 0;
	font-size   : 26px;
	font-weight : bold;
	line-height : 58px;
	text-align  : center;
}
.circular-stats.radius-40 .circular-stats-data i{
	height      : 50px;
	margin      : 7px 0 0 0;
	font-size   : 20px;
	line-height : 50px;
}
.circular-stats.radius-60 .circular-stats-data i{
	height      : 52px;
	font-size   : 32px;
	line-height : 52px;
}
.circular-stats input,
.circular-stats-gage input{
	display : none;
}
.circular-stats-title{
	float       : left;
	width       : 100%;
	margin      : 10px 0 0 0;
	font-weight : bold;
	text-align  : center;
}
.circular-stats-gage .circular-stats-title{
	margin : 0 0 10px 0;	
}

/* Circular stats infobox */ 

.circular-stats-infobox{
	position   : relative;
	float      : left;
	height     : 100px;
	width      : 80px;
	margin     : 0 20px 20px 0;
	text-align : right;
}
.circular-stats-infobox strong{
	float : left;
	width : 100%;
}
.circular-stats-infobox span{
	font-size  : 12px;
	font-style : italic;
}
.circular-stats-infobox .btn{
	position : absolute;
	right    : 0;
	bottom   : 0;
	margin   : 0;
}

/* Progress block */ 

.progress-block{
	float  : left;
	width  : 200px;
	margin : 0 20px 0 0;
}
.progress-block-data{
	height : 30px;
	margin : 0 0 10px 0;
}
.progress-block-title{
	float       : right;
	height      : 30px;
	width       : auto;
	line-height : 30px;
}
.progress-block-result{
	float       : left;
	height      : 30px;
	width       : auto;
	font-size   : 24px;
	line-height : 30px;
}

/* Single value block */ 

.single-val-block{
	float      : left;
	height     : 80px;
	width      : auto;
	min-width  : 40px;
	margin     : 0 20px 0 0;
	padding    : 0 20px;
	text-align : center;
}
.single-val-block .font-big{
	font-size   : 18px;	
	font-weight : bold;
	line-height : 80px;
}
.grouped > .single-val-block{
	margin : 0 0 0 -1px;
}
.grouped  > .single-val-block:first-child{
	margin : 0;
}

/* Duo value block */ 

.duo-val-block{
	float   : left;
	height  : 80px;
	width   : auto;
	margin  : 0 20px 0 0;
	padding : 10px;
}
.duo-val-block-inner{
	float : left;
	width : auto;
}
.duo-val-block .font-big{
	float       : left;
	height      : 20px;
	width       : 100%;
	margin      : 5px 0 5px 0;
	padding     : 0 0 7px 0;
	font-size   : 18px;
	font-weight : 500;
	line-height : 20px;
	text-align  : center;
}
.duo-val-block .font-small{
	float       : left;
	height      : 20px;
	width       : 100%;
	margin      : 0 0 2px 0;
	padding     : 5px 0 0 0;
	line-height : 20px;
	text-align  : center;
}
.grouped > .duo-val-block{
	margin : 0 0 0 -1px;
}
.grouped > .duo-val-block:first-child{
	margin : 0;
}
.raster-3-blocks,
.raster-4-blocks{
	border : none;
}
.raster-3-blocks .duo-val-block,
.raster-4-blocks .duo-val-block{
	width  : 33.333333%;
	margin : 0;
	border : none;
}
.raster-4-blocks .duo-val-block{
	width : 25%;
}
.raster-3-blocks .duo-val-block:first-child,
.raster-4-blocks .duo-val-block:first-child{
	border : none;
}
.duo-val-block .stats{
	float    : right;
	overflow : hidden;
	height   : 60px;
	width    : 60px;
	margin   : 0 0 0 10px;
}
.duo-val-block .stats.pull-left{
	float  : left;
	margin : 0 10px 0 0;
}

/* it block */ 

.it-block{
	float  : left;
	height : 80px;
	width  : 240px;
	margin : 0 20px 0 0;
}
.it-block i{
	float       : left;
	height      : 78px;
	width       : 80px;
	font-size   : 30px;
	line-height : 78px;
}
.it-block-inner{
	float   : right;
	height  : 100%;
	width   : 157px;
	padding : 0 20px;
}
.it-block-inner strong{
	float  : left;
	width  : 100%;
	margin : 18px 0 0 0;
}

/* Bar meter */

.bar-meter{
	float  : left;
	height : 30px;
	width  : auto;
}
.bar-meter.meter-small{
	height : 20px;
}
.bar-meter > div{
	position : relative;
	float    : left;
	height   : 100%;
	width    : 10px;
	margin   : 0 0 0 5px;
}
.meter-no-bg.bar-meter > div{
	background-color : transparent;
}
.bar-meter.meter-small > div{
	width : 5px;
}
.bar-meter > div:first-child{
	margin : 0;
}
.bar-meter > div span{
	position : absolute;
	bottom   : 0;
	left     : 0;
	height   : 100%;
	width    : 100%;
}
.meter-flip.bar-meter > div span{
	top    : 0;
	bottom : auto;
}

/* Statistic widget */

.statistic-block{
	float  : left;
	height : 180px;
	width  : 200px;
	margin : 0 20px 20px 0;
}
.statistic-block > header{
	height      : 29px;
	padding     : 0;
	line-height : 28px;
}
.statistic-block > header .label{
	margin : 4px 4px 0 0;
}
.statistic-block > header .pull-left .label{
	margin : 4px 0 0 4px;
}
.statistic-block > header .pull-left{
	margin      : 0 0 0 15px;
	font-weight : bold;
}
.statistic-block > header .pull-left i{
	margin : 0 5px 0 0;
}
.statistic-block-inner{
	padding : 20px;
}
.statistic-block-inner .pull-right .label{
	margin-right : 0;
}
.statistic-block .row{
	margin : 0 0 0 -20px;
}
.statistic-block .row > div{
	padding : 0 0 0 20px;
}
.statistic-block-bigval{
	font-size   : 22px;
	font-weight : 500;
}
.statistic-block-smallval{
	font-weight : bold;
}
.statistic-block-smalltext{
	font-size : 12px;	
}
.statistic-block .line{
	float  : left;
	height : 1px;
	width  : 100%;
	margin : 20px 0;
}
.statistic-block .bar-meter{
	height : 32px;
	margin : 3px 0 5px 0;
}
.statistic-block .bar-meter > div{
	width  : 9px;
	margin : 0 0 0 5.9px;
}
.statistic-block .bar-meter > div:first-child{
	margin : 0;
}
.statistic-block .progress.bar-small{
	clear  : both;
	width  : 100%;
	margin : 0 0 9px 0;
}
.statistic-block-vsval{
	position : relative;
}
.statistic-block-vstext{
	position   : absolute;
	top        : -1px;
	left       : 50%;
	width      : 30px;
	margin     : 0 0 0 -15px;
	font-size  : 12px;
	text-align : center;
}

/* Project blocks */

.project-block{
	float  : left;
	width  : 200px;
	margin : 0 20px 20px 0;
}
.project-done.project-block{
	opacity : 0.6;
}
.project-block > header{
	float   : left;	
	width   : 100%;
	padding : 20px;
}
.project-block h3{
	margin      : 0 0 5px 0;
	font-size   : 16px;
	font-weight : 500;
}
.project-block ul{
	float      : left;
	width      : 100%;
	margin     : 0;
	padding    : 20px;
	list-style : none;
}
.project-block ul li{
	float  : left;
	width  : 100%;
	margin : 5px 0 0 0;
}
.project-block > footer{
	float   : left;
	width   : 100%;
	padding : 20px;
}
.project-block > footer .label{
	float  : left;
	margin : -1px 0 0 0;;
}
.project-block footer .progress{
	margin : 3px 0;
}
.project-block > footer label{
	height     : 19px;
	min-height : 19px;
	margin-top : -5px;
}

/* File blocks */

.file-block{
	float  : left;
	width  : 160px;
	margin : 0 20px 20px 0;
}
.file-block-icon{
	position   : relative;
	height     : 120px;
	text-align : center;
}
.file-block-icon a{
	display : block;
}
.file-block-icon .label{
	position : absolute;
	top      : 10px;
	right    : 10px;
	margin   : 0;
}
.file-block-icon .fa{
	width       : 100%;
	font-size   : 50px;
	line-height : 120px;
}
.file-block-info{
	height  : 60px;
	padding : 10px;
}
.file-block-info h5{
	float  : left;
	width  : 100%;
	margin : 0 0 5px 0;
}
.file-block-info small{
	float       : left;
	height      : 20px;
	width       : 100%;
	margin      : 0 0 5px 0;
	line-height : 20px;
}
.file-block-info small i{
	margin : 0 5px 0 0;
}

/* File bar */

.file-bar{
	float  : left;
	height : 50px;
	width  : 200px;
	margin : 0 20px 20px 0;
}
.file-bar-icon{
	position   : relative;
	float      : left;
	height     : 48px;
	width      : 49px;
	text-align : center;
}
.file-bar-icon .fa{
	width       : 100%;
	font-size   : 24px;
	line-height : 48px;
}
.file-bar-info,
.file-bar-info a{
	position : relative;
	float    : left;
	height   : 100%;
	width    : 149px;
}
.file-bar-info .label{
	position : absolute;
	top      : -5px;
	right    : -5px;
	margin   : 0;
}
.file-bar-info h5{
	float       : left;
	height      : 48px;
	margin      : 0 10px;
	line-height : 48px;
	font-weight : 500;
}

/* User progressbar */

.user-progressbar{
	height  : 30px;
	padding : 0 0 0 40px;
}
.user-progressbar img{
	float  : left;
	height : 30px;
	width  : 30px;
	margin : 0 0 0 -40px;
}
.user-progressbar .bar{
	float : left;
}
.user-progressbar .bar:before{
	content : "";
	float   : left;
	height  : 30px;
	width   : 10px;
	margin  : 0 0 0 -10px;
}
.user-progressbar .bar span{
	float       : right;
	height      : 30px;
	margin      : 0 5px 0 0;
	font-size   : 11px;
	font-weight : bold;
	line-height : 30px;
}

/* Vertical */

.user-progressbar.vertical{
	position : relative;
	float    : left;
	height   : 110px;
	width    : 30px;
	margin   : 0 10px 40px 0;
	padding  : 0 0 40px 0;
}
.user-progressbar.vertical img{
	position : absolute;
	bottom   : -40px;
	left     : 0;
	height   : 30px;
	width    : 30px;
	margin   : 0;
}
.user-progressbar.vertical .bar{
	position : absolute;
	bottom   : 0px;
	left     : 0;
	width    : 30px;
	margin   : 0;
}
.user-progressbar.vertical .bar:before{
	content  : "";
	position : absolute;
	bottom   : -10px;
	left     : 0;	
	height   : 10px;
	width    : 30px;
	margin   : 0;
}
.user-progressbar.vertical .bar span{
	float       : right;
	height      : auto;
	width       : 100%;
	margin      : 0;
	line-height : 20px;
	text-align  : center;
}
.gp-handlebar-vertical{
	float  : left;
	height : 100px;
	width  : 4px;
	cursor : e-resize
}

/* Text box*/

.text-box{
	margin     : 40px 20px;
	text-align : center;
}
.text-box .value{
	margin      : 0 0 10px 0;
	font-size   : 20px;
	font-weight : 500;
}

/*
 * ===============================================================
 * CSSTIP
 * ===============================================================
 */
 
.csstip{
	position : relative;
}
.csstip:hover:after,
.csstip-visible:after{
	content         : attr(title);
	position        : absolute;
	bottom          : 26px;
	left            : 50%;
	z-index         : 99;
	width           : 160px;
	margin-left     : -80px;
	padding         : 5px 10px 5px 10px;
	font-size       : 11px;
	font-weight     : normal;
	text-align      : center;
	text-decoration : none;
}
.csstip:hover:before,
.csstip-visible:before{
	content      : "";
	position     : absolute;
	bottom       : 21px;
	left         : 50%;
	z-index      : 100;
	margin-left  : -5px;
	border       : solid;
	border-width : 5px 6px 0 5px;
}
.csstip.tip-danger:after{
	padding-bottom : 5px;
}
.csstip.tip-success:after{
	padding-bottom : 5px;
}
.csstip.tip-primary:after{
	padding-bottom : 5px;
}
.csstip.tip-warning:after{
	padding-bottom : 5px;
}
.demo-tip{
	margin : 0 20px 0 0;	
}

/*
 * ===============================================================
 * PLANNING
 * ===============================================================
 */
 
.planning-timeline{
	position   : relative;	
	z-index    : 1;
	overflow-x : auto;
}
.planning-timeline .scrollbar{
	visibility : visible;
}
.planning-timeline .viewport{
	height : 504px;
}
.planning-timeline-inner{
	float : left;
	width : 3330px;
}
.planning-sidebar-close .planning-timeline-inner{
	width : 3130px;	
}
.planning-timeline-inner > div:first-child{
	border-top : none;
}
.planning-timeline-row,
.planning-timeline-row-small,
.planning-timeline-title{
	float : left;
	width : 100%;	
}
.planning-timeline-row-small{
	height : 24px;
}
.planning-timeline-row{
	height : 31px;
}
.planning-timeline-title{
	font-style : italic
}
.planning-timeline-header{
	float       : left;
	width       : 100%;	
	font-weight : bold;	
}
.planning-timeline-meta form{
	float  : left;
	width  : 170px;
	margin : 0;
}
.planning-sidebar-close .planning-timeline-meta form{
	display : none;
}
.planning-timeline-meta input[type=text]{
	width      : 200px;
	margin     : 0;
	font-style : italic;
	border     : none;
	box-shadow : none;
}
.planning-timeline-meta input[type=text]:focus{
	box-shadow : none;
}
#planning-sidebar-trigger{
	float            : right;
	height           : 32px;
	width            : 32px;
	margin           : -1px;
	padding          : 0;
	background-image : none;
	line-height      : 30px;
}
#planning-sidebar-trigger:hover{
	z-index : 2;
}
.planning-timeline-header .planning-timeline-meta{
	float   : left;
	width   : 230px;
	padding : 0;
}
.planning-timeline-meta{
	float   : left;
	z-index : 1;
	width   : 230px;
	padding : 5px;
}
.planning-sidebar-close .planning-timeline-meta{
	width : 30px;
}
.planning-sidebar-close .planning-timeline-header .planning-timeline-meta{
	width : 30px;
}
.planning-sidebar-close .planning-timeline-title .planning-timeline-meta{
	width : 220px;	
}
.planning-sidebar-close .planning-timeline-meta a,
.planning-sidebar-close .planning-timeline-meta .offline-dot,
.planning-sidebar-close .planning-timeline-meta .online-dot,
.planning-sidebar-close .planning-timeline-meta .busy-dot{
	display : none;
}
.planning-sidebar-close .planning-timeline-meta .avatar,
.planning-sidebar-close .planning-timeline-header .planning-timeline-meta .btn{
	display : block;
}
.planning-timeline-meta a{
	float       : left;
	font-weight : bold;
}
.planning-timeline-meta .offline-dot,
.planning-timeline-meta .online-dot,
.planning-timeline-meta .busy-dot{
	float  : right;
	margin : 6px 10px;
}
.planning-timeline-meta .avatar{
	float  : right;
	height : 30px;	
	width  : 31px;
	margin : -5px -5px -5px 0;
}
.planning-timeline-meta .avatar img{
	height : 30px;
	width  : 30px;
}
.planning-timeline-timeframe{
	position : relative;
	float    : left;
	height   : 100%;
}
.planning-timeline-row-small{
	float  : left;
	height : 20px;
	width  : 100%;	
}
.planning-timeline-timeframe > span{
	float   : left;
	z-index : 1;	
	height  : 100%;
	width   : 100px;
	padding : 0;
}
.planning-timeline-timeframe > span > span{
	float       : left;
	height      : 100%;
	width       : 24px;
	font-size   : 11px;
	line-height : 30px;
	text-align  : center;
}
.planning-timeline-row-small .planning-timeline-timeframe > span > span{
	line-height : 20px;
}
.planning-timeline-timeframe > span > span:first-child{
	border-left : none;
}
.planning-timeline-header .planning-timeline-timeframe > span{
	float   : left;
	z-index : 1;	
	width   : 100px;
	padding : 5px;
}
.planning-timeline-timeframe > span > i{
	margin      : 5px;
	line-height : 28px;
}
.planning-timeline-row-small .planning-timeline-timeframe > span > span:first-child{
	border-left : none;
}
.planning-timebar{
	position : absolute;
	top      : 1px;
	z-index  : 2;
	height   : 28px;
	width    : 90px;
}
.planning-timebar > span{
	float     : left;
	margin    : 4px 5px;
	font-size : 12px;
}
.planning-timebar > span i{
	margin : 0 5px 0 0;
}
.planning-timebar > .pull-right{
	float : right;
}
.planning-timebar .action{
	float       : right;
	height      : 28px;
	width       : 28px;
	line-height : 28px;
	text-align  : center;
}
.planning-timebar .avatar{
	float  : right;

	height : 26px;	
	width  : 26px;
	margin : 1px 1px 1px 0;
}
.planning-timebar .avatar img{
	float  : left;
	height : 100%;
	width  : 100%;
}
.planning-timebar .progress.bar-small{
	float  : right;
	width  : 140px;
	margin : 9px 5px;
}

/*
 * ===============================================================
 * DIALPAD
 * ===============================================================
 */
 
.dialpad{
	float : left;
	width : 100%;
}
.dialpad-row{
	float  : left;
	width  : 100%;
	margin : 4px 0 0 0;
}
.dialpad-key{
	float  : left;
	height : 54px;
	width  : 64px;
	margin : 0 0 0 4px;
}
.dialpad-key:first-child{
	margin : 0;
}
.dialpad-key strong{
	float       : left;
	width       : 100%;
	margin      : 7px 0 0px;
	font-size   : 18px;
	font-weight : 500;
	text-align  : center;
}
.dialpad-key span{
	float          : left;
	width          : 100%;
	font-size      : 10px;
	text-align     : center;
	text-transform : uppercase;
}
.dialpad-key .astriks{
	margin    : 17px 0 0 0;
	font-size : 38px;
}
.dialpad-key .plus{
	font-size : 16px;
}
a.pull-right.btn.dialpad-call-btn,
.dialpad-cancel-btn{
	width  : 96px;
	margin : 10px 0 0 0;
}
.dialpad-display{
	position : relative;
	margin   : 0 0 6px 0;	
}
.dialpad-display a{
	position : absolute;
	top      : 10px;
	right    : 13px;
}
.dialpad-display input{
	padding : 10px 30px 10px 10px;
}

/*
 * ===============================================================
 * TIMELINE
 * ===============================================================
 */

.timeline{
	padding             : 15px 0 0 0;
	background-position : top center;
	background-repeat   : repeat-y;
}
.timeline-label{
	clear       : both;
	height      : 34px;
	width       : 124px;
	margin      : 0 auto 20px auto;
	line-height : 30px;
	text-align  : center;
}
.timeline-row{
	float : left;
	width : 100%;
}
.timeline-label span{
	float       : left;
	height      : 28px;
	width       : 118px;
	margin      : 1px;
	line-height : 28px;
	text-align  : center;
}
.timeline-leftside{
	float : left;
	width : 50%;
}
.timeline-rightside{
	float : right;
	width : 50%;
}
.timeline-event{
	position : relative;
	clear    : both;
	margin   : 0 50px 20px 0;
}
.timeline-event-box{
	position : relative;
}
.timeline-rightside .timeline-event{
	margin : 0 0 20px 50px;
}
.timeline-connector-line{
	position : absolute;
	top      : 20px;
	right    : -42px;
	z-index  : 1;
	height   : 2px;
	width    : 42px;
}
.timeline-rightside .timeline-connector-line{
	right : auto;
	left  : -42px;
}
.connector-bottom.timeline-connector-line{
	top    : auto;
	bottom : 20px;
}
.connector-middle.timeline-connector-line{
	top    : 50%;
	margin : -1px 0 0 0;
}
.timeline-connector-label{
	position    : absolute;
	top         : 6px;
	right       : -82px;
	z-index     : 2;
	height      : 28px;
	width       : 64px;
	font-size   : 12px;			
	line-height : 28px;
	text-align  : center;
}
.timeline-rightside .timeline-connector-label{
	right : auto;
	left  : -82px;			
}
.connector-middle.timeline-connector-label{
	top    : 50%;
	margin : -14px 0 0 0;			
}
.connector-bottom.timeline-connector-label{
	top    : auto;
	bottom : 6px;		
}
.timeline-connector-label span{
	float       : left;
	height      : 20px;
	width       : 56px;
	margin      : 2px;		
	font-size   : 12px;
	line-height : 20px;
	text-align  : center;
}
.timeline-connector-dot{
	position : absolute;
	top      : 13px;
	right    : -58px;
	z-index  : 2;
	height   : 16px;
	width    : 16px;
}
.timeline-connector-dot span{
	float  : left;
	height : 8px;
	width  : 8px;
	margin : 2px;		
}
.timeline-rightside .timeline-connector-dot{
	right : auto;
	left  : -58px;
}
.connector-middle.timeline-connector-dot{
	top    : 50%;
	margin : -8px 0 0 0;
}
.connector-bottom.timeline-connector-dot{
	top    : auto;
	bottom : 13px;
}
.timeline-connector-circle{
	position    : absolute;
	top         : -1px;
	right       : -72px;
	z-index     : 2;
	height      : 44px;
	width       : 44px;
	line-height : 44px;
	text-align  : center;			
}
.timeline-rightside .timeline-connector-circle{
	right : auto;
	left  : -72px;
}
.connector-bottom.timeline-connector-circle{
	top    : auto;
	bottom : 0;		
}
.connector-middle.timeline-connector-circle{
	top    : 50%;
	margin : -22px 0 0 0;	
}
.timeline-connector-circle span{
	float       : left;
	height      : 36px;
	width       : 36px;
	margin      : 2px;
	line-height : 36px;
	text-align  : center;	
}
.timeline-connector-arrow{
	position      : absolute;
	display       : inline-block;
	top           : 11px;
	right         : -9px;
	border-top    : 10px solid transparent;
	border-right  : none;
	border-bottom : 10px solid transparent;
}
.connector-bottom.timeline-connector-arrow{
	top    : auto;
	bottom : 11px;
}
.connector-middle.timeline-connector-arrow{
	top    : 50%;
	margin : -10px 0 0 0;
}
.timeline-rightside .timeline-connector-arrow{
	right       : auto;
	left        : -9px;
	border-left : none;
}
.timeline-connector-arrow:after{
	content       : "";
	position      : absolute;
	display       : inline-block;
	top           : -9px;
	right         : 1.5px;
	border-top    : 9px solid transparent;
	border-right  : none;
	border-bottom : 9px solid transparent;
}
.timeline-rightside .timeline-connector-arrow:after{
	right       : auto;
	left        : 1.5px;
	border-left : none;
}
.timeline-rightside .connector-middle.timeline-connector-arrow:after{
	left        : 2px;
	border-left : none;
}
.timeline-event-header,
.timeline-event-footer{
	height      : 40px;
	line-height : 39px;
}
.timeline-event-header h3,
.timeline-event-footer h3{
	float       : left;
	height      : 39px;
	margin      : 0 0 0 20px;
	font-size   : 13px;
	font-weight : 600;
	line-height : 39px;
}
.timeline-event-header p,
.timeline-event-footer p{
	margin : 0 0 0 20px;
}
.timeline-event-header .pull-right h3,
.timeline-event-footer .pull-right h3,
.timeline-event-header .pull-right p,
.timeline-event-footer .pull-right p{
	margin : 0 20px 0 0;
}
.timeline-event-header h3 i,
.timeline-event-footer h3 i{
	margin : 0 5px 0 0;
}
.timeline-event-header .pull-right h3 i,
.timeline-event-footer .pull-right h3 i{
	margin : 0 0 0 5px;
}
.timeline-event-header .pull-left > .btn,
.timeline-event-header .pull-left > .btn-group,
.timeline-event-header .pull-left > .dropdown,
.timeline-event-footer .pull-left > .btn,
.timeline-event-footer .pull-left > .btn-group,
.timeline-event-footer .pull-left > .dropup{
	margin : 5px 0 0 5px;
}
.timeline-event-header .pull-right > .btn,
.timeline-event-header .pull-right > .btn-group,
.timeline-event-header .pull-right > .dropdown,
.timeline-event-footer .pull-right > .btn,
.timeline-event-footer .pull-right > .btn-group,
.timeline-event-footer .pull-right > .dropup{
	margin : 5px 5px 0 0;
}
.timeline-event-header .btn-group > .btn,
.timeline-event-footer .btn-group > .btn{
	float  : left;
	margin : 0 0 0 -1px;
}
.timeline-event-footer .pull-left p{
	margin : 0 0 0 20px;
}
.timeline-event-content{
	margin : 0;
}
.timeline-event-meta{
	height      : 30px;
	font-size   : 12px;
	line-height : 30px;
	text-align  : right;
}
.timeline-rightside .timeline-event-meta{
	text-align : left;
}

/*
 * ===============================================================
 * VIDEO
 * ===============================================================
 */

.video-container{}

video,
.video-container iframe,  
.video-container object,  
.video-container embed{
	height     : auto!important;
	min-height : 150px!important;
	width      : 100%!important;
}
.attention-box{
	position : relative;
	padding  : 20px 20px 20px 25px;
}
.attention-box:before{
	content  : "";
	position : absolute;
	top      : -1px;
	bottom   : -1px;
	left     : -1px;
	width    : 5px;
}

/*
 * ===============================================================
 * Tags
 * ===============================================================
 */

.tags{
	float       : left;
	height      : 24px;
	width       : auto;
	margin      : 0 10px 10px 0;
	padding     : 0 10px;
	font-size   : 11px;
	line-height : 24px;
}

/*
 * ===============================================================
 * FOOTER MAIN
 * ===============================================================
 */

/* Footer */

#footer-main{
	float : left;
}
#footer-main.footer-sticky{
	position : fixed;
	bottom   : 0;
	left     : 0;
	z-index  : 5000;
}
.footer-main-inner > .pull-left,
.footer-main-inner > .pull-right{
	height : 100%;
}
.footer-main-inner{
	position : relative;
	z-index  : 1000;
	height   : 100%;
}
.footer-main-inner > p,
.footer-main-inner > div > p{
	float       : left;
	margin      : 0;
	font-size   : 11px;
	line-height : 28px;
}
.footer-main-inner > p,
.footer-main-inner > .pull-left > p{
	margin : 0 0 0 20px;
}
.footer-main-inner > .pull-right > p{
	margin : 0 20px 0 0;
}
.footer-main-inner .btn .caret{
	margin : 14px 0 0 0;
}
#toggle-footer{
	height:29px;
}

/*
 * ===============================================================
 * CSS CALENDAR
 * ===============================================================
 */

/* Css Calendar Mini */ 

.csscalendar-boxed .csscalendar-mini{
	margin : 0 0 0 -1px;
}
.csscalendar-boxed .csscalendar-mini:first-child{
	margin : 0;
}
.csscalendar-mini{
	float : left;
	width : 200px;
}
.csscalendar-mini table{
	float : left;
	width : 100%;
}
.csscalendar-mini a{
	text-decoration : none;
}
.csscalendar-mini caption{
	height      : 32px;
	width       : 100%;
	margin      : 0 0 -1px 0;
	font-weight : bold;
	line-height : 30px;
	text-align  : center;
}
.csscalendar-mini caption a{
	height      : 30px;
	width       : 27px;
	line-height : 30px;
}
.csscalendar-mini caption .prev{
	float  : left;
	margin : -1px 0 0 -1px;
}
.csscalendar-mini caption .next{
	float  : right;
	margin : -1px -1px 0 0;
}
.csscalendar-mini th, 
.csscalendar-mini td{
	width      : 25px;
	text-align : center;
}
.csscalendar-mini th{
	font-size      : 8px;
	line-height    : 20px;
	text-transform : uppercase;
	border-top     : none;
}
.csscalendar-mini td{
	font-size   : 11px;
	font-weight : bold;
}
.csscalendar-mini td a{
	position    : relative;
	display     : block;
	clear       : both;
	height      : 26px;
	width       : 100%;
	line-height : 28px;
}

/* Full Calendar (events) */ 

.calendar-events{
	float  : left;
	width  : 100%;
	margin : 0 0 -7px 0;
}
.calendar-events h4{
	margin      : 0 0 20px 0;
	font-size   : 16px;
	font-weight : 500;
}
.single-cal-event{
	margin    : 0 0 5px 0;
	padding   : 1px 10px;
	cursor    : move;	
	font-size : 11px;
}
.calendar-events label{
	margin : 5px 0 0 0;
}

/*
 * ===============================================================
 * MISC
 * ===============================================================
 */
 
.subheading{
	position : relative;
	clear    : both;
	margin   : 20px 0 40px;
}
.subheading h3{
	margin      : 0;
	font-size   : 20px;
	line-height : 20px;
}
.subheading p{
	margin      : 0;
	margin      : 10px 0 0 0;
	font-size   : 13px;
	font-weight : normal;
	line-height : 20px;
}
.btn-less{
	margin : 0 10px 10px 0;
}
.subheading .btn-group{
	position : absolute;
	top      : -6px;
	right    : 0;
	margin   : 0;
}

/* Indicators (dot/pill) */

.indicator-dot{
	height      : 16px;
	width       : 16px;
	font-size   : 10px;
	font-weight : bold;
	line-height : 15px;
	text-align  : center;
}
.btn .indicator-dot{
	position : absolute;
	top      : -6px;
	right    : -6px;
}
.indicator-pill{
	z-index     : 1030;
	height      : 16px;
	padding     : 0 5px;
	font-size   : 10px;
	font-weight : bold;
	line-height : 15px;
	text-align  : center;
}
.user-list-minimal{
	margin     : 0 0 -10px 0;
	margin     : 0;
	padding    : 0;
	list-style : none;
}
.user-list-minimal li{
	float  : left;
	width  : 100%;
	margin : 0 0 10px 0;
}
.user-list-minimal a{
	float : left;
}
.user-list-icons{
	float : right;
}
.user-list-icons a{
	margin : 0 0 0 5px;
}
.user-list-icons.btn-group{
	margin : 0;
}
.busy-dot,
.online-dot,
.offline-dot{
	display : inline-block;
	height  : 8px;
	width   : 8px;
}

/*
 * ===============================================================
 * GMAP3
 * ==============================================================
 */
 
.gmap3-small{
	height : 200px;
	width  : 200px;
}
.gmap3-flex{
	height : 400px;
	width  : 100%;
}

/*
 * ===============================================================
 * PROGRESS
 * ===============================================================
 */
 
.progress-project{
	float  : left;
	width  : 100%;
	margin : 0;
}
.progress-project:first-child{
	margin : 0;
}
.progress-project-header{
	float  : left;
	width  : 100%;
	margin : 0 0 5px 0;
}
.progress-project-header h5{
	float       : left;
	height      : 20px;
	width       : auto;
	margin      : 0;
	font-size   : 13px;
	font-weight : normal;
	line-height : 20px;
}
.progress-project-header span{
	float       : right;
	height      : 20px;
	width       : auto;
	line-height : 20px;
}
.progress-project-footer{
	float  : left;
	width  : 100%;
	margin : 5px 0 0 0;
}
.progress-project-footer p{
	float  : left;
	width  : auto;
	margin : 0;	
}
.progress-project-footer span{
	float  : right;
	width  : auto;
	margin : 0;
}

/*
 * ===============================================================
 * BUTTONS
 * ===============================================================
 */

/* Big Square Buttons */

.btn-square-icontext{
	position : relative;
	float    : left;
	height   : 80px;
	width    : 80px;
	margin   : 0 10px 10px 0;
}
.pull-right .btn-square-icontext{
	margin : 0 0 10px 10px;	
}
.btn-square-icontext > .fa{
	float      : left;
	width      : 100%;
	margin     : 18px 0 0 0;
	font-size  : 24px;
	text-align : center;
}
.btn-square-icontext > p{
	float      : left;
	width      : 100%;
	margin     : 4px 0 0 0;
	font-size  : 11px;
	text-align : center;
}
.btn-square-icontext .indicator-dot{
	position    : absolute;
	top         : 5px;
	right       : 5px;
	line-height : 14px;
}
.btn-square-icontext .corner-label{
	position      : absolute;
	top           : -2px;
	right         : -2px;
	overflow      : hidden;
	height        : 32px;
	width         : 32px;
	border-radius : 0 5px 0 0;
}
.btn-square-icontext .corner-label:before{
	content       : "";
	position      : absolute;
	top           : 0;
	right         : 0;
	border-top    : 16px solid;
	border-right  : 16px solid;
	border-bottom : 16px solid transparent;
	border-left   : 16px solid transparent;
}
.btn-square-icontext .corner-label .fa{
	position  : absolute;
	top       : 4px;	
	right     : 4px;
	font-size : 11px;
}

/* Square Button with Icon */

.btn-square-icon{
	position : relative;	
	float    : left;
	height   : 50px;
	width    : 50px;
	margin   : 0 10px 10px 0;
}
.pull-right .btn-square-icon{
	margin : 0 0 10px 10px;	
}
.btn-square-icon .indicator-dot{
	position    : absolute;
	top         : 5px;
	right       : 5px;
	line-height : 16px;
}
.btn-square-icon .fa{
	float       : left;
	height      : 100%;
	width       : 100%;
	font-size   : 20px;
	line-height : 50px;
	text-align  : center;
}
.btn-square-icon .corner-label{
	position      : absolute;
	top           : -2px;
	right         : -2px;
	overflow      : hidden;
	height        : 20px;
	width         : 20px;
	border-radius : 0 5px 0 0;
}
.btn-square-icon .corner-label:before{
	content       : "";
	position      : absolute;
	top           : 0;
	right         : 0;
	border-top    : 10px solid;
	border-right  : 10px solid;
	border-bottom : 10px solid transparent;
	border-left   : 10px solid transparent;
}

/* Button square group */

.btn-square-group{
	float  : left;
	width  : auto;
	margin : 0 10px 10px 0;
}
.btn-square-group .btn-square-icon,
.btn-square-group .btn-square-icontext{
	position : relative;
	margin   : 0 0 0 -1px;
}
.btn-square-group .btn-square-icon:hover,
.btn-square-group .btn-square-icontext:hover{
	z-index : 2;
}
.btn-square-group .btn-square-icon:first-child,
.btn-square-group .btn-square-icontext:first-child{
	margin : 0;
}
.btn-square-group .btn-square-icon:last-child,
.btn-square-group .btn-square-icontext:last-child{
}
.btn-square-group .btn-square-icon .corner-label:before,
.btn-square-group .btn-square-icontext .corner-label:before{
	content : "";
	top     : 1px;
	right   : 1px;
}

/* Circle Button with Icon and Text */

.btn-circle-icontext{
	position : relative;
	float    : left;
	height   : 80px;
	width    : 80px;
	margin   : 0 10px 10px 0;
}
.pull-right .btn-circle-icontext{
	margin : 0 0 10px 10px;	
}
.btn-circle-icontext .indicator-dot{
	position    : absolute;
	top         : 5px;
	right       : 5px;
	line-height : 14px;
}
.btn-circle-icontext .fa{
	float       : left;
	height      : 24px;
	width       : 100%;
	margin      : 18px 0 2px 0;
	font-size   : 24px;
	line-height : 26px;
	text-align  : center;
}
.btn-circle-icontext p{
	float      : left;
	width      : 100%;
	margin     : 0;
	font-size  : 11px;
	text-align : center;
}

/* Circle Button with Icon */

.btn-circle-icon{
	position : relative;	
	float    : left;
	height   : 50px;
	width    : 50px;
	margin   : 0 10px 10px 0;
}
.pull-right .btn-circle-icon{
	margin : 0 0 10px 10px;	
}
.btn-circle-icon .indicator-dot{
	position    : absolute;
	top         : 0px;
	right       : 0px;
	line-height : 14px;
}
.btn-circle-icon .fa{
	float       : left;
	height      : 100%;
	width       : 100%;
	font-size   : 20px;
	line-height : 49px;
	text-align  : center;
}

/* Button Circle */

.btn.btn-circle{
	height      : 30px;
	width       : 30px;
	padding     : 0;
	line-height : 29px;
}

/* Button with Count */

.btn-count{
	float  : left;
	margin : 0 10px 10px 0;	
}
.pull-right .btn-count{
	margin : 0 0 10px 10px;	
}
.btn-count span{
	float       : left;
	height      : 30px;
	width       : auto;
	margin      : 0 0 0 -5px;
	padding     : 0 10px 0 15px;
	line-height : 29px;
}
.btn-count span:first-child{
	margin  : 0 -5px 0 0!important;
	padding : 0 15px 0 10px;
}
.btn-count .btn{
	margin : 0;
}
.pull-right .btn-count span{
	margin : 0 0 0 -5px;	
}

/*
 * ===============================================================
 * ANIMATION HELPERS
 * ===============================================================
 */
 
.chat-blink-icon{
	animation-duration                : 2s;
	animation-delay                   : 0s;
	animation-iteration-count         : infinite;
	-moz-animation-duration           : 2s;
	-moz-animation-delay              : 0s;
	-moz-animation-iteration-count    : infinite;
	-webkit-animation-duration        : 2s;
	-webkit-animation-delay           : 0s;
	-webkit-animation-iteration-count : infinite;
	-o-animation-duration             : 2s;
	-o-animation-delay                : 0s;
	-o-animation-iteration-count      : infinite;
}
.ls-pulse{
	animation-duration         : 2s;
	animation-delay            : 2s;
	-moz-animation-duration    : 2s;
	-moz-animation-delay       : 2s;
	-webkit-animation-duration : 2s;
	-webkit-animation-delay    : 2s;
	-o-animation-duration      : 2s;
	-o-animation-delay         : 2s;
}
.ls-pulse:hover{
	animation         : none;
	-moz-animation    : none;
	-webkit-animation : none;
	-o-animation      : none;
}

/*
 * ===============================================================
 * FAQ
 * ===============================================================
 */

.faq{
	float  : left;
	width  : 100%;
	margin : 0 0 -10px 0;
}
.faq-group{
	margin : 0 0 10px 0;
}
.faq-group > header{
	position  : relative;
	margin    : 0;
	padding   : 10px 40px 10px 20px;
	cursor    : pointer;
	font-size : 13px;
}
.faq-group > header h3{
	margin      : 0;
	font-size   : 13px;
	font-weight : 600;
	line-height : 20px;
}
.faq-group > header i{
	position  : absolute;
	top       : 14px;
	right     : 20px;
	font-size : 12px;
}
.faq-content{
	display : none;
	padding : 20px;
}
.faq-open .faq-content{
	display : block;
}

/*
 * ===============================================================
 * MICS
 * ===============================================================
 */
 
.rate{
	float       : left;
	height      : 30px;
	width       : auto;
	line-height : 30px;
}
.rate i{
	float       : left;
	margin      : 0 5px 0 0;
	line-height : 30px;
}
td .rate{
	height : 20px;
}
td .rate i{
	line-height : 20px;
}

/*
 * ===============================================================
 * SITEMAP
 * ===============================================================
 */

.sitemap{
	float  : left;
	width  : 100%;
	margin : 0;
}
.sitemap ul{
	position   : relative;
	margin     : 0 0 0 -15px;
	padding    : 0 0 0 15px;
	list-style : none;
}
.sitemap ul:before{
	content             : '';
	position            : absolute;
	top                 : 0; 
	right               : 0; 
	bottom              : 14px;
	left                : 0;
	width               : 1px;
	background-position : center left;
	background-repeat   : repeat-y;	
}
.sitemap ul ul:before{
	top : -14px; 
}
.sitemap > ul{
	margin  : 0;
	padding : 0;
}
.sitemap > ul ul{
	margin  : 2px 0 0 -13px;
	padding : 0;
}
.sitemap li{
	padding             : 0 0 0 30px;
	background-position : top left;
	background-repeat   : no-repeat;	
	line-height         : 30px;
}

/*
 * ===============================================================
 * CAROUSELL
 * ===============================================================
 */
 
.carousel-caption{
	right   : 10px;
	bottom  : 10px;
	left    : 10px;
	padding : 10px;
}

/*
 * ===============================================================
 * DEMO
 * ===============================================================
 */
 
/* Tiny context menu */

#tiny-context-menu{
	padding    : 20px;
	text-align : center;
}

/* Nanogress */

.lockscreen-modal .nanogress{
	top    : 10px;
	right  : 10px;
	left   : 10px;
	height : 5px;
	width  : auto;
}
#lockscreen-target .nanogress{
	top    : 10px;
	right  : 10px;
	left   : 10px;
	height : 2px;
	width  : auto;
}
.btn .nanogress{
	top    : auto;
	right  : 5px;
	bottom : 2px;
	left   : 5px;
	width  : auto;
}
.btn-lg .nanogress{
	right  : 10px;
	bottom : 5px;
	left   : 10px;
}

/* Lockscreen */

.lockscreen-modal .alert{
	padding    : 5px 10px;
	margin     : -20px -20px 20px -20px;
	text-align : center;
}
#content-tab-10 #lockscreen-target{
	box-sizing         : content-box;
	margin-top         : -1px;
	-webkit-box-sizing : content-box;
	-moz-box-sizing    : content-box;
}
#content-tab-10 #lockscreen-target .lockscreen-modal{
	top        : 100px;
	margin-top : 0;
}

/* Demo grid */

.demo-grid > div{
	min-height    : 30px;
	margin-bottom : 20px;
	line-height   : 30px;
	text-align    : center;
}
.demo-grid.row{
	margin-right : 0;
	margin-left  : 0;
}
.demo-grid.row > div{
	padding : 0;
}
.the-icons{
	margin     : 0;
	list-style : none;
}
.the-icons li{
	margin : 0 10px 10px 0;
}
.the-icons i{
	margin : 0 5px 0 0;
}
.demo-raster > div{
	min-height  : 30px;
	line-height : 30px;
	text-align  : center;	
}
.sidebar-demo-raster{
	text-align : center;
}
.sidebar-demo-raster > div{
	padding : 10px 0;
}

/* Activity stream */

#as-item-1,
#as-item-2{
	display : none;
}

/* Module demo page */

.module-placeholder{
	float  : left;
	width  : 242px;
	margin : 0 0 20px 0;
}

/* Chat dropdown */

#ext-dropdown-chat-1 > .btn,
#ext-dropdown-chat-2 > .btn,
#ext-dropdown-chat-3 > .btn,
#ext-dropdown-chat-4 > .btn,
#ext-dropdown-chat-5 > .btn,
#ext-dropdown-chat-6 > .btn,
#ext-dropdown-chat-7 > .btn,
#ext-dropdown-chat-8 > .btn,
#ext-dropdown-chat-9 > .btn,
#ext-dropdown-chat-10 > .btn,
#ext-dropdown-chat-11 > .btn,
#ext-dropdown-chat-12 > .btn,
#ext-dropdown-chat-13 > .btn,
#ext-dropdown-chat-14 > .btn,
#ext-dropdown-chat-15 > .btn,
#ext-dropdown-chat-16 > .btn,
#ext-dropdown-chat-17 > .btn,
#ext-dropdown-chat-18 > .btn{
	width   : auto!important;
	padding : 4px 10px;
}
#ext-dropdown-chat-1 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-2 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-3 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-4 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-5 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-6 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-7 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-8 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-9 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-10 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-11 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-12 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-13 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-14 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-15 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-16 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-17 .ext-dropdown-chat-btn.dropdown-toggle i,
#ext-dropdown-chat-18 .ext-dropdown-chat-btn.dropdown-toggle i{
	position : relative!important;
	top      : auto;
	right    : auto;
}

/* Social icons */

.demo-social-icons img{
	margin : 0 5px 5px 0;
}
.the-icons{
	padding : 0;
}

/* Autosize */

.mirroredText { 
	line-height : 20px; 
}

/* Statistics */

.demo-knob{
	margin : 0 20px 20px 0;
}

/* Mics page */

.tooltip-demo{
	margin      : 0 20px 20px 0;
	font-weight : bold;
}

/* jquery layout */

.jquery-layout-wrapper{
	width : 100%;
}

/*
 * ===============================================================
 * TWITTER BOOTSTRAP BUTTON RE-FIT
 * Certain area's can hold bootstrap elements but they to be 
 * re-fitted to fit the look of there new place.
 * Notice: these are mass used styles, so some single element 
 * re-fit can befound in parts above!
 * ===============================================================
 */

/* Buttons and dropdowns/dropups */

.portlet-header a.btn, 
.header-main-bottom .btn-group,
.header-main-bottom .btn-group > .btn,
.header-main-bottom .btn,
.header-main-bottom .dropdown,
.header-main-bottom .dropdown > .btn,
.actionbar .btn-group,
.actionbar .btn-group > .btn,
.actionbar > div > .btn,
.actionbar > div > .dropdown,
.actionbar > div > .dropdown > .btn,
.actionbar > .btn,
.actionbar > .dropdown,
.widget-toolbar > div > .btn,
.widget-toolbar > div > .dropdown > .btn,
.widget-toolbar > div > .dropdown,
.widget-toolbar > div > .dropup > .btn,
.widget-toolbar > div > .dropup,
.widget-toolbar input[type=text],
.footer-main-inner > .dropup,
.footer-main-inner > .btn-group,
.footer-main-inner > .btn-group > .btn,
.footer-main-inner > .btn,
.footer-main-inner > div > .dropup > .btn,
.footer-main-inner > div > .btn-group,
.footer-main-inner > div > .btn-group > .btn,
.footer-main-inner > div > .btn,
.cmanager-footer > div > .btn,
.cmanager-subheader > div > .btn,
.statistic-block > header .btn{
	position         : relative;	
	float            : left;
	height           : 30px;
	margin           : 0;	
	padding          : 0 10px;	
	background-color : transparent;
	background-image : none;
	line-height      : 29px;
	box-shadow       : none;
}
.footer-main-inner .dropup{
	height : 30px;
	margin : 0;
}
.widget-toolbar .pull-right > .btn,
.widget-toolbar .pull-right .dropdown > .btn,
.widget-toolbar .pull-right .dropup > .btn,
.widget-toolbar .pull-right input[type=text],
.portlet-header a.btn, 
.sidebar-toolbar .pull-right > .dropdown > .btn,
.sidebar-toolbar .pull-right > .btn-group > .btn,
.portlet-header > .btn,
.cmanager-footer > .pull-right > .btn,
.cmanager-subheader .pull-right .btn,
.header-main-bottom .pull-right > .btn,
.header-main-bottom .pull-right > .dropdown > .btn,
.header-main-bottom .pull-right > .btn-group > .btn,
.actionbar .pull-right > .btn,
.actionbar .pull-right > .btn-group > .btn,
.footer-main-inner > .pull-right > .btn,
.footer-main-inner > .pull-right > .dropup > .btn,
.footer-main-inner > .pull-right > .btn-group > .btn,
.actionbar .pull-right > .dropdown,
.sidebar-toolbar .pull-right > .btn,
.sidebar-toolbar .pull-right > .btn-group > .btn,
.statistic-block > header .pull-right .btn{
	margin : -1px -1px 0 0;
}
.widget-toolbar .pull-left > .btn,
.widget-toolbar .pull-left .dropdown > .btn,
.widget-toolbar .pull-left .dropup > .btn,
.widget-toolbar .pull-left input[type=text],
.sidebar-toolbar .pull-left > .dropdown > .btn,
.sidebar-toolbar .pull-left > .btn-group > .btn,
.cmanager-footer > .pull-left > .btn,
.cmanager-subheader .pull-left .btn,
.header-main-bottom .pull-left > .btn,
.header-main-bottom .pull-left > .btn-group > .btn,
.actionbar .pull-left > .btn,
.actionbar .pull-left > .btn-group > .btn,
.actionbar .pull-left > .dropdown,
.sidebar-toolbar .pull-left > .btn,
.sidebar-toolbar .pull-left > .btn-group > .btn,
.footer-main-inner > .btn,
.footer-main-inner > .dropup > .btn,
.footer-main-inner > .btn-group > .btn,
.footer-main-inner > .pull-left > .btn,
.footer-main-inner > .pull-left > .dropup > .btn,
.footer-main-inner > .pull-left > .btn-group > .btn,
.statistic-block > header .pull-left .btn{
	margin : -1px 0 0 -1px;
}
.widget-toolbar.toolbar-bottom > div > .btn,
.widget-toolbar.toolbar-bottom > div .dropdown > .btn,
.widget-toolbar.toolbar-bottom > div .dropup > .btn,
.widget-toolbar.toolbar-bottom > div input[type=text]{
	margin-bottom : -1px;
}
.btn:hover{
	z-index : 2;
}
.header-main-bottom .btn i,
.actionbar .btn i,
#footer-main .btn i{
	width : 14px;
}
.footer-main-inner .dropup{
	float : left;
}
.footer-main-inner .dropdown-menu.pull-right,
.header-main-bottom .dropdown-menu.pull-right{
	right : -1px;
}
.sidebar-toolbar .dropdown-menu{
	top : 29px;
}
.actionbar .dropdown-menu{
	top : 30px;
}
.sidebar-toolbar .dropdown{
	margin:0;
}
#footer-main .dropup .dropdown-menu{
	bottom : 32px;
}
.sidebar-module .btn.pull-right{
	float  : right;
	margin : 0 0 0 10px;
}
.dropup .btn .indicator-dot,
.dropdown .btn .indicator-dot{
	z-index : 1;
}
#header-sec .pull-right > .btn-group,
#header-sec .pull-right > .dropdown{
	margin : 0 0 0 10px;
}
.sidebar-toolbar > .pull-right .pull-right.dropdown-menu{
	right : -1px;	
}
.sidebar > .btn,
.sidebar > .btn-group,
.sidebar > div > .btn,
.sidebar > div > .btn-group{
	margin : 0 10px 0 0;
}

/* Tabs */

.powerwidget > div > .ext-tabs,
.widget > div > .ext-tabs{
	margin      : -1px 0 0 0;
	border-left : none;
}

td span {
}
.datenumber {
}
.datemonth {
}
td[valign="top"] {

	display: block;
}
td[valign="top"][style="width: 15%"] {
	white-space:nowrap;
	display: table-cell;
}



