/*
 * ************************************************************* *
 * Name        : Light theme                                     *
 * Theme URI   :                                                 *
 * Description : Styling stylesheet.                             *
 * Version     : Version 1.2                                     *
 * Author      : CreativeMilk                                    *
 * Author URI  : www.creativemilk.net                            *
 * Updated     : 2014-03-09 22:43:40 UTC+02:00                   *
 * Copyright   : (c) 2012 CreativeMilk                           *
 * ************************************************************* *
 */

/*
	NOTICE: We have disabled the gradients in IE9 because we 
	        are using border-radius(corner bleeding).
*/

/*
 * ===============================================================
 * BASIC
 * ===============================================================
 */
 
body,
i,
a,
a i,
a:hover{
	text-decoration : none;
}
p a{
	text-decoration : underline;
}
a .fa{
	font-size : 14px
}

/*
 * ===============================================================
 * LAYOUT SHADOWS
 * ===============================================================
 */
 
.sidebar-line,
.header-main-bottom,
#header-sec{
	box-shadow         : inset  0 -3px 2px -3px #ccc;
	-webkit-box-shadow : inset  0 -3px 2px -3px #ccc;
	-moz-box-shadow    : inset  0 -3px 2px -3px #ccc;
}
#content{
	box-shadow         : 2px -0 2px #ccc, -2px 0 2px #ccc;                  
	-webkit-box-shadow : 2px 0 2px #ccc, -2px 0 2px #ccc;   
	-moz-box-shadow    : 2px 0 2px #ccc, -2px 0 2px #ccc;  
}
.footer-main-inner{
	box-shadow         : 0 -3px 2px -1px #ccc;
	-webkit-box-shadow : 0 -3px 2px -1px #ccc;
	-moz-box-shadow    : 0 -3px 2px -1px #ccc;
}
.select2-drop,
.tinycontextmenu ul,
.dropdown-menu,
#login-box,
#container .tt-dropdown-menu{
	box-shadow         : 0 0 4px 0 #ccc;	
	-webkit-box-shadow : 0 0 4px 0 #ccc;
	-moz-box-shadow    : 0 0 4px 0 #ccc;
}
@media only screen and (max-width : 1000px){
	.sidebar-line,
	.header-main-bottom,
	#header-sec,
	#content,
	.footer-main-inner{
		-webkit-box-shadow : none;  
		-moz-box-shadow    : none; 
		box-shadow         : none;  
	}
}

/*
 * ===============================================================
 * MAIN COLORS(layout)
 * ===============================================================
 */

.btn-default,
.btn-default:focus,
.table-tooltip,
.btn.pw-disable:hover,
.pagination > li > a,
.powerwidget-ctrls .button-icon,
.btn-circle-icon,
.btn-circle-icontext,
.btn-square-icon,
.btn-square-icontext,
.form-horizontal.tablesorter-pager .btn,
.fc-state-default, 
.fc-state-default .fc-button-inner,
.wysihtml5-toolbar .btn,
.dialpad-key,
.btn.fileupload-exists,
.simpleselect-btn,
.lockscreen-slider .ui-slider-handle,
.select2-container .select2-choice .select2-arrow,
.select2-container-multi .select2-choices .select2-search-choice{
	background-color : #fff;/* fallback color */
	background-image : -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));/* Safari 4+, Chrome 1+ */
	background-image : -webkit-linear-gradient(top, #ffffff, #eeeeee);/* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image : -moz-linear-gradient(top, #ffffff, #eeeeee);/* Firefox 3.6+ */
	background-image : -ms-linear-gradient(top, #ffffff, #eeeeee); /* IE10 */
	background-image : -o-linear-gradient(top, #ffffff, #eeeeee); /* Opera 11.10+ */
	background-image : linear-gradient(to bottom, #ffffff, #eeeeee);
	/*-ms-filter       : "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#eeeeee)";/* IE8 */		
}
.lte9 .sidebar .btn:hover,
.widget-toolbar div .btn:hover,
.cmanager-subheader .btn:hover,
.cmanager-footer .btn:hover,
.actionbar > div > .dropdown > .btn:hover,
.ext-dropdown-header a:hover,
.pagination a:hover,
.datepicker table tr td.active, 
.datepicker table tr td.active:hover, 
.datepicker table tr td.active.disabled, 
.datepicker table tr td.active.disabled:hover,
.select2-results .select2-highlighted,
.btn-default:hover,
.btn-group.open > .btn.dropdown-toggle,
.dropdown.open > .btn.dropdown-toggle,
.dropup.open > .btn.dropdown-toggle,
.ext-tabs-responsive-mode > li.active > a,
.ext-tabs-responsive-mode > li > a:hover,
.tt-suggestion.tt-is-under-cursor,
a.btn.active,
.pw-nav li a:hover,
.btn.fileupload-exists:hover,
button.btn.active,
#planning-sidebar-trigger:hover,
.ext-dropdown-comments-header a:hover,
.ext-dropdown-comments-footer a:hover,
.ext-dropdown-inbox-header a:hover,
.ext-dropdown-inbox-footer a:hover,
.ext-tabs-btn-group a:hover,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li.active > a,
.dropdown-menu > li.active:hover > a,
.dropdown-menu .column > ul > li > a:hover,
.dropdown-submenu:hover > a,
.powerwidget-ctrls .button-icon:first-child:hover,
.powerwidget-ctrls .button-icon:hover,
.sidebar-toolbar .pull-left > .btn:hover,
.sidebar-toolbar .pull-right > .btn:hover,
.sidebar-toolbar .dropdown-toggle.btn:hover,
.btn-circle-icon:hover,
.btn-circle-icontext:hover,
.btn-square-icon:hover,
.btn-square-icontext:hover,
.footer-main-inner > .btn:hover,
.footer-main-inner > div .btn:hover,
.header-main-bottom .btn:hover,
.actionbar .btn:hover,
.portlet-header .btn:hover,
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
ul.wysihtml5-toolbar a.btn.wysihtml5-command-active,
.statistic-block > header .btn:hover,
.pw-nav .pw-active > a,
.fc-state-active, 
.small-toggle-btn:hover,
#toggle-footer:hover,
.simpleselect-btn:hover,
.fc-state-active .fc-button-inner,
.fc-state-default:hover, 
.fc-state-default .fc-button-inner:hover,
.wysihtml5-toolbar .btn:hover,
.dialpad-key:hover,
.tinycontextmenu ul li:hover{
	background-color : #222222;/* fallback color */
	background-image : -webkit-gradient(linear, left top, left bottom, from(#333333), to(#222222));/* Safari 4+, Chrome 1+ */
	background-image : -webkit-linear-gradient(top, #333333, #222222);/* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image : -moz-linear-gradient(top, #333333, #222222);/* Firefox 3.6+ */
	background-image : -ms-linear-gradient(top, #333333, #222222); /* IE10 */
	background-image : -o-linear-gradient(top, #333333, #222222); /* Opera 11.10+ */
	background-image : linear-gradient(to bottom, #333333, #222222);
	box-shadow       : none;
	/*-ms-filter       : "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#333333, endColorstr=#222222)";/* IE8 */
}
.carousel-caption,
#e-loader-overlay,
.lockscreen-overlay,
.gp-handlebar-vertical{
	background-color : #000;
	background-image : none;
}
#error-box,
#header-main,
.sidebar-logo,
.indicator-pill,
.sidebar-sec-top,
.lightbox-indicator > span,
.csscalendar-mini .active a,
.csscalendar-mini  td a:hover,
#lockscreen-target .nanogress-bar,
.radio-box input[type="radio"]:checked + span{
	background-color : #2D6331;
	background-image : none;
}
legend,
.window,
#content,
.portlet,
.file-bar,
.progress,
#login-box,
.file-block,
.dialpad-key,
.form-control,
#header-sec,
.or-line span,
.modal-content,
.hr-totop span,
.example-box,
.select2-drop,
#e-loader-img,
.dropdown-menu,
.list-group-item,
#error-container,
.statistic-block,
.ui-layout-pane,
#toggle-footer,
.ext-tabs > li,
.project-block,
.rt-table thead,
.rt-table thead,
.btn-count span,
.sidebar-toolbar,
.cmanager-content,
.lockscreen-modal,
.lockscreen-loader,
.footer-main-inner,
.simpleselect-value,
.tinycontextmenu ul,
.table-wrapper thead,
.csscalendar-mini td,
.ext-tabs .tab-content,
.powerwizard .pw-active,
.ext-dropdown-chat-info,
.ext-tabs > li > a:hover,
.ext-tabs > li.active > a,
.sidebar .portlet-header,
.dropdown-menu .divider span,
.timeline-connector-dot span,
.user-progressbar .bar:before,
.list-group-item.active .badge,
.timeline-connector-label span,
.panel-default > .panel-footer,
.powerwizard-clickable li:hover,
.timeline-connector-circle span,
.panel-default > .panel-heading,
.ext-dropdown-tabs-ul .active a,
.sidebar .statistic-block > header,
.ext-tabs-highlighted > .active a,
.sidebar .csscalendar-mini caption,
.select2-container .select2-choice,
.ext-dropdown-chat-editor textarea,
.ext-tabs-highlighted > li > a:hover,
.table-wrapper .table-bordered thead,
.ext-dropdown-chat-msg .seperator span,
.ext-tabs-highlighted > ul > .active a,
.ext-tabs-highlighted > ul > li a:hover,
.ext-tabs-vertical-wrapper .tab-content,
.table tbody .table-collapsible:hover td,
.ui-layout-resizer.ui-layout-resizer-east,
.ui-layout-resizer.ui-layout-resizer-west,
.ui-layout-resizer.ui-layout-resizer-south,
.ui-layout-resizer.ui-layout-resizer-north,
.ext-tabs li.open.dropdown.active > a:hover,
.table tbody .table-collapsible-open:hover td,
.widget > div > .table.table-bordered thead tr th,
.dropdown-menu .column > ul > .disabled > a:hover,
.tablesorter-bootstrap .tablesorter-filter-row td,
.ext-dropdown-tabs .ext-dropdown-tabs-ul li a:hover,
.ext-dropdown-tabs .ext-dropdown-tabs-ul li a:focus,
.ext-dropdown-tabs .ext-dropdown-tabs-ul li a.active:hover,
.tablesorter-bootstrap .tablesorter-filter-row .tablesorter-filter{
	background-color : #fff;
	background-image : none;
}
pre,
body,
.tags,
.toolbar,
.file-bar-icon,
.example-label,
.cmanager-ctrls,
.portlet-header,
.powerwizard li,
.portlet-header,
.file-block-info,
.cmanager-header,
.widget > header,
.sidebar-toolbar,
.widget > header,
.widget > footer,
.bar-meter > div,
.demo-grid > div,
.user-progressbar,
#tiny-context-menu,
.lockscreen-slider,
.rt-table > header,
.input-group-addon,
.module-placeholder,
.header-main-bottom,
.timeline-label span,
.ext-dropdown-header,
.ext-dropdown-footer,
.table-bordered thead,
.powerwidget > header,
.timeline-event-header,
.timeline-event-footer,
.statistic-block > header,
.table-wrapper > header,
.csscalendar-mini caption,
.ext-dropdown-chat-profile,
.sidebar .user-progressbar,
table.table tbody tr td.td-highlight,
.tablesorter-bootstrap tfoot th, 
.tablesorter-bootstrap tfoot td,
.sidebar-nav-v1 .seperator span,
.sidebar-nav-v2 .seperator span,
.sidebar .user-progressbar .bar:before,
.ui-layout-resizer.ui-layout-resizer-south div,
.ui-layout-resizer.ui-layout-resizer-north div,
.ui-layout-resizer.ui-layout-resizer-east div,
.ui-layout-resizer.ui-layout-resizer-west div,
.tablesorter-bootstrap .tablesorter-header,
.cke_editable.cke_editable_inline.cke_focus,
.bootstrap-timepicker-widget table td a:hover{
	background-color : #eee;
	background-image : none;
}
.hr-totop,
.or-line,
.sidebar .tags,
.timeline-label,
.bar-meter > div span,
.user-progressbar .bar,
.statistic-block .line,
.ext-raster-line-top,
.small-toggle-btn:before,
.small-toggle-btn:after,
.dropdown-menu .divider,
.timeline-connector-dot,
.ext-raster-line-bottom,
.timeline-connector-dot,
.timeline-connector-line,
.timeline-connector-label,
.timeline-connector-circle,
[class^="ext-raster-line-"], 
[class*=" ext-raster-line-"],
.tinycontextmenu .seperator,
.cmanager-sidebar li.seperator,
.radio-box input[type="radio"] + span{
	background-color : #bbb;
	background-image : none;
}
.btn .nanogress,
.sidebar .demo-grid > div,
.lockscreen-modal .nanogress{
	background-color : #ccc;
	background-image : none;
}
.cal-app a,
.small-toggle-btn,
.sidebar .demo-grid > div,
.sidebar .user-progressbar,
.sidebar-demo-raster > div{
	background-color : #ddd;
	background-image : none;
}
.label-primary,
.nanogress-bar,
.progress-bar,
.list-group-item.active, 
.list-group-item.active:hover, 
.list-group-item.active:focus{
	background-color : #428BCA;
	background-image : none;
}
.label-success,
.progress-bar-success{
	background-color : #5CB85C;
	background-image : none;
}
.indicator-dot,
.label-danger,
.progress-bar-danger{
	background-color : #D9534F;
	background-image : none;
}
.label-warning,
.progress-bar-warning{
	background-color : #F0AD4E;
	background-image : none;
}
.label-default{
	background-color : #999999;
	background-image : none;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, 
.table-striped > tbody > tr:nth-child(2n+1) > th,
.table .even{
	background-color : #f6f6f6;
}
.portlet-placeholder,
.table tbody tr:hover td,
.planning-timeline-timeframe > span.current-date{
	background-color : #FFC
}
code {
	background-color : #F9F2F4;
}
.planning-timeline-row.even,
.planning-timeline-title.even{
	background-color : #f3f3f3;
}
.csscalendar-mini th,
.csscalendar-mini td.off,
.csscalendar-mini td:hover{
	background : #f3f3f3;
}
.tags:hover,
.fc-event-skin,
.single-cal-event{
	background-color : #0088CC;
}
.tr-selected{
	background-color : #f1ffea!important
}
.growl-default{
	background-color : rgb(0,0,0);/* fallback */
	background-color : rgba(0,0,0,0.9);
}
.growl-white{
	background-color : rgb(255,255,255);/* fallback */
	background-color : rgba(255,255,255,0.9);
}

/*
 * ===============================================================
 * BORDERS
 * ===============================================================
 */
 
.planning-timebar .progress.bar-small,
.planning-timeline-meta .avatar img{
	border : 1px solid #fff;
}
.timeline-label,
.timeline-connector-dot,
.timeline-connector-label,
.timeline-connector-circle{
	border : 2px solid #fff;
}
pre,
.box,
.btn,
input,
select,
.widget,
textarea,
.toolbar,
.portlet,
.file-bar,
.it-block,
.btn-default,
.example-box,
.statistic-block,
.table-tooltip,
.example-label,
.table-bordered,
.sidebar-toolbar,
.btn-default:focus, 
input[type="text"], 
input[type="password"], 
input[type="datetime"],  
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input, 
.pagination > li > a,
fieldset,
#login-box,
.progress,
.faq-group,
.file-block, 
.powerwizard,
.dialpad-key,
.powerwidget,
.select2-drop,
.form-control,
.panel-default,
.attention-box,
.duo-val-block,
.dropdown-menu,
.project-block,
.cmanager-inner,
.btn-count span,
.list-group-item,
.demo-grid > div,
.btn-circle-icon,
.btn-square-icon,
.fc-state-default,
.simpleselect-btn,
.single-val-block,
.ext-tabs-vertical,
.advanced-textarea,
.planning-timeline,
.input-group-addon,
.lockscreen-slider,
#tiny-context-menu,
.simpleselect-value,
.cmanager-list > li,
.timeline-event-box,
.module-placeholder,
.powerwizard-content,
.btn-square-icontext,
.btn-circle-icontext,
.portlet-placeholder,
.btn.pw-disable:hover,
.csscalendar-mini td,
.csscalendar-mini th,
.tablesorter-bootstrap,
.table-wrapper > header,
.wysihtml5-toolbar .btn,
.ext-tabs-btn-group li a,
.csscalendar-mini caption,
.pagination ul > li > span,
.dropup .ext-dropdown-chat,
.dropdown .ext-dropdown-chat,
input[type="datetime-local"],
.csscalendar-mini caption .next,
.csscalendar-mini caption .prev,
.powerwidget-ctrls .button-icon,
.footer-sticky .footer-main-inner,
.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td, 
.ext-tabs-responsive-mode > li > a,
.ext-dropdown-chat-editor textarea,
.select2-container .select2-choice,
.lockscreen-slider .ui-slider-handle,
.ext-tabs-vertical-wrapper.ext-tabs-boxed,
.portlet-header a.btn, 
.header-main-bottom .btn-group,
.header-main-bottom .btn,
.actionbar .btn-group,
.actionbar .btn-group > .btn,
.actionbar > div > .btn,
.btn.btn-circle,
.small-toggle-btn,
.actionbar > .btn,
.tinycontextmenu ul,
.sidebar-demo-raster,
.actionbar > .dropdown,
.widget-toolbar > div > .btn,
.widget-toolbar input[type=text],
.footer-main-inner > .btn,
.jquery-layout-wrapper,
.statistic-block > header .btn,
.cmanager-footer > div > .btn,
.footer-main-inner > .btn-group,
.footer-main-inner > div > .btn,
.cmanager-subheader > div > .btn,
.actionbar > div > .dropdown > .btn,
.header-main-bottom .dropdown > .btn,
.footer-main-inner > div > .btn-group,
.header-main-bottom .btn-group > .btn,
.widget-toolbar > div > .dropup > .btn,
.footer-main-inner > .btn-group > .btn,
.widget-toolbar > div > .dropdown > .btn,
.footer-main-inner > div > .dropup > .btn,
.footer-main-inner > div > .btn-group > .btn,
.select2-container-multi .select2-choices .select2-search-choice{
	border : 1px solid #bbb;
}
.btn-default:hover,
.btn-default:hover:focus,
.dialpad-key:hover,
.dropdown-menu.ext--vertical li a:hover,
.dropdown-menu.ext-dropdown-icons-horizontal li a:hover,
.ext-dropdown-header a:hover,
.btn-group.open > .btn,
.dropdown.open > .btn,
.dropup.open > .btn,
.ext-tabs-responsive-mode > li.active > a,
.ext-tabs-responsive-mode > li > a:hover,
.btn.active,
.btn.active:focus,
.fc-button.fc-state-active,
.pw-nav .pw-active > a,
.pw-nav .pw-active > a:focus,
.ext-tabs-btn-group a:hover,
.powerwidget-ctrls .button-icon:first-child:hover,
.powerwidget-ctrls .button-icon:hover,
.sidebar-toolbar .pull-left > .btn:hover,
.sidebar-toolbar .pull-right > .btn:hover,
.btn-circle-icon:hover,
.btn-circle-icontext:hover,
.btn-square-icon:hover,
.small-toggle-btn:hover,
.btn-square-icontext:hover,dropdown-icons,
.pagination > li > a:hover,
.ext-dropdown-comments-header a:hover,
.ext-dropdown-comments-footer a:hover,
.ext-dropdown-inbox-header a:hover,
.ext-dropdown-inbox-footer a:hover,
.footer-main-inner > .btn:hover,
.footer-main-inner > div .btn:hover,
.header-main-bottom .btn:hover,
.actionbar .btn:hover,
.portlet-header .btn:hover,
.widget-toolbar div > .btn:hover,
.actionbar div > .btn:hover,
.dropup.open > .btn.dropdown-toggle,
.dropdown.open > .btn.dropdown-toggle,
.dropdown-menu.ext-dropdown-icons-vertical li a:hover,
.dropdown-menu.ext-dropdown-icons-horizontal li a:hover,
.wysihtml5-toolbar .btn:hover,
.cmanager-subheader .btn:hover,
.simpleselect-btn:hover,
.btn.fileupload-exists:hover,
.statistic-block header .btn:hover,
.cmanager-subheader > div > .btn.active,
.cmanager-footer .btn:hover,
.tinycontextmenu ul li:hover{
	border : 1px solid #111;
}
#content,
.ext-tabs,
.it-block-inner,
.cmanager-content,
.ext-megamenu > .column,
.ext-tabs-boxed .tab-pane,
.raster-3-blocks .duo-val-block,
.raster-4-blocks .duo-val-block,
.planning-timeline-meta .avatar,
.planning-timeline-timeframe > span,
.ui-layout-resizer.ui-layout-resizer-east,
.ui-layout-resizer.ui-layout-resizer-west,
.planning-timeline-timeframe > span > span,
.powerwidget-ctrls .button-icon:first-child,
.tablesorter-bootstrap .tablesorter-header th,
.tab-content .ext-tabs.tabs-negative-position,
.ui-layout-resizer.ui-layout-resizer-south div,
.ui-layout-resizer.ui-layout-resizer-north div,
.select2-container .select2-choice .select2-arrow,
.ext-tabs-vertical-wrapper.ext-tabs-boxed .tab-content,
.widget > div > .ext-tabs-vertical-wrapper .tab-content,
.powerwidget > div > .ext-tabs-vertical-wrapper .tab-content,
.planning-timeline-header .planning-timeline-timeframe > span{
	border-left : 1px solid #bbb;		
}
/* ADDED in 1.2 */
.hide-left-sidebar.sidebar-main-open #content{
	border-left : 1px solid #bbb;
}
/* */
hr,
.table th, 
.table td,
.actionbar,
.modal-footer,
.dialpad-key,
.widget > div,
.cmanager-footer,
.widget > header,
.widget > footer,
.table tbody tr td,
.footer-main-inner,
.powerwidget > div,
.ext-tabs > li > a,
.ext-dropdown-footer,
.tickettable-content,
.ext-tabs-vertical a,
.jquery-layout-wrapper,
.timeline-event-footer,
.project-block > footer,
.ext-dropdown-chat-editor,
.duo-val-block .font-small,
.sidebar-nav-v1 .seperator,
.sidebar-nav-v2 .seperator,
.cmanager-sidebar .filter-box,
.widget-toolbar.toolbar-bottom,
.planning-timeline-inner > div,
.ext-tabs-sidebar.tabs-compact li a,
.ui-layout-resizer.ui-layout-resizer-south,
.ui-layout-resizer.ui-layout-resizer-north,
.ext-tabs li.open.dropdown.active > a:hover,
.bootstrap-timepicker-widget table td a:hover,
.ui-layout-resizer.ui-layout-resizer-east div,
.ui-layout-resizer.ui-layout-resizer-west div,
.panel-default > .panel-heading + .panel-collapse .panel-body {
	border-top : 1px solid #bbb;
}
.ext-tabs,
.actionbar,
#header-sec,
#footer-main,
.filter-bar,
.modal-header,
.file-block-icon,
.cmanager-header,
.cmanager-ctrls,
.portlet-header,
.widget-toolbar,
.ext-tabs-sidebar,
.comments-toolbar,
.ext-tabs > li > a,
.table .td-list li,
.cmanager-subheader,
.header-main-bottom,
.sidebar-line,
.sidebar-todo-day h5,
.ext-dropdown-header,
.ext-dropdown-tabs-ul,
.table thead > tr > th,
.timeline-event-header,
.statistic-block > header,
.ext-tabs-cmanager li a,
.planning-timeline-inner,
.ext-tabs-boxed .tab-pane,
.ext-dropdown-chat-profile,
.ui-layout-resizer.ui-layout-resizer-south,
.ui-layout-resizer.ui-layout-resizer-north,
.circular-stats .circular-stats-data strong,
.ui-layout-resizer.ui-layout-resizer-east div,
.ui-layout-resizer.ui-layout-resizer-west div,
.ext-tabs-vertical-wrapper .ext-tabs.tabs-negative-position,
.ext-tabs-vertical-wrapper.ext-tabs-boxed > .ext-tabs-vertical,
.widget > div > .ext-tabs-vertical-wrapper > .ext-tabs-vertical,
.powerwidget > div > .ext-tabs-vertical-wrapper > .ext-tabs-vertical{
	border-bottom : 1px solid #bbb;
}
@media only screen and (min-width : 300px){
	.ext-tabs.tabs-negative-position{
		border-bottom:1px solid #bbb;
	}
}
.ext-tabs > li.active > a,
.ext-tabs > li > a:hover,
.ext-tabs-cmanager a:hover,
.ext-tabs-cmanager .active > a,
.ext-dropdown-tabs-ul > .active > a,
.ext-tabs > li.open.dropdown.active > a:hover,
.ext-dropdown-tabs .ext-dropdown-tabs-ul > li > a:hover,
.ext-dropdown-tabs .ext-dropdown-tabs-ul > li > a:focus,
.ext-dropdown-tabs .ext-dropdown-tabs-ul > li > a.active:hover{
	border-bottom : 1px solid #fff;
}
.ext-tabs-vertical .active a,
.ext-tabs-vertical li a:hover,
.ext-tabs-vertical-wrapper.ext-tabs-icons > .ext-tabs-vertical .active a,
.ext-tabs-vertical-wrapper.ext-tabs-icons > .ext-tabs-vertical li a:hover,
.widget > div > .ext-tabs-vertical-wrapper.ext-tabs-icons > .ext-tabs-vertical .active a,
.widget > div > .ext-tabs-vertical-wrapper.ext-tabs-icons > .ext-tabs-vertical li a:hover,
.powerwidget > div > .ext-tabs-vertical-wrapper.ext-tabs-icons > .ext-tabs-vertical li a:hover,
.powerwidget > div > .ext-tabs-vertical-wrapper.ext-tabs-icons > .ext-tabs-vertical .active a{
	border-right : 1px solid #fff;
}
.header-main-bottom{
	border-right : 1px solid #222;
	border-left  : 1px solid #222;
	border-top   : 1px solid #222;
}
.sidebar-logo,
.sidebar-sec-top{
	border-bottom : 1px solid #222;
}
.header-main-bottom .btn:hover,
.header-main-bottom .btn.dropdown-toggle:hover,
.header-main-bottom .btn-group.open .btn.dropdown-toggle{
	border-left : 1px solid #111;
}
.fc-state-default:hover{
	border-color : #111;
}
.form-control:focus,
textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus,
.list-group-item.active, 
.list-group-item.active:hover, 
.list-group-item.active:focus {
	border-color : #428BCA;
}
#content,
.file-bar-icon,
.cmanager-sidebar,
.ext-tabs > li > a,
.toolbar .seperator,
.ext-tabs-cmanager li a,
.ext-tabs-boxed .tab-pane,
.advanced-textarea .divider,
.ext-tabs-sidebar.tabs-compact,
.ext-tabs-sidebar li:first-child a,
.ext-tabs-sidebar.tabs-compact li a,
.ext-dropdown-tabs-ul li:first-child a,
.ui-layout-resizer.ui-layout-resizer-east,
.ui-layout-resizer.ui-layout-resizer-west,
.ui-layout-resizer.ui-layout-resizer-south div,
.ui-layout-resizer.ui-layout-resizer-north div,
.tablesorter-bootstrap .tablesorter-header{
	border-right : 1px solid #bbb;
}
.ext-tabs-sidebar a:hover,
.ext-tabs-sidebar .active a,
.ext-dropdown-chat-msg .seperator,
.ext-tabs-sidebar.tabs-compact a:hover,
.ext-tabs-sidebar.tabs-compact .active a{
	border-bottom : 1px solid #eee;
}
#content-tab-10 #lockscreen-target{
	border-top    : 1px solid #888;
	border-bottom : 1px solid #888;
}

/* CSS arrows */

.timeline-connector-arrow{
	border-left : 10px solid #bbb;
}
.btn:hover .caret,
.btn-group.open .btn.dropdown-toggle .caret{
	border-top : 4px solid #fff;
}
.sidebar-nav-v1 .page-arrow > a:after,
.sidebar-nav-v2 .page-arrow > a:after{
	border-right : 9px solid #fff;
}
.timeline-rightside .timeline-connector-arrow{
	border-right : 10px solid #bbb;
}
.sidebar-nav-v1 .page-arrow > a:before,
.sidebar-nav-v2 .page-arrow > a:before{
	border-right : 10px solid #888;
}
.timeline-rightside .timeline-connector-arrow:after{
	border-right : 10px solid #eee;
}
.timeline-connector-arrow:after{
	border-left : 8px solid #eee;
}
.connector-middle.timeline-connector-arrow:after{
	border-left : 8px solid #fff;
}
.powerwizard li:after{
	border-left : 10px solid #eee;
}
.powerwizard.big-title li:after{
	border-left : 20px solid #eee;
}
.powerwizard li:before{
	border-left : 10px solid #aaa;
}
.powerwizard.big-title li:before{
	border-left : 20px solid #aaa;
}
.powerwizard-clickable li:hover:after,
.powerwizard .pw-active:after{
	border-left : 10px solid #fff;
}
.powerwizard-clickable.big-title li:hover:after,
.powerwizard.big-title .pw-active:after{
	border-left : 20px solid #fff;
}
.select2-drop:before,
.tt-dropdown-menu:before,
.dropdown > .dropdown-menu:before,
.btn-group > .dropdown-menu:before{
	border-bottom : 7px solid #999;
}
.select2-drop:after,
.tt-dropdown-menu:after,
.dropdown > .dropdown-menu:after,
.btn-group > .dropdown-menu:after{
	border-bottom : 6px solid #FFFFFF;
}
.dropup > .dropdown-menu:before{
	border-top : 7px solid #bbb;
}
.dropup > .dropdown-menu:after {
	border-top : 6px solid #fff;
}

@media all and (max-width : 1000px){
	.timeline-rightside .timeline-connector-arrow{
		border-left: 10px solid #bbb;
	}
	.timeline-rightside .timeline-connector-arrow:after{
		border-left : 8px solid #eee;
	}
}

/*
 * ===============================================================
 * COLORS(FONT)
 * ===============================================================
 */
 
.label i,
.tags:hover,
.growl-default,
.actionbar > div > .dropdown > .btn:hover,
.ext-dropdown-header a:hover,
.ext-dropdown-header a:hover i,
.pagination a:hover,
.pagination a:hover i,
.btn:hover,
.btn:hover i,
#logo-big h1,
.btn.active,
.pw-active a,
.pw-active a i,
#logo-small h4,
.header-main-top .header-profile,
.indicator-pill,
.single-cal-event,
.header-main-top .header-profile a,
.header-main-top .header-profile a:hover,
.planning-timebar *,
.header-profile a:hover,
.carousel-caption,
.pw-active a:focus,
.pw-active a:focus i,
.btn.active i,
.indicator-dot,
.sidebar .tags,
.btn-default.active:focus,
.dialpad-key:hover,
.btn-circle-icon:hover i,
.btn-square-icon:hover i,
.btn-group.open > .btn,
.dropdown.open > .btn,
.dropup.open > .btn,
.sidebar-sec-top p,
.simpleselect-btn:hover i,
.btn-group.open > .btn i,
.dropdown.open > .btn i,
.dropup.open >.btn i,
.user-progressbar .bar,
.actionbar .btn:hover i,
.btn-circle-icon:hover,
.btn-square-icon:hover,
.small-toggle-btn:hover,
.fc-state-default:hover,
.list-group-item.active, 
.btn-default:hover:focus, 
.ext-tabs > li > a:hover,
.ext-tabs > li.active > a,
.portlet-header .btn:hover,
.fc-button.fc-state-active,
#responsive-menu-trigger i,
.btn-circle-icontext:hover,
.btn-square-icontext:hover,
.dropdown-menu li > a:hover,
.csscalendar-mini .active a,
.tinycontextmenu ul li:hover,
.ext-tabs-btn-group a:hover,
.lightbox-indicator > span i,
.btn-circle-icontext:hover i,
.csscalendar-mini td a:hover,
.ext-tabs-btn-group a:hover i,
.btn-square-icontext:hover > i,
.header-main-top .pull-right p,
.dropdown-menu li:hover > a > i,
.dropdown-menu li > a:focus > i,
.dropdown-menu li.active > a > i,
.header-main-bottom .btn:hover i,
.tinycontextmenu ul li:hover > a,
.tinycontextmenu ul li:hover > a .fa,
.lightbox-indicator:hover > span i,
.ext-dropdown-inbox-header a:hover,
.ext-dropdown-inbox-footer a:hover,
.csscalendar-mini caption a:hover i,
.ext-dropdown-inbox-header a:hover i,
.ext-dropdown-inbox-footer a:hover i,
.btn-square-icontext .corner-label i,
.ext-megamenu > .column ul li a:hover,
.ext-dropdown-comments-header a:hover,
.ext-dropdown-comments-footer a:hover,
.radio-box input[type="radio"] + span,
.ext-dropdown-comments-header a:hover i,
.ext-dropdown-comments-footer a:hover i,
.powerwidget-ctrls .button-icon:hover i,
.fc-state-default .fc-button-inner:hover,
.ext-tabs-responsive-mode > li > a:hover,
.ext-tabs-responsive-mode > li.active > a,
.ext-tabs-responsive-mode > li > a:hover i,
.ext-tabs-responsive-mode > li.active > a i{
	color : #fff;
}
i,
a,
a i,
.tags,
body,
a:hover,
a:focus,
#login-box h2,
.growl-white,
.btn-default,
.easyfiletree,
.table-tooltip,
.easyfiletree a,
#login-header h1,
.btn-circle-icon,
.btn-square-icon,
.btn-default:focus,
.btn-circle-icontext,
.btn-square-icontext,
.powerwidget > header,
.btn.pw-disable:hover,
.csscalendar-mini td a,
.ext-tabs li a:hover i,
.powerwizard .pw-active,
.dropdown-menu > li > a,
.ext-tabs > li.active > a,
.btn.pw-disable:hover i,
.ext-tabs > li > a:hover,
.ext-tabs-sidebar a:hover,
.dropdown-menu li > a > i,
.ext-dropdown-inbox-header,
.ext-dropdown-inbox-footer,
.progress-project-footer a,
.ext-dropdown-tabs-ul li a,
.ext-tabs-cmanager a:hover,
.ext-tabs-sidebar .active a,
.ext-tabs-cmanager .active a,
.ext-dropdown-comments-footer,
.ext-dropdown-comments-header,
.ext-dropdown-comments-footer,
.list-group-item.active .badge,
.powerwizard-clickable li:hover,
.powerwidget-ctrls .button-icon,
.progress-project-footer strong,
.ext-tabs-vertical li a:hover i,
.ext-dropdown-chat textarea:focus,
.select2-container .select2-choice,
.lockscreen-slider .ui-slider-handle i,
.ext-tabs-sidebar.tabs-compact a:hover,
.ext-tabs-sidebar.tabs-compact .active a,
.ext-tabs li.open.dropdown.active > a:hover,
.ext-ext-dropdown-profile .profile-user a:hover,
.dropdown-menu .ext-dropdown-tabs-ul .active a i,
.select2-container .select2-choice .select2-arrow,
.ext-dropdown-tabs .ext-dropdown-tabs-ul a:hover i,
.ext-dropdown-tabs .ext-dropdown-tabs-ul li a:hover,
.ext-dropdown-tabs .ext-dropdown-tabs-ul li a:focus,
.dropdown-menu .ext-dropdown-tabs-ul .active:hover a i,
.ext-dropdown-tabs .ext-dropdown-tabs-ul li a.active:hover,
.tablesorter-bootstrap .tablesorter-filter-row .tablesorter-filter{
	color : #555;
}
.form-control::-moz-placeholder{/*keep seperate*/
	color : #555;
}
a:hover,
.highlight-link,
.btn-link:hover,
.filters .active,
.bio ul li a:hover,
.header-profile a:hover,
.sidebar-nav-v1 a:hover,
.sidebar-nav-v2 a:hover,
.sidebar-nav-v1 a:hover i,
.sidebar-nav-v2 a:hover i,
.file-block:hover small i,
.ext-dropdown-comments li a:hover,
.sidebar-nav-v2 .page-arrow > a,
.sidebar-nav-v2 .page-arrow > a i,
.sidebar-nav-v1 .page-arrow > a,
.sidebar-nav-v1 .page-arrow > a i,
.ext-dropdown-box .mini-list li a:hover,
.sidebar-nav-v1 > ul > .active-page > a,
.sidebar-nav-v2 > ul > .active-page > a,
.sidebar-nav-v1 > ul > .active-page > a i,
.sidebar-nav-v2 > ul > .active-page > a i,
.sidebar-profile-collapsable > a:hover i,
.cmanager-sidebar .ext-tabs-vertical .active *,
.ext-dropdown-inbox-content > div ul li a:hover,
.cmanager-sidebar .ext-tabs-vertical li a:hover,
.cmanager-sidebar .ext-tabs-vertical li a:hover,
.cmanager-sidebar .ext-tabs-vertical li a:hover i,
.ext-dropdown-comments-content > div ul li a:hover,
.sidebar-profile-collapsable .sidebar-profile-list a:hover i{
	color : #0088CC;
}
.tt-hint,
.text-muted,
.filters li,
.bio ul li a,
.tt-language,
.subheading p,
.article-meta,
.comment-time,
.article-meta *,
.comment-actions,
.comment-toggle i,
.comment-actions *,
.timeline-event-meta,
ul.breadcrumb .active,
.chat-blink-icon.light,
.powerwizard .pw-active h4,
.ext-dropdown-chat-msg span,
.dropdown-menu .divider span,
.circular-stats-infobox span,
.progress-project-footer span,
.dropdown-menu li.disabled a i,
.ext-dropdown-chat-editor textarea,
.powerwizard-clickable li:hover h4,
.dropdown-menu li.disabled:hover a i,
.ext-dropdown-chat-msg .seperator span,
.ext-megamenu > .column ul li.disabled a,
.planning-timeline-timeframe > span > span,
.ext-dropdown-inbox-content > div ul li span,
.ext-dropdown-comments-content > div ul li span{
	color : #999;
}
#error-box,
#error-box .breadcrumb a{
	color : #eee;
}
#login-header h4,
.powerwizard li{
	color : #aaa;
}
#logo-small h5,
#logo-big h2{
	color : #ccc;
}
.csscalendar-mini th{
	color : #777;
}
.text-primary {
	color : #428bca;
}
.text-warning,
.table .comments .comment *{
	color : #c09853;
}
.text-danger {
	color : #b94a48;
}
.text-success {
	color : #468847;
}
.text-info {
	color : #3a87ad;
}
code {
	color : #C7254E;
}
.comment-admin .comment-msg{
	color : #ba1c1c;
}
.csscalendar-mini caption a{
	color : #e2e2e2;
}
.csscalendar-mini .off a{
	color : #b3b3b3;
}

/*
 * ===============================================================
 * STATUS DOTS
 * ===============================================================
 */
 
.online-dot{
	background-color : #339933;
}
.offline-dot{
	background-color : #d72002;	
}
.busy-dot{
	background-color : #f7af25;	
}

/*
 * ===============================================================
 * TIMELINE
 * ===============================================================
 */
 
.color-1{
	background-color : #333;
}
.color-2{
	background-color : #444;
}
.color-3{
	background-color : #555;
}
.color-4{
	background-color : #666;
}
.color-5{
	background-color : #777;
}
.color-6{
	background-color : #888;
}
.color-7{
	background-color : #999;
}

/*
 * ===============================================================
 * TINYSCROLLBAR
 * ===============================================================
 */

.scrollbar-y .thumb,
.scrollbar-x .thumb,
.scrollbar-x .thumb .end,
.scrollbar-y .thumb .end{
	background-color : #ccc; 
}
.scrollbar-x .scrollbar,
.scrollbar-y .scrollbar { 
	background-color : #eee;
}
.sidebar-module .scrollbar-y .scrollbar,
.sidebar-module .scrollbar-x .scrollbar{
	background-color : #ddd;
}

/*
 * ===============================================================
 * CSSTIP
 * ===============================================================
 */

.csstip:hover:after,
.csstip-visible:after{
	background    : #333;
	color         : #fff;
	border-bottom : 4px solid #999;
}
.csstip:hover:before,
.csstip-visible:before{
	border-color : #999 transparent;
}
.csstip.tip-danger:after{
	border-bottom : 4px solid #D9534F;
}
.csstip.tip-danger:before{
	border-color : #D9534F transparent;
}
.csstip.tip-success:after{
	border-bottom : 4px solid #5CB85C;
}
.csstip.tip-success:before{
	border-color : #5CB85C transparent;
}
.csstip.tip-primary:after{
	border-bottom : 4px solid #428BCA;
}
.csstip.tip-primary:before{
	border-color : #428BCA transparent;
}
.csstip.tip-warning:after{
	border-bottom : 4px solid #F0AD4E;
}
.csstip.tip-warning:before{
	border-color : #F0AD4E transparent;
}

/*
 * ===============================================================
 * BACKGROUND IMAGES
 * ===============================================================
 */

.timeline{
	background-image : url('assets/images/theme/light/timeline/timeline-bg.png');
}
.sidebar-nav-v1 > ul ul ul{
	background-image : url('assets/images/theme/light/menu/bullet-line.png');
}
.sidebar-nav-v1 > ul > li li{
	background-image : url('assets/images/theme/light/menu/bullet-line-mid.png');
}
.sidebar-nav-v1 > ul > li li:last-child{
	background-image : url('assets/images/theme/light/menu/bullet-line-end.png');
}
.sitemap ul:before,
.easyfiletree ul{
	background-image : url('assets/images/theme/light/easyfiletree/branch.png');
}
.sitemap li,
.easyfiletree li{
	background-image : url('assets/images/theme/light/easyfiletree/branch-mid.png');
}
.sitemap li:last-child,
.easyfiletree li:last-child{
	background-image : url('assets/images/theme/light/easyfiletree/branch-end.png');
}
.eft-open:before{
	background-image : url('assets/images/theme/light/easyfiletree/eft-min.png');
}
.eft-closed:before{
	background-image : url('assets/images/theme/light/easyfiletree/eft-plus.png');
}
.powerwidget-loader{
	background-image : url("assets/images/theme/light/loaders/16.gif");
}
.lockscreen-loader{
	background-image : url("assets/images/theme/light/loaders/252.gif");
}
label input[type="radio"] + span,
label input[type="checkbox"] + span{
	background-image : url('assets/images/theme/light/checkboxradio/checkbox-radio-replacement.png');
}
.css3validation input:required, 
.css3validation textarea:required{
	background-image : url("assets/images/theme/light/form/red_asterisk.png");
}
.css3validation select:required:valid,
.css3validation input:required:valid, 
.css3validation textarea:required:valid {
	background-image : url("assets/images/theme/light/form/valid.png");
}
.css3validation select:focus:invalid,
.css3validation input:focus:invalid, 
.css3validation textarea:focus:invalid {
	background-image : url("assets/images/theme/light/form/invalid.png");
}
.ui-layout-resizer.ui-layout-resizer-east div,
.ui-layout-resizer.ui-layout-resizer-west div{
	background-image:url('assets/images/theme/light/layout/splitterhandle-vertical.png');
}
.ui-layout-resizer.ui-layout-resizer-south div,
.ui-layout-resizer.ui-layout-resizer-north div{
	background-image:url('assets/images/theme/light/layout/splitterhandle-horizontal.png');
}

/*
 * ===============================================================
 * ATTENTIONBOX
 * ===============================================================
 */
 
.attention-box:before{
	background-color: #999
}
.attention-warning:before{
	background-color: #F0AD4E
}
.attention-danger:before{
	background-color:#D9534F;
}
.attention-success:before{
	background-color: #5CB85C;
}
.attention-primary:before{
	background-color:  #428BCA;
}

/*
 * ===============================================================
 * NOTIFICATION(custom and bootstrap)
 * ===============================================================
 */
 
.notification-msg{
	background-color : #fff;
	color            : #222;
	border-top       : 1px solid #555;
	border-bottom    : 1px solid #555;
}
.table .comments,
.notification-warning,
.alert,
.alert-warning{
	color            : #897a5f;
	background-color : #fcf8e3;
	border           : 1px solid #e9d2a8;	
}
.notification-success,
.alert-success {
	background-color : #dff0d8;
	color            : #468847;
	border           : 1px solid #a9c890;
}
.alert-success h4 {
	color : #468847;
}
.notification-error,
.alert-danger{
	background-color : #f2dede;
	color            : #b94a48;
	border           : 1px solid #cb9ba2;
}
.alert-danger h4{
	color : #b94a48;
}
.notification-info,
.alert-info {
	background-color : #d9edf7;
	color            : #3a87ad;
	border           : 1px solid #90bec7;
}
.alert-info h4 {
	color : #3a87ad;
}

/*
 * ===============================================================
 * BRAND COLORS
 * ===============================================================
 */

.btn.brand-twitter{
	background-color : #4bb7e3;/* fallback color */
	background-image : -webkit-gradient(linear, left top, left bottom, from(#5ec5e9), to(#4bb7e3));/* Safari 4+, Chrome 1+ */
	background-image : -webkit-linear-gradient(top, #5ec5e9, #4bb7e3);/* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image : -moz-linear-gradient(top, #5ec5e9, #4bb7e3);/* Firefox 3.6+ */
	background-image : -ms-linear-gradient(top, #5ec5e9, #4bb7e3); /* IE10 */
	background-image : -o-linear-gradient(top, #5ec5e9, #4bb7e3); /* Opera 11.10+ */
	background-image : linear-gradient(to bottom, #5ec5e9, #4bb7e3);
	color            : #fff;
	border           : 1px solid #367691;
	/*-ms-filter       : "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#5ec5e9, endColorstr=#4bb7e3)";/* IE8 */
}
.btn.brand-twitter:hover{
	background-color : #3da6d0;/* fallback color */
	background-image : -webkit-gradient(linear, left top, left bottom, from(#51b9dd), to(#3da6d0));/* Safari 4+, Chrome 1+ */
	background-image : -webkit-linear-gradient(top, #51b9dd, #3da6d0);/* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image : -moz-linear-gradient(top, #51b9dd, #3da6d0);/* Firefox 3.6+ */
	background-image : -ms-linear-gradient(top, #51b9dd, #3da6d0); /* IE10 */
	background-image : -o-linear-gradient(top, #51b9dd, #3da6d0); /* Opera 11.10+ */
	background-image : linear-gradient(to bottom, #51b9dd, #3da6d0);
	color            : #fff;
	border           : 1px solid #2b637a;
	/*-ms-filter       : "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#51b9dd, endColorstr=#3da6d0)";/* IE8 */
}
.btn.brand-facebook{
	background-color : #345090;/* fallback color */
	background-image : -webkit-gradient(linear, left top, left bottom, from(#4164a6), to(#345090));/* Safari 4+, Chrome 1+ */
	background-image : -webkit-linear-gradient(top, #4164a6, #345090);/* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image : -moz-linear-gradient(top, #4164a6, #345090);/* Firefox 3.6+ */
	background-image : -ms-linear-gradient(top, #4164a6, #345090); /* IE10 */
	background-image : -o-linear-gradient(top, #4164a6, #345090); /* Opera 11.10+ */
	background-image : linear-gradient(to bottom, #4164a6, #345090);
	color            : #fff;
	border           : 1px solid #344f89;
	/*-ms-filter       : "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#4164a6, endColorstr=#345090)";/* IE8 */
}
.btn.brand-facebook:hover{
	background-color : #253c70;/* fallback color */
	background-image : -webkit-gradient(linear, left top, left bottom, from(#32518d), to(#253c70));/* Safari 4+, Chrome 1+ */
	background-image : -webkit-linear-gradient(top, #32518d, #253c70);/* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image : -moz-linear-gradient(top, #32518d, #253c70);/* Firefox 3.6+ */
	background-image : -ms-linear-gradient(top, #32518d, #253c70); /* IE10 */
	background-image : -o-linear-gradient(top, #32518d, #253c70); /* Opera 11.10+ */
	background-image : linear-gradient(to bottom, #32518d, #253c70);
	color            : #fff
	border           : 1px solid #263c6b;
	/*-ms-filter       : "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#32518d, endColorstr=#253c70)";/* IE8 */
}
.btn.brand-linkedin{
	background-color : #4068ab;/* fallback color */
	background-image : -webkit-gradient(linear, left top, left bottom, from(#5082bc), to(#4068ab));/* Safari 4+, Chrome 1+ */
	background-image : -webkit-linear-gradient(top, #5082bc, #4068ab);/* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image : -moz-linear-gradient(top, #5082bc, #4068ab);/* Firefox 3.6+ */
	background-image : -ms-linear-gradient(top, #5082bc, #4068ab); /* IE10 */
	background-image : -o-linear-gradient(top, #5082bc, #4068ab); /* Opera 11.10+ */
	background-image : linear-gradient(to bottom, #5082bc, #4068ab);
	color            : #fff;
	border           : 1px solid #365888;
	/*-ms-filter       : "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#5082bc, endColorstr=#4068ab)";/* IE8 */
}
.btn.brand-linkedin:hover{
	background-color : #2a5192;/* fallback color */
	background-image : -webkit-gradient(linear, left top, left bottom, from(#4272a9), to(#2a5192));/* Safari 4+, Chrome 1+ */
	background-image : -webkit-linear-gradient(top, #4272a9, #2a5192);/* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image : -moz-linear-gradient(top, #4272a9, #2a5192);/* Firefox 3.6+ */
	background-image : -ms-linear-gradient(top, #4272a9, #2a5192); /* IE10 */
	background-image : -o-linear-gradient(top, #4272a9, #2a5192); /* Opera 11.10+ */
	background-image : linear-gradient(to bottom, #4272a9, #2a5192);
	color            : #fff;
	border           : 1px solid #264269;
	/*-ms-filter       : "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#4272a9, endColorstr=#2a5192)";/* IE8 */
}
.btn.brand-googleplus{
	background-color : #c03628;/* fallback color */
	background-image : -webkit-gradient(linear, left top, left bottom, from(#cd4533), to(#c03628));/* Safari 4+, Chrome 1+ */
	background-image : -webkit-linear-gradient(top, #cd4533, #c03628);/* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image : -moz-linear-gradient(top, #cd4533, #c03628);/* Firefox 3.6+ */
	background-image : -ms-linear-gradient(top, #cd4533, #c03628); /* IE10 */
	background-image : -o-linear-gradient(top, #cd4533, #c03628); /* Opera 11.10+ */
	background-image : linear-gradient(to bottom, #cd4533, #c03628);
	color            : #fff;
	border           : 1px solid #972f22;
	/*-ms-filter       : "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#cd4533, endColorstr=#c03628)";/* IE8 */
}
.btn.brand-googleplus:hover{
	background-color : #a22c20;/* fallback color */
	background-image : -webkit-gradient(linear, left top, left bottom, from(#b93b2a), to(#a22c20));/* Safari 4+, Chrome 1+ */
	background-image : -webkit-linear-gradient(top, #b93b2a, #a22c20);/* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image : -moz-linear-gradient(top, #b93b2a, #a22c20);/* Firefox 3.6+ */
	background-image : -ms-linear-gradient(top, #b93b2a, #a22c20); /* IE10 */
	background-image : -o-linear-gradient(top, #b93b2a, #a22c20); /* Opera 11.10+ */
	background-image : linear-gradient(to bottom, #b93b2a, #a22c20);
	color            : #fff;
	border           : 1px solid #7c2419;
	/*-ms-filter       : "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#b93b2a, endColorstr=#a22c20)";/* IE8 */
}
.btn.brand-pinterest{
	background-color : #fa0e0e;/* fallback color */
	background-image : -webkit-gradient(linear, left top, left bottom, from(#fc1616), to(#fa0e0e));/* Safari 4+, Chrome 1+ */
	background-image : -webkit-linear-gradient(top, #fc1616, #fa0e0e);/* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image : -moz-linear-gradient(top, #fc1616, #fa0e0e);/* Firefox 3.6+ */
	background-image : -ms-linear-gradient(top, #fc1616, #fa0e0e); /* IE10 */
	background-image : -o-linear-gradient(top, #fc1616, #fa0e0e); /* Opera 11.10+ */
	background-image : linear-gradient(to bottom, #fc1616, #fa0e0e);
	color            : #fff;
	border           : 1px solid #c30909;
	/*-ms-filter       : "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fc1616, endColorstr=#fa0e0e)";/* IE8 */
}
.btn.brand-pinterest:hover{
	background-color : #ad0b0b;/* fallback color */
	background-image : -webkit-gradient(linear, left top, left bottom, from(#c10e0e), to(#ad0b0b));/* Safari 4+, Chrome 1+ */
	background-image : -webkit-linear-gradient(top, #c10e0e, #ad0b0b);/* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image : -moz-linear-gradient(top, #c10e0e, #ad0b0b);/* Firefox 3.6+ */
	background-image : -ms-linear-gradient(top, #c10e0e, #ad0b0b); /* IE10 */
	background-image : -o-linear-gradient(top, #c10e0e, #ad0b0b); /* Opera 11.10+ */
	background-image : linear-gradient(to bottom, #c10e0e, #ad0b0b);
	color            : #fff;
	border           : 1px solid #920c0c;
	/*-ms-filter       : "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#c10e0e, endColorstr=#ad0b0b)";/* IE8 */
}
.btn.brand-pinterest i,
.btn.brand-googleplus i,
.btn.brand-linkedin i,
.btn.brand-facebook i,
.btn.brand-twitter i{
	color : #fff;
}

/*
 * ===============================================================
 * BOOTSTRAP DEFAULT COLORS OVERRIDE(no reset)
 * ===============================================================
 */

.btn-primary {
	background-image  : -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#3071a9));
	background-image  : -webkit-linear-gradient(top, #428bca, 0%, #3071a9, 100%);
	background-image  : -moz-linear-gradient(top, #428bca 0%, #3071a9 100%);
	background-image  : linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
	background-repeat : repeat-x;
	color             : #FFFFFF;
	text-shadow       : none;
	border-color      : #2d6ca2;
	filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}
.btn-primary:active,
.btn-primary.active {
	background-color : #3071a9;
	border-color     : #2d6ca2;
}
.btn-success {
	background-image  : -webkit-gradient(linear, left 0%, left 100%, from(#5cb85c), to(#449d44));
	background-image  : -webkit-linear-gradient(top, #5cb85c, 0%, #449d44, 100%);
	background-image  : -moz-linear-gradient(top, #5cb85c 0%, #449d44 100%);
	background-image  : linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
	background-repeat : repeat-x;
	color             : #FFFFFF;
	text-shadow       : none;	
	border-color      : #419641;
	filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
.btn-success:active,
.btn-success.active {
	background-color : #449d44;
	border-color     : #419641;
}
.btn-warning {
	background-image  : -webkit-gradient(linear, left 0%, left 100%, from(#f0ad4e), to(#ec971f));
	background-image  : -webkit-linear-gradient(top, #f0ad4e, 0%, #ec971f, 100%);
	background-image  : -moz-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
	background-image  : linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
	background-repeat : repeat-x;
	color             : #FFFFFF;
	text-shadow       : none;
	border-color      : #eb9316;
	filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}
.btn-warning:active,
.btn-warning.active {
	background-color : #ec971f;
	border-color     : #eb9316;
}
.btn-danger {
	background-image  : -webkit-gradient(linear, left 0%, left 100%, from(#d9534f), to(#c9302c));
	background-image  : -webkit-linear-gradient(top, #d9534f, 0%, #c9302c, 100%);
	background-image  : -moz-linear-gradient(top, #d9534f 0%, #c9302c 100%);
	background-image  : linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
	background-repeat : repeat-x;
	color             : #FFFFFF;
	text-shadow       : none;	
	border-color      : #c12e2a;
	filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}
.btn-danger:active,
.btn-danger.active {
	background-color : #c9302c;
	border-color     : #c12e2a;
}
.btn-info {
	background-image  : -webkit-gradient(linear, left 0%, left 100%, from(#5bc0de), to(#31b0d5));
	background-image  : -webkit-linear-gradient(top, #5bc0de, 0%, #31b0d5, 100%);
	background-image  : -moz-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
	background-image  : linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
	background-repeat : repeat-x;
	color             : #FFFFFF;
	text-shadow       : none;	
	border-color      : #2aabd2;
	filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}
.btn-info:active,
.btn-info.active {
	background-color : #31b0d5;
	border-color     : #2aabd2;
}
.progress .bar {
	background-color : #0E90D2;
	background-image : none;
	color            : #FFFFFF;
	text-shadow      : none;
	box-shadow       : none;
}
.progress .bar.bar-success {
	background-color : #57A957;
}
.progress .bar.bar-warning{
	background-color : #F89406;
}
.progress .bar.bar-danger {
	background-color : #C43C35;
}

/*
 * ===============================================================
 * BUTTON LABELS COLORS
 * ===============================================================
 */

.btn-square-icon .corner-label.blue:before,
.btn-square-icontext .corner-label.blue:before{
	border-top-color   : #428BCA;
	border-right-color : #428BCA;
}
.btn-square-icon .corner-label.orange:before,
.btn-square-icontext .corner-label.orange:before{
	border-top-color   : #F0AD4E;
	border-right-color : #F0AD4E;
}
.btn-square-icon .corner-label.red:before,
.btn-square-icontext .corner-label.red:before{
	border-top-color   : #D9534F;
	border-right-color : #D9534F;
}
.btn-square-icon .corner-label.green:before,
.btn-square-icontext .corner-label.green:before{
	border-top-color   : #5CB85C;
	border-right-color : #5CB85C;
}

/*
 * ===============================================================
 * FORM VALIDATION COLORS
 * ===============================================================
 */

.green-check,
.has-success .help-block, 
.has-success .control-label{
	color : #468847;
}
input:required:valid, 
textarea:required:valid,
select:required:valid,
.has-success .form-control,
.has-success .form-control:focus{
	border-color       : #468847;
	box-shadow         : none;
	-moz-box-shadow    : none;
	-webkit-box-shadow : none;
}
.has-warning .help-block, 
.has-warning .control-label{
	color : #C09853;	
}
.has-warning .form-control{
	border-color       : #C09853
	box-shadow         : none;
	-moz-box-shadow    : none;
	-webkit-box-shadow : none;
}
.red-check,
.asterisk,
.has-error .help-block, 
.has-error .control-label{
	color : #B94A48;
}
input:focus:invalid, 
textarea:focus:invalid,
select:focus:invalid,
.has-error .form-control,
.has-error .form-control:focus{
	border-color       : #B94A48;
	box-shadow         : none;
	-moz-box-shadow    : none;
	-webkit-box-shadow : none;
}

/*
 * ===============================================================
 * BORDERRADIUS
 * ===============================================================
 */
 
pre,
.panel,
.progress,
.powerwidget,
.list-group *,
.panel-footer,
.panel-heading,
.table-bordered,
.actionbar > .btn,
.table-bordered th,
.table-bordered td,
.portlet-header a.btn,
.actionbar .btn-group,
.sidebar-toolbar > div > .btn,
.sidebar-toolbar > div > .dropdown >.btn,
.actionbar > .dropdown,
.alert.alert-inline-top,
.alert.alert-inline-mid,
.header-main-bottom .btn, 
.powerwidget-placeholder,
.btn-group .search-flyout,
#planning-sidebar-trigger,
.alert.alert-inline-bottom,
.client-block .avatar .label,
.header-main-bottom .dropdown,
.header-main-bottom .btn-group,
.btn-group .search-flyout .btn,
th .inline-group.btn-group .btn,
td .inline-group.btn-group .btn,
.btn-square-group .btn-square-icon,
.btn-group .search-flyout.open .btn,
.btn-square-group .btn-square-icontext,
.btn-group .search-flyout input[type=text],
.bootstrap-timepicker-widget table td input,
.actionbar .btn-group > .btn,
.actionbar > div > .btn,
.actionbar > div > .dropdown,
.widget-toolbar > div > .btn,
.widget-toolbar > div > .dropup,
.widget-toolbar input[type=text],
.footer-main-inner > .dropup,
.footer-main-inner > .btn,
.statistic-block > header .btn,
.cmanager-footer > div > .btn,
.footer-main-inner > .btn-group,
.footer-main-inner > div > .btn,
.cmanager-subheader > div > .btn,
.widget-toolbar > div > .dropdown,
.actionbar > div > .dropdown > .btn,
.header-main-bottom .dropdown > .btn,
.footer-main-inner > div > .btn-group,
.header-main-bottom .btn-group > .btn,
.widget-toolbar > div > .dropup > .btn,
.footer-main-inner > .btn-group > .btn,
.widget-toolbar > div > .dropdown > .btn,
.footer-main-inner > div > .dropup > .btn,
.footer-main-inner > div > .btn-group > .btn,
.btn-group .search-flyout.open:first-child .btn,
.table th .inline-group.btn-group.btn-group-vertical .btn,
.table td .inline-group.btn-group.btn-group-vertical .btn{
	border-radius         : 0!important;
	-webkit-border-radius : 0!important;
	-khtml-border-radius  : 0!important;
	-moz-border-radius    : 0!important;
}
.ext-dropdown-box-scroll .drag-handle span{
	border-radius         : 2px;		
	-webkit-border-radius : 2px;
	-khtml-border-radius  : 2px;
	-moz-border-radius    : 2px;
}
.ext-dropdown-tabs-ul li a,
.ext-dropdown-box-scroll .drag-handle{
	border-radius        : 0 2px 2px 0;
	-webkit-borderradius : 0 2px 2px 0;
	-khtml-border-radius : 0 2px 2px 0;
	-moz-border-radius   : 0 2px 2px 0;
}
.ext-dropdown-tabs-ul li:first-child a{
	border-radius         : 2px 0 0 2px;
	-webkit-border-radius : 2px 0 0 2px;
	-khtml-border-radius  : 2px 0 0 2px;
	-moz-border-radius    : 2px 0 0 2px;
}
.btn,
.tags,
input,
.alert,
.label,
select,
.stu-box,
.progress,
#login-box,
.select2-drop,
.form-control,
.table-tooltip,
.dropdown-menu,
.search-flyout,
.tooltip-inner,
.btn-count span,
.tinycontextmenu,
.btn-square-icon,
.select2-choices,
.login-avatar img,
.single-cal-event,
.simpleselect-value,
.search-flyout .btn,
.btn-square-icontext,
#typeahead-sidebar-search,
#container .tt-dropdown-menu,
.powerwidget-ctrls .button-icon:first-child:last-child,
.select2-container .select2-choice{
	border-radius        : 3px;	
	-webkit-borderradius : 3px;
	-khtml-border-radius : 3px;
	-moz-border-radius   : 3px;
}
.btn-count .btn:first-child,
.fileupload .uneditable-input,
.pagination > li:first-child > a, 
.fc-state-default.fc-corner-left,
.pagination > li:first-child > span,
.btn-group .search-flyout:first-child,
.btn-group .dropdown:first-child .btn,
.btn-group .search-flyout:first-child .btn,
.powerwidget-ctrls .button-icon:first-child,
.btn-square-group .btn-square-icon:first-child,
.btn-square-group .btn-square-icontext:first-child,
.btn-group .search-flyout:first-child input[type=text],
.dropdown-menu.ext-dropdown-icons-horizontal li:first-child a{
	border-radius        : 3px 0 0 3px;
	-webkit-borderradius : 3px 0 0 3px;
	-khtml-border-radius : 3px 0 0 3px;
	-moz-border-radius   : 3px 0 0 3px;
}
.btn-file,
.simpleselect-btn,
.search-flyout.open .btn,
.btn-count .btn:last-child,
.pagination > li:last-child > a, 
.fc-state-default.fc-corner-right,
.pagination > li:last-child > span,
.ext-tabs-btn-group li:last-child a,
.btn-group .search-flyout:last-child,
.btn-group .search-flyout:last-child .btn,
.powerwidget-ctrls .button-icon:last-child,
.btn-square-group .btn-square-icon:last-child,
.select2-container .select2-choice .select2-arrow,
.btn-square-group .btn-square-icontext:last-child,
.dropdown-menu.ext-dropdown-icons-horizontal li:last-child a{
	border-radius        : 0 3px 3px 0;
	-webkit-borderradius : 0 3px 3px 0;
	-khtml-border-radius : 0 3px 3px 0;
	-moz-border-radius   : 0 3px 3px 0;
}
.ext-dropdown-header,
.ext-dropdown-chat-profile,
.ext-tabs-btn-group li:first-child a,
.dropdown-menu.ext-dropdown-icons-vertical li:first-child a{
	border-radius         : 3px 3px 0 0;
	-webkit-border-radius : 3px 3px 0 0;
	-khtml-border-radius  : 3px 3px 0 0;
	-moz-border-radius    : 3px 3px 0 0;
}
.ext-dropdown-footer,
.ext-dropdown-chat-info,
.dropdown-menu.ext-dropdown-icons-vertical li:last-child a{
	border-radius         : 0 0 3px 3px;
	-webkit-border-radius : 0 0 3px 3px;
	-khtml-border-radius  : 0 0 3px 3px;
	-moz-border-radius    : 0 0 3px 3px;
}
.indicator-pill{
	border-radius        : 8px;	
	-webkit-borderradius : 8px;
	-khtml-border-radius : 8px;
	-moz-border-radius   : 8px;
}
.busy-dot,
.online-dot,
.offline-dot,
.indicator-dot,
.btn.btn-circle,
.btn-circle-icon,
.btn-circle-icontext,
.timeline-connector-dot,
.timeline-connector-circle,
.lightbox-indicator > span,
.timeline-connector-dot span,
.timeline-connector-circle span{
	border-radius         : 50%;	
	-webkit-border-radius : 50%;
	-khtml-border-radius  : 50%;
	-moz-border-radius    : 50%;
}
