

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-cad-apoio").addClass("menu-open");
        $("#seta-cad-apoio").removeClass("fa-caret-left");
        $("#seta-cad-apoio").addClass("fa-caret-down");
        $("#menu-localizacoes").addClass("page-arrow");
    });


</script>





<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li><a href="<%=areas_de_atuacao_path%>">Localizações</a></li>
            <li class="active">Editar</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Edição</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->

      <%= form_for(@localizacao) do |f| %>

      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="#" class="btn" onclick="window.history.go(-1); return false;">
              <i class="fa fa-arrow-left "></i>&nbsp;Voltar
            </a>

            <button type="submit" class="btn"><i class="fa fa-check-circle "></i>&nbsp;Salvar</button>
          </div>



        </div>

        <div class="inner-padding">


          <div class="row">
            <div class="col-sm-12">

                <fieldset>
                  <legend>Localização</legend>
                  <div class="row">
                    <div class="col-sm-2">
                      <label>Descrição <span class="asterisk">*</span></label>
                    </div>
                    <div class="col-sm-9">
                       <%= f.text_field :descricao, required: true, class: "form-control" %>
                    </div>
                  </div>

                  <div class="spacer-10"></div>

                  <div class="row">
                            <div class="col-sm-2">
                              <label>Número <span class="asterisk">*</span></label>
                            </div>
                            <div class="col-sm-9">
                                                  <%= f.select :numero_id, Numero.all.collect {|a| [a.descricao, a.id]}, {}, class: "select2" %>

                                  </div>
                                  </div>
                </fieldset>

            </div>
          </div>




        </div>
      </div>

      <% end %>

      <%= render 'shared/rodape'%>
    </div><!-- End #content -->
  </div><!-- End #main -->
</div><!-- End #container -->



