<%= form_for(@followup) do |f| %>
  <% if @followup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@followup.errors.count, "error") %> prohibited this followup from being saved:</h2>

      <ul>
      <% @followup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :auditoria_id %><br>
    <%= f.text_field :auditoria_id %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
