


<script type="application/javascript">

    $(document).ready(function(){



        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $(".menu-followup").addClass("page-arrow");


<% if notice.present? %>
          $.e_notify.growl({
              title: 'Sucesso!',
              text: '<%=notice%>',
              position: 'right-bottom',
              delay: 0,
              time: 5000,
              speed: 500,
              effect: 'slidein',
              sticky: false,
              closable: false,
              maxOpen:3,
              className:'',
              onShow: function(){},
              onHide: function(){}
          });
          e.preventDefault();
<% end %>

        





    });




</script>





<div id="container" class="clearfix">


    <%=render 'shared/lateral'%>


    <div id="main" class="clearfix">

        <header id="header-main">
            <div class="header-main-top">
                <div class="pull-left">
                    <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
                </div>
                <div class="pull-right">

                    <a href="#" id="responsive-menu-trigger">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <div class="header-main-bottom">
                <div class="pull-left">
                    <ul class="breadcrumb">
                        <li><a href="<%=root_path%>">Início</a></li>
                        <li><a href="<%=documentos_path%>">Auditorias</a></li>
                        <li class="active">Follow up</li>
                    </ul>
                </div>
                <%=render 'shared/versao'%>
            </div>
        </header>

        <div id="content" class="clearfix">


            <header id="header-sec">
                <div class="inner-padding">
                    <div class="pull-left">
                        <h2>Notificar</h2>
                    </div>
                </div><!-- End .inner-padding -->
            </header><!-- End #header-sec -->



            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
                        <a href="#" class="btn" onclick="window.history.go(-1);
                            return false;">
                            <i class="fa fa-arrow-left "></i>&nbsp;Voltar
                        </a>


                        <a href="/disparar-followup-<%= @auditoria.id %>" class="btn"><i class="fa fa-check"></i>&nbsp; Follow up</a>
                    </div>



                </div>

                <div class="inner-padding">
                    <div class="attention-box attention-success">
                        <h4>Auditores</h4>
                        <div class="spacer-20"></div>
                        <p>
<% @auditoria.participantes.each do |p| %>
                          <li>
                              <ol><%=p.name%></ol>
                          </li>
<% end %>
                        </p>
                    </div>

                    <div class="spacer-20"></div>

                    <div class="attention-box attention-success">
                        <h4>Área auditada</h4>
                        <div class="spacer-20"></div>
                        <p>
                        <li>
                            <ol><%=@auditoria.area.descricao%></ol>
                        </li>
                        </p>
                    </div>

                    <div class="spacer-20"></div>
                    <div class="attention-box attention-success">
                        <h4>Destinatários</h4>
                        <div class="pull-right">
                      
                        </div>
                        <div class="spacer-20"></div>
                        <p>
                        <table>
                            <tr>
                                <td>
                            <li>
<%=@auditoria.auditor.email%>
                            </li>
                            </td>

                            </tr>
                            <%@auditoria.participantes.each do |p|%>
                              <tr>
                                  <td>
                              <li>
                                <%=p.email%>
                              </li>
                              </td>
                              </tr>
                            <%end%>
                              
                             
                        </table>
                        </p>
                    </div>

                </div>
            </div>


            <br><br><br><br><br><br><br><br><br><br><br><br>


<%= render 'shared/rodape'%>

            <br><br><br><br><br><br><br><br><br><br><br><br>
        </div><!-- End #content -->

    </div><!-- End #main -->
</div><!-- End #container -->





