<p id="notice"><%= notice %></p>

<p>
  <strong>Auditoria:</strong>
  <%= @followup.auditoria %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @followup.descricao %>
</p>

<%= link_to 'Edit', edit_followup_path(@followup) %> |
<%= link_to 'Back', followups_path %>
