

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-funcionarios").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>
    });


</script>

<!--Modal -->
<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><center>DMAST - Cadastro de funcionário</center></h4>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-bottom:-20px">
          <div class="col-xs-12">
            <%= form_for @funcionario do |f| %>

                <div class="row">
                  <div class="col-sm-6">
                    <label>Chapa:</label>
                  </div>
                  <div class="col-sm-12">
                    <%= f.text_field :chapa, required: true, class: "form-control", placeholder: "", autofocus: true %>
                        </div>
                        </div>

                        <div class="spacer-20"></div>

                <div class="row">
                  <div class="col-sm-6">
                    <label>Nome Completo:</label>
                  </div>
                  <div class="col-sm-12">
                    <%= f.text_field :nome, required: true, class: "form-control", placeholder: "", autofocus: true %>
                        </div>
                        </div>

                        <div class="spacer-20"></div>

                <div class="row">
                  <div class="col-sm-6">
                    <label>E-Mail:</label>
                  </div>
                  <div class="col-sm-12">
                    <%= f.text_field :email, required: true, class: "form-control", placeholder: "", autofocus: true %>
                  </div>
                </div>

                <div class="spacer-20"></div>
                        <div class="row">
                          <div class="col-sm-6">
                            <label>Filial:</label>
                          </div>
                          <div class="col-sm-12">
                            <%= f.collection_select :filial_id, Filial.all, :id, :nome, {}, { :class => "select2" }  %>
                                </div>
                                </div>


                        <div class="spacer-20"></div>
                        <div class="row">
                          <div class="col-sm-6">
                            <label>Área:</label>
                          </div>
                          <div class="col-sm-12">
                            <%= f.collection_select :area_id, Area.all, :id, :descricao, {}, { :class => "select2" }  %>
                          </div>
                        </div>

                        <div class="spacer-20"></div>


                <div class="row">
                  <div class="col-sm-6">
                    <label>Grupo:</label>
                  </div>
                  <div class="col-sm-12">
                    <%= f.collection_select :grupo_id, @grupos, :id, :descricao, {}, { :class => "select2" }  %>
                  </div>
                </div>




                <br><br>
                </div>
                </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                  <%= f.submit "Cadastrar", class: "btn btn-success pull-right" do %>
                      <i class="fa fa-search fa-inverse">Cadastrar</i>
                  <% end %>
            <% end %>
            </div>
            </div>
  </div>
</div>



<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li class="active">Funcionários</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">
      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Funcionários</h2>
          </div>
          <div class="pull-right">
                            <form class="input-group width-400">
                                <input required type="text" name="search" class="form-control" placeholder="Nome ou E-Mail" id="typeahead-sidebar-search"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form> 
                            
                        </div> 
        </div>


      </header>
      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="#" class="btn" id="modal-update-trigger">
              <i class="fa fa-plus-circle"></i>&nbsp;  Cadastrar funcionário
            </a>
          </div>
          <div class="pull-right">
          <div class="dropdown">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-fw">&#xf0b0</i>
Filtro
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <ul role="menu" class="dropdown-menu pull-right ext-dropdown-icons-right">
                                    <li>
                                        <a href="/funcionarios">Todos <img src="images/icons/flags/shiny/16/United-Kingdom.png" alt=""/></a>
                                    </li>
                                    <li>
                                        <a href="?filter=ativos">Ativos</a>
                                    </li>
                                    <li>
                                        <a href="?filter=inativos">Inativos</a>
                                    </li>
                                </ul>
                            </div> 
          </div>
        </div>

        <div class="inner-padding">


          <% if @funcionarios.present? %>
            <% if @funcionarios.where("email is null or email = ''").count > 1 %>
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <i class="fa fa-warning"></i>Alguns funcionários não possuem e-mail cadastrado, eles não poderam ser utilizados em processo de workflow.
                        </div> 
            <% end %>
                        
              <table class="table table-bordered col-md-12" id="">
                <thead class="">
                <tr>
                  <th class="filter-select filter-exact col-md-1" data-placeholder="Todos...">Status</th>
                  <th class="col-md-4">Nome</th>
                  <th class="col-md-4">E-Mail</th>
                  <th class="filter-select filter-exact col-md-2" data-placeholder="Todos...">Grupo</th>
                  <th class="col-md-2">Opções</th>
                </tr>
                </thead>
                <tbody>
                <% @funcionarios.each do |u| %>
                    <tr>
                      <% if u.ativo %>
                        <td>Ativo</td>
                      <% else %>
                        <td>Inativo</td>
                      <% end %>
                      <td><%= u.nome %></td>
                      <td><%= u.email %></td>
                      <td><center><%= u.grupo.descricao%></center></td>
                      <td>
                        <center>
                          <%= link_to atualizar_funcionario_path(u), class: "btn-less", id: "deletar" do %>
                              <i class="fa fa-pencil"></i>
                          <% end %>
                          <a href="#" class="btn-less"></a>

                          <%= link_to u, method: :delete, class: "btn-less", id: "deletar" do %>
                              <% if u.ativo %>
                                <i class="fa fa-lock"></i>
                              <% else %>
                                  <i class="fa fa-unlock"></i>
                              <% end %>
                          <% end %>
                        </center>
                      </td>
                    </tr>
                <% end %>
                </tbody>
                <tfoot>
                <tr>
                  
                </tr>
                </tfoot>

              </table>
              <div class="spacer-20"></div>
              <div class="pull-left">
                                    <%= will_paginate @funcionarios %>
                                </div>
                            

          <% else %>
              <div class="alert alert-block alert-inline-top alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Nenhum funcionário encontrado</h4>
              </div>
          <% end %>

        </div>
      </div>


      <%= render 'shared/rodape'%>
    </div><!-- End #content -->
  </div><!-- End #main -->
</div><!-- End #container -->
