

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-funcionarios").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>
    });


</script>

<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" ></script>

<!--Modal -->
<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><center>DMAST - Cadastro de funcionário</center></h4>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-bottom:-20px">
          <div class="col-xs-12">
            <%= form_for @funcionario do |f| %>

                <div class="row">
                  <div class="col-sm-6">
                    <label>Chapa:</label>
                  </div>
                  <div class="col-sm-12">
                    <%= f.text_field :chapa, required: true, class: "form-control", placeholder: "", autofocus: true %>
                  </div>
                </div>

                <div class="spacer-20"></div>

                <div class="row">
                  <div class="col-sm-6">
                    <label>Nome Completo:</label>
                  </div>
                  <div class="col-sm-12">
                    <%= f.text_field :nome, required: true, class: "form-control", placeholder: "", autofocus: true %>
                  </div>
                </div>

                <div class="spacer-20"></div>

                <div class="row">
                  <div class="col-sm-6">
                    <label>E-Mail:</label>
                  </div>
                  <div class="col-sm-12">
                    <%= f.text_field :email, required: true, class: "form-control", placeholder: "", autofocus: true %>
                  </div>
                </div>

                <div class="spacer-20"></div>
                <div class="row">
                  <div class="col-sm-6">
                    <label>Filial:</label>
                  </div>
                  <div class="col-sm-12">
                    <%= f.collection_select :filial_id, Filial.all, :id, :nome, {}, { :class => "select2" }  %>
                  </div>
                </div>


                <div class="spacer-20"></div>
                <div class="row">
                  <div class="col-sm-6">
                    <label>Área:</label>
                  </div>
                  <div class="col-sm-12">
                    <%= f.collection_select :area_id, Area.all, :id, :descricao, {}, { :class => "select2" }  %>
                  </div>
                </div>

                <div class="spacer-20"></div>


                <div class="row">
                  <div class="col-sm-6">
                    <label>Grupo:</label>
                  </div>
                  <div class="col-sm-12">
                    <%= f.collection_select :grupo_id, @grupos, :id, :descricao, {}, { :class => "select2" }  %>
                  </div>
                </div>




                <br><br>
                </div>
                </div>
                </div>
                <div class="modal-footer">
                  <div class="pull-right">
                    <button class="btn btn-default" data-dismiss="modal"><i class="fa  fa-times"></i> Cancelar</button>
                    <button class="btn btn-primary"><i class="fa fa-check fa-inverse"></i> Salvar</button></div></form>

            <% end %>
            </div>
            </div>
  </div>
</div>



<div id="container" class="clearfix">


  <%=render 'shared/lateral'%>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%=root_path%>">Início</a></li>
            <li class="active">Funcionários</li>
          </ul>
        </div>
        <%=render 'shared/versao'%>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Funcionários</h2>
          </div>
          <div class="pull-right">



          </div>
        </div><!-- End .inner-padding -->
      </header><!-- End #header-sec -->



      <div class="window">
        <div class="actionbar">
          <div class="pull-left">
            <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
            <a href="#" class="btn" id="modal-update-trigger">
              <i class="fa fa-plus-circle"></i>&nbsp;  Cadastrar funcionário
            </a>
          </div>



        </div>

        <div class="inner-padding">


          <% if @funcionarios.present? %>
         

              <table class="table col-md-12" id="data" name="data">
                <thead class="">
                <tr>
                  <th class="filter-select filter-exact col-md-2" data-placeholder="Todos...">Ativo</th>
                  <th class="col-md-4">Nome</th>
                  <th class="col-md-4">E-Mail</th>
                  <th class="filter-select filter-exact col-md-2" data-placeholder="Todos...">Grupo</th>
                  <th class="col-md-2">Opções</th>
                </tr>
                </thead>


                <tfoot>
                <tr>
                  <td colspan="5" class="pager form-horizontal">
                    <button class="btn first"><i class="fa fa-step-backward"></i></button>
                    <button class="btn prev"><i class="fa fa-arrow-left"></i></button>
                    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                    <button class="btn next"><i class="fa fa-arrow-right"></i></button>
                    <button class="btn last"><i class="fa fa-step-forward"></i></button>
                    <select class="pagesize input-xs" title="Select page size">
                      <option selected="selected" value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                    </select>
                    <select class="pagenum input-xs" title="Select page number"></select>
                  </td>
                </tr>
                </tfoot>
              </table>

              <script type="text/javascript">
                  $('data').dataTable( {
                      "processing": true,
                      "serverSide": true,
                      "ajax": "/lista-de-funcionarios.json"
                  } );
              </script>

          <% else %>
              <div class="alert alert-block alert-inline-top alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Nenhuma funcionário encontrado</h4>
              </div>
          <% end %>






        </div>
      </div>


      <%= render 'shared/rodape'%>
    </div><!-- End #content -->
  </div><!-- End #main -->
</div><!-- End #container -->


