<%= form_for(@topico, remote: true) do |f| %>
    <% if @topico.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@topico.errors.count, "error") %> prohibited this topico from being saved:</h2>

          <ul>
            <% @topico.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-sm-8">
        <%= f.text_field :descricao, placeholder: "Digite o tópico aqui...", class: "form-control" %>
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary" value="Salvar">Salvar</button>
      </div>
    </div>

    <%= f.hidden_field :encerrado, value: false %>
    <%= f.hidden_field :reuniao_id, value: @reuniao %>

<% end %>
