<%= form_for(@topico) do |f| %>
  <% if @topico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topico.errors.count, "error") %> prohibited this topico from being saved:</h2>

      <ul>
      <% @topico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :encerrado %><br>
    <%= f.check_box :encerrado %>
  </div>
  <div class="field">
    <%= f.label :reuniao_id %><br>
    <%= f.text_field :reuniao_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
