<h1>Listing topicos</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Encerrado</th>
      <th>Reuniao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topicos.each do |topico| %>
      <tr>
        <td><%= topico.descricao %></td>
        <td><%= topico.encerrado %></td>
        <td><%= topico.reuniao %></td>
        <td><%= link_to 'Show', topico %></td>
        <td><%= link_to 'Edit', edit_topico_path(topico) %></td>
        <td><%= link_to 'Destroy', topico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topico', new_topico_path %>
