<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @topico.descricao %>
</p>

<p>
  <strong>Encerrado:</strong>
  <%= @topico.encerrado %>
</p>

<p>
  <strong>Reuniao:</strong>
  <%= @topico.reuniao %>
</p>

<%= link_to 'Edit', edit_topico_path(@topico) %> |
<%= link_to 'Back', topicos_path %>
