<script type="application/javascript">

    $(document).ready(function () {
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-rai").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen: 3,
            className: '',
            onShow: function () {
            },
            onHide: function () {
            }
        });
        e.preventDefault();
        <% end %>


    });


</script>


</div>


<div id="container" class="clearfix">


  <%= render 'shared/lateral' %>


  <div id="main" class="clearfix">

    <header id="header-main">
      <div class="header-main-top">
        <div class="pull-left">
          <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
        </div>
        <div class="pull-right">

          <a href="#" id="responsive-menu-trigger">
            <i class="fa fa-bars"></i>
          </a>
        </div>


      </div>
      <div class="header-main-bottom">
        <div class="pull-left">
          <ul class="breadcrumb">
            <li><a href="<%= root_path %>"> Início</a></li>
            <li><a data-toggle="modal" data-target="#modal-rai" href=""> Relatório de auditoria interna</a></li>
            <li class="active">Edição</li>
          </ul>
        </div>
        <%= render 'shared/versao' %>
      </div>
    </header>

    <div id="content" class="clearfix">


      <header id="header-sec">
        <div class="inner-padding">
          <div class="pull-left">
            <h2>Relatório de auditoria interna</h2>
          </div>
          <div class="pull-right">


          </div>


        </div>
        <!-- End .inner-padding -->
      </header>
      <!-- End #header-sec -->






      <%= form_for(@rai, :html => {class: ""}) do | f | %>


          <div class="window">
            <div class="actionbar">
              <div class="pull-left">
                <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
                <a href="#" class="btn" onclick="window.history.go(-1); return false;">
                  <i class="fa fa-arrow-left "></i>&nbsp;Voltar
                </a>
                <button type="submit" class="btn">
                  <i class="fa fa-check"></i>&nbsp;  Salvar
                </button>
              </div>

              <div class="pull-right">
                <a href="/rai-<%=@rai.id%>-followup" class="btn">
                  <i class="fa fa-list-alt"></i> Follow up
                </a>
              </div>
            </div>

            <div class="inner-padding">
              <fieldset>
                <legend>Informações</legend>

                <div class="row">
                  <div class="col-sm-3">
                    <label>Auditor líder: <span class="asterisk">*</span></label>
                  </div>
                  <div class="col-sm-9">
                    <%= f.select(:lider_id, Funcionario.all.collect {|usuario| [usuario.nome, usuario.id]}, {}, {class: "form-control"}) %>
                        </div>
                        </div>
                        <div class="spacer-10"></div>
                        <div class="row">
                          <div class="col-sm-3">
                            <label>Participantes: <span class="asterisk">*</span></label>
                          </div>
                          <div class="col-sm-9">
                            <select class="select2" multiple name="rai[funcionario_ids][]"  id="rai[funcionario_ids][]" placeholder="Participantes...">

                              <% Funcionario.all.each do |f| %>
                                <% pertence = false %>
                                <% @rai.funcionarios.each do |funcionario| %>
                                  <% pertence = true if funcionario.id == f.id %>
                                <% end %>
                                <% if pertence %>
                                  <option selected value="<%=f.id%>"><%=f.nome%></option>
                                <% else %>
                                  <option value="<%=f.id%>"><%=f.nome%></option>
                                <% end %>
                              <% end %>
                            </select>
                          </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="row">
                          <div class="col-sm-3">
                            <label>Objetivos: <span class="asterisk">*</span></label>
                          </div>
                          <div class="col-sm-9">
                            <textarea id="rai[objetivos]" class="form-control" name="rai[objetivos]" rows="4" /><%=@rai.objetivos%></textarea>
                          </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="row">
                          <div class="col-sm-3">
                            <label>Resultado da auditoria: <span class="asterisk">*</span></label>
                          </div>
                          <div class="col-sm-9">
                            <textarea id="rai[resultado]" class="form-control" name="rai[resultado]" rows="4" /><%=@rai.resultado%></textarea>
                          </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="row">
                          <div class="col-sm-3">
                            <label>Docs. de referência: <span class="asterisk">*</span></label>
                          </div>
                          <div class="col-sm-9">
                            <textarea id="rai[docs_ref]" class="form-control" name="rai[docs_ref]" rows="4" /><%=@rai.docs_ref%></textarea>
                          </div>
                        </div>

                        <div class="spacer-10"></div>

                        <div class="row">
                          <div class="col-sm-3">
                            <label>Gerou não conformidade?: <span class="asterisk">*</span></label>
                          </div>
                          <div class="col-sm-9">
                            <%= f.check_box :g_nconform %>
                          </div>
                        </div>

                        <div class="spacer-10"></div>
                        <hr>
                        <div class="spacer-10"></div>
                        <span><b>Relatório criado por</b>: <%=current_user.email%></span>
                        </fieldset>
                        </div>
                        </div>



                    <% end %>





                    </div>


                    <%= render 'shared/rodape' %>
                    </div>
                    <!-- End #content -->
                    </div><!-- End #main -->
                    </div><!-- End #container -->
