

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-rai").addClass("page-arrow");

        <% if notice.present? %>
            $.e_notify.growl({
                title: 'Sucesso!',
                text: '<%=notice%>',
                position: 'right-bottom',
                delay: 0,
                time: 5000,
                speed: 500,
                effect: 'slidein',
                sticky: false,
                closable: false,
                maxOpen:3,
                className:'',
                onShow: function(){},
                onHide: function(){}
            });
            e.preventDefault();
        <% end %>

        
    });


</script>

<!--Modal -->
<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><center>Selecione a auditoria</center></h4>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-bottom:-20px">
          <div class="col-xs-12">
            
            <form method="get" action="/cadastrar-nova-rai">
                <div class="row">


                    <div class="col-sm-12 ">

                      <select class="form-control" name="auditoria_id">

                        <% @planos.each do |p| %>
                          <optgroup label="<%=p.ano%> - <%=p.nome%>">
                            <% p.auditorias.each do |a |%>
                              <option value="<%= a.id %>"><%= a.numero %></option>
                            <% end %>
                          </optgroup>
                        <% end %>
                        
                        
                        
                      </select>
                    </div>



                </div>

               

            
            <br><br>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
          <button class="btn btn-primary" type="submit"><i class="fa fa-inverse fa-check"></i> Selecionar</button>
        </div>

        </div>
      </div>
    </form>
    </div>
  </div>
</div>



<div id="container" class="clearfix">


<%=render 'shared/lateral'%>


<div id="main" class="clearfix">

<header id="header-main">
  <div class="header-main-top">
    <div class="pull-left">
      <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
    </div>
    <div class="pull-right">

      <a href="#" id="responsive-menu-trigger">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <div class="header-main-bottom">
    <div class="pull-left">
      <ul class="breadcrumb">
        <li><a href="<%=root_path%>">Início</a></li>
        <li class="active">Relatórios de Auditorias Internas</li>
      </ul>
    </div>
    <%=render 'shared/versao'%>
  </div>
</header>

<div id="content" class="clearfix">


<header id="header-sec">
  <div class="inner-padding">
    <div class="pull-left">
      <h2>Relatórios de Auditorias Internas</h2>
    </div>
    <div class="pull-right">



    </div>
  </div><!-- End .inner-padding -->
</header><!-- End #header-sec -->



<div class="window">
<div class="actionbar">
  <div class="pull-left">
    <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>
    <a href="#" class="btn" onclick="window.history.go(-1); return false;">
      <i class="fa fa-arrow-left "></i>&nbsp;Voltar
    </a>
    <% if session[:grupo] == 'Administradores' %>
        <a href="#" class="btn" id="modal-update-trigger">
          <i class="fa fa-plus-circle"></i>&nbsp;  Incluir
        </a>
    <%end%>
  </div>



</div>

<div class="inner-padding">


<% if @rais.present? %>
      <table class="table col-md-12" id="tablesorting-1">
        <thead class="">
        <tr>
          <th class="col-md-4">Auditoria</th>
          <th class="col-md-4">Auditor líder</th>
          <th class="col-md-4">Área auditada</th>
          <th class="col-md-2">Criado em</th>
          <th class="col-md-3">Opções</th>
        </tr>
        </thead>
        <tbody>
        <% @rais.each do |r| %>
            <tr>
              <td>
                <center>
                <%= r.auditoria.planoauditoria.nome %> - <%= r.auditoria.numero %></center>
              </td>

              <td>
                <center>
                <%= r.auditor_lider.nome %></center>
              </td>

              <td>
                <center>
                <%= r.auditoria.area.descricao %>
                </center>
              </td>

              <td><center><%= formata_dt r.created_at%></center></td>
              
              <td>
                <div style="text-align: center;">

                  <%= link_to r, class: "btn-less tooltip-top", id: "deletar", title: "Visualizar" do %>
                      <i class="fa fa-info-circle"></i>
                  <% end %>

                  <a onclick="window.open('/imprimir-rai-<%=r.id%>', 'Página', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=520');" href="#" class="btn-less tooltip-top" title="Imprimir">
                    <i class="fa fa-print"></i>
                  </a>

                  <% if session[:grupo] == 'Administradores' %>

                      <%= link_to atualizar_rai_path(r), class: "btn-less tooltip-top", id: "deletar", title: "Atualizar" do %>
                          <i class="fa fa-pencil"></i>
                      <% end %>


                      <%= link_to r, method: :delete, data: { confirm: 'Tem Certeza?' }, class: "btn-less tooltip-top", id: "deletar", title: "Apagar" do %>
                          <i class="fa fa-trash-o"></i>
                      <% end %>

                  <%end%>



                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5" class="pager form-horizontal">
            <button class="btn first"><i class="fa fa-step-backward"></i></button>
            <button class="btn prev"><i class="fa fa-arrow-left"></i></button>
            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
            <button class="btn next"><i class="fa fa-arrow-right"></i></button>
            <button class="btn last"><i class="fa fa-step-forward"></i></button>
            <select class="pagesize input-xs" title="Select page size">
              <option selected="selected" value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
            </select>
            <select class="pagenum input-xs" title="Select page number"></select>
          </td>
        </tr>
        </tfoot>
      </table>

<% else %>
  <div class="alert alert-block alert-inline-top alert-dismissable">
                       
                        <h4>Nenhum relatório encontrado</h4>
                        
                    </div> 
<% end %>

  




</div>
</div>


  <%= render 'shared/rodape'%>
</div><!-- End #content -->
</div><!-- End #main -->
</div><!-- End #container -->


