
<div id="container" class="clearfix">
  <div id="" class="clearfix">
    <div id="content" class="clearfix">
      <div class="window">
        <div class="inner-padding">
          <table class="table table-bordered table-condensed">
            <thead>
            <tr>
              <th colspan="5">
                <center><label style="color: green">AMCEL - AMAPÁ FLORESTAL E CELULOSE S.A</label></center>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td align="center" vAlign="middle" rowspan="2" colspan="">
                <img src="<%=@URL%>/Content/images/logo.png" alt="logo-amcel" width="60%" />
              </td>
              <td colspan="4" vAlign="base" height="10%">
                <div class="spacer-10"></div>
                <center><h4><b>RAI - Relatório de auditoria interna</b></h4></center>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>Plano de auditoria:</b><br>
                <%= @rai.auditoria.planoauditoria.nome %>
                <div class="spacer-10"></div>
              </td>
              <td colspan="2">
                <b>Auditoria:</b><br>
                <%= @rai.auditoria.numero %>
                <div class="spacer-10"></div>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <b>Área auditada:</b><br>
                <%= @rai.auditoria.area.descricao %>
              </td>
              <td colspan="1">
                <b>Dt. auditoria:</b><br>
                <%= formata_dt @rai.auditoria.data_prevista %>
              </td>
              <td colspan="2">
                <%
                   if @rai.g_nconform
                     g = "sim"
                   else
                     g = "não"
                   end
                %>
                <b>Gerou não conformidade?:</b><br>
                <%=g%>
              </td>
            </tr>

            <tr>
              <td colspan="5">
                <b>Auditor líder: </b><br />
                <%= @rai.auditoria.auditor.nome %>
              </td>
            </tr>

            <tr>
              <td colspan="5">
                <b>Auditores acompanhantes: </b><br />
                <% @rai.auditoria.participantes.each do |a| %>
                    <%= a.nome %>;
                <% end %>
              </td>
            </tr>

            <tr>
              <td colspan="5">
                <b>Participantes: </b><br />
                <% @rai.funcionarios.each do |a| %>
                    <%= a.nome %>;
                <% end %>
              </td>
            </tr>

            <tr>
              <td colspan="5">
                <b>Objetivos: </b><br />
                <%= @rai.objetivos %>
              </td>
            </tr>

            <tr>
              <td colspan="5">
                <b>Docs. ref.: </b><br />
                <%= @rai.docs_ref %>
              </td>
            </tr>

            <tr>
              <td colspan="5">
                <b>Resultado:</b> <br />
                <%= @rai.resultado %>
              </td>
            </tr>
          
            <tr>
              <td colspan="5">
                <b>Obs:</b> <br />
                <%= @rai.obs %>
              </td>
            </tr>


            </td>

            </tbody>
          </table>
          <br />
          <br />
          <b>Relatório gerado por:</b> <%= @rai.user.name %>
        </div>

      </div>
    </div>
  </div>
</div>












