

<script type="application/javascript">

    $(document).ready(function(){
        $(".page-arrow").removeClass("page-arrow");
        $("#menu-auditoria").addClass("menu-open");
        $("#seta-auditoria").removeClass("fa-caret-left");
        $("#seta-auditoria").addClass("fa-caret-down");
        $("#menu-rai").addClass("page-arrow");

        <% if notice.present? %>
        $.e_notify.growl({
            title: 'Sucesso!',
            text: '<%=notice%>',
            position: 'right-bottom',
            delay: 0,
            time: 5000,
            speed: 500,
            effect: 'slidein',
            sticky: false,
            closable: false,
            maxOpen:3,
            className:'',
            onShow: function(){},
            onHide: function(){}
        });
        e.preventDefault();
        <% end %>


    });


</script>


</div>


<div id="container" class="clearfix">


<%=render 'shared/lateral'%>


<div id="main" class="clearfix">

<header id="header-main">
  <div class="header-main-top">
    <div class="pull-left">
      <a href="#" id="logo-small"><h4>AMCEL - DMAST</h4><h5>/webapp</h5></a>
    </div>
    <div class="pull-right">

      <a href="#" id="responsive-menu-trigger">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <div class="header-main-bottom">
    <div class="pull-left">
      <ul class="breadcrumb">
        <li><a href="<%=root_path%>">Início</a></li>
        <li><a href="<%=relatorios_de_auditorias_internas_path%>">Relatórios de auditorias internas</a></li>
        <li class="active">Cadastro</li>
      </ul>
    </div>
    <%=render 'shared/versao'%>
  </div>
</header>

<div id="content" class="clearfix">


<header id="header-sec">
  <div class="inner-padding">
    <div class="pull-left">
      <h2>Relatórios de auditorias internas</h2>
    </div>
    <div class="pull-right">



    </div>
  </div><!-- End .inner-padding -->
</header><!-- End #header-sec -->



<div class="window">
<div class="actionbar">
  <div class="pull-left">
    <a href="#" class="btn small-toggle-btn" data-toggle-sidebar="left"></a>

    <a href="<%=relatorios_de_auditorias_internas_path%>" class="btn" id="">
      <i class="fa fa-arrow-circle-left"></i>&nbsp;  Voltar
    </a>

    <a onclick="window.open('/imprimir-rai-<%=@rai.id%>', 'Página', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=520');" href="#" class="btn" title="Imprimir">
      <i class="fa fa-print"></i>&nbsp; Imprimir
    </a>
    
  </div>



</div>

<div class="inner-padding">



<%= form_for(@rai, :html => {class: ""}) do |f| %>



    <div class="">
      <div class="inner-padding">

        <div class="row">
          <div class="col-sm-3">
            <label>Plano de auditoria.:</label>
          </div>
          <div class="col-sm-9">
            <%= @rai.auditoria.planoauditoria.nome %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <label>Auditoria.: </label>
          </div>
          <div class="col-sm-9">
            <%= @rai.auditoria.numero %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <label>Data da auditoria.: </label>
          </div>
          <div class="col-sm-9">
            <%= formata_dt @rai.auditoria.data_prevista %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <label>Área auditada.: </label>
          </div>
          <div class="col-sm-9">
            <%= @rai.auditoria.area.descricao %>
          </div>
        </div>
        <div class="spacer-20"></div>
        <hr>
        <div class="spacer-20"></div>
        <div class="row">
          <div class="col-sm-3">
            <label>Auditor lider.:</label>
          </div>
          <div class="col-sm-9">
            <%= @rai.auditoria.auditor.nome %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <label>Auditores acompanhantes.:</label>
          </div>
          <div class="col-sm-9">
            <% @rai.auditoria.participantes.each do |a| %>
                <%= a.nome %>;
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <label>Participantes.:</label>
          </div>
          <div class="col-sm-9">
            <% @rai.funcionarios.each do |a| %>
                <%= a.nome %>;
            <% end %>
          </div>
        </div>
        
        <div class="spacer-20"></div>
        <hr>
        <div class="spacer-20"></div>
        <div class="row">
          <div class="col-sm-3">
            <label>Objetivo.:</label>
          </div>
          <div class="col-sm-9">
            <%=@rai.objetivos%>
          </div>
        </div>

        <div class="spacer-10"></div>
        <div class="row">
          <div class="col-sm-3">
            <label>Resultado da auditoria <span class="asterisk">*</span></label>
          </div>
          <div class="col-sm-9">
            <%=@rai.resultado%>
          </div>
        </div>

        <div class="spacer-10"></div>
        <div class="row">
          <div class="col-sm-3">
            <label>Docs. Referência <span class="asterisk">*</span></label>
          </div>
          <div class="col-sm-9">
            <%=@rai.docs_ref%>
          </div>
        </div>

        <div class="spacer-10"></div>
        <div class="row">
          <div class="col-sm-3">
            <label>Obs <span class="asterisk">*</span></label>
          </div>
          <div class="col-sm-9">
            <%=@rai.obs%>
          </div>
        </div>
        <div class="spacer-20"></div>
        <hr>
        <div class="spacer-20"></div>

        <div class="row">
          <div class="col-sm-3">
            <label>Gerou não conformidade? <span class="asterisk">*</span></label>
          </div>
          <div class="col-sm-9">


            <%
              if @rai.g_nconform == true
                resp = 'sim'
              else
                resp = 'não'
              end
            %>

            <%= resp %>

          </div>
        </div>
        <div class="spacer-20"></div>
        <hr>
        <div class="spacer-20"></div>

        <div class="row">
          <div class="col-sm-3">
            <label><b>Relatório criado por:</b> </label>
          </div>
          <div class="col-sm-9">
            <%=@rai.user.name%>
          </div>
        </div>
        <div class="spacer-20"></div>
        <hr>
        <div class="spacer-20"></div>

      </div>


    </div>


    <%end%><!-- End .powerwizard-content -->
<div class="spacer-30"></div>
</div><!-- End .inner-padding -->







</div>
</div>


<%= render 'shared/rodape'%>
</div><!-- End #content -->
</div><!-- End #main -->
</div><!-- End #container -->






























