<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                       <!--<![endif]-->
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <title>AMCEL | DMAST - DEPARTAMENTO DE MEIO AMBIENTE E SEGURANÇA NO TRABALHO </title>
   <meta name="application-name" content="DMAST">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
   <link rel="stylesheet" href="/Content/stylesheets/bootstrap/core/dist/css/bootstrap.min.css"/>
   <link rel="stylesheet" href="/Content/stylesheets/bootstrap/select2/select2.css"/>
   <link rel="stylesheet" href="/Content/stylesheets/bootstrap/typeahead/typeahead.min.css"/>
   <link rel="stylesheet" href="/Content/stylesheets/bootstrap/timepicker/css/bootstrap-timepicker.min.css"/>
   <link rel="stylesheet" href="/Content/fontawesome/css/font-awesome.css"/>
   <link rel="stylesheet" href="/Content/stylesheets/css/bootstrap-custom.css"/>
   <link rel="stylesheet" href="/Content/stylesheets/css/bootstrap-extended.css"/>
   <link rel="stylesheet" href="/Content/stylesheets/css/animate.min.css"/>
   <link rel="stylesheet" href="/Content/stylesheets/css/helpers.css"/>
   <link rel="stylesheet" href="/Content/stylesheets/css/base.css"/>
   <link rel="stylesheet" href="/Content/stylesheets/css/light-theme.css"/>
   <link rel="stylesheet" href="/Content/stylesheets/css/mediaqueries.css"/>
  <%= javascript_include_tag "application" %>
  
  <script src="/Content/javascripts/js/plugins/modernizr.min.js"></script>
  <script src="/Content/javascripts/js/plugins/mobiledevices.js"></script>

  <!-- // jQuery core // -->

  <script src="/Content/javascripts/js/libs/jquery-1.11.0.min.js"></script>
  <script src="/Content/javascripts/js/libs/jquery-ui-1.10.4.min.js"></script>

  <!-- // Bootstrap // -->

  <script src="/Content/stylesheets/bootstrap/core/dist/js/bootstrap.min.js"></script>
  <script src="/Content/stylesheets/bootstrap/select2/select2.min.js"></script>
  <script src="/Content/stylesheets/bootstrap/bootboxjs/bootboxjs.min.js"></script>
  <script src="/Content/stylesheets/bootstrap/core/docs-Assets/js/holder.js"></script>
  <script src="/Content/stylesheets/bootstrap/typeahead/typeahead.min.js"></script>
  <script src="/Content/stylesheets/bootstrap/datepicker/js/bootstrap-datepicker.min.js"></script>
  <script src="/Content/stylesheets/bootstrap/fileupload/bootstrap-fileupload.min.js"></script>
  <script src="/Content/stylesheets/bootstrap/inputmask/bootstrap-inputmask.min.js"></script>
  <script src="/Content/stylesheets/bootstrap/colorpicker/js/bootstrap-colorpicker.min.js"></script>
  <script src="/Content/stylesheets/bootstrap/timepicker/js/bootstrap-timepicker.min.js"></script>

  <!-- // Custom/premium plugins // -->

  <script src="/Content/javascripts/js/plugins/responsivetables.1.0.min.js"></script>
  <script src="/Content/javascripts/js/plugins/responsivehelper.1.0.min.js"></script>
  <script src="/Content/javascripts/js/plugins/mainmenu.1.0.min.js"></script>
  <script src="/Content/javascripts/js/plugins/easyfiletree.1.0.min.js"></script>
  <script src="/Content/javascripts/js/plugins/autosaveforms.1.0.min.js"></script>
  <script src="/Content/javascripts/js/plugins/chainedinputs.1.0.min.js"></script>
  <script src="/Content/javascripts/js/plugins/checkboxtoggle.1.0.min.js"></script>
  <script src="/Content/javascripts/js/plugins/bootstraptabsextend.1.0.min.js"></script>
  <script src="/Content/javascripts/js/plugins/lockscreen.1.0.min.js"></script>
  <script src="/Content/javascripts/js/plugins/autoexpand.1.0.min.js"></script>
  <script src="/Content/javascripts/js/plugins/notify.1.0.min.js"></script>
  <script src="/Content/javascripts/js/plugins/nanogress.1.0.min.js"></script>
  <script src="/Content/javascripts/js/plugins/powerwizard.1.0.min.js"></script>
  <script src="/Content/javascripts/js/plugins/simpleselect.1.0.min.js"></script>
  <script src="/Content/javascripts/js/plugins/tinycontextmenu.1.0.min.js"></script>

  <!-- // Third-party plugins // -->

  <script src="/Content/javascripts/js/plugins/tinyscrollbar.min.js"></script>
  <script src="/Content/javascripts/js/plugins/jquery.knob.js"></script>
  <script src="/Content/javascripts/js/plugins/prism.min.js"></script>
  <script src="/Content/javascripts/js/plugins/h5f.min.js"></script>
  <script src="/Content/javascripts/js/google.js"></script>
  <script src="/Content/javascripts/js/plugins/gmap3.min.js"></script>
  <script src="/Content/javascripts/js/plugins/jquery.tablesorter.min.js"></script>
  <script src="/Content/javascripts/js/plugins/jquery.tablesorter.widgets.min.js"></script>
  <script src="/Content/javascripts/js/plugins/jquery.tablesorter.pager.min.js"></script>
  <script src="/Content/javascripts/js/plugins/fullcalendar.min.js"></script>
  <script src="/Content/javascripts/js/plugins/hogan-2.0.0.js"></script>
  <script src="/Content/javascripts/js/plugins/jquery.nouislider.min.js"></script>
  <script src="/Content/javascripts/js/plugins/jquery.autosize-min.js"></script>
  <script src="/Content/javascripts/js/plugins/jquery.magnific-popup.min.js"></script>
  <script src="/Content/javascripts/js/plugins/jquery.pwstrength.min.js"></script>
  <script src="/Content/javascripts/js/plugins/jquery.mixitup.min.js"></script>
  <script src="/Content/javascripts/js/plugins/jquery.vticker.min.js"></script>
  <script src="/Content/javascripts/js/plugins/jquery.quicksearch.js"></script>
  <script src="/Content/javascripts/js/flot/jquery.flot.min.js"></script>
  <script src="/Content/javascripts/js/flot/jquery.flot.resize.min.js"></script>
  <script src="/Content/javascripts/js/flot/excanvas.min.js"></script>
  <script src="/Content/javascripts/js/plugins/layout.min.js"></script>
  <script src="/Content/javascripts/js/plugins/masonry.pkgd.min.js"></script>
  <script src="/Content/javascripts/js/plugins/json2.js"></script>

  <script src="/Content/javascripts/js/plugins/plugins.js"></script>
  <script src="/Content/javascripts/js/plugins/main.js"></script>
  <script src="/assets/jquery_ujs.js?body=1"></script>
  <script src="/Content/javascripts/js/main.js"></script>

  <script src="/Content/javascripts/js/typehead.bundle.js"></script>


  <script type="text/javascript">
      <%= yield :js %>
  </script>
  <%= csrf_meta_tags %>
</head>
<body>





<!-- Modal -->
<div class="modal fade" id="plano_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><div style="text-align: center;">Selecione um plano</div></h4>
      </div>
      <div class="modal-body">

        <div id="loading_planos">
          <center><img src="/Content/images/loaders/type4/light/56.gif" /></center>
        </div>

        <div id="content_modal"></div>
        
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
          <button id='btn-plano-select' style="display: none" class="btn btn-primary"><i class="fa fa-inverse fa-check"></i> Selecionar</button>
        </div>
      </div>
    </div>
  </div>
</div>








<%= yield %>


</body>
</html>